@import '../aloha-button-renderer/aloha-button-renderer.component.scss';

.gtx-editor-button.context-button {
    &::after {
        display: block;
        content: '\e5c5';
        font-family: 'Material Symbols Outlined';
        font-weight: normal;
        font-style: normal;
        font-size: 20px;
        width: 16px;
        display: inline-block;
        line-height: 1;
        text-transform: none;
        letter-spacing: normal;
        word-wrap: normal;
        white-space: nowrap;
        direction: ltr;
        -moz-font-feature-settings: 'liga';
        -moz-osx-font-smoothing: grayscale;
        font-variation-settings: 'FILL' 1;
    }

    &.icon-only {
        width: 48px;
        padding-right: 0.5rem;
    }
}
