@if (tagProperty) {
    <div class="tag-part-editor">
        <gtx-browse-box
            [label]="tagPart | tagPropLabel"
            [placeholder]="formFeatureActive ? ('editor.form_no_selection' | gtxI18n) : ('editor.form_feature_not_available' | gtxI18n)"
            [disabled]="readOnly || !formFeatureActive"
            [allowedSelection]="'form'"
            [selectMultiple]="false"
            [value]="formFeatureActive ? (selectedInternalForm.selectedItem$ | async) : null"
            (valueChange)="changeSelectedForm($event)"
        ></gtx-browse-box>
    </div>
}
