<div class="gtx-entity-detail">
  <gtx-tabs pure [activeId]="editorTab">
    <gtx-tab
      [id]="Tabs.PROPERTIES"
      gtxDetailTabLink
      [title]="'shared.title_properties' | gtxI18n"
      >
      <div class="detail-tab-wrapper">
        <gtx-entity-detail-header
          [title]="'shared.title_properties_of_entity' | gtxI18n: { entityName: entity?.name }"
          saveActionAllowedId="construct.updateConstructInstance"
          [saveActionAllowedInstanceId]="entity?.id"
          [saveDisabled]="fgProperties?.pristine || fgProperties?.invalid"
          (saveClick)="tabHandles?.[Tabs.PROPERTIES]?.save?.()"
          (cancelClick)="detailsClose()"
        ></gtx-entity-detail-header>

        <div class="gtx-entity-details-tab-content-body">
          @if (entity) {
            <gtx-construct-properties
              class="properties"
              [formControl]="fgProperties"
              [supportedLanguages]="supportedLanguages$ | async"
              [mode]="ConstructPropertiesMode.UPDATE"
              [pureInitialValue]="true"
              [(initialValue)]="entityIsClean"
            ></gtx-construct-properties>
          }
        </div>
      </div>
    </gtx-tab>

    <gtx-tab
      [id]="Tabs.PARTS"
      gtxDetailTabLink
      [title]="'construct.tagParts' | gtxI18n"
      >
      <div class="parts-wrapper">
        <gtx-entity-detail-header
          [title]="'construct.title_parts_of_construct' | gtxI18n: { entityName: entity?.name }"
          saveActionAllowedId="construct.updateConstructInstance"
          [saveActionAllowedInstanceId]="entity?.id"
          [saveDisabled]="fgParts?.pristine || fgParts?.invalid"
          (saveClick)="tabHandles?.[Tabs.PARTS]?.save?.()"
          (cancelClick)="detailsClose()"
        ></gtx-entity-detail-header>

        @if (fgParts) {
          <gtx-construct-part-list
            class="construct-parts"
            [supportedLanguages]="supportedLanguages$ | async"
            [allowCreation]="true"
            [formControl]="fgParts"
            [(initialValue)]="entityIsClean"
          ></gtx-construct-part-list>
        }
      </div>
    </gtx-tab>
  </gtx-tabs>
</div>
