<div class="modal-title">
    <h5>{{ 'modal.sort_construct_categories_title' | gtxI18n }}</h5>
</div>

<div class="modal-content">
    <gtx-construct-category-table
        [sorting]="true"
        [selectable]="false"
        [disabled]="disabled"
        [rows]="rows"
        (sort)="sortRows($event)"
        (loadEnd)="rowsLoaded($event)"
    ></gtx-construct-category-table>
</div>

<div class="modal-footer">
    <gtx-button
        type="primary"
        data-action="confirm"
        [disabled]="disabled"
        (click)="updateSorting()"
    >
        {{ 'modal.save_button' | gtxI18n }}
    </gtx-button>

    <gtx-button
        type="secondary"
        flat
        data-action="cancel"
        (click)="closeFn(false)"
    >
        {{ 'common.cancel_button' | gtxI18n }}
    </gtx-button>
</div>
