@if (breadcrumbs) {
  <div class="item-breadcrumbs">
    @for (breadcrumb of breadcrumbs.id; track breadcrumb) {
      @if (linkPaths) {
        <a
            class="item-breadcrumb"
            [routerLink]="breadcrumb.route"
            [attr.title]="breadcrumb.text"
        >{{ breadcrumb.text }}</a>
      } @else {
        <span class="item-breadcrumb" [attr.title]="breadcrumb.text">{{ breadcrumb.text }}</span>
      }
    }
    @if (item.type !== 'folder') {
      <a class="item-name">{{ itemName }}</a>
    }
  </div>
}
