@import "variables";

.item-breadcrumbs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.25rem;

    .item-breadcrumb {
        font-size: 14px;
        padding-right: 16px;
        max-width: 180px;
    }

    .item-breadcrumb:not(:last-child)::after {
        content: '>';
        color: #444;
        font-size: 13px;
        position: absolute;
        right: 4px;
    }

    span.item-breadcrumb {
        color: $gtx-color-mid-gray;
    }

    .item-name {
        color: $gtx-color-mid-gray;
        font-size: 14px;
    }

    .item-breadcrumb,
    .item-name {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        position: relative;
    }
}
