@import '../base-controls/base-controls.component.scss';

:host {
    width: 100%;
    height: 100%;
    margin: 0.25rem -0.25rem 0.25rem;
    display: block;
}

.root-row {
    flex-wrap: nowrap;
    display: flex;
    flex-direction: row;
    overflow: auto hidden;
    width: 100%;
}

.format-row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.format-column {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.rows-wrapper {
    >* {
        flex: 1 1 auto;
        width: 100%;
    }
}

.flex-break {
    flex-basis: 100%;
    width: 0;
}

.typography-wrapper {
    height: 6.55rem;
    min-width: 19rem;

    .format-section.typography-group {
        height: 100%;
        overflow-x: auto;
        overflow-y: hidden;
    }
}

.typography-button {
    @include format-element;

    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    height: 76px;
    width: 76px;
    font-size: 0.8rem;
    flex: 0 0 auto;

    &.active {
        color: $gtx-color-primary;
        background: darken($gtx-color-very-light-gray, 5%);

        &:hover {
            background: darken($gtx-color-very-light-gray, 15%);
        }
    }

    &:disabled {
        background: $gtx-color-very-light-gray;
        color: $gtx-color-mid-gray;
        cursor: not-allowed;
    }

    .typography-icon {
        height: 20px;
        width: 20px;
        font-size: 20px;
        margin-top: 0.5rem;
        color: inherit;

        >icon {
            height: inherit;
            width: inherit;
            font-size: inherit;
            color: inherit;
        }
    }

    .typography-label {
        overflow: hidden;
        white-space: normal;
        word-break: break-word;
        text-overflow: ellipsis;
        margin-top: 0.25rem;
        color: inherit;
    }
}
