<div class="format-section formatting-group">
    <button
        class="format-button"
        [title]="'editor.format_bold' | i18n"
        [class.active]="activeFormats | gtxIncludes:'bold'"
        (click)="toggleFormat('bold')"
    >
        <icon>format_bold</icon>
    </button>

    <button
        class="format-button"
        [title]="'editor.format_italic' | i18n"
        [class.active]="activeFormats | gtxIncludes:'italic'"
        (click)="toggleFormat('italic')"
    >
        <icon>format_italic</icon>
    </button>

    <button
        class="format-button"
        [title]="'editor.format_underline' | i18n"
        [class.active]="activeFormats | gtxIncludes:'underline'"
        (click)="toggleFormat('underline')"
    >
        <icon>format_underlined</icon>
    </button>

    <button
        class="format-button"
        [title]="'editor.format_code' | i18n"
        [class.active]="activeFormats | gtxIncludes:'code'"
        (click)="toggleFormat('code')"
    >
        <icon>code</icon>
    </button>

    <button
        class="format-button"
        [title]="'editor.format_quote' | i18n"
        [class.active]="activeFormats | gtxIncludes:'quote'"
        (click)="toggleFormat('quote')"
    >
        <icon>format_quote</icon>
    </button>

    <button
        class="format-button"
        [title]="'editor.format_sub' | i18n"
        [class.active]="activeFormats | gtxIncludes:'sub'"
        (click)="toggleFormat('sub')"
    >
        <icon>subscript</icon>
    </button>

    <button
        class="format-button"
        [title]="'editor.format_sup' | i18n"
        [class.active]="activeFormats | gtxIncludes:'sup'"
        (click)="toggleFormat('sup')"
    >
        <icon>superscript</icon>
    </button>
</div>

<div class="format-section list-group">
    <button
        class="format-button"
        [title]="'editor.list_unsorted' | i18n"
        [class.active]="activeFormats | gtxIncludes:'list_unsorted'"
        (click)="toggleFormat('list_unsorted')"
    >
        <icon>format_list_bulleted</icon>
    </button>

    <button
        class="format-button"
        [title]="'editor.list_sorted' | i18n"
        [class.active]="activeFormats | gtxIncludes:'list_sorted'"
        (click)="toggleFormat('list_sorted')"
    >
        <icon>format_list_numbered</icon>
    </button>
</div>

<div class="format-section typography-group">
    <button
        class="format-button"
        [title]="'editor.text_p' | i18n"
        [class.active]="activeFormats | gtxIncludes:'p'"
        (click)="toggleFormat('p')"
    >
        <icon>format_paragraph</icon>
    </button>

    <button
        class="format-button"
        [title]="'editor.text_h1' | i18n"
        [class.active]="activeFormats | gtxIncludes:'h1'"
        (click)="toggleFormat('h1')"
    >
        <icon>format_h1</icon>
    </button>

    <button
        class="format-button"
        [title]="'editor.text_h2' | i18n"
        [class.active]="activeFormats | gtxIncludes:'h2'"
        (click)="toggleFormat('h2')"
    >
        <icon>format_h2</icon>
    </button>

    <button
        class="format-button"
        [title]="'editor.text_h3' | i18n"
        [class.active]="activeFormats | gtxIncludes:'h3'"
        (click)="toggleFormat('h3')"
    >
        <icon>format_h3</icon>
    </button>

    <button
        class="format-button"
        [title]="'editor.text_h4' | i18n"
        [class.active]="activeFormats | gtxIncludes:'h4'"
        (click)="toggleFormat('h4')"
    >
        <icon>format_h4</icon>
    </button>

    <button
        class="format-button"
        [title]="'editor.text_h5' | i18n"
        [class.active]="activeFormats | gtxIncludes:'h5'"
        (click)="toggleFormat('h5')"
    >
        <icon>format_h5</icon>
    </button>

    <button
        class="format-button"
        [title]="'editor.text_h6' | i18n"
        [class.active]="activeFormats | gtxIncludes:'h6'"
        (click)="toggleFormat('h6')"
    >
        <icon>format_h6</icon>
    </button>
</div>

<ng-container *ngIf="activeFormats | gtxIncludes:['link']">
    <div class="flex-break"></div>
</ng-container>

<div class="format-section link-group">
    <button
        class="format-button"
        [class.active]="activeFormats | gtxIncludes:'link'"
        [title]="'editor.format_link' | i18n"
        (click)="toggleFormat('link')"
    >
        <icon>{{ (activeFormats | gtxIncludes:'link') ? 'link_off' : 'link' }}</icon>
    </button>

    <ng-container *ngIf="activeFormats | gtxIncludes:'link'">

        <gtx-input
            class="inline-target"
            [title]="'editor.format_link_target' | i18n"
            [(ngModel)]="link.target"
        ></gtx-input>

        <button
            class="format-button"
            [title]="'editor.format_link_pick_cms_target' | i18n"
            (click)="selectLinkTarget()"
        >
            <icon>pan_tool_alt</icon>
        </button>

        <ng-container *ngIf="linkChecker.enabled">
            <gtx-tooltip
                position="bottom"
                align="left"
                type="light"
            >
                <icon
                    gtx-tooltip-trigger
                    [ngClass]="'link-checker-icon link-checker-' + (linkChecker.valid ? 'valid' : 'invalid')"
                    (click)="toggleLinkCheckValidity()"
                >{{ linkChecker.valid ? 'check' : 'close' }}</icon>

                <div class="link-checker-report" gtx-tooltip-content>
                    <div class="link-checker-report-date">{{ linkChecker.report.date | i18nDate }}</div>
                    <code class="link-checker-report-url">{{ linkChecker.report.url }}</code>
                    <div class="link-checker-report-text">{{ linkChecker.report.text }}</div>
                </div>
            </gtx-tooltip>
        </ng-container>

        <gtx-dropdown-list [belowTrigger]="true" [sticky]="true">
            <gtx-dropdown-trigger>
                <button class="format-button" [title]="'editor.format_link_additional_options' | i18n">
                    <icon>more_vert</icon>
                </button>
            </gtx-dropdown-trigger>

            <gtx-dropdown-content>
                <div class="link-options-wrapper">
                    <gtx-input
                        class="format-input"
                        [label]="'editor.format_link_anchor' | i18n"
                        [(ngModel)]="link.anchor"
                    ></gtx-input>

                    <gtx-input
                        class="format-input"
                        [label]="'editor.format_link_title' | i18n"
                        [(ngModel)]="link.title"
                    ></gtx-input>

                    <gtx-input
                        class="format-input"
                        [label]="'editor.format_link_language' | i18n"
                        [(ngModel)]="link.language"
                    ></gtx-input>
                </div>
            </gtx-dropdown-content>
        </gtx-dropdown-list>

        <icon-checkbox
            class="format-checkbox"
            icon="open_in_new"
            [selected]="link.newTab"
            [title]="'editor.format_link_new_tab' | i18n"
            (change)="setLinkNewTab($event)"
        ></icon-checkbox>
    </ng-container>
</div>

<ng-container *ngIf="(activeFormats | gtxIncludes:['table']) && !(activeFormats | gtxIncludes:['link'])">
    <div class="flex-break"></div>
</ng-container>

<div class="format-section table-group" [attr.data-active-part]="table.activePart">
    <button
        class="format-button"
        [class.active]="activeFormats | gtxIncludes:'table'"
        [title]="'editor.format_table' | i18n"
        (click)="toggleFormat('table')"
    >
        <icon>table</icon>
    </button>

    <ng-container *ngIf="activeFormats | gtxIncludes:'table'">
        <button
            *ngIf="table.activePart === TablePart.CELL || table.activePart === TablePart.CAPTION"
            [title]="'editor.format_table_caption' | i18n"
            class="format-button table-action-button"
        >
            <icon>title</icon>
        </button>

        <ng-container *ngIf="table.activePart === TablePart.CELL">
            <div class="vertical-separator"></div>

            <button
                class="format-button table-action-button"
                [title]="'editor.format_table_merge_cell' | i18n"
            >
                <icon>cell_merge</icon>
            </button>

            <button
                class="format-button table-action-button"
                [title]="'editor.format_table_split_cell' | i18n"
            >
                <icon>arrows_outward</icon>
            </button>
        </ng-container>

        <ng-container *ngIf="table.activePart === TablePart.COLUMN">
            <div class="vertical-separator"></div>

            <button
                class="format-button table-action-button"
                [title]="'editor.format_table_add_column_left' | i18n"
            >
                <icon class="hollow">splitscreen_left</icon>
            </button>

            <button
                class="format-button table-action-button"
                [title]="'editor.format_table_add_column_right' | i18n"
            >
                <icon class="hollow">splitscreen_right</icon>
            </button>

            <button
                class="format-button table-action-button"
                [title]="'editor.format_table_remove_column' | i18n"
            >
                <icon>delete</icon>
            </button>
        </ng-container>

        <ng-container *ngIf="table.activePart === TablePart.ROW">
            <div class="vertical-separator"></div>

            <button
                class="format-button table-action-button"
                [title]="'editor.format_table_add_row_above' | i18n"
            >
                <icon class="hollow">splitscreen_top</icon>
            </button>

            <button
                class="format-button table-action-button"
                [title]="'editor.format_table_add_row_below' | i18n"
            >
                <icon class="hollow">splitscreen_bottom</icon>
            </button>

            <button
                class="format-button table-action-button"
                [title]="'editor.format_table_remove_row' | i18n"
            >
                <icon>delete</icon>
            </button>
        </ng-container>
    </ng-container>
</div>
