<div class="root-row">
    <div class="format-column rows-wrapper">
        <div class="format-row">
            <div class="format-section style-group">
                <button
                    *ngFor="let command of STYLE_COMMANDS"
                    class="format-button"
                    [title]="'editor.format_style_' + command | i18n"
                    [class.active]="activeFormats | gtxIncludes:command"
                    [disabled]="disabled || !(activeFormats | gtxIncludes:command) && !(allowedFormats | gtxIncludes:command)"
                    (click)="toggleFormat(command)"
                >
                    <icon>{{ command | gtxCommandToPipe }}</icon>
                </button>
            </div>

            <div class="format-section style-group">
                <button
                    *ngFor="let command of SPECIAL_STYLE_COMMANDS"
                    class="format-button"
                    [title]="'editor.format_style_' + command | i18n"
                    [disabled]="disabled || !(allowedFormats | gtxIncludes:command)"
                    (click)="toggleFormat(command)"
                >
                    <icon>{{ command | gtxCommandToPipe }}</icon>
                </button>
            </div>

            <gtx-list-controls
                [aloha]="aloha"
                [range]="range"
                [settings]="settings"
                [disabled]="disabled"
            ></gtx-list-controls>
        </div>

        <div class="format-row second-row">
            <gtx-link-controls
                [aloha]="aloha"
                [range]="range"
                [settings]="settings"
                [disabled]="disabled"
                (activeChange)="setLinkActive($event)"
            ></gtx-link-controls>

            <gtx-table-controls
                [aloha]="aloha"
                [range]="range"
                [settings]="settings"
                [disabled]="disabled"
            ></gtx-table-controls>
        </div>
    </div>

     <div class="typography-wrapper">
         <div class="format-section typography-group">
                <button
                    *ngFor="let command of TYPOGRAPHY_COMMANDS"
                    class="typography-button"
                    [title]="'editor.format_typography_' + command | i18n"
                    [class.active]="activeFormats | gtxIncludes:command"
                    [disabled]="disabled || !(activeFormats | gtxIncludes:command) && !(allowedFormats | gtxIncludes:command)"
                    (click)="toggleFormat(command)"
                >
                    <div class="typography-icon">
                        <icon>{{ command | gtxCommandToPipe }}</icon>
                    </div>
                    <div class="typography-label">
                        {{ 'editor.format_typography_' + command | i18n }}
                    </div>
                </button>
         </div>
     </div>
</div>


