@import '../base-controls/base-controls.component.scss';

:host {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0.5rem -0.25rem 0.25rem;
}

.flex-break {
    flex-basis: 100%;
    width: 0;
}

.vertical-separator {
    width: 1px;
    height: 100%;
    margin: 0 0.5rem;
    padding: 0.5rem 0;

    &::before {
        width: 1px;
        height: 100%;
        content: '';
        display: inline-block;
        background: $gtx-color-dark-gray;
    }
}

