<div class="outer-container">
    <img src="assets/images/gentics-logo-lettering.png">
    <div class="authentication-methods-container">
        <div class="login-container">
            <form [formGroup]="loginForm" (ngSubmit)="login()">
                <gtx-input [label]="'dashboard.user_name' | i18n" formControlName="username" autofocus></gtx-input>
                <gtx-input [label]="'dashboard.password' | i18n" formControlName="password" type="password"></gtx-input>
                <gtx-button size="large" submit [disabled]="!loginForm.valid" type="submit">{{ 'dashboard.log_in' | i18n }}</gtx-button>
            </form>
        </div>
        <gtx-single-sign-on />
    </div>

    <div *ngIf="keycloakError" class="keycloak-error" [attr.data-value]="keycloakError">
        {{ keycloakError | i18n }}
    </div>
</div>
