<gtx-progress-bar [for]="loading"></gtx-progress-bar>

<div class="container">
  @if (showButtons) {
    <div class="btn-group">
      <gtx-button
        class="proxy-btn"
        (click)="openInNewTab()"
      >{{ 'editor.open_ressource' | gtxI18n }}</gtx-button>
      <gtx-button
        class="proxy-btn"
        type="secondary"
        (click)="returnToEditor()"
      >{{ 'editor.back_to_application' | gtxI18n  }}</gtx-button>
    </div>
  }

  @if (loading) {
    <div class="loading-message">
      {{ 'editor.loading_data' | gtxI18n }}
    </div>
  }
</div>
