@if (showSearch) {
  <gtx-search-bar
    class="search-bar"
    [query]="query"
    [placeholder]="'shared.search' | gtxI18n"
    (search)="updateSearchQuery($event)"
    (clear)="updateSearchQuery('')"
  ></gtx-search-bar>
}

<div *ngIf="selectable" class="entity-table-selection">
    {{ 'shared.info_selected_nodes' | gtxI18n:{ amountSelected: selectedCount, amountTotal: totalCount } }}
</div>

<div class="content-wrapper">
    <gtx-progress-bar class="load-bar" [active]="nodesLoading"></gtx-progress-bar>

    <gtx-table
        class="entity-table"

        [selectAllType]="TableSelectAllType.PAGE"
        [selectable]="selectable"
        [hideActions]="hideActions"
        [disabled]="disabled"

        [columns]="columns"
        [rows]="rows"
        [actions]="actions"
        [selected]="selected"
        [active]="activeEntity"
        [totalCount]="totalCount"

        [page]="page"
        [sortBy]="sortBy"
        [sortOrder]="sortOrder"

        [renderers]="{
            name: nameRenderer
        }"

        (pageChange)="changePageTo($event)"
        (sortByChange)="updateSortBy($event)"
        (sortOrderChange)="updateSortOrder($event)"
        (selectedChange)="updateSelection($event)"
        (rowSelect)="forwardSelect($event)"
        (rowDeselect)="forwardDeselect($event)"
        (rowClick)="handleRowClick($event)"
        (actionClick)="handleAction($event)"
    ></gtx-table>
</div>8 (GPU-2116: Nx/Angular Update & Translation refactoring)

<ng-template #nameRenderer let-value="value" let-row="row">
  <ng-template #name>
    <div class="node-name">{{ value }}</div>
  </ng-template>

  <gtx-accordion [trigger]="name" [open]="expandedNodes | gtxIncludes:row.id" (openChange)="updateExpandedNodes(row.id, $event)">
    <div class="queue-content">
      @for (entry of PUBLISH_PLURAL_MAPPING | gtxEntries; track entry) {
        @if (publishQueue?.nodes?.[row.id]?.[entry.key]; as data) {
          <div class="type-queue-wrapper">
            <ng-container
              [ngTemplateOutlet]="typeStatus"
              [ngTemplateOutletContext]="{ data: data, type: entry.value }"
            ></ng-container>
          </div>
        }
      }
    </div>
  </gtx-accordion>
</ng-template>

<ng-template #typeStatus let-data="data" let-type="type">
  @if (data) {
    <table class="node-queue-table">
      <tr>
        <th colspan="2">{{ ('common.' + type + '_plural') | gtxI18n }}</th>
      </tr>
      <tr>
        <td class="label-column">{{ 'shared.toPublish' | gtxI18n }}</td>
        <td class="value-column">{{ data.toPublish }}</td>
      </tr>
      <tr>
        <td class="label-column">{{ 'shared.delayed' | gtxI18n }}</td>
        <td class="value-column">{{ data.delayed }}</td>
      </tr>
      <tr>
        <td class="label-column">{{ 'shared.published' | gtxI18n }}</td>
        <td class="value-column">{{ data.published }}</td>
      </tr>
      <tr>
        <td class="label-column">{{ 'shared.remaining' | gtxI18n }}</td>
        <td class="value-column">{{ data.remaining }}</td>
      </tr>
    </table>
  }
</ng-template>
