<gtx-split-view-container
    class="split-view-container"
    gtxPreventFileDrop="page"
    noswipe
    [class.focusMode]="focusMode"
    [class.rightPanelFocused]="editorFocused"
    [style.--gtx-view-top]="headerHeight"
    [initialSplit]="35"
    [rightPanelVisible]="editorOpen"
    [focusedPanel]="editorFocused ? 'right' : 'left'"
    (focusedPanelChange)="setSplitFocus($event)"
>
    <div class="list-pane" left>
        <router-outlet [name]="EditorOutlet.LIST"></router-outlet>
    </div>

    <div class="content-pane" right>
        <router-outlet [name]="EditorOutlet.DETAIL"></router-outlet>
    </div>

</gtx-split-view-container>

<router-outlet [name]="EditorOutlet.MODAL"></router-outlet>
