<div class="gtx-modal-datagrid">
	<div class="modal-title">
	    <h5>{{ 'shared.assign_languages_to_node_title' | i18n:{ entityName: nodeName } }}</h5>
	</div>
	
	<div class="modal-content">
	    <gtx-language-table
	        class="modal-table"
	        [showSearch]="true"
	        [hideActions]="true"
	        [(selected)]="selectedLanguages"
	    ></gtx-language-table>
	</div>
	
	<div class="modal-footer">
	    <gtx-button
	        type="primary"
	        (click)="updateLanguages()"
	    >{{ 'shared.assign' | i18n }}</gtx-button>
	
	    <gtx-button
	        type="secondary"
	        flat
	        (click)="cancelFn()"
	    >
	        {{ 'common.cancel_button' | i18n }}
	    </gtx-button>
	</div>
</div>