<div class="modal-title">
    <h5>{{ 'shared.assign_languages_to_node_title' | i18n:{ entityName: nodeName } }}</h5>
</div>

<div class="modal-content">
    <gtx-progress-bar [active]="loading" />

    <gtx-language-table
        class="modal-table"
        [showSearch]="true"
        [hideActions]="true"
        [(selected)]="selectedLanguages"
    ></gtx-language-table>
</div>

<div class="modal-footer">
    <gtx-button
        type="primary"
        data-action="confirm"
        [disabled]="loading"
        (click)="updateLanguages()"
    >{{ 'shared.assign' | i18n }}</gtx-button>

    <gtx-button
        type="secondary"
        flat
        data-action="cancel"
        (click)="cancelFn()"
    >
        {{ 'common.cancel_button' | i18n }}
    </gtx-button>
</div>
