<form
    *ngIf="fgProperties"
    [formGroup]="fgProperties"
    class="row"
>
    <div class="input-container small-12 medium-6 columns">

        <!-- mapname -->
        <gtx-input
            *ngIf="fgProperties.get('mapname')"
            formControlName="mapname"
            type="text"
            maxlength="255"
            [label]="('tagmapEntry.mapname' | i18n) + ' *'"
        ></gtx-input>

        <!-- tagname -->
        <gtx-input
            *ngIf="fgProperties.get('tagname')"
            formControlName="tagname"
            type="text"
            maxlength="255"
            [label]="('tagmapEntry.tagname' | i18n) + ' *'"
        ></gtx-input>

        <gtx-select
            *ngIf="fgProperties.get('objType')"
            formControlName="objType"
            [label]="('tagmapEntry.objType' | i18n) + ' *'"
            [clearable]="false"
        >
            <gtx-option *ngFor="let objectType of objectTypes" [value]="objectType.id">{{ objectType.label | i18n }}</gtx-option>
        </gtx-select>

        <gtx-select
            *ngIf="fgProperties.get('attributeType')"
            formControlName="attributeType"
            [label]="('tagmapEntry.attributeType' | i18n) + ' *'"
            [clearable]="false"
        >
            <gtx-option *ngFor="let attributeType of attributes" [value]="attributeType.id">{{ attributeType.label | i18n }}</gtx-option>
        </gtx-select>

        <!-- multivalue - boolean -->
        <gtx-checkbox
            *ngIf="fgProperties.get('multivalue')"
            formControlName="multivalue"
            [label]="'tagmapEntry.multivalue' | i18n"
        ></gtx-checkbox>

        <!-- optimized - boolean -->
        <gtx-checkbox
            *ngIf="fgProperties.get('optimized')"
            formControlName="optimized"
            [label]="'tagmapEntry.optimized' | i18n"
        ></gtx-checkbox>

        <!-- filesystem - boolean -->
        <gtx-checkbox
            *ngIf="fgProperties.get('filesystem')"
            formControlName="filesystem"
            [label]="'tagmapEntry.filesystem' | i18n"
        ></gtx-checkbox>

    </div>

    <div class="input-container small-12 medium-6 columns">

        <!-- targetType select TagmapEntryPropertiesObjectType - required -->
        <gtx-select
            *ngIf="fgProperties.get('targetType')"
            formControlName="targetType"
            [label]="('tagmapEntry.targettype' | i18n) + ' *'"
            [clearable]="false"
        >
            <gtx-option *ngFor="let objectType of objectTypes" [value]="objectType.id">{{ objectType.label | i18n }}</gtx-option>
        </gtx-select>

        <!-- foreignlinkAttribute - text - required -->
        <gtx-input
            *ngIf="fgProperties.get('foreignlinkAttribute')"
            formControlName="foreignlinkAttribute"
            type="text"
            maxlength="255"
            [label]="('tagmapEntry.foreignlinkattribute' | i18n) + ' *'"
        ></gtx-input>

        <!-- foreignlinkAttributeRule - textarea - required -->
        <gtx-textarea
            *ngIf="fgProperties.get('foreignlinkAttributeRule')"
            formControlName="foreignlinkAttributeRule"
            maxlength="200"
            [label]="'tagmapEntry.foreignlinkattributerule' | i18n"
        ></gtx-textarea>

        <!-- urlfield - boolean -->
        <gtx-checkbox
            *ngIf="fgProperties.get('urlfield')"
            formControlName="urlfield"
            [label]="'tagmapEntry.urlfield' | i18n"
        ></gtx-checkbox>

        <!-- elasticsearch - textarea -->
        <gtx-textarea
            *ngIf="fgProperties.get('elasticsearch')"
            formControlName="elasticsearch"
            [label]="'tagmapEntry.elasticsearch' | i18n"
        ></gtx-textarea>
        <span
            *ngIf="fgProperties.get('elasticsearch')?.hasError('errorIsInvalidJson')"
            class="container-validator-errors"
        >
            {{ 'shared.error_is_invalid_json' | i18n }}
        </span>

        <!-- micronodeFilter - textarea -->
        <gtx-textarea
            *ngIf="fgProperties.get('micronodeFilter')"
            formControlName="micronodeFilter"
            maxlength="200"
            [label]="'tagmapEntry.micronodefilter' | i18n"
        ></gtx-textarea>

        <!-- segmentfield - boolean -->
        <gtx-checkbox
            *ngIf="fgProperties.get('segmentfield')"
            formControlName="segmentfield"
            [label]="'tagmapEntry.segmentfield' | i18n"
        ></gtx-checkbox>

        <!-- displayfield - boolean -->
        <gtx-checkbox
            *ngIf="fgProperties.get('displayfield')"
            formControlName="displayfield"
            [label]="'tagmapEntry.displayfield' | i18n"
        ></gtx-checkbox>

    </div>
</form>
