<div *ngIf="0 < filteredItems?.length" [ngClass]="type || ''">
    <div class="list-header icon-checkbox-trigger">
        <div class="select-all">
            <icon-checkbox
                [icon]="type | gtxTypeIcon"
                [selected]="allSelected()"
                (change)="toggleSelectAll($event)"
            ></icon-checkbox>
            {{ getItemCount() }} {{ type | i18n:{ count: getItemCount() } }}
        </div>

        <gtx-checkbox
            *ngIf="listSize < filteredItems.length"
            [label]="'modal.show_all' | i18n"
            [value]="listSize !== itemsPerPage"
            (valueChange)="toggleShowAll()"
        ></gtx-checkbox>
    </div>

    <div class="list">
        <div *ngFor="let item of filteredItems | paginate: { itemsPerPage: itemsPerPage, currentPage: currentPage }">

            <gtx-contents-list-item>
                <gtx-checkbox
                    class="type-icon"
                    [value]="isSelected(item)"
                    (valueChange)="toggleSelection(item, $event)"
                ></gtx-checkbox>

                <div class="item-primary">
                    <span class="item-name">{{ item.name }}</span>

                    <div *ngIf="item.type === 'page' || item.type === 'form'" class="languages">
                        <div *ngFor="let language of getLanguages(item)" [title]="language.name">
                            {{ language.code }}
                        </div>
                    </div>

                    <div class="filename">
                        {{ item.path }}{{ item.fileName }}
                    </div>
                </div>

                <div class="right-details">
                    <detail-chip
                        [title]="'editor.deleted_by_label' | i18n:{ name: getDeletedByName(item) }"
                    ><icon>person</icon>{{ getDeletedByName(item) }}</detail-chip>

                    <detail-chip
                        [title]="'editor.deleted_at_label' | i18n:{ date: (item.deleted?.at | i18nDate) }"
                    ><icon>access_time</icon>{{ item.deleted.at | i18nDate }}</detail-chip>
                </div>
            </gtx-contents-list-item>

            <div class="language-variants" *ngIf="item.type === 'page'" [class.expanded]="isSelected(item) && 1 < getVariants(item).length">
                <div class="variant" *ngFor="let variant of getVariants(item)">
                    <gtx-checkbox
                        [value]="selected[variant.id]"
                        [disabled]="!isDeleted(variant)"
                        (valueChange)="toggleVariantSelection(variant, $event)"
                    ></gtx-checkbox>
                    <span class="language">{{ 'lang.' + variant.language | i18n }}</span>
                    {{ variant.name }}
                </div>
            </div>
        </div>
    </div>

    <paging-controls
        (pageChange)="currentPage = $event"
        [class.hidden]="itemsPerPage < filteredItems.length"
    ></paging-controls>
</div>
