<ng-template ngFor let-branch [ngForOf]="branches">
    <gtx-dropdown-item *ngIf="useLinks"
                       [ngClass]="'depth-' + depth"
                       (click)="nodeSelected.emit(branch.node)"
                       [routerLink]="['/editor', { outlets: { list: ['node', branch.node.id, 'folder', branch.node.folderId] } }]">
        <a (click)="nodeSelected.emit(branch.node)"
           [title]="branch?.folder?.description"
           [routerLink]="['/editor', { outlets: { list: ['node', branch.node.id, 'folder', branch.node.folderId] } }]">
            <div *ngIf="0 < depth" class="inherited-icon">
                <i class="material-icons" [attr.translate]="'no'">input</i>
            </div>
            {{ branch.node.name }}
        </a>
    </gtx-dropdown-item>
    <gtx-dropdown-item *ngIf="!useLinks"
                       [ngClass]="'depth-' + depth"
                       (click)="nodeSelected.emit(branch.node)">
        <a (click)="nodeSelected.emit(branch.node)"
           [title]="branch.folder?.description">
            <div *ngIf="0 < depth" class="inherited-icon">
                <i class="material-icons" [attr.translate]="'no'">input</i>
            </div>
            {{ branch.node.name }}
        </a>
    </gtx-dropdown-item>
    <node-selector-tree [branches]="branch.children"
                        [depth]="depth + 1"
                        [useLinks]="useLinks"
                        (nodeSelected)="nodeSelected.emit($event)"></node-selector-tree>
</ng-template>
