<div *ngIf="editorState" class="editor-toolbar">
    <div class="element-toolbar" [class.regular]="currentItem?.type !== 'page' || editorState?.editMode !== EditMode.EDIT">
        <a
            *ngIf="focusMode"
            class="gentics-logo"
            [routerLink]="['/editor', { outlets: { list: ['node', currentNode.id, 'folder', currentNode.folderId] } } ]"
            (click)="logoClick()"
        >
            <img src="assets/images/gentics-logo-60px.png">
        </a>

        <ng-container *ngIf="currentItem?.type === 'page' && editorState?.editMode === EditMode.EDIT; else itemBreadcrumb">
            <div class="page-editor-tabs">
                <gtx-page-editor-tabs
                    [brokenLinkCount]="brokenLinkCount"
                ></gtx-page-editor-tabs>
            </div>
        </ng-container>

        <div class="toolbar-actions">
            <div class="item-status">
                <item-status-label
                    class="full-size"
                    [item]="currentItem"
                    [iconOnly]="true"
                    [nodeLanguages]="activeNodeLanguages"
                    [activeNodeId]="currentNode?.id"
                ></item-status-label>
            </div>

            <gtx-button
                *ngIf="buttons.saveAsCopy"
                class="primary-action"
                size="small"
                flat
                [disabled]="copyDisabled"
                [title]="'editor.content_frame_save_copy_tooltip' | i18n"
                (click)="saveChanges(SaveBehaviour.SAVE_AS_COPY)"
            >
                <icon left>file_copy</icon>
                <span [innerHTML]="'editor.content_frame_save_copy_button' | i18n"></span>
            </gtx-button>

            <gtx-button
                *ngIf="buttons.edit"
                class="primary-action edit-button"
                size="small"
                flat
                (click)="editItem()"
                [title]="'editor.edit_tooltip' | i18n"
            >
                <icon>edit</icon>
            </gtx-button>

            <gtx-button
                *ngIf="buttons.lockedEdit"
                class="primary-action"
                size="small"
                type="secondary"
                flat
                disabled="true"
                [title]="'editor.content_frame_page_locked_tooltip' | i18n"
            >
                <icon>lock</icon>
            </gtx-button>

            <gtx-split-button
                *ngIf="showSave"
                class="primary-action save-button"
                size="small"
                [disabled]="saveDisabled || isSaving"
                [title]="'editor.content_frame_save_changes_tooltip' | i18n"
            >
                <gtx-split-button-primary-action (click)="saveChanges(SaveBehaviour.REGULAR)">
                    <div class="save-button-primary-action">
                        <icon>save</icon>
                        <!-- <span [innerHTML]="'editor.content_frame_save_changes_button' | i18n"></span> -->
                    </div>
                </gtx-split-button-primary-action>

                <gtx-dropdown-item
                    *ngIf="currentItem?.type === 'folder' && editorState.openPropertiesTab !== ITEM_PROPERTIES_TAB"
                    (click)="saveChanges(SaveBehaviour.APPLY_TO_SUBFOLDERS)"
                >
                    <icon left>save</icon>
                    <span [innerHTML]="'editor.content_frame_save_changes_and_apply_to_subfolders_button' | i18n"></span>
                </gtx-dropdown-item>

                <gtx-dropdown-item
                    *ngIf="editorState.editMode === EditMode.EDIT_PROPERTIES && currentItem?.type === 'page' && editorState.openPropertiesTab !== ITEM_PROPERTIES_TAB"
                    (click)="saveChanges(SaveBehaviour.APPLY_TO_LANGUAGE_VARIANTS)"
                >
                    <icon left>save</icon>
                    <span [innerHTML]="'editor.content_frame_save_changes_and_apply_to_language_variants_button' | i18n"></span>
                </gtx-dropdown-item>
            </gtx-split-button>

            <gtx-dropdown-list *ngIf="currentItem?.type === 'page' || currentItem?.type === 'form'" class="content-frame-context-menu">
                <gtx-dropdown-trigger>
                    <gtx-button icon type="secondary">
                        <icon>more_vert</icon>
                    </gtx-button>
                </gtx-dropdown-trigger>

                <gtx-dropdown-content>
                    <gtx-dropdown-item *ngIf="buttons.editProperties" (click)="editProperties()">
                        <icon left>settings</icon> {{ 'editor.properties_label' | i18n }}
                    </gtx-dropdown-item>

                    <gtx-dropdown-item *ngIf="buttons.editItem" (click)="editItem()">
                        <icon left>edit</icon> {{ 'editor.edit_label' | i18n }}
                    </gtx-dropdown-item>

                    <gtx-dropdown-item *ngIf="buttons.previewPage" (click)="previewPage()">
                        <ng-container *ngIf="!editorState.version; else previewCurrentVersion">
                            <icon left>pageview</icon> {{ 'editor.preview_label' | i18n }}
                        </ng-container>
                        <ng-template #previewCurrentVersion>
                            <icon left>update</icon> {{ 'editor.preview_current_version_label' | i18n }}
                        </ng-template>
                    </gtx-dropdown-item>

                    <gtx-dropdown-item *ngIf="buttons.compareSources" (click)="switchToCompareSources()">
                        <icon left>code</icon> {{ 'editor.compare_version_sources_label' | i18n }}
                    </gtx-dropdown-item>

                    <gtx-dropdown-item *ngIf="buttons.compareContents" (click)="switchToCompareContents()">
                        <icon left>pageview</icon> {{ 'editor.compare_version_contents_label' | i18n }}
                    </gtx-dropdown-item>

                    <gtx-dropdown-item *ngIf="buttons.versionHistory" (click)="showPageVersionsModal()">
                        <icon left>history</icon> {{ 'editor.version_history_label' | i18n }}
                    </gtx-dropdown-item>

                    <gtx-dropdown-item *ngIf="buttons.timeManagement" (click)="showTimeManagement()">
                        <icon left>date_range</icon> {{ 'editor.time_management_label' | i18n }}
                    </gtx-dropdown-item>

                    <ng-container *ngIf="currentItem?.type === 'page' || currentItem?.type === 'form'">
                        <gtx-dropdown-item
                            class="focus-mode-button"
                            (click)="setFocusMode(!editorState.focusMode)"
                        >
                            <icon left>{{ ('fullscreen' + (editorState.focusMode ? '_exit' : '')) }}</icon>
                            {{ ('editor.' + (editorState.focusMode ? 'disable' : 'enable') + '_focus_mode_label') | i18n }}
                        </gtx-dropdown-item>
                    </ng-container>

                    <gtx-dropdown-item *ngIf="inQueue" (click)="approve()" class="success">
                        <icon left>playlist_add_check</icon> {{ 'editor.publish_queue_btn_approve' | i18n }}
                    </gtx-dropdown-item>

                    <gtx-dropdown-item
                        *ngIf="buttons.publish"
                        class="success"
                        (click)="saveChanges(SaveBehaviour.SAVE_AND_PUBLISH)"
                    >
                        <icon left>cloud_upload</icon> {{ 'editor.publish_label' | i18n }}
                    </gtx-dropdown-item>

                    <gtx-dropdown-item
                        *ngIf="buttons.takeOffline"
                        class="alert"
                        (click)="takeItemOffline()"
                    >
                        <icon left>cloud_off</icon> {{ 'editor.take_offline_label' | i18n }}
                    </gtx-dropdown-item>
                </gtx-dropdown-content>
            </gtx-dropdown-list>

            <gtx-button
                class="close-button"
                icon
                type="secondary"
                (click)="closeEditor()"
            >
                <icon>close</icon>
            </gtx-button>
        </div>
    </div>

    <gtx-page-editor-controls
        *ngIf="currentItem?.type === 'page' && editorState?.editMode === EditMode.EDIT"
        class="page-editor-controls"
        (brokenLinkCountChange)="updateBrokenLinkCount($event)"
    ></gtx-page-editor-controls>

    <gtx-progress-bar class="image-loading" [for]="uploadInProgress$"></gtx-progress-bar>
</div>

<ng-template #itemBreadcrumb>
    <div class="breadcrumb-info">
        <gtx-breadcrumbs
            [routerLinks]="breadcrumbs"
            [multiline]="true"
            [multilineExpanded]="multilineExpanded"
            [class.is-inherited]="nodeInherited"
            [class.not-inherited]="!nodeInherited"
            (linkClick)="changeFocus()"
            (multilineExpandedChange)="expandedChanged($event)"
        >
            <icon *ngIf="nodeInherited" class="iconChannel">input</icon>
        </gtx-breadcrumbs>

        <div class="item-info">
            <div class="title-name" [title]="currentItem?.name | replaceEscapedCharacters">
                <ng-container *ngIf="currentItem?.type !== 'node'">
                    <inherited-localized-icon [item]="currentItem" [editorNodeId]="editorNodeId"></inherited-localized-icon>
                    <span class="item-name">{{ currentItem?.name | replaceEscapedCharacters }}</span>
                </ng-container>
            </div>

            <div class="item-version" *ngIf="(currentItem?.type === 'page' || currentItem?.type === 'form') && editorState.version">
                <span *ngIf="editorState.oldVersion">
                    v{{ editorState.oldVersion.number }}
                    <icon class="comparison-icon">compare_arrows</icon>
                    v{{ version.number }}
                </span>
                <span *ngIf="!editorState.oldVersion">v{{ editorState.version.number }}</span>
            </div>

            <div *ngIf="currentItem?.type === 'form' || (currentItem?.type === 'page' && $any(currentItem)?.contentGroupId)" class="item-language">
                <div *ngIf="itemLanguage">{{ itemLanguage?.code | i18n }}</div>

                <ng-container *ngIf="editorState.compareWithId">
                    <div>
                        <icon class="comparison-icon">compare_arrows</icon>
                    </div>
                    <div>{{ pageComparisonLanguage?.code | i18n }}</div>
                </ng-container>
            </div>

            <div class="form-type" *ngIf="currentItem && currentItem.type === 'form'">
                {{ 'editor.item_type_label' | i18n }}: {{ 'gtxFormGenerator.form_type_' + ((!!currentItem['data']?.type ? currentItem['data']?.type : CMS_FORM_TYPE.GENERIC) | lowercase) | i18n }}
            </div>
        </div>
    </div>
</ng-template>
