@import 'variables';

@mixin mobile-scroll {
    @media screen and (max-width: $small-screen) {
        width: auto;
        flex: 0 0 90%;
        scroll-snap-align: start;
        scroll-snap-coordinate: 0% 0%;
    }
}

:host {
    display: flex;
    flex-direction: row;
    min-height: 1px;
    flex: 1 1 auto;
    width: 100%;
    position: relative;

    .hidden {
        display: none;
    }

    @media screen and (max-width: $small-screen) {
        position: relative;
        width: auto;
        white-space: nowrap;
        scroll-snap-type: x mandatory;
        scroll-snap-destination: 0% 0%;
    }
}

.object-property-tooltip {
    width: 100%;
    display: block;

    &::ng-deep .tooltip-wrapper {
        width: 100%;
    }

    .property-tab {
        display: flex;

        .property-tab-icon {
            margin: auto 0;
        }

        .property-tab-label {
            margin: auto 0;
        }
    }
}

hr {
    height: 100%;
    margin: 0px 0 0 -1px;
    width: 1px;
    background-color: $gtx-color-light-gray;
    border-style: solid;

    @media screen and (max-width: $small-screen) {
        flex: 0 0 1px;
    }
}

.tag-wrapper {
    border: 1px solid $gtx-color-light-gray;
    margin: 25px;

    &.tagfillLightEnabled {
        border: none;
    }

    &.nonActive {
        box-shadow: 0px 0px 0px 5px $gtx-color-light-gray;
    }

    &.disabled {
        opacity: 0.3;
        pointer-events: none;
    }

    .activate-obj-prop {
        float: right;
        background: white;
        margin-top: -25px;
        margin-right: 45px;
        padding: 10px;
    }
}

.properties-tabs {
    min-width: 20%;
    max-width: 25%;
    padding-top: 10px;
    padding-bottom: 10px;
    box-sizing: border-box;
    overflow: hidden;
    overflow-y: auto;
    padding-left: 8px;

    @media screen and (max-width: $medium-screen) {
        width: 35%;
    }

    @include mobile-scroll;

    &::ng-deep {
        .grouped-tabs {
            flex: 1 1 !important;

            .collapsible {
                border-right: none;

                .tab-link > a {
                    display: flex;

                    &::after {
                        background: linear-gradient(to left, white 25%, rgba(255, 255, 255, 0));
                        content: '';
                        height: 100%;
                        width: 1rem;
                        position: absolute;
                        right: 0;
                        top: 0;
                    }
                }

                .tab-link.is-active {
                    border-left-color: $gtx-color-warning !important;

                    &.status-icon::before {
                        color: $gtx-color-warning !important;
                    }
                }

                .tab-link {
                    padding-right: 1rem !important;
                }

                > li.tab-link,
                li.tab-group div {
                    text-transform: none;
                    transition: 300ms;
                }

                > li.tab-link:not(.is-active) {
                    border-left-color: $gtx-color-light-gray;
                    border-right-color: $gtx-color-light-gray;
                }

                > li.tab-group:not(.is-active) {
                    padding-left: 1px;
                    border-left-color: $gtx-color-light-gray;
                }

                > li.tab-group li.tab-link:not(.is-active), .collapsible-header {
                    border-right-color: $gtx-color-light-gray;
                }

                > li.tab-group li.tab-link.is-active {
                    border-right-color: white;
                    border-left-color: $gtx-color-warning;
                }
            }
        }

        .grouped-tab-content {
            display: none;
        }

        .tab-group {
            .tab-link {
                margin-left: 32px !important;
            }
        }

        .tab-link {
            .obj-prop-inactive {
                opacity: 0.5;

                icon {
                    opacity: 0.4;
                }
            }
        }
    }
}

.item-properties,
.item-tag-list,
.form-reports {
    flex-grow: 1;
    overflow: auto;
    width: 100%;
    height: 100%;

    @include mobile-scroll;

    .item-properties-heading,
    .item-tag-list-heading,
    .form-reports-heading {
        padding-left: 24px;
    }
}

.object-property {
    flex-grow: 1;
    pointer-events: none;
    opacity: 0.4;
    filter: grayscale(1);
    overflow: auto;

    &.has-editing-permission {
        pointer-events: all;
        opacity: 1;
        filter: grayscale(0);
    }

    @include mobile-scroll;

    .tag-editor {
        overflow-y: auto;
    }
}

tag-editor-overlay-host.active {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    @media screen and (max-width: $small-screen) {
        left: auto;
        width: 90%;
    }
}

.property-tab-mobile {
    display: none;
    height: 16px;
    margin-top: 2px;

    @media screen and (max-width: $small-screen) {
        display: block;
    }
}

.properties-editor-wrapper {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    width: 100%;
    height: 100%;

    .properties-tabs {
        flex: 0 1 auto;
    }

    .properties-content {
        flex: 1 1 auto;
        min-height: 1px;
        overflow: auto;
        height: 100%;
    }

    @media screen and (max-width: $small-screen) {
        flex-direction: column;

        .properties-tabs {
            flex: 0 0 auto;
            min-width: 100%;
            padding-right: 1.5rem;
        }
    }
}
