<div class="flex-row row">
  @if (form) {
    <form
      [formGroup]="form"
      class="buttons-form small-12 medium-12 row"
      >
      <div class="input-container small-12 medium-6 columns">
        <gtx-input
          type="text"
          [required]="true"
          maxlength="50"
          [label]="('template_tag.name' | gtxI18n) + ' *'"
          [placeholder]="'template.name' | gtxI18n"
          (blur)="touchFn()"
          formControlName="name"
        ></gtx-input>
      </div>
      <div class="input-container small-12 medium-6 columns">
        <gtx-select
          [required]="true"
          [label]="('template_tag.tagType' | gtxI18n ) + ' *'"
          [placeholder]="'template_tag.tagType' | gtxI18n"
          (blur)="touchFn()"
          formControlName="constructId"
          >
          @for (construct of constructs; track construct.constructId) {
            <gtx-option
              [value]="construct.constructId"
            >{{ construct.name }}</gtx-option>
          }
        </gtx-select>
      </div>
      <div class="input-container small-12 medium-12 columns checkbox-container">
        <gtx-checkbox
          [required]="true"
          [label]="'template_tag.editableInPage' | gtxI18n"
          (blur)="touchFn()"
          formControlName="editableInPage"
        ></gtx-checkbox>
      </div>
      <div class="input-container small-12 medium-12 columns checkbox-container">
        <gtx-checkbox
          [required]="true"
          [label]="'template_tag.mandatory' | gtxI18n"
          (blur)="touchFn()"
          formControlName="mandatory"
        ></gtx-checkbox>
      </div>
      @if (mode === TemplateTagPropertiesMode.UPDATE) {
        <div class="input-container small-12 medium-12 columns">
          <gtx-tag-editor-wrapper
            class="tag-editor"
            [nodeId]="nodeId"
            [entityType]="'template'"
            [entityId]="templateId"
            [tagName]="tagName"
            [baseUrl]="tagEditorBaseUrl"
            [withTitle]="false"
            [transparent]="true"
            (change)="onTagEditorChange($event)"
          ></gtx-tag-editor-wrapper>
        </div>
      }
    </form>
  }
</div>
