@if (formGroupMain) {
    <form
        #formGroupMainElement
        class="gtx-chipsearchbar"
        [class.gtx-chipsearchbar-loading]="loading$ | async"
        [formGroup]="formGroupMain"
        (keydown.enter)="onSearchTriggered()"
    >
        @if (getChips().controls; as chips) {
            <div class="gtx-chipsearchbar-chip-container">
                @if (!showRecent) {
                    <!-- Chip elements START -->
                    @for (chip of chips; track chip; let i = $index) {
                        <ng-container #chipElements>
                            <form
                                class="gtx-chip"
                                [formGroup]="chip"
                                [class.gtx-chip-invalid]="chip.invalid"
                                [attr.data-id]="getPropertyOptionsByIdentifier(chip)?.value"
                            >
                                <!-- Chip PROPERTY -->
                                <span class="gtx-chip-property">
                                    <gtx-input-select
                                        formControlName="chipProperty"
                                        [options]="chipSearchBarConfig.searchableProperties"
                                        [noInput]="true"
                                        [style.width]="getChipValue(chip)?.length < 4 ? '4ch' : getChipValue(chip).length + 1 + 'ch'"
                                    ></gtx-input-select>
                                </span>
                                <!-- Chip OPERATOR -->
                                @if (getPropertyOptionsByIdentifier(chip)?.context?.relationOperators; as chipOperatorOptions) {
                                    <span class="gtx-chip-operator">
                                        <gtx-input-select
                                            formControlName="chipOperator"
                                            [disabled]="chipOperatorOptions.length === 1"
                                            [options]="chipOperatorOptions"
                                            [defaultValue]="chipOperatorOptions[0]?.value"
                                        >
                                        </gtx-input-select>
                                    </span>
                                }
                                <!-- Chip VALUE -->
                                <span
                                    class="gtx-chip-input-value"
                                    [class.gtx-chip-input-value-invalid]="chip.invalid"
                                    [class.gtx-chip-input-value-boolean]="getPropertyOptionsByIdentifier(chip)?.type === 'boolean'"
                                >
                                    <!-- if user shall input directly -->
                                    @if (getPropertyOptionsByIdentifier(chip)?.type; as propertyDataType) {
                                        @switch (propertyDataType) {
                                            <!-- TYPE `boolean` -->
                                            @case ('boolean') {
                                                <gtx-checkbox
                                                    type="checkbox"
                                                    class="gtx-chip-input-value-inner gtx-chip-input-value-inner-checkbox"
                                                    formControlName="chipValue"
                                                ></gtx-checkbox>
                                            }
                                            <!-- TYPE `number` -->
                                            @case ('number') {
                                                <input
                                                    type="number"
                                                    min="0"
                                                    max="999"
                                                    step="1"
                                                    pattern="[0-9]"
                                                    class="gtx-chip-input-value-inner gtx-chip-input-value-inner-number"
                                                    formControlName="chipValue"
                                                />
                                            }
                                            <!-- TYPE `string` -->
                                            @case ('string') {
                                                <input
                                                    type="text"
                                                    class="gtx-chip-input-value-inner gtx-chip-input-value-inner-string"
                                                    formControlName="chipValue"
                                                    [style.width]="getChipValue(chip)?.length < 4 ? '4ch' : getChipValue(chip).length + 1 + 'ch'"
                                                />
                                            }
                                            <!-- TYPE `date` -->
                                            @case ('date') {
                                                <div class="date-selector">
                                                    <gtx-date-time-picker
                                                        class="gtx-chip-input-value-inner gtx-chip-input-value-inner-date"
                                                        formControlName="chipValue"
                                                    ></gtx-date-time-picker>
                                                </div>
                                            }
                                            <!-- TYPE `objectid` -->
                                            @case ('objectid') {
                                                @if (getPropertyOptionsByIdentifier(chip)?.context.inputselectOptionsAsync | async; as chipValueOptions) {
                                                    <gtx-input-select
                                                        class="gtx-chip-input-value-inner"
                                                        formControlName="chipValue"
                                                        [attr.disabled]="chipValueOptions.length === 1"
                                                        [options]="chipValueOptions"
                                                        [defaultValue]="(getPropertyOptionsByIdentifier(chip).context.inputselectOptionsDefaultValueAsync | async)"
                                                    ></gtx-input-select>
                                                } @else {
                                                    <p style.color="red">Error: No options configured for filter property "{{ chip.value }}"!</p>
                                                    <pre>{{ getPropertyOptionsByIdentifier(chip) | json }}</pre>
                                                }
                                            }
                                            <!-- TYPE INVALID -->
                                            @default {
                                                <pre>
                                                    <p style.color="red">ERROR: Invalid filter definition for property:</p>
                                                    <pre>{{ getPropertyOptionsByIdentifier(chip) | json }}</pre>
                                                </pre>
                                            }
                                        }
                                    }
                                </span>
                                <!-- Chip remove button -->
                                <div class="gtx-chip-button-remove">
                                    <gtx-button
                                        icon
                                        type="primary"
                                        size="small"
                                        [disabled]="chip.disabled"
                                        (click)="removeChipAtIndex(i)"
                                        >
                                        <icon>close</icon>
                                    </gtx-button>
                                </div>
                            </form>
                        </ng-container>
                    }
                }
                <input
                    #searchBarValueElement
                    class="gtx-chipsearchbar-value"
                    type="text"
                    formControlName="searchBar"
                    [placeholder]="'common.search_placeholder' | gtxI18n"
                    [style.width]="getSearchbarValue()?.length < 6 ? '6ch' : getSearchbarValue()?.length + 1 + 'ch'"
                    (keydown.backspace)="onKeyDownBackspace()"
                    (keydown.enter)="onSearchTriggered()"
                    (keydown.ArrowDown)="showSuggestionBar()"
                    (keyup)="searchBarKeyup.next($event)"
                />
            </div>
        }
        <div class="gtx-chipsearchbar-button-container">
            @if (!showRecent) {
                <div class="gtx-chipsearchbar-button gtx-chipsearchbar-menu-filter-properties">
                    @if (chipSearchBarConfig.searchableProperties; as searchableProperties) {
                        <gtx-input-select
                            [options]="searchableProperties"
                            [iconOnly]="true"
                            [disabled]="loading$ | async"
                            (ngModelChange)="onDropDownFilterPropertiesItemClicked($event)"
                        ></gtx-input-select>
                    }
                </div>
            }
            @if (!showRecent) {
                <div
                    class="gtx-chipsearchbar-button gtx-chipsearchbar-button-search"
                    [class.gtx-chipsearchbar-button-search-hintbox-active]="searchInputHasChanged$ | async"
                >
                    <gtx-button
                        icon
                        type="primary"
                        size="regular"
                        data-action="search"
                        [disabled]="loading$ | async"
                        (click)="onButtonSearchClicked()"
                    >
                        <icon>search</icon>
                    </gtx-button>
                </div>
            }
            @if (searchInputHasChanged$ | async) {
                <div class="gtx-chipsearchbar-button-search-hintbox">
                    <div class="gtx-chipsearchbar-button-search-hintbox-inner">
                        <p>{{ 'search.search_hintbox' | gtxI18n }}</p>
                    </div>
                </div>
            }
            <div class="gtx-chipsearchbar-button gtx-chipsearchbar-button-search">
                @if ((!showRecent && !(showRecentButton$ | async)) || showRecent) {
                    <gtx-button
                        icon
                        type="primary"
                        size="regular"
                        data-action="clear"
                        (click)="clearSearchbarAll()"
                    >
                        <icon>close</icon>
                    </gtx-button>
                }
                @if (!showRecent && (showRecentButton$ | async)) {
                    <gtx-button
                        icon
                        type="primary"
                        size="regular"
                        data-action="suggestion"
                        (click)="showSuggestionBar(); focusSearchbarValue()"
                        [title]="'common.history' | gtxI18n"
                    >
                        <icon>history</icon>
                    </gtx-button>
                }
            </div>
        </div>

        <search-suggestion-bar
            [(recentVisible)]="showRecent"
            [(suggestionVisible)]="showSuggestion"
            [filterTerm]="getSearchbarValue()"
            [searchBarKeyup]="searchBarKeyup.asObservable()"
            (close)="clearSearchbarAll()"
        ></search-suggestion-bar>
    </form>
}
