@import "variables";


.breadcrumb-container {
    margin-bottom: -0.7rem;
}

.breadcrumb-item {
    font-size: 14px;
    color: $gtx-breadcrumbs-inactive-color; 
    
    &:not(:first-child):before{
        content: "\e5cc ";
        display: inline-block;
        font-family: "Material Icons";
        font-weight: normal;
        font-style: normal;
        font-size: 17px;
        vertical-align: top;
        -webkit-font-smoothing: antialiased;
    }

}
