@import "variables";

.breadcrumb-container {
    color: $gtx-breadcrumbs-inactive-color;
    font-size: 14px;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 3px;
    align-items: center;

    .separator,
    .breadcrumb-item {
        font-size: inherit;
        color: inherit;
    }

    .breadcrumb-item {
        color: $gtx-color-primary;
    }

    .breadcrumb-item.last {
        color: $gtx-breadcrumbs-inactive-color;
    }
}
