<div class="modal-title">
  <h5>{{ 'modal.select_content_package_title' | gtxI18n }}</h5>
</div>

<div class="modal-content">
  <gtx-content-package-list
    [selectable]="true"
    [multiple]="false"
    [selection]="activePackage"
    (selectionChange)="updateActivePackage($event)"
  ></gtx-content-package-list>
</div>

<div class="modal-footer">
  @if (!activePackage && !hadPackage) {
    <gtx-button
      type="secondary"
      flat
      (click)="closeFn()"
    >{{ 'modal.close' | gtxI18n }}</gtx-button>
  } @else {
    <gtx-button
      type="secondary"
      flat
      (click)="closeFn()"
    >{{ 'modal.cancel' | gtxI18n }}</gtx-button>
    <gtx-button
      type="primary"
      (click)="updatePackageInState()"
    >{{ (activePackage ? 'modal.confirm_content_package_select' : 'modal.leave_content_staging_mode') | gtxI18n }}</gtx-button>
  }

</div>
