
<div class="download-buttons">
    <gtx-progress-bar [active]="loadingStatus()"></gtx-progress-bar>

    @if (binaryStatus) {
        <div class="download-group binaries-group">
            <gtx-button
                class="download-button"
                size="small"
                flat
                [disabled]="!binaryStatus?.downloadReady"
                (click)="downloadBinaries()"
            >
                <icon left>file_download</icon>{{ 'editor.form_reports_download_binaries_button' | gtxI18n }}
            </gtx-button>

            <gtx-button
                class="generate-button"
                size="small"
                flat
                type="warning"
                [disabled]="binaryStatus?.requestPending"
                (click)="generateBinaryDownload()"
            >
                <icon left>build</icon>{{ 'editor.form_reports_generate_binary_button' | gtxI18n }}
            </gtx-button>

            @if (binaryStatus?.downloadReady) {
                <div class="creation-date">
                    {{ 'editor.form_reports_binary_generated_at' | gtxI18n: { date: (binaryStatus.downloadTimestamp | gtxI18nDate:'dateTime' ) } }}
                </div>
            }
        </div>
    }

    @if (exportStatus) {
        <div class="download-group export-group">
            <gtx-button
                class="download-button"
                size="small"
                flat
                [disabled]="!exportStatus?.downloadReady"
                (click)="downloadExport()"
            >
                <icon left>file_download</icon>{{ 'editor.form_reports_download_csv_button' | gtxI18n }}
            </gtx-button>

            <gtx-button
                class="generate-button"
                size="small"
                flat
                type="warning"
                [disabled]="exportStatus?.requestPending"
                (click)="generateExportDownload()"
            >
                <icon left>build</icon>{{ 'editor.form_reports_generate_csv_button' | gtxI18n }}
            </gtx-button>
            @if (exportStatus?.downloadReady) {
                <div class="creation-date">
                    {{ 'editor.form_reports_csv_generated_at' | gtxI18n: { date: (exportStatus.downloadTimestamp | gtxI18nDate:'dateTime' ) } }}
                </div>
            }
        </div>
    }
</div>

<div class="table-wrapper">
    @if (tableError == null) {
        <gtx-table
            [paginated]="true"
            [sortable]="false"
            [selectable]="true"
            [multiple]="true"

            [page]="page()"
            [perPage]="pageSize()"
            [totalCount]="totalCount()"
            [selected]="selected() | gtxValues"
            [columns]="columns()"
            [actions]="actions()"
            [rows]="rows()"

            [renderers]=" {
                __fallback__: colRenderer
            }"

            (pageChange)="handlePageChange($event)"
            (selectedChange)="handleSelectedChange($event)"
            (actionClick)="handleActionClick($event)"
        />
    } @else {
        <div class="loading-info">
            <icon class="invalid">warning</icon>
            <span>{{ tableError }}</span>
        </div>
    }

    <gtx-progress-bar [active]="loadingReport() || loadingAction()"></gtx-progress-bar>
</div>

<ng-template #colRenderer let-value="value">
    @if (value == null) {}
    @else if (value?.length != null) {
        @for (arrVal of value; track arrVal.value ?? arrVal.fileName) {
            <ng-container [ngTemplateOutlet]="valueRenderer" [ngTemplateOutletContext]="{ value: arrVal }" />
        }
    } @else {
        <ng-container [ngTemplateOutlet]="valueRenderer" [ngTemplateOutletContext]="{ value: value }" />
    }
</ng-template>

<ng-template #valueRenderer let-value="value">
    @switch (value.type) {
        @case (ValueType.STRING) {
            <span class="form-value type-string">{{ value.value }}</span>
        }
        @case (ValueType.NUMBER) {
            <span class="form-value type-number">{{ value.value | gtxI18nNumber }}</span>
        }
        @case (ValueType.BOOLEAN) {
            <icon
                class="form-value type-boolean gtx-table-cell-boolean"
                [ngClass]="'gtx-table-cell-boolean-' + value"
            >{{ value ? 'check' : 'close' }}</icon>
        }
        @case (ValueType.BINARY) {
            <a class="form-value type-binary" [href]="value.link" download target="_blank">{{ value.fileName }}</a>
        }
    }
</ng-template>
