<div class="gtx-modal-datagrid">
    <div class="modal-title">
        <h5>{{ 'shared.assign_crfragments_to_contentrepositories' | gtxI18n }}</h5>
    </div>

    <div class="modal-content">
        <gtx-cr-fragment-table
            class="modal-table"
            [showSearch]="true"
            [hideActions]="true"
            [(selected)]="crfragmentIdsSelected"
        ></gtx-cr-fragment-table>
    </div>

    <div class="modal-footer">
        <gtx-button
            type="primary"
            (click)="buttonAssignContentRepositoryToCrfragmentsClicked()"
            gtxActionAllowed="content_repository.updateContentRepositoryInstance"
            [aaInstanceId]="contentRepositoryId"
        >
            {{ 'shared.assign' | gtxI18n }}
        </gtx-button>

        <gtx-button
            type="secondary"
            flat
            (click)="cancelFn()"
        >
            {{ 'common.cancel_button' | gtxI18n }}
        </gtx-button>
    </div>
</div>
