@import "ui-core/src/styles/variables";

:host {
    display: block;
    overflow-x: auto;

    th {
        min-width: 110px;
    }

    tr {
        td:first-child, th:first-child {
            padding-left: 10px;
        }
        td:last-child, th:last-child {
            padding-right: 10px;
        }
    }

    table.highlight > tbody > tr:last-child {
        border-bottom: none;
    }

    code {
        vertical-align: top;
    }

    .block-body *:first-child {
        margin-top: 0;
    }
    .block-body *:last-child {
        margin-bottom: 0;
    }

    .type, .default-value {
        display: inline-block;
        // max-width: 150px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }

    .type {
        background-color: lighten($gtx-color-primary, 50%);
    }

    .regular-row.has-inheritance {
        border-bottom: none;
    }

    .inheritance-row {
        td {
            padding: 5px 10px;
        }
    }
}
