@import "ui-core/src/styles/variables";

:host {
    display: block;
    overflow-x: auto;
}

.block-inheritance {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    .full-class-name {
        display: inline-flex;
    }
}
