<div class="modal-title">
    <h4>{{ 'modal.display_field_selector_title' | i18n }}</h4>
</div>
<div class="modal-content">
    <gtx-sortable-list (dragEnd)="sortList($event)">
        <gtx-contents-list-item *ngIf="type !== 'folder'">
            <div class="item-primary">
                <gtx-checkbox [(ngModel)]="showPath"
                              name="showPath"
                              [label]="'common.path_label' | i18n">
                </gtx-checkbox>
            </div>
        </gtx-contents-list-item>

        <gtx-sortable-item *ngFor="let field of availableFields">
            <gtx-contents-list-item>
                <div class="item-primary">
                    <gtx-checkbox [(ngModel)]="selected[field.name]"
                                    [name]="field.name"
                                    [label]="field.label | i18n"></gtx-checkbox>
                </div>
                <gtx-drag-handle></gtx-drag-handle>
            </gtx-contents-list-item>
        </gtx-sortable-item>
    </gtx-sortable-list>
</div>
<div class="modal-footer">
    <gtx-button type="secondary" flat (click)="cancelFn()">{{ 'common.cancel_button' | i18n }}</gtx-button>
    <gtx-button class="okay" (click)="updateAndClose()">{{ 'common.okay_button' | i18n }}</gtx-button>
</div>
