<div
    *ngIf="tablePlugin"
    class="format-section table-group"
    [attr.data-active-part]="activeParts?.join?.(',')"
>
    <gtx-dropdown-list
        #dropdown
        [disabled]="true"
        [sticky]="true"
        [belowTrigger]="true"
    >
        <gtx-dropdown-trigger>
            <button
                class="format-button off-icon"
                [class.active]="active"
                [title]="(active ? 'editor.format_table_delete' : 'editor.format_table_insert') | i18n"
                [disabled]="disabled || (!active && !allowed)"
                (click)="toggleActive()"
            >
                <icon data-icon-on="table"></icon>
            </button>
        </gtx-dropdown-trigger>

        <gtx-dropdown-content>
            <div class="insert-wrapper">
                <h3>{{ 'editor.format_table_insert' | i18n }}</h3>

                <gtx-table-size-select
                    (select)="handleTableSizeSelect($event)"
                ></gtx-table-size-select>
            </div>
        </gtx-dropdown-content>
    </gtx-dropdown-list>

    <ng-container *ngIf="active">
        <button
            class="format-button table-action-button off-icon"
            [class.active]="captionElement != null"
            [title]="(captionElement != null ? 'editor.format_table_caption_delete' : 'editor.format_table_caption_insert') | i18n"
            [disabled]="disabled"
            (click)="toggleCaption()"
        >
            <icon data-icon-on="title"></icon>
        </button>

        <gtx-dropdown-list [belowTrigger]="true" [sticky]="true">
            <gtx-dropdown-trigger>
                <button class="format-button" [title]="'editor.format_table_additional_options' | i18n">
                    <icon>more_vert</icon>
                </button>
            </gtx-dropdown-trigger>

            <gtx-dropdown-content>
                <div class="table-options-wrapper">
                    <gtx-input
                        class="format-input"
                        [label]="'editor.format_table_summary' | i18n"
                        [value]="summaryValue"
                        [disabled]="disabled"
                        (change)="updateSummary($event)"
                    ></gtx-input>
                </div>
            </gtx-dropdown-content>
        </gtx-dropdown-list>

        <ng-container *ngIf="selectionActive">
            <div class="vertical-separator"></div>

            <button
                class="format-button table-action-button"
                [title]="'editor.format_table_merge_cell' | i18n"
                [disabled]="disabled || !canMergeCells"
                (click)="mergeCells()"
            >
                <icon>cell_merge</icon>
            </button>

            <button
                class="format-button table-action-button"
                [title]="'editor.format_table_split_cell' | i18n"
                [disabled]="disabled || !canSplitCells"
                (click)="splitCells()"
            >
                <icon>arrows_outward</icon>
            </button>
        </ng-container>

        <ng-container *ngIf="activeParts | gtxIncludes:TablePart.COLUMN">
            <div class="vertical-separator"></div>

            <button
                class="format-button table-action-button"
                [title]="'editor.format_table_add_column_left' | i18n"
                [disabled]="disabled"
                (click)="addColumnLeft()"
            >
                <icon class="hollow">splitscreen_left</icon>
            </button>

            <button
                class="format-button table-action-button"
                [title]="'editor.format_table_add_column_right' | i18n"
                [disabled]="disabled"
                (click)="addColumnRight()"
            >
                <icon class="hollow">splitscreen_right</icon>
            </button>

            <button
                class="format-button table-action-button off-icon"
                [class.active]="isHeader"
                [title]="(isHeader ? 'editor.format_table_format_remove_header' : 'editor.format_table_format_as_header') | i18n"
                [disabled]="disabled"
                (click)="toggleSelectionAsHeader('col')"
            >
                <icon data-icon-on="leaderboard"></icon>
            </button>

            <button
                class="format-button table-action-button delete-button"
                [title]="'editor.format_table_remove_column' | i18n"
                [disabled]="disabled"
                (click)="deleteCurrentColumns()"
            >
                <icon>delete</icon>
            </button>
        </ng-container>

        <ng-container *ngIf="activeParts | gtxIncludes:TablePart.ROW">
            <div class="vertical-separator"></div>

            <button
                class="format-button table-action-button"
                [title]="'editor.format_table_add_row_above' | i18n"
                [disabled]="disabled"
                (click)="addRowAbove()"
            >
                <icon class="hollow">splitscreen_top</icon>
            </button>

            <button
                class="format-button table-action-button"
                [title]="'editor.format_table_add_row_below' | i18n"
                [disabled]="disabled"
                (click)="addRowBelow()"
            >
                <icon class="hollow">splitscreen_bottom</icon>
            </button>

            <button
                class="format-button table-action-button off-icon"
                [class.active]="isHeader"
                [title]="(isHeader ? 'editor.format_table_format_remove_header' : 'editor.format_table_format_as_header') | i18n"
                [disabled]="disabled"
                (click)="toggleSelectionAsHeader('row')"
            >
                <icon data-icon-on="leaderboard"></icon>
            </button>

            <button
                class="format-button table-action-button delete-button"
                [title]="'editor.format_table_remove_row' | i18n"
                [disabled]="disabled"
                (click)="deleteCurrentRows()"
            >
                <icon>delete</icon>
            </button>
        </ng-container>
    </ng-container>
</div>
