<div class="modal-title">
  <gtx-progress-bar [active]="fetching$ | async"></gtx-progress-bar>
  <h5>{{ 'modal.wastebin_title' | gtxI18n }}</h5>
  <div class="row">
    <div class="small-12 medium-6 columns filter-wrapper" >
      <gtx-input [placeholder]="'modal.filter_wastebin_label' | gtxI18n" [(ngModel)]="filterTerm"></gtx-input>
      <gtx-button size="small" type="secondary" (click)="selectSorting()" flat>
        @if (sortOrder === 'asc') {
          <icon class="right">arrow_upward</icon>
        }
        @if (sortOrder === 'desc') {
          <icon class="right">arrow_downward</icon>
        }
        {{ 'editor.sorting_by_label' | gtxI18n:{ field: ('common.sort_' + sortBy | gtxI18n) } }}
      </gtx-button>
    </div>
    <div class="small-12 medium-6 columns selected-actions" [class.disabled]="!itemsSelected()">
      <span class="selection-count">{{ 'modal.selected_count' | gtxI18n:{
            count: selectionCount(),
            _type: 'object'
        } }}:</span>
      <gtx-button (click)="restoreSelected()"
        [disabled]="!itemsSelected()"
        size="small">
        <i class="material-icons left" [attr.translate]="'no'">restore_from_trash</i> {{ 'editor.restore_from_wastebin_label' | gtxI18n }}
      </gtx-button>
      <gtx-button (click)="removeSelected()"
        [disabled]="!itemsSelected()"
        size="small"
        type="alert">
        <i class="material-icons left" [attr.translate]="'no'">delete_forever</i> {{ 'editor.delete_from_wastebin_label' | gtxI18n }}
      </gtx-button>
    </div>
  </div>
</div>
<div class="modal-content">
  @if (empty$ | async) {
    <div class="empty-message">
      {{ 'modal.wastebin_empty' | gtxI18n }}
    </div>
  }

  <wastebin-list
    type="folder"
    [filter]="filterTerm"
    [items]="folders$ | async"
    [selectedItems]="selection['folder']"
    (selectionChange)="selectionChanged('folder', $event)"
  ></wastebin-list>

  <wastebin-list
    type="page"
    [filter]="filterTerm"
    [items]="pages$ | async"
    [selectedItems]="selection['page']"
    (selectionChange)="selectionChanged('page', $event)"
  ></wastebin-list>

  <wastebin-list
    type="file"
    [filter]="filterTerm"
    [items]="files$ | async"
    [selectedItems]="selection['file']"
    (selectionChange)="selectionChanged('file', $event)"
  ></wastebin-list>

  <wastebin-list
    type="image"
    [filter]="filterTerm"
    [items]="images$ | async"
    [selectedItems]="selection['image']"
    (selectionChange)="selectionChanged('image', $event)"
  ></wastebin-list>

  <wastebin-list
    type="form"
    [filter]="filterTerm"
    [items]="forms$ | async"
    [selectedItems]="selection['form']"
    (selectionChange)="selectionChanged('form', $event)"
  ></wastebin-list>

</div>
<div class="modal-footer">
  <gtx-button type="secondary" flat (click)="closeFn()">{{ 'common.close_button' | gtxI18n }}</gtx-button>
</div>
