<div *ngIf="linkPlugin" class="format-section link-group">
    <button
        class="format-button active-indicator-button"
        [class.active]="active"
        [title]="(active ? 'editor.format_link_remove' : 'editor.format_link_insert') | i18n"
        (click)="toggleActive()"
    >
        <div class="button-icon material-symbols-outlined"></div>
    </button>

    <ng-container *ngIf="active">

        <div class="target-input-wrapper" [class.target-object]="isTargetObject">
            <gtx-input
                #targetInput
                class="inline-target"
                [title]="'editor.format_link_target' | i18n"
                [readonly]="isTargetObject"
                [value]="!isTargetObject ? targetUrl : (loadingObject ? ('editor.format_link_target_loading' | i18n) : targetObject?.name)"
                (change)="updateLinkTarget($event)"
            ></gtx-input>

            <button
                class="inline-clear-button"
                [title]="'editor.format_link_remove_cms_target' | i18n"
                (click)="clearLinkTargetObject()"
            >
                <icon class="button-icon">close</icon>
            </button>
        </div>

        <button
            class="format-button"
            [title]="'editor.format_link_pick_cms_target' | i18n"
            (click)="selectLinkTarget()"
        >
            <icon>pan_tool_alt</icon>
        </button>

        <ng-container *ngIf="linkChecker.enabled">
            <gtx-tooltip
                position="bottom"
                align="left"
                type="light"
            >
                <icon
                    gtx-tooltip-trigger
                    [ngClass]="'link-checker-icon link-checker-' + (linkChecker.valid ? 'valid' : 'invalid')"
                    (click)="toggleLinkCheckValidity()"
                >{{ linkChecker.valid ? 'check' : 'close' }}</icon>

                <div class="link-checker-report" gtx-tooltip-content>
                    <div class="link-checker-report-date">{{ linkChecker.report.date | i18nDate }}</div>
                    <code class="link-checker-report-url">{{ linkChecker.report.url }}</code>
                    <div class="link-checker-report-text">{{ linkChecker.report.text }}</div>
                </div>
            </gtx-tooltip>
        </ng-container>

        <gtx-dropdown-list [belowTrigger]="true" [sticky]="true">
            <gtx-dropdown-trigger>
                <button class="format-button" [title]="'editor.format_link_additional_options' | i18n">
                    <icon>more_vert</icon>
                </button>
            </gtx-dropdown-trigger>

            <gtx-dropdown-content>
                <div class="link-options-wrapper">
                    <gtx-input
                        class="format-input"
                        [label]="'editor.format_link_anchor' | i18n"
                        [value]="anchor"
                        (change)="updateAnchorValue($event)"
                    ></gtx-input>

                    <gtx-input
                        class="format-input"
                        [label]="'editor.format_link_title' | i18n"
                        [value]="title"
                        (change)="updateTitleValue($event)"
                    ></gtx-input>

                    <gtx-input
                        class="format-input"
                        [label]="'editor.format_link_language' | i18n"
                        [value]="language"
                        (change)="updateLanguageValue($event)"
                    ></gtx-input>
                </div>
            </gtx-dropdown-content>
        </gtx-dropdown-list>

        <icon-checkbox
            class="format-checkbox"
            icon="open_in_new"
            [selected]="newTab"
            [title]="'editor.format_link_new_tab' | i18n"
            (change)="setLinkNewTab($event)"
        ></icon-checkbox>
    </ng-container>
</div>
