@import '../base-controls/base-controls.component.scss';


.target-input-wrapper {
    margin: 0 0.25rem;
}

.link-group {
    align-items: center;

    .inline-target::ng-deep input {
        width: 226px;
        margin: 0;
        height: calc(2rem - 2px);
        border-width: 1px;
        box-shadow: rgba(0, 0, 0, 0.14) 0px 1px 1px 0;

        &:focus:not([readonly]) {
            box-shadow: rgba(0, 0, 0, 0.14) 0px 1px 1px 0 !important;
        }
    }
}

.target-input-wrapper {
    position: relative;

    &.target-object {
        .inline-target::ng-deep input {
            padding-right: 1.5rem;
        }

        .inline-clear-button {
            display: block;
        }
    }

    .inline-clear-button {
        position: absolute;
        display: none;
        right: 0.7rem;
        top: 0.35rem;
        width: 1rem;
        height: 1rem;
        font-size: 1rem;
        color: $gtx-color-alert;
        background: none;
        border: none;
        cursor: pointer;

        .button-icon {
            width: inherit;
            height: inherit;
            font-size: inherit;
        }
    }
}

.format-button.link-checker-icon {
    cursor: default;
    user-select: none;

    &.link-checker-valid {
        color: $gtx-color-success;
    }

    &.link-checker-invalid {
        color: $gtx-color-alert;
    }

    &.link-checker-loading {
        color: $gtx-color-warning;
    }
}

.format-checkbox {
    @include format-element;

    &::ng-deep {
        .icon-checkbox-wrapper {
            width: 20px;
            height: 20px;
            font-size: 20px;

            .item-icon {
                width: inherit;
                height: inherit;
                font-size: inherit;

                >* {
                    width: inherit;
                    height: inherit;
                    font-size: inherit;
                }
            }

            .item-checkbox {
                position: relative;
                top: unset;
                left: unset;
                width: inherit;
                height: inherit;
                font-size: inherit;

                gtx-checkbox {
                    width: inherit;
                    height: inherit;
                    font-size: inherit;

                    input[type="checkbox"] {
                        +label::before {
                            left: 4px;
                            width: 10px;
                            height: 10px;
                            top: 3px;
                        }

                        &:checked+label::before {
                            top: 0px;
                            left: 0px;
                            width: 4px;
                            height: 12px;
                        }
                    }
                }
            }
        }
    }
}

.link-options-wrapper {
    padding: 1rem 1rem 0 1rem;
}
