<div *ngIf="plugin" class="format-section link-group">
    <button
        class="format-button off-icon active-indicator-button"
        [class.active]="active"
        [title]="(active ? 'editor.format_link_remove' : 'editor.format_link_insert') | i18n"
        [disabled]="!active && !allowed"
        (click)="toggleActive()"
    >
        <icon data-icon-on="link" data-icon-off="link_off"></icon>
    </button>

    <ng-container *ngIf="active">

        <div class="target-input-wrapper" [class.target-object]="isTargetObject">
            <gtx-input
                #targetInput
                class="inline-target"
                [title]="'editor.format_link_target' | i18n"
                [readonly]="isTargetObject"
                [value]="!isTargetObject ? targetUrl : (loadingObject ? ('editor.format_link_target_loading' | i18n) : targetObject?.name)"
                (change)="updateLinkTarget($event)"
            ></gtx-input>

            <button
                class="inline-clear-button"
                [title]="'editor.format_link_remove_cms_target' | i18n"
                (click)="clearLinkTargetObject()"
            >
                <icon class="button-icon">close</icon>
            </button>
        </div>

        <button
            class="format-button"
            [title]="'editor.format_link_pick_cms_target' | i18n"
            (click)="selectLinkTarget()"
        >
            <icon>pan_tool_alt</icon>
        </button>

        <ng-container *ngIf="linkChecker.enabled">
            <button
                class="format-button no-hover"
                [ngClass]="'link-checker-icon link-checker-' + linkChecker.status"
                [title]="('editor.format_link_checker_' + linkChecker.status) | i18n"
            >
                <icon>{{ (linkChecker.status === LinkCheckerStatus.LOADING ? 'hourglass_top'
                    : (linkChecker.status === LinkCheckerStatus.VALID ? 'check' : 'close')) }}</icon>
            </button>
        </ng-container>

        <gtx-dropdown-list [belowTrigger]="true" [sticky]="true">
            <gtx-dropdown-trigger>
                <button class="format-button" [title]="'editor.format_link_additional_options' | i18n">
                    <icon>more_vert</icon>
                </button>
            </gtx-dropdown-trigger>

            <gtx-dropdown-content>
                <div class="link-options-wrapper">
                    <gtx-input
                        class="format-input"
                        [label]="'editor.format_link_anchor' | i18n"
                        [value]="anchor"
                        (change)="updateAnchorValue($event)"
                    ></gtx-input>

                    <gtx-input
                        class="format-input"
                        [label]="'editor.format_link_title' | i18n"
                        [value]="title"
                        (change)="updateTitleValue($event)"
                    ></gtx-input>

                    <gtx-input
                        class="format-input"
                        [label]="'editor.format_link_language' | i18n"
                        [value]="language"
                        (change)="updateLanguageValue($event)"
                    ></gtx-input>
                </div>
            </gtx-dropdown-content>
        </gtx-dropdown-list>

        <icon-checkbox
            class="format-checkbox"
            icon="open_in_new"
            [selected]="newTab"
            [title]="'editor.format_link_new_tab' | i18n"
            (change)="setLinkNewTab($event)"
        ></icon-checkbox>
    </ng-container>
</div>

<div *ngIf="linkChecker.enabled" class="format-section">
    <gtx-dropdown-list
        [belowTrigger]="true"
        [disabled]="linkChecker.links?.length === 0"
    >
        <gtx-dropdown-trigger>
            <button
                class="format-button link-checker-status-button"
                [title]="'editor.format_link_checker' | i18n"
                [disabled]="linkChecker.links?.length === 0"
            >
                <div *ngIf="linkChecker.links?.length > 0" class="format-button-badge">{{ linkChecker.links?.length }}</div>
                <icon>cancel</icon>
            </button>
        </gtx-dropdown-trigger>

        <gtx-dropdown-content>
            <div class="broken-links-wrapper">
                <div *ngFor="let link of linkChecker.links" class="broken-link-item">
                    <span class="broken-link-text">{{ link.text }}</span>
                    <a href="#" class="broken-link" (click)="focusLink(link, $event)">{{ link.url }}</a>
                </div>
            </div>
        </gtx-dropdown-content>
    </gtx-dropdown-list>
</div>
