<div class="modal-title">
    <h5>{{ 'modal.multi_delete_title' | i18n:{
        count: items.length,
        _type: itemType | i18n
    } }}</h5>
</div>

<div class="modal-content">
    <gtx-contents-list-item *ngFor="let item of items">
        <div class="item-icon">
            <icon>{{ iconString }}</icon>
        </div>
        <div class="item-primary">
            <div class="item-name-container">
                <div class="item-name">{{ item[idProperty] | replaceEscapedCharacters }}</div>
            </div>
        </div>
    </gtx-contents-list-item>
</div>

<div class="modal-footer">
    <gtx-button type="secondary" flat (click)="cancelFn()">{{ 'common.cancel_button' | i18n }}</gtx-button>
    <gtx-button type="alert" (click)="confirm()" class="confirm-button" [disabled]="deleteCount === 0">
        {{ 'modal.multi_delete_confirm_button' | i18n:{ count: deleteCount, _type: itemType | i18n } }}
    </gtx-button>
</div>
