<div class="modal-title">
  <gtx-progress-bar [active]="loading$ | async"></gtx-progress-bar>

  <h5>{{ titleKey | gtxI18n:titleParams }}</h5>

  <gtx-search-bar [ngModel]="filter$ | async"
    (ngModelChange)="setFilter($event)"
    [placeholder]="'common.search_placeholder' | gtxI18n"
    (clear)="setFilter('')"
    (search)="setSearch($event)">
    @if (search$ | async) {
      <div class="search-chip">
        <span class="chip-contents">
          <span class="searching">{{ 'common.searching' | gtxI18n }} </span>"{{ search$ | async }}"</span>
          <i class="remove-button material-icons" [attr.translate]="'no'" (click)="setSearch('')">close</i>
        </div>
      }
    </gtx-search-bar>
  </div>

  <repository-browser-breadcrumb
    [nodes]="nodes$ | async"
    [parents]="parentItems$ | async"
    [hasFavourites]="showFavourites$ | async"
    [canChangeNode]="!options.onlyInCurrentNode"
    (changeNode)="changeNode($event)"
    (changeParent)="changeParent($event)">
  </repository-browser-breadcrumb>

  <div class="modal-content">

    @if ((parentItems$ | async); as items) {
      @if (items.length === 1 && (allowed.folder || isPickingFolder)) {
        <div
          class="root-folder-entry"
          [ngClass]="'root-folder-type-' + items[0].type"
          >
          <icon-checkbox
            class="root-folder-checkbox"
            [icon]="items[0].type === 'channel' ? 'input' : 'device_hub'"
            [selected]="isSelected(items[0]) | async"
            (change)="toggleItemSelection(items[0], $event)"
          ></icon-checkbox>
          <span class="root-folder-name">{{ items[0].name }}</span>
        </div>
      }
    }

    @for (type of itemTypesToDisplay$ | async; track type) {
      @if ((observableForType[type] | async)?.length || ((noItemsOfAnyType$ | async) && allowed[type])) {
        <repository-browser-list
          [attr.data-type]="type"
          [attr.data-sort-by]="(sortOrder$ | async)?.[type]?.field"
          [attr.data-sort-order]="(sortOrder$ | async)?.[type]?.order"
          [itemType]="type"
          [contents]="observableForType[type] | async"
          [currentNodeId]="currentNodeId$ | async"
          [currentNode]="currentNode$ | async"
          [displayFields]="displayFieldsForType[type] | async"
          [pageShowPath]="pageShowPath$ | async"
          [displayNodeName]="(nodes$ | async)?.length > 1 && (isDisplayingFavouritesFolder$ | async)"
          [startPageId]="startPageId$ | async"
          [filtering]="!!(filter$ | async)"
          [searching]="!!(search$ | async)"
          [canBeSelected]="allowed[type] && (type !== 'folder' || !isPickingFolder)"
          [selected]="selected$ | async"
          (select)="selectItem($event)"
          (deselect)="deselectItem($event)"
          (itemClick)="itemClicked($event)"
          (updateDisplayFields)="updateDisplayFields(type, $event)"
          (pageLanguageIconClick)="onPageLanguageIconClicked($event)"
          (formLanguageIconClick)="onFormLanguageIconClicked($event)"
          >
        </repository-browser-list>
      }
    }

  </div>
  <div class="modal-footer" [class.no-permissions]="(hasPermissions$ | async) === false">
    <gtx-button
      (click)="cancelFn()"
      flat
      data-action="cancel"
      type="secondary"
    >{{ 'common.cancel_button' | gtxI18n }}</gtx-button>

    <gtx-button
      type="primary"
      data-action="confirm"
      [disabled]="!(canSubmit$ | async) || !(hasPermissions$ | async)"
      [title]="(hasPermissions$ | async) === false ? ('modal.repository_browser_insufficient_permissions_title' | gtxI18n) : ''"
      (click)="submitClicked()"
      >
      <icon left class="lock">lock</icon><span>{{ submitLabelKey | gtxI18n }}</span>
    </gtx-button>
  </div>
