<div class="overview-wrapper">
  @if (serverInfo || serverStatus) {
    <gtx-accordion
      open="true"
      triggerToggle="true"
      class="overview-accordion"
      [text]="'mesh.serverInfo' | gtxI18n"
      >
      <div class="overview-table-wrapper">
        <table  class="overview-table">
          <tbody>
            @for (entry of (serverInfo | gtxEntries); track entry.key) {
              <tr>
                <td>{{ ('mesh.serverInfo_' + entry.key) | gtxI18n }}</td>
                <td>{{ entry.value }}</td>
              </tr>
            }
            @if (serverStatus?.status) {
              <tr>
                <td>{{ 'mesh.serverStatus' | gtxI18n }}</td>
                <td>{{ ('mesh.serverStatus_' + serverStatus.status) | gtxI18n }}</td>
              </tr>
            }
          </tbody>
        </table>
      </div>
    </gtx-accordion>
  }

  @if (serverConfig) {
    <gtx-accordion
      triggerToggle="true"
      class="overview-accordion"
      [text]="'mesh.serverConfig' | gtxI18n"
      >
      <div class="overview-table-wrapper">
        <table class="overview-table">
          <tbody>
            @for (entry of (serverConfig | gtxEntries); track entry.key) {
              <tr>
                <td>{{ entry.key }}</td>
                <td>{{ entry.value }}</td>
              </tr>
            }
          </tbody>
        </table>
      </div>
    </gtx-accordion>
  }

  @if (coordConfig) {
    <gtx-accordion
      open="true"
      triggerToggle="true"
      class="overview-accordion"
      [text]="'mesh.clustering' | gtxI18n"
      >
      <div class="overview-table-wrapper">
        <table class="overview-table">
          <tbody>
            <tr>
              <td>{{ 'mesh.coordinatorMode' | gtxI18n }}</td>
              <td>{{ ('mesh.coordinatorMode_' + coordConfig.mode) | gtxI18n }}</td>
            </tr>
            @if (coordConfig?.mode !== CoordinatorMode.DISABLED) {
            }
          </tbody>
        </table>
      </div>
    </gtx-accordion>
  }

  @if (plugins) {
    <gtx-accordion
      open="false"
      triggerToggle="true"
      class="overview-accordion"
      [text]="'mesh.plugins' | gtxI18n"
      >
      <div class="overview-table-wrapper">
        <table class="overview-table">
          <thead>
            <tr>
              <th>{{ 'mesh.plugin_id' | gtxI18n }}</th>
              <th>{{ 'common.name' | gtxI18n }}</th>
              <th>{{ 'mesh.version' | gtxI18n }}</th>
              <th>{{ 'mesh.status' | gtxI18n }}</th>
            </tr>
          </thead>
          <tbody>
            @for (plugin of plugins; track plugin.id) {
              <tr>
                <td>{{ plugin.id }}</td>
                <td>{{ plugin.name }}</td>
                <td>{{ plugin.manifest.version }}</td>
                <td>{{ ('mesh.plugin_status_' + plugin.status) | gtxI18n }}</td>
              </tr>
            }
          </tbody>
        </table>
      </div>
    </gtx-accordion>
  }
</div>
