:host {
    display: block;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.overview-wrapper {
    display: block;
    height: 100%;
    width: 100%;
    overflow: auto;
}

.overview-table-wrapper {
    padding-left: 3rem;
}

.overview-table {
    thead tr {
        border-bottom: 1px solid rgba(0, 0, 0, 0.24);

        th {
            font-weight: bold;
            padding: 6px 10px;
            border-right: 1px solid rgba(0, 0, 0, 0.24);

            &:first-child {
                padding-left: 0;
            }

            &:last-child {
                border-right: none;
            }
        }
    }

    tr > td {
        border-right: 1px solid rgba(0, 0, 0, 0.12);
        padding: 6px 10px;
        text-wrap: wrap;
        word-break: break-word;
    }

    tr > td:first-child {
        font-weight: bold;
        padding-left: 0;
    }

    tr > td:last-child {
        border-right: none;
    }

    tr:last-child {
        border-bottom: none;
    }
}

.overview-accordion {
    display: block;
    width: 100%;
    margin-bottom: 2rem;
    padding: 0 1rem 1rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}
