.overview-table-wrapper {
    padding-left: 3rem;
}

.overview-table {
    tr > td:first-child {
        font-weight: bold;
        padding-right: 10px;
        border-right: 1px solid rgba(0, 0, 0, 0.12);
    }

    tr > td:nth-child(2) {
        padding-left: 10px;
    }

    tr:last-child {
        border-bottom: none;
    }
}

.overview-accordion {
    display: block;
    width: 100%;
    margin-bottom: 2rem;
    padding: 0 1rem 1rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}
