/* Always hide the toolbar - Everything is getting rendered via GCMSUI surface */
.aloha.aloha-surface.aloha-toolbar {
	display: none !important;
}

.gcn-link-uri-warning .aloha .ui-widget input {
	color: red !important;
}
.aloha span.gcn-link-warning-icon {
	display: none;
	cursor: default;
	background: #ffe767;
	border-radius: 12px;
	border: 2px solid #eed656;
	width: 12px;
	height: 12px;
	padding: 0;
	margin-left: 2px;
	font-weight: bold;
	font-size: 12px;
	text-align: center;
	line-height: 12px;
	color: #aa9212;
}
.aloha .gcn-link-uri-warning span.gcn-link-warning-icon {
	display: inline-block;
}

.gcn-stop-scrolling {
	height: 100%;
	overflow: hidden;
}

/* --------------- */

.GENTICS_block {
	--gtx-block-handle-gap: 4px;
	position: relative;
}

.GENTICS_block .aloha-construct-buttons-container {
	display: flex !important;
	flex-direction: row;
	flex-wrap: nowrap;
	position: absolute;
	top: 0;
	left: 0;

	width: unset;
	height: unset;
	background: none;
	border: none;
	border-radius: 0;
	transition: 200ms;
}

.GENTICS_block .aloha-construct-buttons-container {
	--gtx-block-handle-item-width: 30px;
	--gtx-block-handle-item-height: 30px;
}

.GENTICS_block .aloha-construct-buttons-container .gcn-block-button,
.GENTICS_block .aloha-construct-buttons-container .gcn-construct-drag-handle {
	width: var(--gtx-block-handle-item-width);
	height: var(--gtx-block-handle-item-height);
	padding: 4px;
	margin: 0;
	border: 1px solid #d6d6d6;
	outline: none;
	display: flex;
	box-sizing: border-box;
	transition: 200ms;
	z-index: 100;
	user-select: none;
	overflow: hidden;
}

.GENTICS_block .aloha-construct-buttons-container .gcn-block-button.gcn-construct-button-edit {
	background: #0096DC;
	color: #fff;
}

.GENTICS_block .aloha-construct-buttons-container .gcn-block-button.gcn-construct-button-edit:hover {
	background: #00a7f6;
}

.GENTICS_block .aloha-construct-buttons-container .gcn-block-button.gcn-construct-button-delete {
	background: #c9302c;
	color: #fff;
}

.GENTICS_block .aloha-construct-buttons-container .gcn-block-button.gcn-construct-button-delete:hover {
	background: #d9534f;
}

.GENTICS_block .aloha-construct-buttons-container .gcn-construct-drag-handle {
	cursor: move;
	position: relative;
	background: none;
	left: unset;
	top: unset;
	border-radius: 0;
	background: #f5f5f5;
	color: #222;
}

.GENTICS_block .aloha-construct-buttons-container .gcn-construct-drag-handle:not(.aloha-block-draghandle) {
	display: none;
}

.GENTICS_block .aloha-construct-buttons-container .gcn-block-button .aloha-block-button-icon,
.GENTICS_block .aloha-construct-buttons-container .gcn-construct-drag-handle .aloha-block-button-icon {
	font-size: 22px;
	width: 22px;
	height: 22px;
	text-align: center;
	margin: auto;
}

.GENTICS_block[data-gcn-constructdisplay="above"] {
	margin-top: calc(var(--gtx-block-handle-height) + (var(--gtx-block-handle-gap) * 2));
}

.GENTICS_block[data-gcn-constructdisplay="above"] .aloha-construct-buttons-container {
	margin-top: calc((var(--gtx-block-handle-height) + var(--gtx-block-handle-gap)) * -1);
	margin-left: -2px;
}

.GENTICS_block[data-gcn-constructdisplay="aside"] .aloha-construct-buttons-container,
.GENTICS_block[data-gcn-constructdisplay="click"] .aloha-construct-buttons-container {
	margin-left: calc((var(--gtx-block-handle-width) + var(--gtx-block-handle-gap)) * -1);
	flex-direction: column;
}

.GENTICS_block[data-gcn-constructdisplay="inside"] .aloha-construct-buttons-container {
	opacity: 0;
}

.GENTICS_block[data-gcn-constructdisplay="inside"]:hover .aloha-construct-buttons-container {
	opacity: 1;
}

.GENTICS_block[data-gcn-constructdisplay="click"] .aloha-construct-buttons-container .gcn-block-button {
	display: none;
}
