<gtx-progress-bar [active]="loading || backgroundActivity"></gtx-progress-bar>
@if (backgroundActivity) {
  <div class="activity-overlay"></div>
}

<div class="modal-title">
  <h5>
    <span>{{ 'modal.page_versions_title_prefix' | gtxI18n }}</span>
    <span class="page-name" title="(selectedPageVariant || page).name">{{ (selectedPageVariant || page).name }}</span>
    @if (languageVariants ? languageVariants.length > 0 : page.language != null) {
      <span class="pre">{{ 'modal.page_versions_title_suffix' | gtxI18n }}</span>
    }
    @if (languageVariants ? languageVariants.length === 0 : page.language == null) {
      <span class="pre">{{ 'modal.page_versions_title_suffix_no_languages' | gtxI18n }}</span>
    }
    @if (!languageVariants && !!page.language) {
      <span>{{ 'lang.' + page.language | gtxI18n }}</span>
    }
    @if (languageVariants?.length === 1) {
      <span>{{ 'lang.' + selectedPageVariant.language | gtxI18n }}</span>
    }
    @if (languageVariants?.length > 1) {
      <span>
        <gtx-dropdown-list align="right">
          <gtx-dropdown-trigger>
            <span class="clickable">{{ 'lang.' + selectedPageVariant.language | gtxI18n }}</span>
            <gtx-button flat icon><i class="material-icons" [attr.translate]="'no'">arrow_drop_down</i></gtx-button>
          </gtx-dropdown-trigger>
          <gtx-dropdown-content>
            @for (variant of languageVariants; track variant) {
              <gtx-dropdown-item (click)="selectVariant(variant)">
                {{ 'lang.' + variant.language | gtxI18n }}
              </gtx-dropdown-item>
            }
          </gtx-dropdown-content>
        </gtx-dropdown-list>
      </span>
    }
  </h5>
</div>

<div class="modal-content">

  @if (!selectedPageVariant) {
    <div class="loading-placeholder">
      <span class="text">{{ 'modal.page_versions_loading' | gtxI18n }}</span>
    </div>
  }

  @if (selectedPageVariant?.versions?.length === 0) {
    <div>
      <gtx-contents-list-item>
        <div class="item-icon"><i class="material-icons" [attr.translate]="'no'">not_interested</i></div>
        <div class="item-primary">{{ 'modal.page_versions_empty_label' | gtxI18n }}</div>
      </gtx-contents-list-item>
    </div>
  }

  @if (selectedPageVariant?.versions?.length > 0) {
    <div class="version-list">
      @for (version of selectedPageVariant.versions; track version) {
        <gtx-contents-list-item>
          <div class="item-primary">
            <span class="item-name">{{ 'modal.page_versions_item' | gtxI18n:{ version: version.number } }}</span>
            <span class="item-date">{{ 'modal.page_versions_date_label' | gtxI18n:{ date: (version.timestamp | gtxI18nDate), time: (version.timestamp | gtxI18nDate:'time') } }}</span>
            <span class="item-editor">{{ 'modal.page_versions_editor_label' | gtxI18n:{ name: version.editor.firstName + ' ' + version.editor.lastName } }}</span>
          </div>
          <div class="item-indicators">
            @if (version === published) {
              <span [title]="'modal.page_versions_tooltip_published_version' | gtxI18n:{ _language: selectedPageVariant.language }"
                class="published">
                <i class="material-icons" [attr.translate]="'no'">cloud_upload</i>{{ 'modal.page_versions_published_label' | gtxI18n }}
              </span>
            }
            @if (planned && version === current && (plannedOfflineDate > 0 && plannedOnlineDate === 0 || plannedOfflineDate > 0 && plannedOnlineDate > 0 && plannedOfflineDate < plannedOnlineDate)) {
              <span [title]="'modal.page_versions_tooltip_planned_offline_version' | gtxI18n:{ _language: selectedPageVariant.language }"
                class="planned_offline">
                <i class="material-icons" [attr.translate]="'no'">cloud_off</i>{{ 'modal.page_version_planned_offline_date' | gtxI18n:{ date: (plannedOfflineDate | gtxI18nDate)} }}
              </span>
            }
            @if (planned && version.number === plannedVersion && (plannedOnlineDate > 0 && plannedOfflineDate === 0 || plannedOfflineDate > 0 && plannedOnlineDate > 0 && plannedOnlineDate < plannedOfflineDate)) {
              <span [title]="'modal.page_versions_tooltip_planned_online_version' | gtxI18n:{ _language: selectedPageVariant.language }"
                class="planned_online">
                <i class="material-icons" [attr.translate]="'no'">cloud_off</i>{{ 'modal.page_version_planned_online_date' | gtxI18n:{ date: (plannedOnlineDate | gtxI18nDate)} }}
              </span>
            }
            @if (version === current) {
              <span [title]="'modal.page_versions_tooltip_current_version' | gtxI18n:{ _language: selectedPageVariant.language }"
                class="current">{{ 'modal.page_versions_current_label' | gtxI18n }}
              </span>
            }
          </div>
          @if (!compareBaseVersion) {
            <div class="item-actions">
              <div class="action-buttons">
                <gtx-button flat type="primary" size="small" (click)="previewVersion(version)"
                  [title]="'page_versions_tooltip_preview' | gtxI18n:{ version: version.number }">
                  <i class="material-icons left" [attr.translate]="'no'">pageview</i>
                  <span> {{ 'modal.page_versions_preview_button' | gtxI18n }}</span>
                </gtx-button>
                @if (selectedPageVariant.versions.length >= 2) {
                  <gtx-button flat type="primary" size="small"
                    (click)="compareFromVersion(version)"
                    >
                    <i class="material-icons left" [attr.translate]="'no'">compare_arrows</i> {{ 'modal.page_versions_compare_button' | gtxI18n }}
                  </gtx-button>
                }
              </div>
              <gtx-dropdown-list align="right">
                <gtx-dropdown-trigger>
                  <gtx-button icon type="secondary">
                    <i class="material-icons" [attr.translate]="'no'">more_vert</i>
                  </gtx-button>
                </gtx-dropdown-trigger>
                <gtx-dropdown-content>
                  @if (version === current) {
                    <gtx-dropdown-item class="disabled" [title]="'modal.page_versions_tooltip_already_current_version' | gtxI18n">
                      <i class="material-icons left" [attr.translate]="'no'">settings_backup_restore</i> {{ 'modal.page_versions_restore_button' | gtxI18n }}
                    </gtx-dropdown-item>
                  }
                  @if (version !== current) {
                    <gtx-dropdown-item (click)="restoreVersion(version)">
                      <i class="material-icons left" [attr.translate]="'no'">settings_backup_restore</i> {{ 'modal.page_versions_restore_button' | gtxI18n }}
                    </gtx-dropdown-item>
                  }
                </gtx-dropdown-content>
              </gtx-dropdown-list>
            </div>
          }
          @if (version === compareBaseVersion) {
            <div class="item-actions">
              <gtx-button flat size="small" type="secondary" (click)="cancelComparing()">{{ 'modal.page_versions_cancel_button' | gtxI18n }}</gtx-button>
            </div>
          }
          @if (compareBaseVersion != null && version !== compareBaseVersion) {
            <div class="item-actions">
              <gtx-button flat size="small" (click)="compareWithVersion(version)">
                <i class="material-icons left" [attr.translate]="'no'">compare_arrows</i> {{ 'modal.page_versions_compare_button' | gtxI18n }}
              </gtx-button>
            </div>
          }
        </gtx-contents-list-item>
      }
    </div>
  }
</div>
<div class="modal-footer">
  <gtx-button flat type="secondary" (click)="closeFn()">{{ 'modal.page_versions_close_button' | gtxI18n }}</gtx-button>
</div>
