@import "variables";

:host {
    ::ng-deep input[type=text] {
        margin-bottom: 5px;
    }

    @include input-label-styles('.tag-prop-label');

    .tag-prop-label {
        position: static;
        font-size: 0.8rem;
    }

    .row.internal-external-selector {
        margin-left: 0;

        gtx-radio-button {
            margin-right: 10px;
        }
    }

}
