<div class="gtx-editor-tabs gtx-overflow-managed">
    <ng-container *ngFor="let tab of tabs">
        <div
            *ngIf="tab.hasSlotsToRender"
            class="editor-tab"
            [attr.data-id]="tab.id"
            [class.active]="tab.id === activeTab"
            (click)="setActiveTab(tab.id)"
        >
            <div class="tab-icon">
                <icon>{{ tab.icon }}</icon>
            </div>
            <div class="tab-label">{{ tab.label | i18n }}</div>
        </div>
    </ng-container>
</div>
