<div #tabContainer class="gtx-editor-tabs gtx-overflow-managed">
    <ng-container *ngFor="let tab of tabs; trackBy: identifyTab">
        <button
            *ngIf="tab.hasVisibleGroups && (tab.id !== TAB_ID_LINK_CHECKER || linkCheckerEnabled)"
            class="editor-tab"
            [attr.data-id]="tab.id"
            [class.active]="tab.id === activeTab"
            [disabled]="tagEditorOpen"
            (click)="setActiveTab(tab.id)"
        >
            <div class="tab-icon">
                <icon>{{ tab.icon }}</icon>
                <div *ngIf="tab.id === TAB_ID_LINK_CHECKER && brokenLinkCount" class="icon-badge">
                    {{ brokenLinkCount }}
                </div>
            </div>
            <div class="tab-label">{{ tab.label | i18n }}</div>
        </button>
    </ng-container>
</div>
