<div #tabContainer class="gtx-editor-tabs gtx-overflow-managed">
  @for (tab of visibleTabs; track identifyTab($index, tab)) {
    <button
      class="editor-tab"
      [attr.data-id]="tab.id"
      [class.active]="tab.id === activeTab"
      [disabled]="tagEditorOpen"
      (click)="handleUserChangeTab(tab.id)"
      >
      <div class="tab-icon">
        <icon>{{ tab.icon }}</icon>
        @if (tab.id === TAB_ID_LINK_CHECKER && brokenLinkCount) {
          <div class="icon-badge">
            {{ brokenLinkCount }}
          </div>
        }
      </div>
      <div class="tab-label">{{ tab.label | gtxI18n }}</div>
    </button>
  }
</div>
