@import "variables";

.heading {
    border-bottom: 1px solid $gtx-color-light-gray;
    font-size: $gtx-font-size-lead;
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
    .title {
        padding-top: 2px;
        margin-right: 30px;
    }
}

.split-row {
    @media screen and (min-width: $small-screen){
        display: flex;
        > * {
            flex: 1;
            &:not(:first-child) {
                margin-left: 20px;
            }
        }
    }
}

.name-row {
    display: flex;
    flex-direction: column;
    gtx-input {
        flex: 1;

        ::ng-deep input[type=text] {
            margin-bottom: 5px;
        }
    }
}

.inheritance-info {
    color: $gcms-color-icon-inheritance;
    display: flex;
    margin-bottom: 19px;
    margin-left: 8px;
    icon {
        margin-right: 3px;
    }
}

.checkbox-row {
    margin-bottom: 20px;
}

.default-folder-select {
    display: flex;

    gtx-input {
        flex: 1;
    }
    gtx-button {
        margin-top: 24px;
        margin-left: 8px;
    }
}

.publishing-section {
    &.disabled {
        opacity: 0.7;
    }
    .section {
        margin-bottom: 30px;
    }
}

.publish-target {
    margin-left: 5px;
    text-transform: uppercase;
    border-bottom: 1px solid $gtx-color-very-light-gray;
    margin-bottom: 6px;
    ::ng-deep label {
        color: $gtx-color-dark-gray;
    }
}

.section-split {
    display: flex;
    justify-content: space-between;
    > * {
        flex: 1;
        margin: 0 8px;
    }
    .type {
        text-transform: capitalize;
        display: flex;
        margin-left: -3px;
    }
    &.disabled {
        opacity: 0.5;
    }
}

.link-inputs-wrapper {
    position: relative;
    .link-inputs {
        cursor: pointer;
        position: absolute;
        right: -20px;
        bottom: 18px;
        z-index: 1;
        color: $gtx-color-mid-gray;
        &.active {
            color: $gtx-color-primary;
        }
        &.disabled {
            color: $gtx-color-light-gray;
            cursor: default;
        }
    }
}
