<gtx-dropdown-list align="right" data-context-id="folder-options">
  <gtx-dropdown-trigger>
    <gtx-button data-context-trigger icon type="secondary">
      <icon>more_vert</icon>
    </gtx-button>
  </gtx-dropdown-trigger>

  <gtx-dropdown-content data-context-id="folder-options">
    @if (uiMode === UIMode.EDIT) {
      @if (buttons.nodeProperties) {
        <gtx-dropdown-item (click)="nodePropertiesClicked()" class="node-properties" data-action="node-properties">
          <icon left>settings_applications</icon>
          {{ 'editor.node_properties_label' | gtxI18n }}
        </gtx-dropdown-item>
      }
      @if (buttons.properties) {
        <gtx-dropdown-item (click)="propertiesClicked()" data-action="properties">
          <icon left>settings</icon>
          {{ 'editor.folder_properties_label' | gtxI18n }}
        </gtx-dropdown-item>
      }
      @if (buttons.localize) {
        <gtx-dropdown-item (click)="localizeClicked(item)" data-action="localize">
          <icon left>insert_drive_file</icon>
          {{ 'editor.localize_label' | gtxI18n }}
        </gtx-dropdown-item>
      }
      @if (buttons.inheritanceSettings && !isBaseFolder) {
        <gtx-dropdown-item (click)="inheritanceClicked()" data-action="inheritance-settings">
          <icon left>input</icon>
          {{ 'editor.inheritance_settings_label' | gtxI18n }}
        </gtx-dropdown-item>
      }
      @if (buttons.synchronizeChannel && !isBaseFolder) {
        <gtx-dropdown-item (click)="synchronizeClicked()" data-action="synchronize-channel">
          <icon left>file_upload</icon>
          {{ 'editor.synchronize_channel_label' | gtxI18n }}
        </gtx-dropdown-item>
      }
      @if (buttons.copy && !isBaseFolder) {
        <gtx-dropdown-item (click)="copyClicked()" data-action="copy">
          <icon left>file_copy</icon>
          {{ 'editor.copy_label' | gtxI18n }}
        </gtx-dropdown-item>
      }
      @if (buttons.move && !isBaseFolder) {
        <gtx-dropdown-item (click)="moveClicked()" data-action="move">
          <icon left>subdirectory_arrow_right</icon>
          {{ 'editor.move_label' | gtxI18n }}
        </gtx-dropdown-item>
      }
      @if (buttons.linkTemplates) {
        <gtx-dropdown-item (click)="linkToTemplatesClicked()" data-action="link-templates">
          <icon left>link</icon>
          {{ 'editor.link_templates_to_folder_button' | gtxI18n }}
        </gtx-dropdown-item>
      }
      @if (buttons.delete && !isBaseFolder) {
        <gtx-dropdown-item (click)="deleteClicked()" class="alert" data-action="delete">
          <icon left>delete</icon>
          {{ 'editor.delete_label' | gtxI18n }}
        </gtx-dropdown-item>
      }
      @if (buttons.unlocalize && !isBaseFolder) {
        <gtx-dropdown-item (click)="deleteClicked()" class="alert" data-action="restore">
          <icon left>restore_page</icon>
          {{ 'editor.delete_localized_label' | gtxI18n }}
        </gtx-dropdown-item>
      }
    }

    @if (uiMode === UIMode.STAGING) {
      @if (buttons.staging) {
        <gtx-dropdown-item (click)="stagingClicked(false)" data-action="stage">
          <icon left>{{ (stagingMap?.[folder.globalId]?.included ? 'remove' : 'inventory') }}</icon>
          {{ 'editor.' + (stagingMap?.[folder.globalId]?.included ? 'un' : '')  + 'stage_item_label' | gtxI18n:{
          itemType: ('common.type_folder' | gtxI18n),
          itemTypePlural: 'common.type_folders' |gtxI18n
          } }}
        </gtx-dropdown-item>
      }
      @if (buttons.staging && !stagingMap?.[folder.globalId]?.included) {
        <gtx-dropdown-item (click)="stagingClicked(true)" data-action="stage-recursive">
          <icon left>input</icon>
          {{ 'editor.stage_item_recursive_label' | gtxI18n:{
          itemType: 'common.type_folder' |gtxI18n,
          itemTypePlural: 'common.type_folders' |gtxI18n
          } }}
        </gtx-dropdown-item>
      }
    }
  </gtx-dropdown-content>
</gtx-dropdown-list>
