@import "variables";

.tag-editor-bg {
    display: none;
    flex-direction: row;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    padding-top: 4rem;
    align-items: flex-start;
    justify-content: center;

    &.visible {
        display: flex;
    }

    .tag-editor {
        display: flex;
        align-items: stretch;

        width: 90%;
        min-height: 1px;
        max-height: calc((var(--gtx-vvh) * 0.9) - 4rem);

        background-color: white;
        padding: 20px;
        border-radius: 2px;
        box-shadow: 0 16px 28px 0 rgba(0, 0, 0, 0.22), 0 25px 55px 0 rgba(0, 0, 0, 0.21);
    }
}
