<gtx-search-bar
    *ngIf="showSearch"
    class="search-bar"
    [query]="query"
    [placeholder]="'shared.search' | i18n"
    (search)="updateSearchQuery($event)"
    (clear)="updateSearchQuery('')"
></gtx-search-bar>

<div *ngIf="(sorting && nodeId)|| (!sorting && !hideActions)" class="entity-table-actions-bar">
    <gtx-button
        *ngIf="!hideActions && !sorting"
        class="table-action-button"
        flat
        size="small"
        type="primary"
        [disabled]="disabled"
        [gtxActionAllowed]="'role.createRole'"
        (click)="handleCreateButton()"
    >
        <icon left>add</icon> {{ 'shared.create_new_language_button' | i18n }}
    </gtx-button>

    <gtx-button
        *ngIf="sorting && nodeId"
        class="table-action-button"
        flat
        size="small"
        type="primary"
        [disabled]="disabled"
        (click)="handleNodeLanguageAssignment()"
    >
        <icon left>add</icon> {{ 'shared.assign_languages_to_node' | i18n }}
    </gtx-button>
</div>

<div *ngIf="selectable" class="entity-table-selection">
    {{ 'shared.info_active_languages' | i18n:{ amountSelected: selected?.length, amountTotal: totalCount } }}
</div>

<gtx-progress-bar class="load-bar" [active]="loading"></gtx-progress-bar>

<gtx-table
    class="entity-table"

    [selectAllType]="TableSelectAllType.PAGE"
    [selectable]="selectable"
    [hideActions]="hideActions"
    [disabled]="disabled"
    [paginated]="!sorting"
    [sortable]="!sorting"

    [columns]="columns"
    [rows]="rows"
    [actions]="actions"
    [selected]="selected"
    [active]="activeEntity"
    [totalCount]="totalCount"

    [page]="page"
    [perPage]="perPage"
    [sortBy]="sortBy"
    [sortOrder]="sortOrder"

    [renderers]="{}"

    (pageChange)="changePageTo($event)"
    (sortByChange)="updateSortBy($event)"
    (sortOrderChange)="updateSortOrder($event)"
    (selectedChange)="updateSelection($event)"
    (select)="forwardSelect($event)"
    (deselect)="forwardDeselect($event)"
    (rowClick)="handleRowClick($event)"
    (actionClick)="handleAction($event)"
></gtx-table>
