@if (visible$ | async) {
  <gtx-dropdown-list
    belowTrigger="true" align="right" (open)="dropdownOpened()">
    <gtx-dropdown-trigger>
      <gtx-button icon type="secondary">
        <icon>apps</icon>
      </gtx-button>
    </gtx-dropdown-trigger>
    <gtx-dropdown-content #dropdownContent>
      <div class="arrow"></div>
      <div class="buttons">
        @if (isAdmin$ | async) {
          <a class="adminUILink" [href]="adminUILink" (click)="adminUIClicked($event)">
            <div class="tool-icon">
              <icon class="material-icons" [attr.translate]="'no'">tune</icon>
            </div>
            @if (toolsService.isAdminUIOpen()) {
              <a class="close-button" (click)="closeAdminUI($event)">
                <icon>close</icon>
              </a>
            }
            @if ((isAdmin$ | async) && !(toolsService.isAdminUIOpen())) {
              <div class="new-tab-icon">
                <icon [title]="'common.tool_opens_in_new_tab' | gtxI18n">open_in_new</icon>
              </div>
            }
            <div class="tool-name">
              <span>Administration</span>
            </div>
          </a>
        }
        @if ((tools$ | async).length > 0 && (isAdmin$ | async)) {
          <hr>
          }
          @for (tool of tools$ | async; track tool.id) {
            <tool-button [tool]="tool">
            </tool-button>
          }
        </div>
      </gtx-dropdown-content>
    </gtx-dropdown-list>
  }
