@if (form) {
  <form [formGroup]="form" class="gtx-form">
    <div class="row">
      <div class="input-container small-12 medium-6 columns">
        <div class="gtx-form-section-title">{{ 'shared.title_general' | gtxI18n }}</div>
        <gtx-input
          type="text"
          [required]="true"
          [label]="('node.node_name' | gtxI18n) + ' *'"
          [placeholder]="'node.node_name' | gtxI18n"
          formControlName="name"
        ></gtx-input>
        @if (multiChannelingEnabled) {
          @if (mode === NodePropertiesMode.CREATE) {
            <gtx-select
              [label]="'node.derives_from' | gtxI18n:{ master: '' }"
              [clearable]="true"
              [placeholder]=""
              formControlName="inheritedFromId"
              >
              @for (node of nodes; track node) {
                <gtx-option
                  [value]="node.id"
                >{{ node.name }}</gtx-option>
              }
            </gtx-select>
          } @else {
            @if (isChannel) {
              <div class="gtx-inheritance-info">
                <icon>input</icon>
                {{ 'node.derives_from' | gtxI18n:{ master: inheritedFromName || '' } }}
              </div>
            }
          }
        }
        <gtx-textarea
          [required]="false"
          [label]="'shared.description' | gtxI18n"
          [placeholder]="'shared.description' | gtxI18n"
          formControlName="description"
        ></gtx-textarea>
        @if (meshCrEnabled) {
          <div class="gtx-form-section-title">{{ 'node.title_portal_configuration' | gtxI18n }}</div>
          <gtx-input
            type="text"
            [required]="false"
            [label]="('node.mesh_project_name' | gtxI18n)"
            [placeholder]="'node.mesh_project_name' | gtxI18n"
            formControlName="meshProjectName"
          ></gtx-input>
          <gtx-select
            [label]="('node.mesh_preview_url_type' | gtxI18n) + ' *'"
            [value]="previewType"
            [clearable]="false"
            formControlName="previewType"
            >
            @for (type of MESH_PREVIEWURL_TYPES; track type) {
              <gtx-option
                [value]="type.id"
              >{{ type.label | gtxI18n }}</gtx-option>
            }
          </gtx-select>
          <gtx-input
            type="text"
            [label]="('node.mesh_preview_url' | gtxI18n)"
            [placeholder]="'node.mesh_preview_url' | gtxI18n"
            formControlName="meshPreviewUrl"
          ></gtx-input>
          @if (form?.controls?.meshPreviewUrlProperty?.enabled) {
            <gtx-input
              type="text"
              [required]="true"
              [label]="('node.mesh_preview_url_property' | gtxI18n)"
              [placeholder]="'node.mesh_preview_url_property' | gtxI18n"
              formControlName="meshPreviewUrlProperty"
            ></gtx-input>
            @if (form?.controls?.meshPreviewUrlProperty?.errors?.[VALIDATOR_REGEX_ERROR_PROPERTY]) {
              <span
                class="container-validator-errors"
                >
                {{ 'node.mesh_preview_url_property_pattern' | gtxI18n }}
              </span>
            }
          }
          <gtx-checkbox
            [label]="'node.allow_insecure_mesh_preview_url' | gtxI18n"
            formControlName="insecurePreviewUrl"
          ></gtx-checkbox>
          <gtx-checkbox
            [label]="'node.pub_img_variants' | gtxI18n"
            formControlName="publishImageVariants"
          ></gtx-checkbox>
        }
      </div>
      <div class="input-container small-12 medium-6 columns">
        <div class="gtx-form-section-title">{{ 'node.title_networking' | gtxI18n }}</div>
        <gtx-select
          [label]="('node.hostnameType' | gtxI18n) + ' *'"
          [value]="hostType"
          [clearable]="false"
          formControlName="hostType"
          >
          @for (type of HOSTNAME_TYPES; track type) {
            <gtx-option
              [value]="type.id"
            >{{ type.label | gtxI18n }}</gtx-option>
          }
        </gtx-select>
        <gtx-input
          type="text"
          [required]="true"
          [label]="('node.hostname' | gtxI18n) + ' *'"
          [placeholder]="'node.hostname' | gtxI18n"
          formControlName="host"
        ></gtx-input>
        @if (form?.controls?.hostProperty?.enabled) {
          <gtx-input
            type="text"
            [required]="true"
            [label]="('node.hostnameProperty' | gtxI18n) + ' *'"
            [placeholder]="'node.hostnameProperty' | gtxI18n"
            formControlName="hostProperty"
          ></gtx-input>
          @if (form?.controls?.hostProperty?.errors?.[VALIDATOR_REGEX_ERROR_PROPERTY]) {
            <span
              class="container-validator-errors"
              >
              {{ 'node.hostnameProperty_pattern' | gtxI18n }}
            </span>
          }
        }
        <div class="property-section">
          <div class="gtx-form-section-title">{{ 'node.title_content' | gtxI18n }}</div>
          <div class="gtx-two-col-options">
            @if (pubDirSegmentActivated) {
              <gtx-checkbox
                [label]="'node.pub_dir_segments' | gtxI18n"
                formControlName="pubDirSegment"
              ></gtx-checkbox>
            }
          </div>
          @if (mode !== NodePropertiesMode.CREATE) {
            <gtx-folder-picker
              [label]="'node.default_file_folder' | gtxI18n"
              formControlName="defaultFileFolderId"
            ></gtx-folder-picker>
            <gtx-folder-picker
              [label]="'node.default_image_folder' | gtxI18n"
              formControlName="defaultImageFolderId"
            ></gtx-folder-picker>
          }
        </div>
      </div>
    </div>
  </form>
}
