<form *ngIf="form" [formGroup]="form" class="gtx-form">
    <div class="row">

        <div class="input-container small-12 medium-6 columns">
            <div class="gtx-form-section-title">{{ 'shared.title_general' | i18n }}</div>

            <gtx-input
                type="text"
                [required]="true"
                [label]="('node.node_name' | i18n) + ' *'"
                [placeholder]="'node.node_name' | i18n"
                formControlName="name"
            ></gtx-input>

            <ng-container *ngIf="multiChannelingEnabled">
                <ng-container *ngIf="mode === NodePropertiesMode.CREATE; else inheritedFromNotChangeable">
                    <gtx-select
                        [label]="'node.derives_from' | i18n:{ master: '' }"
                        [clearable]="true"
                        [placeholder]=""
                        formControlName="inheritedFromId"
                    >
                        <gtx-option
                            *ngFor="let node of nodes"
                            [value]="node.id"
                        >{{ node.name }}</gtx-option>
                    </gtx-select>
                </ng-container>

                <ng-template #inheritedFromNotChangeable>
                    <div *ngIf="isChannel" class="gtx-inheritance-info">
                        <icon>input</icon>
                        {{ 'node.derives_from' | i18n:{ master: masterName } }}
                    </div>
                </ng-template>
            </ng-container>

            <gtx-textarea
                [required]="false"
                [label]="'shared.description' | i18n"
                [placeholder]="'shared.description' | i18n"
                formControlName="description"
            ></gtx-textarea>

            <ng-container *ngIf="meshCrEnabled">
                <div class="gtx-form-section-title">{{ 'node.title_portal_configuration' | i18n }}</div>

                <gtx-select
                    [label]="('node.mesh_preview_url_type' | i18n) + ' *'"
                    [value]="previewType"
                    [clearable]="false"
                    formControlName="previewType"
                >
                    <gtx-option
                        *ngFor="let type of MESH_PREVIEWURL_TYPES"
                        [value]="type.id"
                    >{{ type.label | i18n }}</gtx-option>
                </gtx-select>

                <gtx-input
                    type="text"
                    [label]="('node.mesh_preview_url' | i18n)"
                    [placeholder]="'node.mesh_preview_url' | i18n"
                    formControlName="meshPreviewUrl"
                ></gtx-input>

                <ng-container *ngIf="form?.controls?.meshPreviewUrlProperty?.enabled">
                    <gtx-input
                        type="text"
                        [required]="true"
                        [label]="('node.mesh_preview_url_property' | i18n)"
                        [placeholder]="'node.mesh_preview_url_property' | i18n"
                        formControlName="meshPreviewUrlProperty"
                    ></gtx-input>

                    <span
                        *ngIf="form?.controls?.meshPreviewUrlProperty?.errors?.[VALIDATOR_REGEX_ERROR_PROPERTY]"
                        class="container-validator-errors"
                    >
                        {{ 'node.mesh_preview_url_property_pattern' | i18n }}
                    </span>
                </ng-container>

                <gtx-checkbox
                    [label]="'node.allow_insecure_mesh_preview_url' | i18n"
                    formControlName="insecurePreviewUrl"
                ></gtx-checkbox>

                <gtx-checkbox
                    [label]="'node.pub_img_variants' | i18n"
                    formControlName="publishImageVariants"
                ></gtx-checkbox>
            </ng-container>
        </div>

        <div class="input-container small-12 medium-6 columns">
            <div class="gtx-form-section-title">{{ 'node.title_networking' | i18n }}</div>

            <gtx-checkbox
                [label]="'node.https_only' | i18n"
                formControlName="https"
            ></gtx-checkbox>

            <gtx-select
                [label]="('node.hostnameType' | i18n) + ' *'"
                [value]="hostType"
                [clearable]="false"
                formControlName="hostType"
            >
                <gtx-option
                    *ngFor="let type of HOSTNAME_TYPES"
                    [value]="type.id"
                >{{ type.label | i18n }}</gtx-option>
            </gtx-select>

            <gtx-input
                type="text"
                [required]="true"
                [label]="('node.hostname' | i18n) + ' *'"
                [placeholder]="'node.hostname' | i18n"
                formControlName="host"
            ></gtx-input>

            <ng-container *ngIf="form?.controls?.hostProperty?.enabled">
                <gtx-input
                    type="text"
                    [required]="true"
                    [label]="('node.hostnameProperty' | i18n) + ' *'"
                    [placeholder]="'node.hostnameProperty' | i18n"
                    formControlName="hostProperty"
                ></gtx-input>

                <span
                   *ngIf="form?.controls?.hostProperty?.errors?.[VALIDATOR_REGEX_ERROR_PROPERTY]"
                    class="container-validator-errors"
                >
                    {{ 'node.hostnameProperty_pattern' | i18n }}
                </span>
            </ng-container>

            <div class="gtx-form-section-title">{{ 'node.title_content' | i18n }}</div>

            <div class="gtx-two-col-options">
                <gtx-checkbox
                    *ngIf="pubDirSegmentActivated"
                    [label]="'node.pub_dir_segments' | i18n"
                    formControlName="pubDirSegment"
                ></gtx-checkbox>
            </div>

            <ng-container *ngIf="mode !== NodePropertiesMode.CREATE">
                <gtx-input
                    [label]="'node.default_file_folder' | i18n"
                    formControlName="defaultFileFolderId"
                ></gtx-input>

                <gtx-input
                    [label]="'node.default_file_folder' | i18n"
                    formControlName="defaultImageFolderId"
                ></gtx-input>
            </ng-container>
        </div>

    </div>
</form>
