@import 'variables';

.row {
    max-width: 100%;
}

.container-validator-errors {
    color: $gtx-color-alert;
}

.gtx-inheritance-info {
    color: $gcms-color-icon-inheritance;
    display: flex;
    opacity: 1;
    margin-bottom: 19px;
    margin-left: 8px;

    icon {
        margin-right: 3px;
    }
}

.property-section {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}
