<form *ngIf="fgProperties" [formGroup]="fgProperties" class="gtx-form">
    <div class="row">

        <div class="input-container small-12 medium-6 columns">
            <div class="gtx-form-section-title">{{ 'shared.title_general' | i18n }}</div>

            <gtx-input
                type="text"
                [required]="true"
                maxlength="50"
                [label]="('node.node_name' | i18n) + ' *'"
                [placeholder]="'node.node_name' | i18n"
                formControlName="name"
            ></gtx-input>

            <ng-container *ngIf="multiChannelingEnabled">
                <ng-container *ngIf="allowChangingInheritedFrom; else inheritedFromNotChangeable">
                    <gtx-select
                        [label]="'node.derives_from' | i18n:{ master: '' }"
                        formControlName="inheritedFromId"
                        [clearable]="true"
                    >
                        <gtx-option *ngFor="let node of (nodes$ | async)" [value]="node.id">{{ node.name }}</gtx-option>
                    </gtx-select>
                </ng-container>

                <ng-template #inheritedFromNotChangeable>
                    <div *ngIf="inheritedFromNode$" class="gtx-inheritance-info" [class.visible]="inheritedFromNode$">
                        <icon>input</icon>
                        {{ 'node.derives_from' | i18n:{ master: (inheritedFromNode$ | async)?.name } }}
                    </div>
                </ng-template>
            </ng-container>

            <gtx-textarea
                [required]="false"
                maxlength="200"
                [label]="'shared.description' | i18n"
                [placeholder]="'shared.description' | i18n"
                formControlName="description"
            ></gtx-textarea>

            <ng-container *ngIf="meshCrEnabled">
                <div class="gtx-form-section-title">{{ 'node.title_portal_configuration' | i18n }}</div>

                <gtx-input
                    type="text"
                    maxlength="255"
                    [label]="('node.mesh_preview_url' | i18n)"
                    [placeholder]="'node.mesh_preview_url' | i18n"
                    formControlName="meshPreviewUrl"
                ></gtx-input>

                <gtx-checkbox
                    [label]="'node.allow_insecure_mesh_preview_url' | i18n"
                    formControlName="insecurePreviewUrl"
                ></gtx-checkbox>
            </ng-container>
        </div>

        <div class="input-container small-12 medium-6 columns">
            <div class="gtx-form-section-title">{{ 'node.title_networking' | i18n }}</div>

            <gtx-checkbox
                [label]="'node.https_only' | i18n"
                formControlName="https"
            ></gtx-checkbox>

            <gtx-input
                type="text"
                [required]="true"
                maxlength="255"
                [label]="('node.hostname' | i18n) + ' *'"
                [placeholder]="'node.hostname' | i18n"
                formControlName="hostname"
            ></gtx-input>


            <div class="gtx-form-section-title">{{ 'node.title_content' | i18n }}</div>

            <div class="gtx-two-col-options">
                <gtx-checkbox
                    *ngIf="pubDirSegmentActivated !== undefined"
                    [label]="'node.pub_dir_segments' | i18n"
                    formControlName="pubDirSegment"
                ></gtx-checkbox>
            </div>

            <ng-container *ngIf="allowEditingDefaultUploadFolders">
                <gtx-input
                    [label]="'node.default_file_folder' | i18n"
                    formControlName="defaultFileFolderId"
                ></gtx-input>

                <gtx-input
                    [label]="'node.default_file_folder' | i18n"
                    formControlName="defaultImageFolderId"
                ></gtx-input>
            </ng-container>
        </div>

    </div>
</form>
