target/
/docker
.settings/
.project
.factorypath
.classpath
.factorypath
**/.directory
CSV
gentics.log*
.checkstyle
/remount.sh
velocity.log
start-devbox.sh
.DS_Store
contentnode-php/src/main/php/node.conf.custom
node.conf.custom*
contentnode-lib/permanent_sandbox.properties
contentnode-lib/cache
contentnode-changelog/src/main/tmp
*versionsBackup
contentnode-changelog/src/main/source/merged_changelog.textile
contentnode-php/src/main/php/languages/*.php
output
*.swp
*.orig
*.cache
.checkstyle
/*.sh
/contentnode-js-lib/bin
/contentnode-js-lib/build
chromedriver.log
/contentnode-changelog/src/changelog/mappings/*SNAPSHOT.json
/contentnode-api/.gitignore
/contentnode-lib/.gitignore
contentnode-js-lib/core
libpeerconnection.log
contentnode-lib/src/main/jaxb/copy_configurationPrime.xsd
contentnode-lib/src/main/jaxb/xnl_configPrime.xsd
.pmd
.pmdruleset.xml
processlogger.lock
.vagrant
# Ignore surefire statistic files that are generated with runOrder=balanced
.surefire-*
# IntelliJ IDEA files
.idea/
*.iml
# npm
**/node_modules
# VS Code files
.vscode
dependency-reduced-pom.xml
conf
