target/
/docker
.settings/
.project
.factorypath
.classpath
.factorypath
**/.directory
CSV
gentics.log*
.checkstyle
/remount.sh
velocity.log
start-devbox.sh
.DS_Store
contentnode-lib/permanent_sandbox.properties
*versionsBackup
output
*.swp
*.orig
*.cache
.checkstyle
/*.sh
chromedriver.log
libpeerconnection.log
.pmd
.pmdruleset.xml
processlogger.lock
.vagrant
# Ignore surefire statistic files that are generated with runOrder=balanced
.surefire-*
# IntelliJ IDEA files
.idea/
*.iml
# npm
**/node_modules
# VS Code files
.vscode
dependency-reduced-pom.xml
cache
.run
conf
keys
.nx/
!cms-integration-tests/test/resources/cms/conf