<ng-container [ngSwitch]="type || component?.type">
    <gtx-aloha-button-renderer
        *ngSwitchCase="AlohaCoreComponentNames.BUTTON"
        [slot]="slot"
        [settings]="component || settings"
        [formControl]="control"
        (requiresConfirm)="forwardRequiresConfirm($event)"
        (manualConfirm)="forwardManualConfirm()"
    ></gtx-aloha-button-renderer>

    <gtx-aloha-toggle-button-renderer
        *ngSwitchCase="AlohaCoreComponentNames.TOGGLE_BUTTON"
        [slot]="slot"
        [settings]="component || settings"
        [formControl]="control"
        (requiresConfirm)="forwardRequiresConfirm($event)"
        (manualConfirm)="forwardManualConfirm()"
    ></gtx-aloha-toggle-button-renderer>

    <gtx-aloha-split-button-renderer
        *ngSwitchCase="AlohaCoreComponentNames.SPLIT_BUTTON"
        [slot]="slot"
        [settings]="component || settings"
        [formControl]="control"
        (requiresConfirm)="forwardRequiresConfirm($event)"
        (manualConfirm)="forwardManualConfirm()"
    ></gtx-aloha-split-button-renderer>

    <gtx-aloha-toggle-split-button-renderer
        *ngSwitchCase="AlohaCoreComponentNames.TOGGLE_SPLIT_BUTTON"
        [slot]="slot"
        [settings]="component || settings"
        [formControl]="control"
        (requiresConfirm)="forwardRequiresConfirm($event)"
        (manualConfirm)="forwardManualConfirm()"
    ></gtx-aloha-toggle-split-button-renderer>

    <gtx-aloha-context-button-renderer
        *ngSwitchCase="AlohaCoreComponentNames.CONTEXT_BUTTON"
        [slot]="slot"
        [settings]="component || settings"
        [formControl]="control"
        (requiresConfirm)="forwardRequiresConfirm($event)"
        (manualConfirm)="forwardManualConfirm()"
    ></gtx-aloha-context-button-renderer>

    <gtx-aloha-context-toggle-button-renderer
        *ngSwitchCase="AlohaCoreComponentNames.CONTEXT_TOGGLE_BUTTON"
        [slot]="slot"
        [settings]="component || settings"
        [formControl]="control"
        (requiresConfirm)="forwardRequiresConfirm($event)"
        (manualConfirm)="forwardManualConfirm()"
    ></gtx-aloha-context-toggle-button-renderer>

    <gtx-aloha-attribute-button-renderer
        *ngSwitchCase="AlohaCoreComponentNames.ATTRIBUTE_BUTTON"
        [slot]="slot"
        [settings]="component || settings"
        [formControl]="control"
        (requiresConfirm)="forwardRequiresConfirm($event)"
        (manualConfirm)="forwardManualConfirm()"
    ></gtx-aloha-attribute-button-renderer>

    <gtx-aloha-attribute-toggle-button-renderer
        *ngSwitchCase="AlohaCoreComponentNames.ATTRIBUTE_TOGGLE_BUTTON"
        [slot]="slot"
        [settings]="component || settings"
        [formControl]="control"
        (requiresConfirm)="forwardRequiresConfirm($event)"
        (manualConfirm)="forwardManualConfirm()"
    ></gtx-aloha-attribute-toggle-button-renderer>

    <gtx-aloha-table-size-renderer
        *ngSwitchCase="AlohaCoreComponentNames.TABLE_SIZE_SELECT"
        [slot]="slot"
        [settings]="component || settings"
        [formControl]="control"
        (requiresConfirm)="forwardRequiresConfirm($event)"
        (manualConfirm)="forwardManualConfirm()"
    ></gtx-aloha-table-size-renderer>

    <gtx-aloha-select-menu-renderer
        *ngSwitchCase="AlohaCoreComponentNames.SELECT_MENU"
        [slot]="slot"
        [settings]="component || settings"
        [formControl]="control"
        (requiresConfirm)="forwardRequiresConfirm($event)"
        (manualConfirm)="forwardManualConfirm()"
    ></gtx-aloha-select-menu-renderer>

    <gtx-aloha-input-renderer
        *ngSwitchCase="AlohaCoreComponentNames.INPUT"
        [slot]="slot"
        [settings]="component || settings"
        [formControl]="control"
        (requiresConfirm)="forwardRequiresConfirm($event)"
        (manualConfirm)="forwardManualConfirm()"
    ></gtx-aloha-input-renderer>

    <gtx-aloha-checkbox-renderer
        *ngSwitchCase="AlohaCoreComponentNames.CHECKBOX"
        [slot]="slot"
        [settings]="component || settings"
        [formControl]="control"
        (requiresConfirm)="forwardRequiresConfirm($event)"
        (manualConfirm)="forwardManualConfirm()"
    ></gtx-aloha-checkbox-renderer>

    <gtx-aloha-link-target-renderer
        *ngSwitchCase="AlohaCoreComponentNames.LINK_TARGET"
        [slot]="slot"
        [settings]="component || settings"
        [formControl]="control"
        (requiresConfirm)="forwardRequiresConfirm($event)"
        (manualConfirm)="forwardManualConfirm()"
    ></gtx-aloha-link-target-renderer>

    <gtx-aloha-symbol-grid-renderer
        *ngSwitchCase="AlohaCoreComponentNames.SYMBOL_GRID"
        [slot]="slot"
        [settings]="component || settings"
        [formControl]="control"
        (requiresConfirm)="forwardRequiresConfirm($event)"
        (manualConfirm)="forwardManualConfirm()"
    ></gtx-aloha-symbol-grid-renderer>

    <gtx-aloha-symbol-search-grid-renderer
        *ngSwitchCase="AlohaCoreComponentNames.SYMBOL_SEARCH_GRID"
        [slot]="slot"
        [settings]="component || settings"
        [formControl]="control"
        (requiresConfirm)="forwardRequiresConfirm($event)"
        (manualConfirm)="forwardManualConfirm()"
    ></gtx-aloha-symbol-search-grid-renderer>

    <gtx-aloha-iframe-renderer
        *ngSwitchCase="AlohaCoreComponentNames.IFRAME"
        [slot]="slot"
        [settings]="component || settings"
        [formControl]="control"
        (requiresConfirm)="forwardRequiresConfirm($event)"
        (manualConfirm)="forwardManualConfirm()"
    ></gtx-aloha-iframe-renderer>

    <gtx-aloha-color-picker-renderer
        *ngSwitchCase="AlohaCoreComponentNames.COLOR_PICKER"
        [slot]="slot"
        [settings]="component || settings"
        [formControl]="control"
        (requiresConfirm)="forwardRequiresConfirm($event)"
        (manualConfirm)="forwardManualConfirm()"
    ></gtx-aloha-color-picker-renderer>

    <gtx-aloha-date-time-picker-renderer
        *ngSwitchCase="AlohaCoreComponentNames.DATE_TIME_PICKER"
        [slot]="slot"
        [settings]="component || settings"
        [formControl]="control"
        (requiresConfirm)="forwardRequiresConfirm($event)"
        (manualConfirm)="forwardManualConfirm()"
    ></gtx-aloha-date-time-picker-renderer>
</ng-container>
