<ng-container [ngSwitch]="type || component?.type">
    <gtx-aloha-button-renderer
        *ngSwitchCase="AlohaCoreComponentNames.BUTTON"
        [slot]="slot"
        [settings]="component || settings"
        [formControl]="control"
        (requiresConfirm)="forwardRequiresConfirm($event)"
        (manualConfirm)="forwardManualConfirm()"
    ></gtx-aloha-button-renderer>

    <gtx-aloha-toggle-button-renderer
        *ngSwitchCase="AlohaCoreComponentNames.TOGGLE_BUTTON"
        [slot]="slot"
        [settings]="component || settings"
        [formControl]="control"
        (requiresConfirm)="forwardRequiresConfirm($event)"
        (manualConfirm)="forwardManualConfirm()"
    ></gtx-aloha-toggle-button-renderer>

    <gtx-aloha-split-button-renderer
        *ngSwitchCase="AlohaCoreComponentNames.SPLIT_BUTTON"
        [slot]="slot"
        [settings]="component || settings"
        [formControl]="control"
        (requiresConfirm)="forwardRequiresConfirm($event)"
        (manualConfirm)="forwardManualConfirm()"
    ></gtx-aloha-split-button-renderer>

    <gtx-aloha-toggle-split-button-renderer
        *ngSwitchCase="AlohaCoreComponentNames.TOGGLE_SPLIT_BUTTON"
        [slot]="slot"
        [settings]="component || settings"
        [formControl]="control"
        (requiresConfirm)="forwardRequiresConfirm($event)"
        (manualConfirm)="forwardManualConfirm()"
    ></gtx-aloha-toggle-split-button-renderer>

    <gtx-aloha-context-button-renderer
        *ngSwitchCase="AlohaCoreComponentNames.CONTEXT_BUTTON"
        [slot]="slot"
        [settings]="component || settings"
        [formControl]="control"
        (requiresConfirm)="forwardRequiresConfirm($event)"
        (manualConfirm)="forwardManualConfirm()"
    ></gtx-aloha-context-button-renderer>

    <gtx-aloha-attribute-button-renderer
        *ngSwitchCase="AlohaCoreComponentNames.ATTRIBUTE_BUTTON"
        [slot]="slot"
        [settings]="component || settings"
        [formControl]="control"
        (requiresConfirm)="forwardRequiresConfirm($event)"
        (manualConfirm)="forwardManualConfirm()"
    ></gtx-aloha-attribute-button-renderer>

    <gtx-aloha-table-size-renderer
        *ngSwitchCase="AlohaCoreComponentNames.TABLE_SIZE_SELECT"
        [slot]="slot"
        [settings]="component || settings"
        [formControl]="control"
        (requiresConfirm)="forwardRequiresConfirm($event)"
        (manualConfirm)="forwardManualConfirm()"
    ></gtx-aloha-table-size-renderer>

    <gtx-aloha-select-menu-renderer
        *ngSwitchCase="AlohaCoreComponentNames.SELECT_MENU"
        [slot]="slot"
        [settings]="component || settings"
        [formControl]="control"
        (requiresConfirm)="forwardRequiresConfirm($event)"
        (manualConfirm)="forwardManualConfirm()"
    ></gtx-aloha-select-menu-renderer>
</ng-container>
