<div class="gtx-modal-datagrid">
    <div class="modal-title">
        <h5>{{ multiple ? 'modal.select_generic_entities' : 'modal.select_generic_entity' | gtxI18n }}</h5>
    </div>

    <div class="modal-content">
        <gtx-content-item-trable
            class="entity-trable"
            [multiple]="multiple"
            [selectableItems]="types"
            [listableItems]="types"
            [inlineExpansion]="true"
            [inlineSelection]="true"
            [selectable]="true"
            [selected]="selectedIds | gtxValues"
            (rowSelect)="handleRowSelect($event)"
            (selectedChange)="selectionChanges($event)"
        ></gtx-content-item-trable>
    </div>

    <div class="modal-footer">
        <gtx-button
            type="primary"
            [disabled]="loading"
            (click)="confirmSelection()"
        >
            {{ 'shared.confirm_selection' | gtxI18n }}
        </gtx-button>

        <gtx-button
            type="secondary"
            flat
            (click)="cancelFn(false)"
        >
            {{ 'common.cancel_button' | gtxI18n }}
        </gtx-button>
    </div>
</div>
