<div class="mesh-browser-container">

    <div class="overview-header">
        <gtx-button
            class="back-button"
            flat
            size="small"
            (click)="navigateBack()"
        >
            <icon left>arrow_back</icon> {{ 'common.back_button' | i18n }}
        </gtx-button>

        <div class="overview-title">Mesh {{ 'common.repository_plural' | i18n }}</div>
    </div>

    <gtx-mesh-login-gate
        [repository]="selectedRepository"
        [loggedIn]="loggedIn"
        (loggedInChange)="meshLoginHandler($event)"
        class="login-gate-wrapper"
    >

        <ng-container *ngIf="loggedIn">
            <h1>{{ 'mesh.browser_title'  | i18n }} „{{ selectedRepository?.name }}“</h1>

            <ng-container *ngIf="!!currentProject else noProjectRenderer">

                <gtx-mesh-browser-project-switcher
                    [currentProject]="currentProject"
                    [currentBranch]="currentBranch"
                    [projects]="projects"
                    [branches]="branches"
                    (projectChange)="projectChangeHandler($event)"
                    (branchChange)="branchChangeHandler($event)"
                />

                <gtx-mesh-browser-language-switcher
                    [currentLanguage]="currentLanguage"
                    [languages]="languages"
                    (languageChange)="languageChangeHandler($event)"
                />
                    
                <gtx-mesh-browser-schema-list
                    [currentProject]="currentProject"
                    [currentLanguage]="currentLanguage"
                    [currentNodeUuid]="parentNodeUuid"
                    [languages]="languages"
                    [currentBranch]="currentBranch"
                    (nodeChange)="nodeChangeHandler($event)"
                />
            </ng-container>

        </ng-container>

    </gtx-mesh-login-gate>
</div>

<ng-template #noProjectRenderer>
    <div class="no-project">
        <h4>{{ 'browser_no_projects' | i18n }}</h4>
    </div>
</ng-template>
