<div class="mesh-browser-container">

    <ng-container *ngIf="!selectedRepository; else displayMeshContent">
        <gtx-mesh-browser-repository-table
            class="entity-table"
            [showSearch]="true"
            [linkDetails]="true"
            [selectable]="false"
            [hideActions]=""
            [activeEntity]="activeEntity"
            (rowClick)="handleRowClick($event)"
        ></gtx-mesh-browser-repository-table>
    </ng-container>
    
    <ng-template #displayMeshContent>

        <div class="overview-header">
            <gtx-button
                class="back-button"
                flat
                size="small"
                (click)="navigateBack()"
            >
                <icon left>arrow_back</icon> Back
            </gtx-button>

            <div class="overview-title">Mesh Repositories</div>
        </div>

        <gtx-mesh-login-gate
            [repository]="selectedRepository"
            [loggedIn]="loggedIn"
            (loggedInChange)="handleMeshLogin($event)"
            class="login-gate-wrapper"
        >

            <ng-container *ngIf="loggedIn">
                <h1>Mesh Browser for "{{ selectedRepository.name }}"</h1>

                <ng-container *ngIf="!!currentProject else noProjectRenderer">
                    <gtx-mesh-browser-project-switcher
                        [currentProject]="currentProject"
                        [projects]="projects"
                        [branches]="branches"
                        (projectChangedEvent)="projectChanged($event)"
                    >
                    </gtx-mesh-browser-project-switcher>
                        
                    <gtx-mesh-browser-schema-list
                        [project]="currentProject" 
                    >
                    </gtx-mesh-browser-schema-list>
                </ng-container>

            </ng-container>

        </gtx-mesh-login-gate>

    </ng-template>
</div>

<ng-template #noProjectRenderer>
    <div class="no-project">
        <h4>No Project available</h4>
    </div>
</ng-template>
