<div class="mesh-browser-container">

    <ng-container *ngIf="!selectedRepository; else displayMeshContent">
        <gtx-mesh-browser-repository-table
            class="entity-table"
            [showSearch]="true"
            [linkDetails]="true"
            [selectable]="false"
            [hideActions]=""
            [activeEntity]="activeEntity"
            (rowClick)="rowClickHandler($event)"
        ></gtx-mesh-browser-repository-table>
    </ng-container>
    
    <ng-template #displayMeshContent>

        <div class="overview-header">
            <gtx-button
                class="back-button"
                flat
                size="small"
                (click)="navigateBack()"
            >
                <icon left>arrow_back</icon> Back
            </gtx-button>

            <div class="overview-title">Mesh Repositories</div>
        </div>

        <gtx-mesh-login-gate
            [repository]="selectedRepository"
            [loggedIn]="loggedIn"
            (loggedInChange)="meshLoginHandler($event)"
            class="login-gate-wrapper"
        >

            <ng-container *ngIf="loggedIn">
                <h1>Mesh Browser for "{{ selectedRepository.name }}"</h1>

                <ng-container *ngIf="!!currentProject else noProjectRenderer">

                    <gtx-mesh-browser-project-switcher
                        [currentProject]="currentProject"
                        [currentBranch]="currentBranch"
                        [projects]="projects"
                        [branches]="branches"
                        (projectChange)="projectChangeHandler($event)"
                        (branchChange)="branchChangeHandler($event)"
                    />

                    <gtx-mesh-browser-language-switcher
                        [currentLanguage]="currentLanguage"
                        [languages]="languages"
                        (languageChange)="languageChangeHandler($event)"
                    />
                        
                    <gtx-mesh-browser-schema-list
                        [currentProject]="currentProject"
                        [currentLanguage]="currentLanguage"
                        [languages]="languages"
                        [currentBranch]="currentBranch"
                    />
                </ng-container>

            </ng-container>

        </gtx-mesh-login-gate>

    </ng-template>
</div>

<ng-template #noProjectRenderer>
    <div class="no-project">
        <h4>No Project available</h4>
    </div>
</ng-template>
