@import 'variables';

$gtx-table-publishqueue-total-border-color: #ddd;

.title {
    border-bottom: 1px solid #eee;
    padding-bottom: 0.5rem;
}

.gtx-table-publishqueue-total {

    .table-header {
        border-bottom: 1px solid $gtx-table-publishqueue-total-border-color;
    }

    tr {
        border-top: none;
        border-bottom: none;

        th, td {
            vertical-align: top;
            padding-right: 0;
            padding-bottom: 0.3rem;
            padding-top: 0.3rem;
        }

        th {
            position: relative;
            padding-left: 0;

            .loading-bar {
                background-color: $gtx-color-primary;
                height: 0.25rem;
                width: 0;
                transition: width 0s;

                &.progressing {
                    transition: width 0.2s;
                }
            }
        }

        td {
            padding-left: 0.5rem;

            &:last-child {
                text-align: right;
            }
        }

    }

}
