<gtx-tabs pure [activeId]="activeTab">
    <gtx-tab
        [id]="LicenseModuleTabs.OVERVIEW"
        [title]="'license.overview_title' | i18n"
        (select)="setTabAsActive($event)"
    >
        <gtx-license-management
            class="management-master"
            (licenseChange)="setCurrentLicense($event)"
        />
    </gtx-tab>

    <gtx-tab
        [id]="LicenseModuleTabs.CONTENT_REPOSITORIES"
        [title]="'common.contentRepository_plural' | i18n"
        (select)="setTabAsActive($event)"
    >
        <div class="gtx-entity-master">
            <gtx-content-repository-license-table
                class="entity-table"
                [compareLicense]="true"
                [license]="currentLicense"
            />
        </div>
    </gtx-tab>
</gtx-tabs>
