@if (settings$ | async; as settings) {
  @if (settings.active || settings.showBanner) {
    <div
      class="banner"
      [class.maintenance-is-active]="settings.active"
      >
      @if (settings.active) {
        <span
          class="maintenance-is-active-note"
        >{{ 'shared.maintenance_mode_is_active' | gtxI18n }} &nbsp;&#124;&nbsp;</span>
      }
      @if (settings.showBanner) {
        <span
          class="banner-message-title"
        >{{ 'shared.banner_message' | gtxI18n }}:</span>&nbsp;{{ settings.message }}
      } @else {
        <span class="banner-is-active-note">{{ 'shared.maintenance_banner_is_not_active' | gtxI18n }}</span>
      }
    </div>
  }
}
