<div class="modal-title">
    <h5>{{ 'modal.confirm_objprop_apply_to_subitems_title' | gtxI18n }}</h5>
</div>
<div class="modal-content">
    <div class="item-title">
        <icon [class]="item.type || ''">{{ item.type | gtxTypeIcon }}</icon>
        <span>{{ item.name }}</span>
    </div>
    <p
        class="lead"
        [innerHTML]="'modal.confirm_objprop_apply_to_subitems_body' | gtxI18n:{
            'objPropName': item?.tags?.[objPropId]?.displayName || '',
            'subitems': ('modal.confirm_objprop_apply_to_subitems_' + item.type | gtxI18n)
        }">
    </p>
</div>
<div class="modal-footer">
    <gtx-button
        type="secondary"
        flat
        data-action="cancel"
        (click)="cancelFn()"
    >{{ 'common.cancel_button' | gtxI18n }}</gtx-button>

    <gtx-button
        type="warning"
        data-action="confirm"
        (click)="closeFn(true)"
    >{{ 'common.okay_button' | gtxI18n }}</gtx-button>
</div>
