<div class="gtx-entity-detail">
    <gtx-tabs pure [activeId]="activeTabId$ | async">
        <gtx-tab
            [id]="ConstructDetailTabs.PROPERTIES"
            gtxDetailTabLink
            [title]="'shared.title_properties' | i18n"
        >
            <div class="detail-tab-wrapper">
                <gtx-entity-detail-header
                    [title]="'shared.title_properties_of_entity' | i18n: { entityName: currentEntity?.name }"
                    saveActionAllowedId="construct.updateConstructInstance"
                    [saveActionAllowedInstanceId]="currentEntity?.id"
                    [saveDisabled]="fgPropertiesSaveDisabled$ | async"
                    (saveClick)="btnSavePropertiesOnClick()"
                    (cancelClick)="detailsClose()"
                ></gtx-entity-detail-header>

                <div class="gtx-entity-details-tab-content-body" *ngIf="fgProperties">
                    <div class="flex-row row">
                        <gtx-construct-properties
                            class="properties small-12"
                            [formControl]="fgProperties"
                            [supportedLanguages]="supportedLanguages$ | async"
                            [mode]="ConstructPropertiesMode.UPDATE"
                            [(initialValue)]="entityIsClean"
                        ></gtx-construct-properties>
                    </div>
                </div>
            </div>
        </gtx-tab>

        <gtx-tab
            [id]="ConstructDetailTabs.PARTS"
            gtxDetailTabLink
            [title]="'construct.tagParts' | i18n"
        >
            <div class="parts-wrapper">
                <gtx-entity-detail-header
                    [title]="'construct.title_parts_of_construct' | i18n: { entityName: currentEntity?.name }"
                    saveActionAllowedId="construct.updateConstructInstance"
                    [saveActionAllowedInstanceId]="currentEntity?.id"
                    [saveDisabled]="fgPartsSaveDisabled$ | async"
                    (saveClick)="btnSavePartsOnClick()"
                    (cancelClick)="detailsClose()"
                ></gtx-entity-detail-header>

                <gtx-construct-part-list
                    *ngIf="fgParts"
                    class="construct-parts"
                    [supportedLanguages]="supportedLanguages$ | async"
                    [allowCreation]="true"
                    [formControl]="fgParts"
                ></gtx-construct-part-list>
            </div>
        </gtx-tab>
    </gtx-tabs>
</div>
