<ng-container>
  <div class="tag-part-editor">
    <browse-box
      [label]="tagPart | tagPropLabel"
      [displayValue]="tagDisplayValue$ | async"
      [browseTooltip]="'tag_editor.browse_for_tag' | gtxI18n"
      [disabled]="readOnly"
      (clear)="changeSelection({ container: null, tag: null })"
      (browse)="browseForTag()"
    ></browse-box>

    <div>
      @if (selectedContainer) {
        @if (selectedContainer.type === 'page') {
          {{ 'common.type_page' | gtxI18n }}: {{ selectedFullPath }}
        } @else {
          {{ 'common.type_template' | gtxI18n }}: {{ selectedContainer.name }}
        }
      }
    </div>
  </div>
</ng-container>
