<div class="fields-wrapper" #fieldsWrapper>
  @if (isDeleted) {
    <detail-chip class="deleted">
      {{ 'editor.item_page_status_deleted_label' | gtxI18n:{
        name: getUserName(item),
        date: (item?.deleted?.at | gtxI18nDate),
        time: (item?.deleted?.at | gtxI18nDate:'time')
      } }}
    </detail-chip>
  }
  @for (field of fields; track field) {
    <div>
      <div>
        @switch (field) {
          @case ('pdate') {
            @if ((item.type === 'page' || item.type === 'form') && item.pdate && item.pdate > 0) {
              <detail-chip>
                {{ 'editor.published_label' | gtxI18n:{
                    publisher: (item.publisher | userFullName),
                    date: (item.pdate | gtxI18nDate),
                    time: (item.pdate | gtxI18nDate:'time')
                } }}
              </detail-chip>
            }
          }
          @case ('unpublishedDate') {
            @if ((item.type === 'page' || item.type === 'form') && item.unpublishedDate && item.unpublishedDate > 0) {
              <detail-chip>
                {{ 'editor.unpublished_label' | gtxI18n:{
                    unpublisher: (item.unpublisher | userFullName),
                    date: (item.unpublishedDate | gtxI18nDate),
                    time: (item.unpublishedDate | gtxI18nDate:'time')
                } }}
              </detail-chip>
            }
          }
          @case ('at') {
            @if (getFormattedTimeMgmtValue(item, field) | async) {
              <detail-chip>
                {{ 'editor.publish_planned_publish_at_date_label' | gtxI18n }}: {{ getFormattedTimeMgmtValue(item, field) | async }}
              </detail-chip>
            }
          }
          @case ('offlineAt') {
            @if (getFormattedTimeMgmtValue(item, field) | async) {
              <detail-chip>
                {{ 'editor.publish_planned_take_offline_at_date_label' | gtxI18n }}: {{ getFormattedTimeMgmtValue(item, field) | async }}
              </detail-chip>
            }
          }
          @case ('queuedPublish') {
            @if (getFormattedTimeMgmtValue(item, field) | async) {
              <detail-chip>
                {{ 'editor.publish_queue_publish_at_date_label' | gtxI18n }}: {{ getFormattedTimeMgmtValue(item, field) | async }}
              </detail-chip>
            }
          }
          @case ('queuedOffline') {
            @if (getFormattedTimeMgmtValue(item, field) | async) {
              <detail-chip>
                {{ 'editor.publish_queue_take_offline_at_date_label' | gtxI18n }}: {{ getFormattedTimeMgmtValue(item, field) | async }}
              </detail-chip>
            }
          }
          @case ('creator') {
            <detail-chip>
              {{ 'common.creator_label' | gtxI18n }}: {{ item[field] | userFullName }}
            </detail-chip>
          }
          @case ('editor') {
            <detail-chip>
              {{ 'common.editor_label' | gtxI18n }}: {{ item[field] | userFullName }}
            </detail-chip>
          }
          @case ('cdate') {
            <detail-chip>
              {{ 'common.date_created_label' | gtxI18n }}: {{ item[field] | gtxI18nDate }}
            </detail-chip>
          }
          @case ('customCdate') {
            <detail-chip>
              {{ 'common.date_custom_created_label' | gtxI18n }}: {{ item[field] ? (item[field] | gtxI18nDate) : (item['cdate'] | gtxI18nDate) }}
            </detail-chip>
          }
          @case ('edate') {
            <detail-chip>
              {{ 'common.date_edited_label' | gtxI18n }}: {{ item[field] | gtxI18nDate }}
            </detail-chip>
          }
          @case ('customEdate') {
            <detail-chip>
              {{ 'common.date_custom_edited_label' | gtxI18n }}: {{ item[field] ? (item[field] | gtxI18nDate) : (item['edate'] | gtxI18nDate) }}
            </detail-chip>
          }
          @case ('fileSize') {
            <detail-chip>
              {{ item[field] | filesize }}
            </detail-chip>
          }
          @case ('pageStatus') {
            <detail-chip>
              {{ item[field] }}
            </detail-chip>
          }
          @case ('priority') {
            <detail-chip>
              Priority: {{ item[field] }}
            </detail-chip>
          }
          @case ('template') {
            <detail-chip>
              <i class="material-icons" [attr.translate]="'no'">dashboard</i> {{ item.template?.name }}
            </detail-chip>
          }
          @case ('fileType') {
            <detail-chip>
              <i class="material-icons" [attr.translate]="'no'">insert_drive_file</i> {{ item[field] }}
            </detail-chip>
          }
          @case ('usage') {
            <detail-chip (click)="usageClicked($event, item)" class="usage">
              <span>{{ 'common.usage_label' | gtxI18n }}:</span>
              @if (item?.usage?.total !== undefined) {
                <span class="usage-count">{{ totalUsage(item) }}</span>
              }
              @if (item?.usage?.total === undefined) {
                <i class="usage-spinner material-icons usage-count" [attr.translate]="'no'">hourglass_empty</i>
              }
            </detail-chip>
          }
          @default {
            <detail-chip>
              {{ field | uppercase }}: <strong>{{ item[field] }}</strong>
            </detail-chip>
          }
          @case ('globalId') {
            <detail-chip>
              {{ 'editor.item_global_id_label' | gtxI18n }}:<br>{{ item[field] }}
            </detail-chip>
          }
          @case ('inheritance') {
            @let inheritance = item | getInheritance;
            @if (inheritance != null) {
            <detail-chip>
                <icon class="inheritance-icon-{{ inheritance }}"></icon> {{ ('common.inheritance_label_' + inheritance) | gtxI18n }}
            </detail-chip>
            }
          }
        }
      </div>
    </div>
  }
</div>
