@import "variables";

.no-templates {
    color: $gtx-color-alert;
    margin-bottom: 1rem;
    margin-top: 0;
}

.template-select {
    margin: 0;

    & + a {
        display: block;
        margin-bottom: 1rem;
    }
}

.custom-date-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom: 1rem;

    .custom-date-col {
        flex: 1 1 auto;
        min-width: 200px;
    }

    .custom-date-picker::ng-deep .input-element {
        margin-bottom: 0px !important;
    }

    .actual-date {
        font-size: 0.8rem;
        color: $gtx-color-dark-gray;
    }
}

.error-message {
    color: $gtx-color-alert;
    margin-bottom: 13px;
    margin-top: -18px;
}
