@if (showSearch) {
    <gtx-search-bar
        class="search-bar"
        [query]="query"
        [placeholder]="'shared.search' | gtxI18n"
        (search)="updateSearchQuery($event)"
        (clear)="updateSearchQuery('')"
    ></gtx-search-bar>
}

@if (!hideActions && !sorting) {
    <div class="entity-table-actions-bar">
        <gtx-button
            class="table-action-button"
            flat
            size="small"
            type="primary"
            data-action="create"
            [disabled]="disabled"
            [gtxActionAllowed]="'constructCategory.createCategory'"
            (click)="handleCreateButton()"
        >
            <icon left>add</icon> {{ 'shared.create_new_construct_category' | gtxI18n }}
        </gtx-button>

        <gtx-button
            class="table-action-button"
            flat
            size="small"
            type="primary"
            data-action="reorder"
            [disabled]="disabled"
            [gtxActionAllowed]="'constructCategory.updateCategoryInstance'"
            (click)="openSortModal()"
        >
            <icon left>sort</icon> {{ 'construct.sort_categories' | gtxI18n }}
        </gtx-button>

        <gtx-button
            class="table-action-button reload-button"
            flat
            size="small"
            type="primary"
            data-action="reload"
            [disabled]="disabled || loading"
            (click)="reload()"
        >
            <icon left>refresh</icon> {{ 'common.reload_table_button' | gtxI18n }}
        </gtx-button>
    </div>
}

@if (selectable) {
    <div class="entity-table-selection">
        {{ 'construct_category.info_selected_categories' | gtxI18n:{ amountSelected: selectedCount, amountTotal: totalCount } }}
    </div>
}

<gtx-progress-bar class="load-bar" [active]="loading"></gtx-progress-bar>

<gtx-table
    class="entity-table"

    [selectAllType]="TableSelectAllType.PAGE"
    [selectable]="selectable"
    [hideActions]="hideActions"
    [disabled]="disabled"
    [sortable]="!sorting"

    [paginated]="!sorting"
    [columns]="columns"
    [rows]="rows"
    [actions]="actions"
    [selected]="selected"
    [active]="activeEntity"
    [totalCount]="totalCount"

    [page]="page"
    [perPage]="perPage"
    [sortBy]="sortBy"
    [sortOrder]="sortOrder"

    [renderers]="{
        sortorder: orderRenderer
    }"

    (pageChange)="changePageTo($event)"
    (sortByChange)="updateSortBy($event)"
    (sortOrderChange)="updateSortOrder($event)"
    (selectedChange)="updateSelection($event)"
    (rowClick)="handleRowClick($event)"
    (actionClick)="handleAction($event)"
></gtx-table>

<ng-template #orderRenderer let-row="row">
    {{ sorting ? row.item[BO_NEW_SORT_ORDER] + 1 : (row.item.sortOrder ?? (category[BO_ORIGINAL_SORT_ORDER] + 1)) }}
</ng-template>

