<div class="modal-title">
  <h5>{{ 'modal.message_title' | gtxI18n }}</h5>
</div>

<div class="modal-content">
  <div class="title-row">
    <span class="author">{{ getFullName(message.sender) }}</span>
    <span class="date">
      {{ 'modal.message_time' | gtxI18n:{ date: (message.timestamp | gtxI18nDate), time: (message.timestamp | gtxI18nDate:'time') } }}
    </span>
  </div>

  <div class="body-row">
    <message-body
      [body]="message.message"
      [nodes]="nodes$ | async"
      (linkClick)="closeFn($event)"
    ></message-body>
  </div>

  @if (displayReplyInput) {
    <gtx-textarea
      class="message-textarea"
      [label]="'modal.send_message_message' | gtxI18n"
      [autofocus]="true"
      [(ngModel)]="sendMessageText"
      (keydown.control.Enter)="sendMessage()"
    ></gtx-textarea>
  }
</div>

<div class="modal-footer">
  @if (!displayReplyInput && message.sender !== 1) {
    <gtx-button
      flat
      type="primary"
      data-action="reply"
      (click)="displayReplyInput = true"
    >{{ 'common.reply_button' | gtxI18n }}</gtx-button>
  }

  @if (displayReplyInput) {
    <gtx-button
      flat
      type="primary"
      data-action="confirm"
      (click)="sendMessage()"
    >{{ 'common.send_button' | gtxI18n }}</gtx-button>
  }

  <gtx-button
    flat
    type="secondary"
    data-action="cancel"
    (click)="closeFn()"
  >{{ 'common.close_button' | gtxI18n }}</gtx-button>
</div>
