@import 'variables';

.upload-button {
    margin: 1rem auto;
    display: block;

    &::ng-deep gtx-button {
        &,
        .button-event-wrapper > .btn {
            display: block;
            margin: 0 auto;
        }
    }
}

.selected-file {
    display: block;
    margin: 1rem 0;

    .selected-file-name {
        display: block;
        font-weight: bold;
    }
}
