<gtx-dropdown-list [disabled]="disabled" data-context-id="language-select">
    <gtx-dropdown-trigger>
        <gtx-button
            flat
            size="small"
            type="secondary"
            data-context-trigger
        >
            <icon left>language</icon>{{ activeLanguage?.name }}
        </gtx-button>
    </gtx-dropdown-trigger>

    <gtx-dropdown-content class="language-context" data-context-id="language-select">
        @for (language of availableLanguages; track language.code) {
            <gtx-dropdown-item
                data-action="select-language-context"
                [attr.data-lang-code]="language.code"
                (click)="languageChangeHandler(language)"
            >{{ language?.name }}</gtx-dropdown-item>
        }
    </gtx-dropdown-content>
</gtx-dropdown-list>
