<gtx-dropdown-list [disabled]="disabled" data-context-id="language-select">
    <gtx-dropdown-trigger>
        <gtx-button
            flat
            data-context-trigger
            size="small"
            type="secondary"
        >
            <icon left>language</icon>{{ activeLanguage?.name }}
        </gtx-button>
    </gtx-dropdown-trigger>

    <gtx-dropdown-content class="language-context" data-context-id="language-select">
        <gtx-dropdown-item
            *ngFor="let language of availableLanguages"
            [attr.data-id]="language.code"
            (click)="languageChangeHandler(language)"
        >{{ language?.name }}</gtx-dropdown-item>
    </gtx-dropdown-content>
</gtx-dropdown-list>
