<gtx-dropdown-list [disabled]="disabled">
    <gtx-dropdown-trigger>
        <gtx-button flat size="small" type="secondary" data-action="open-language-context">
            <icon left>language</icon>{{ activeLanguage?.name }}
        </gtx-button>
    </gtx-dropdown-trigger>
    <gtx-dropdown-content class="language-context">
        <gtx-dropdown-item
            *ngFor="let language of availableLanguages"
            data-action="select-language-context"
            [attr.data-lang-code]="language.code"
            (click)="selectLanguage.emit(language)"
        >
            {{ language?.name }}
        </gtx-dropdown-item>
    </gtx-dropdown-content>
</gtx-dropdown-list>
