@import "variables";
@import "flex-modal";

@include flex-modal;

:host {
    @media screen and (max-width: $medium-screen) {
        min-width: 90vw;
    }
    @media screen and (min-width: $medium-screen-up) {
        width: $medium-screen;
    }
}

.modal-title-sub {
    margin-top: 0.5rem;
    margin-bottom: 2rem;
}

.empty-message {
    text-align: center;
    font-size: $gtx-font-size-lead;
    color: $gtx-color-mid-gray;
    padding: 1.5em 0;
}

.modal-content {
    min-height: 150px;
    @media screen and (max-width: $small-screen) {
        max-height: calc(85vh - 150px);
    }
}

.modal-footer {
    margin-top: 1rem;
}
