.fields-manager {
    width: 100%;
    padding-bottom: 2.5rem;
}

.schema-tabs {
    flex: 1 1 auto;
    min-height: 1px;
}

.detail-tab-wrapper {
    overflow: auto;
}

gtx-json-input ::ng-deep textarea {
    min-height: calc(7.5em + 14px) !important;
    max-height: 45vh;
    overflow-y: auto !important;
}

form {
    height: 100%;
    display: flex;
}
