@if (form) {
  <form
    [formGroup]="form"
    >
    <ng-template #propertiesTpl>
      <div class="row">
        <gtx-input
          class="columns small-12"
          [label]="('common.name' | gtxI18n) + ' *'"
          formControlName="name"
        ></gtx-input>
      </div>
      <div class="row">
        <gtx-input
          class="columns small-12"
          [label]="('common.description' | gtxI18n) + ' *'"
          formControlName="description"
        ></gtx-input>
      </div>
      <div class="row">
        <gtx-select
          class="columns small-4"
          [label]="'mesh.schema_displayField' | gtxI18n"
          [clearable]="true"
          [disableUnknownValues]="true"
          formControlName="displayField"
          >
          @for (name of fieldNames; track name) {
            <gtx-option [value]="name">{{ name }}</gtx-option>
          }
        </gtx-select>
        <gtx-select
          class="columns small-4"
          [label]="'mesh.schema_segmentField' | gtxI18n"
          [clearable]="true"
          [disableUnknownValues]="true"
          formControlName="segmentField"
          >
          @for (name of fieldNames; track name) {
            <gtx-option [value]="name">{{ name }}</gtx-option>
          }
        </gtx-select>
        <gtx-select
          class="columns small-4"
          [label]="'mesh.schema_urlFields' | gtxI18n"
          [clearable]="true"
          [multiple]="true"
          [disableUnknownValues]="true"
          formControlName="urlFields"
          >
          @for (name of urlFieldNames; track name) {
            <gtx-option [value]="name">{{ name }}</gtx-option>
          }
        </gtx-select>
      </div>
      <div class="row">
        <gtx-checkbox
          class="columns small-6"
          [label]="'mesh.schema_autoPurge' | gtxI18n"
          formControlName="autoPurge"
        ></gtx-checkbox>
        <gtx-checkbox
          class="columns small-6"
          [label]="'mesh.schema_noIndex' | gtxI18n"
          formControlName="noIndex"
        ></gtx-checkbox>
        <gtx-checkbox
          class="columns small-6"
          [label]="'mesh.schema_container' | gtxI18n"
          formControlName="container"
        ></gtx-checkbox>
      </div>
    </ng-template>
    <ng-template #elasticsearchTpl>
      <div class="row">
        <div class="columns small-12">
          <gtx-json-input
            [label]="'mesh.elasticsearch' | gtxI18n"
            formControlName="elasticsearch"
          ></gtx-json-input>
        </div>
      </div>
    </ng-template>
    <ng-template #fieldsTpl>
      <gtx-mesh-schema-fields-manager
        class="fields-manager"
        [label]="'mesh.schema_fields' | gtxI18n"
        [type]="SchemaFieldPropertiesType.SCHEMA"
        [ownName]="form.value.name"
        [schemaNames]="schemaNames"
        [microschemaNames]="microschemaNames"
        formControlName="fields"
      ></gtx-mesh-schema-fields-manager>
    </ng-template>
    @if (tabs) {
      <gtx-tabs class="schema-tabs">
        <gtx-tab id="properties" [title]="'shared.title_properties' | gtxI18n">
          <div class="detail-tab-wrapper">
            <ng-container [ngTemplateOutlet]="propertiesTpl"></ng-container>
          </div>
        </gtx-tab>
        <gtx-tab id="elasticsearch" [title]="'mesh.elasticsearch' | gtxI18n">
          <ng-container [ngTemplateOutlet]="elasticsearchTpl"></ng-container>
        </gtx-tab>
        <gtx-tab id="fields" [title]="'mesh.schema_fields' | gtxI18n">
          <div class="detail-tab-wrapper">
            <ng-container [ngTemplateOutlet]="fieldsTpl"></ng-container>
          </div>
        </gtx-tab>
      </gtx-tabs>
    } @else {
      <ng-container [ngTemplateOutlet]="propertiesTpl"></ng-container>
      <ng-container [ngTemplateOutlet]="elasticsearchTpl"></ng-container>
      <ng-container [ngTemplateOutlet]="fieldsTpl"></ng-container>
    }
  </form>
}
