<form
    *ngIf="form"
    [formGroup]="form"
    class="row"
>
    <gtx-input
        class="columns small-12"
        [label]="('common.name' | i18n) + ' *'"
        formControlName="name"
    ></gtx-input>

    <div class="columns small-12">
        <gtx-mesh-schema-fields-manager
            class="fields-manager"
            formControlName="fields"
            [ownName]="form.value.name"
            [schemaNames]="schemaNames"
            [microschemaNames]="microschemaNames"
        ></gtx-mesh-schema-fields-manager>
    </div>
</form>
