<gtx-form-element-container [disabled]="disabled">
    @if (label) {
      <label class="label">{{ label }}</label>
    }

    @if (loadedFolder) {
      <span class="name">{{ loadedFolder?.name }}</span>
    } @else {
      <span class="placeholder">{{ placeholder }}</span>
    }

    <button
        class="addon-button"
        data-action="pick-folder"
        [disabled]="disabled"
        (click)="pickNewFolder()"
    >
        <icon>folder_open</icon>
    </button>

    @if (clearable && !required) {
        <button
            class="addon-button icon-alert"
            data-action="clear"
            [disabled]="disabled"
            (click)="clearValue()"
        >
            <icon>close</icon>
        </button>
    }
</gtx-form-element-container>

