@if (label) {
  <label class="label">{{ label }}</label>
}

<div class="wrapper" [class.disabled]="disabled">
  <div class="picker-value">
    @if (loadedFolder) {
      <span class="name">{{ loadedFolder?.name }}</span>
    } @else {
      <span class="placeholder">{{ placeholder }}</span>
    }
  </div>

  <gtx-button
    class="addon-button picker-button"
    icon
    [disabled]="disabled"
    (click)="pickNewFolder()"
    >
    <icon>edit</icon>
  </gtx-button>

  @if (clearable && !required) {
    <gtx-button
      class="addon-button clear-button"
      icon
      type="alert"
      [disabled]="disabled"
      (click)="clearValue()"
      >
      <icon>close</icon>
    </gtx-button>
  }
</div>
