<div
    @animNgForParent
    class="language-icons"
    [class.multi-lang]="languages.length > 1"
    [class.show-indicators]="displayStatusInfo"
    [class.show-deleted]="displayDeleted"
>
    @for (variant of variants; track variant.id) {
        @if ((permissions | gtxMapPermissions:variant.code)?.page?.view) {
            <gtx-dropdown-list
                width="contents"
                data-action="page-language"
                data-context-id="page-language"
                [attr.data-id]="variant?.code"
                [disabled]="mode === ItemListRowMode.SELECT"
            >
                <gtx-dropdown-trigger @animNgForChild>
                    <gtx-language-state
                        data-context-trigger
                        class="selectable"
                        [language]="variant"
                        [activeLanguage]="activeLanguage"
                        [state]="variant"
                        [mode]="uiMode"
                        [showIndicators]="displayStatusInfo"
                        [showDeleted]="displayDeleted"
                        (click)="onIconClicked(variant)"
                    ></gtx-language-state>
                </gtx-dropdown-trigger>

                <gtx-dropdown-content data-context-id="page-language" class="page-language-context">
                    @if (uiMode === UIMode.EDIT) {
                        @if (!variant.available && !activeLanguage) {
                            <gtx-dropdown-item
                                data-action="set-source-language"
                                (click)="languageClicked(variant, false, true)"
                            >
                                {{ 'editor.set_as_source_language_label' | gtxI18n:{ language: variant?.name } }}
                            </gtx-dropdown-item>
                        }

                        @if (variant.available && !variant.deleted) {
                            <gtx-dropdown-item
                                data-action="preview"
                                (click)="languageClicked(language)"
                            >
                                {{ 'editor.preview_in_language_label' | gtxI18n:{ language: variant?.name } }}
                            </gtx-dropdown-item>
                        }

                        @if (variant.available
                            && page.contentGroupId !== variant.id
                            && !variant.deleted
                        ) {
                            <gtx-dropdown-item
                                data-action="compare"
                                (click)="languageClicked(variant, true)"
                            >
                                {{ 'editor.compare_languages_label' | gtxI18n:{
                                    language1: activeLanguage?.name,
                                    language2: variant?.name
                                } }}
                            </gtx-dropdown-item>
                        }

                        @if ((!variant.available || variant.deleted)
                            && activeLanguage
                            && (permissions | gtxMapPermissions:variant.code)?.page?.edit
                        ) {
                                <gtx-dropdown-item
                                    data-action="translate"
                                    (click)="languageClicked(variant)"
                                >
                                    {{ 'editor.translate_into_label' | gtxI18n:{ language: variant?.name } }}
                                </gtx-dropdown-item>
                        }

                        @if (variant.deleted && (permissions | gtxMapPermissions)?.wastebin) {
                            <gtx-dropdown-item
                                data-action="restore"
                                (click)="languageClicked(variant, false, false, true)"
                            >
                                <icon left>restore_from_trash</icon>
                                {{ 'editor.restore_from_wastebin_label' | gtxI18n }}
                            </gtx-dropdown-item>
                        }
                    }

                    @if (uiMode === UIMode.STAGING && variant.available && !variant.deleted) {
                        <gtx-dropdown-item
                            data-action="stage"
                            [attr.data-active]="stagingMap?.[variant?.globalId]?.included"
                            (click)="onStageLanguageClick(variant, false)"
                        >
                            <icon left>{{ stagingMap?.[variant?.globalId]?.included ? 'remove' : 'inventory' }}</icon>
                            {{ 'editor.' + (stagingMap?.[variant?.globalId]?.included ? 'un' : '') + 'stage_item_language_label' | gtxI18n:{
                                language: variant?.name,
                                itemType: 'common.type_page' | gtxI18n,
                                itemTypePlural: 'common.type_pages' | gtxI18n
                            } }}
                        </gtx-dropdown-item>
                    }
                </gtx-dropdown-content>
            </gtx-dropdown-list>
        }
    }

    @if (hasUntranslated) {
        <div class="expand-toggle">
            <gtx-button
                icon
                type="secondary"
                size="small"
                (click)="toggleExpand()"
            >
                <icon>{{ expanded ? 'arrow_back' : 'more_horiz' }}</icon>
            </gtx-button>
        </div>
    }
</div>
