<gtx-date-time-picker
    *ngIf="!settings?.inline; else inline"

    [format]="settings?.format"
    [label]="settings?.label"

    [disabled]="disabled"
    [selectYear]="true"
    [displayTime]="settings?.allowTime"
    [displaySeconds]="false"
    [min]="settings?.min"
    [max]="settings?.max"
    [value]="timestamp"
    (valueChange)="handleValueChange($event)"
></gtx-date-time-picker>

<ng-template #inline>
    <gtx-date-time-picker-controls
        [disabled]="disabled"
        [selectYear]="true"
        [displayTime]="settings?.allowTime"
        [displaySeconds]="false"
        [min]="settings?.min"
        [max]="settings?.max"
        [value]="timestamp"
        (valueChange)="handleValueChange($event)"
    ></gtx-date-time-picker-controls>
</ng-template>
