<div class="gtx-entity-details-tab-content-header flex-container">


  @if (title) {
    <h2 class="gtx-entity-details-tab-content-header-title flex-item">
      {{ title }}
    </h2>
  }

  <ng-content></ng-content>

  <div class="gtx-entity-details-tab-content-header-buttons flex-item">
    @if (saveClick.observers.length > 0) {
      <gtx-button
        class="gtx-save-button"
        flat
        type="primary"
        size="small"
        [disabled]="saveDisabled"
        [gtxActionAllowed]="saveActionAllowedId"
        [aaInstanceId]="saveActionAllowedInstanceId"
        [aaNodeId]="saveActionAllowedNodeId"
        (click)="saveClick.emit()"
        >
        <icon left>save</icon> {{ 'common.save_button' | gtxI18n }}
      </gtx-button>
    }

    @if (cancelClick.observers.length > 0) {
      <gtx-button
        class="gtx-cancel-button"
        flat
        type="primary"
        size="small"
        (click)="cancelClick.emit()"
        >
        <icon left>close</icon>
      </gtx-button>
    }
  </div>
</div>
