<div class="container">

    <div *ngIf="showTitle" class="header">
        <h2>
            <ng-container *ngIf="originalTag?.type !== 'OBJECTTAG'; else objPropName">{{ originalTag?.tagType?.name }}</ng-container>
            <ng-template #objPropName>{{ originalTag | objTagName }}</ng-template>
        </h2>
    </div>

    <div class="tag-property-editors">
        <div
            *ngFor="let tagPart of editableTagParts"
            class="tag-property-editor-row"
            [ngClass]="tagPart?.keyword ? 'gtx-tag-part-keyword__' + tagPart.keyword : 'gtx-tag-part-keyword__no-keyword'"
        >
            <tag-property-editor-host [tagPart]="tagPart"></tag-property-editor-host>
        </div>
    </div>

    <div *ngIf="!onTagChangeFn" class="footer">
        <gtx-button
            *ngIf="context?.withDelete"
            class="delete-button"
            type="alert"
            data-action="delete"
            (click)="onDeleteClick()"
        >{{ 'common.delete_button' | i18n }}</gtx-button>

        <gtx-button
            class="cancel-button"
            type="secondary"
            data-action="cancel"
            (click)="onCancelClick()"
        >{{ 'common.cancel_button' | i18n }}</gtx-button>

        <gtx-button
            class="ok-button"
            [disabled]="!allPropertiesValid"
            data-action="confirm"
            (click)="onOkClick()"
        >{{ 'common.okay_button' | i18n }}</gtx-button>
    </div>

</div>
