<div class="modal-title">
  <h5>{{ 'modal.channel_dependencies_title' | gtxI18n }}</h5>
</div>
<div class="modal-content">
  <gtx-tabs pure [activeId]="activeTab">
    @for (itemType of typesToDisplay; track itemType) {
      <gtx-tab
        [icon]="itemType.slice(0, -1) | gtxTypeIcon"
        [id]="itemType"
        title="{{ 'modal.' + itemType | gtxI18n }}"
        [class.active]="activeTab === itemType"
        (select)="selectTab($event)">
        @if (syncableItems) {
          <div class="affected-objects-wrapper">
            <div class="affected-objects-row">
              <div class="row all-items-count">
                <div class="column">
                  <gtx-checkbox
                    class="left"
                    [checked]="areAllSelected(itemType)"
                  (change)="$event ? selectAllItems(itemType) : deselectAllItems(itemType)"></gtx-checkbox>
                  @if (selectedItems[itemType].length) {
                    <div>
                      {{ 'editor.item_count_header_selected' | gtxI18n: {
                        selected: selectedItems[itemType].length,
                        count: syncableItems[itemType].length,
                        items: ('common.type_' + itemType.slice(0, -1) + (syncableItems[itemType].length !== 1 ? 's' : '')) |gtxI18n
                      } }}
                    </div>
                  }
                  @if (!selectedItems[itemType].length) {
                    <div>
                      {{ 'editor.item_count_header_simple' | gtxI18n: {
                        count: syncableItems[itemType].length,
                        items: ('common.type_' + itemType.slice(0, -1) + (syncableItems[itemType].length !== 1 ? 's' : '')) |gtxI18n
                      } }}
                    </div>
                  }
                </div>
              </div>
            </div>
            @for (item of syncableItems[itemType]; track item) {
              <div class="affected-objects-row">
                <div class="row">
                  <div class="column">
                    <gtx-checkbox
                      class="left"
                      [checked]="isSelected(itemType, item.id)"
                      (change)="$event ? selectItem(itemType, item.id) : deselectItem(itemType, item.id)">
                    </gtx-checkbox>
                    <div class="item-name">{{ item.name }}
                      @if (getChannelName(item.channelId)) {
                        <span class="localization-label localized info-text">
                          {{ 'modal.in' | gtxI18n }} {{ getChannelName(item.channelId) }}
                        </span>
                      }
                      @if (!getChannelName(item.channelId)) {
                        <span class="localization-label localized info-text">
                          {{ 'modal.in' | gtxI18n }} {{ 'modal.channel_id' | gtxI18n }}: {{ item.channelId }}
                        </span>
                      }
                    </div>
                  </div>
                </div>
                @if (syncableItems.dependencies[itemType.slice(0, -1)] && syncableItems.dependencies[itemType.slice(0, -1)][item.id]) {
                  <div class="row dependency-row">
                    <div class="column">
                      <div class="dep-text">{{ 'modal.dependencies' | gtxI18n }}:
                        <span class="info-text">
                          {{ syncableItems.dependencies[itemType.slice(0, -1)][item.id] | dependenciesCount }}
                        </span>
                      </div>
                    </div>
                  </div>
                }
              </div>
            }
          </div>
        }
      </gtx-tab>
    }
  </gtx-tabs>
</div>
<div class="modal-footer">
  <gtx-button flat type="secondary" (click)="cancelFn()">
    {{ 'common.cancel_button' | gtxI18n }}
  </gtx-button>
  <gtx-button type="default" (click)="confirmSettings()">
    {{ 'modal.push_to_master_button' | gtxI18n }}
  </gtx-button>
</div>
