# compiled output
/build
/dist
/out-tsc
/apps/**/src/**/*.css
/apps/ui-core-docs/compile-docs.js
/apps/ui-core-docs/docs.output.json

# profiling files
chrome-profiler-events.json
speed-measure-plugin.json

# temp/cache files
/tmp
.angular
.nx

# output directories
coverage
.playwright
test-results

# Customer specific configurations
customer-config/

# JUnit test reports
.reports

# ng serve proxy configuration
proxy.conf.json
proxy.conf.*.json
report.*.json
