# Increase node memory limit to 5120M
node-options = --max-old-space-size=5120
# Until fixing legacy dependency of Gentics UI Image Editor
legacy-peer-deps = true
; Custom Repo Settings
@gentics:registry=https://repo.gentics.com/repository/npm/
git-tag-version = false
allow-same-version = true
