{
    "/rest": {
        "target": "http://localhost:8080",
        "secure": false,
        "changeOrigin": true
    },
	"/static": {
        "target": "http://localhost:8080",
        "secure": false,
        "changeOrigin": true
    },
    "/customplugins": {
        "target": "http://localhost:8080",
        "secure": false,
        "changeOrigin": true
    },
    "/ui-conf": {
        "target": "http://localhost:8080",
        "secure": false,
        "changeOrigin": true
    },
    "/alohapage": {
        "target": "http://localhost:8080",
        "secure": false,
        "changeOrigin": true
    },
    "/alohaeditor": {
        "target": "http://localhost:8080",
        "secure": false,
        "changeOrigin": true
    },
    "/GenticsImageStore": {
        "target": "http://localhost:8080",
        "secure": false,
        "changeOrigin": true
    },
    "/gcnjsapi": {
        "target": "http://localhost:8080",
        "secure": false,
        "changeOrigin": true
    }
}
