<div
  #wrapper
  class="icon-checkbox-wrapper"
  [class.checked]="selected"
  [class.disabled]="disabled"
  >
  <div class="item-icon">
    @if (icon || !image) {
      <icon>{{ icon }}</icon>
    } @else {
      <image-thumbnail
        [image]="image"
        [nodeId]="nodeId"
        [width]="wrapper.clientWidth"
        [maxHeight]="wrapper.clientHeight" >
      </image-thumbnail>
    }
  </div>

  @if (selected || !disabled) {
    <div class="item-checkbox">
      <gtx-checkbox
        [checked]="selected"
        [disabled]="disabled"
        (change)="checkboxClicked($event)"
      ></gtx-checkbox>
    </div>
  }
</div>
