<div
    #wrapper
    class="icon-checkbox-wrapper"
    [class.checked]="selected"
    [class.disabled]="disabled"
>
    <div class="item-icon">
        <icon *ngIf="icon || !image; else showImage">{{ icon }}</icon>
        <ng-template #showImage>
            <image-thumbnail
                [image]="image"
                [nodeId]="nodeId"
                [width]="wrapper.clientWidth"
                [maxHeight]="wrapper.clientHeight" >
            </image-thumbnail>
        </ng-template>
    </div>

    <div *ngIf="selected || !disabled" class="item-checkbox">
        <gtx-checkbox
            [value]="selected"
            [disabled]="disabled"
            (valueChange)="checkboxClicked($event)"
        ></gtx-checkbox>
    </div>
</div>
