<h2 class="title">{{ 'widget.widget_publishing_process_per_node_title' | i18n }}</h2>

<div class="content-maintenance-toolbar">
    <div class="content-maintenance-actions">
        <gtx-button
            flat
            class="action-button"
            type="primary"
            size="small"
            [gtxActionAllowed]="'admin.readAdmin'"
            (click)="btnMaintenanceActionClicked(MaintenanceActionModalAction.REPUBLISH_OBJECTS)"
        >
            <icon left>refresh</icon> {{ 'contentmaintenance.republish_objects' | i18n }}
        </gtx-button>

        <gtx-button
            flat
            class="action-button"
            type="primary"
            size="small"
            [gtxActionAllowed]="'admin.readAdmin'"
            (click)="btnMaintenanceActionClicked(MaintenanceActionModalAction.DELAY_OBJECTS)"
        >
            <icon left>schedule</icon> {{ 'contentmaintenance.delay_objects' | i18n }}
        </gtx-button>

        <gtx-button
            flat
            class="action-button"
            type="primary"
            size="small"
            [gtxActionAllowed]="'admin.readAdmin'"
            (click)="btnMaintenanceActionClicked(MaintenanceActionModalAction.REPUBLISH_DELAYED_OBJECTS)"
        >
            <icon left>history</icon> {{ 'contentmaintenance.republish_delayed_objects' | i18n }}
        </gtx-button>

        <gtx-button
            flat
            class="action-button"
            type="primary"
            size="small"
            [gtxActionAllowed]="'admin.readAdmin'"
            (click)="btnMaintenanceActionClicked(MaintenanceActionModalAction.MARK_OBJECTS_AS_PUBLISHED)"
        >
            <icon left>approval</icon> {{ 'contentmaintenance.mark_objects_as_published' | i18n }}
        </gtx-button>

        <gtx-button
            flat
            class="action-button"
            type="primary"
            size="small"
            [gtxActionAllowed]="'admin.readAdmin'"
            (click)="btnMaintenanceActionClicked(MaintenanceActionModalAction.STOP_PUBLISHING)"
        >
            <icon left>highlight_off</icon> {{ 'contentmaintenance.stop_publishing' | i18n }}
        </gtx-button>

        <gtx-button
            flat
            class="action-button"
            type="primary"
            size="small"
            [gtxActionAllowed]="'admin.readAdmin'"
            (click)="btnMaintenanceActionClicked(MaintenanceActionModalAction.RELOAD_CONFIGURATION)"
        >
            <icon left>settings_applications</icon> {{ 'contentmaintenance.reload_configuration' | i18n }}
        </gtx-button>
    </div>
</div>

<gtx-search-bar
    [ngModel]="searchTerm"
    [placeholder]="('shared.search' | i18n) + ' ' + ('common.node_plural' | i18n)"
    [autofocus]="true"
    (change)="filterNodes($event)"
    (clear)="filterNodes('')"
></gtx-search-bar>

<div #table [style.minHeight.px]="tableElementViewHeight">
    <table
        *ngIf="allNodes$ | async as nodes"
        class="gtx-table-publishqueue"
    >
        <tr
            *ngIf="selectable"
            class="row-select-all"
        >
            <th>
                <gtx-checkbox
                    [label]="'widget.select_all_nodes' | i18n"
                    [disabled]="tableIsLoading"
                    (change)="checkAll($event)"
                ></gtx-checkbox>
            </th>
            <td
                class="gtx-cell-last"
                (click)="toggleRowAll()"
            >
                <div class="gtx-cell-last-inner" *ngIf="!tableIsLoading; else templateTableIsLoading">
                    <icon
                        class="gtx-icon-expand"
                        [class.active]="allCollapsed === false"
                    >
                        chevron_left
                    </icon>
                </div>
                <ng-template #templateTableIsLoading>{{ 'shared.loading' | i18n }}</ng-template>
            </td>
        </tr>

        <ng-container *ngFor="let node of nodes; trackBy: identify">
            <tr
                class="gtx-row-data"
                *ngIf="!infoStatsPerNodeState[node.id]?.hidden"
                [@slideAnim]
            >
                <td class="gtx-row-data-name">
                    <gtx-checkbox
                        *ngIf="selectable"
                        [label]="node.name"
                        [disabled]="tableIsLoading"
                        [checked]="infoStatsPerNodeState[node.id]?.selected"
                        (change)="checkRow(node.id)"
                    ></gtx-checkbox>
                    <span
                        *ngIf="node.disablePublish"
                        class="disable-publish-true-hint"
                        [title]="'shared.disable_publish_true' | i18n"
                    >&nbsp;*</span>
                </td>
                <td
                    class="gtx-cell-last"
                    (click)="toggleRow(node.id)"
                >
                    <div class="gtx-cell-last-inner" *ngIf="!tableIsLoading; else templateTableIsLoading">
                        <icon
                            class="gtx-icon-expand"
                            [class.active]="infoStatsPerNodeState[node.id]?.collapsed"
                        >
                            chevron_left
                        </icon>
                    </div>
                    <ng-template #templateTableIsLoading>{{ 'shared.loading' | i18n }}</ng-template>
                </td>
            </tr>
            <tr
                class="gtx-row-nested-table"
                [class.gtx-row-hidden]="!infoStatsPerNodeState[node.id]?.collapsed"
                [hidden]="infoStatsPerNodeState[node.id]?.hidden"
            >
                <td colspan="2">
                    <div
                        *ngIf="infoStatsPerNodeData$ | async as nodeData"
                        class="gtx-nested-table-container row"
                    >
                        <table
                            *ngIf="nodeData.nodes as nodes"
                            class="gtx-nested-table columns small-12 large-3 large-offset-1"
                        >
                            <tr>
                                <th colspan="2">{{ 'common.file_plural' | i18n }}</th>
                            </tr>
                            <tr>
                                <td>{{ 'shared.toPublish' | i18n }}</td>
                                <td>{{ nodes[node.id].files.toPublish }}</td>
                            </tr>
                            <tr>
                                <td>{{ 'shared.delayed' | i18n }}</td>
                                <td>{{ nodes[node.id].files.delayed }}</td>
                            </tr>
                            <tr>
                                <td>{{ 'shared.published' | i18n }}</td>
                                <td>{{ nodes[node.id].files.published }}</td>
                            </tr>
                            <tr>
                                <td>{{ 'shared.remaining' | i18n }}</td>
                                <td>{{ nodes[node.id].files.remaining }}</td>
                            </tr>
                        </table>

                        <table
                            *ngIf="nodeData.nodes as nodes"
                            class="gtx-nested-table columns small-12 large-3 large-offset-1"
                        >
                            <tr>
                                <th colspan="2">{{ 'common.folder_plural' | i18n }}</th>
                            </tr>
                            <tr>
                                <td>{{ 'shared.toPublish' | i18n }}</td>
                                <td>{{ nodes[node.id].folders.toPublish }}</td>
                            </tr>
                            <tr>
                                <td>{{ 'shared.delayed' | i18n }}</td>
                                <td>{{ nodes[node.id].folders.delayed }}</td>
                            </tr>
                            <tr>
                                <td>{{ 'shared.published' | i18n }}</td>
                                <td>{{ nodes[node.id].folders.published }}</td>
                            </tr>
                            <tr>
                                <td>{{ 'shared.remaining' | i18n }}</td>
                                <td>{{ nodes[node.id].folders.remaining }}</td>
                            </tr>
                        </table>

                        <table
                            *ngIf="nodeData.nodes as nodes"
                            class="gtx-nested-table columns small-12 large-3 large-offset-1"
                        >
                            <tr>
                                <th colspan="2">{{ 'common.page_plural' | i18n }}</th>
                            </tr>
                            <tr>
                                <td>{{ 'shared.toPublish' | i18n }}</td>
                                <td>{{ nodes[node.id].pages.toPublish }}</td>
                            </tr>
                            <tr>
                                <td>{{ 'shared.delayed' | i18n }}</td>
                                <td>{{ nodes[node.id].pages.delayed }}</td>
                            </tr>
                            <tr>
                                <td>{{ 'shared.published' | i18n }}</td>
                                <td>{{ nodes[node.id].pages.published }}</td>
                            </tr>
                            <tr>
                                <td>{{ 'shared.remaining' | i18n }}</td>
                                <td>{{ nodes[node.id].pages.remaining }}</td>
                            </tr>
                        </table>

                    </div>
                </td>
            </tr>
        </ng-container>
    </table>
</div>
