@import 'variables';

$gtx-table-publishqueue-border-color: #ddd;

.title {
    border-bottom: 1px solid #eee;
    padding-bottom: 0.5rem;
}

.content-maintenance-toolbar {

    & > .columns {
        display: flex;
        align-items: center;
    }
}

.content-maintenance-actions {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 1rem 0;

    .action-button {
        margin: 0 1rem;
    }
}

.gtx-table-publishqueue {

    .row-select-all {
        border-bottom: 1px solid $gtx-table-publishqueue-border-color;
    }

    tr {
        border-top: none;
        border-bottom: none;

        &.gtx-row-data {
            transition: background-color ease 0.2s;
            background-color: auto;

            &:hover {
                background-color: rgba($gtx-color-primary, 0.1);
            }

            th, td {
                border-bottom: none;
                padding: 0.3rem 0.3rem;
            }
        }

        &.gtx-row-nested-table {
            max-height: auto;
            line-height: auto;
            overflow: hidden;
            transition: all ease 0.1s;
            border-bottom: 1px solid $gtx-table-publishqueue-border-color;

            td:last-child {
                text-align: right;
            }

            th, td {
                max-height: auto;
                line-height: auto;
                overflow: hidden;
                transition: all ease 0.1s;
                padding-left: 0;
                padding-right: 0;
                padding-bottom: 0.3rem;
                padding-top: 0.3rem;
            }
        }
        &.gtx-row-hidden {
            max-height: 0;
            border-top: 0;
            line-height: 0;

            th, td {
                max-height: 0;
                border-top: 0;
                line-height: 0;
                padding-bottom: 0;
                padding-top: 0;
            }

            .gtx-nested-table th {
                border-bottom: none;
            }
        }
    }

    th, td {
        vertical-align: top;
    }

    .gtx-row-data-name {
        display: flex;
        align-items: center;

        icon {
            cursor: help;
            font-size: 1rem;
            color: #333;
        }
    }

    .gtx-cell-last-inner {
        display: flex;
        justify-content: flex-end;
        cursor: pointer;
    }

    .gtx-cell-last-value {
        display: flex;
        margin-right: 1rem;
    }

    .gtx-icon-expand {
        transition: transform ease 0.2s;

        &.active {
            transform: rotate(-90deg);
        }
    }
}

.gtx-nested-table-container {
    width: 100%;
}

.gtx-nested-table {
    font-size: 90%;

    th {
        border-bottom: 1px solid $gtx-table-publishqueue-border-color;
    }
}

.disable-publish-true-hint {
    cursor: help;
    font-size: 1rem;
}
