@if (displayItems?.length > 0) {
  <div class="links-container">
    @for (item of displayItems; track item) {
      <gtx-dropdown-list
        #dropdown
        class="dropdown"
        [belowTrigger]="true"
        [sticky]="false"
        [width]="'content'"
        [disabled]="true"
        (open)="handleDropdownOpen($event)"
        >
        <gtx-dropdown-trigger>
          <div class="link-item">
            <button
              class="link-label"
              (click)="focusElement(item.element)"
              >
              <span class="link-label-text">{{ item.href }}</span>
            </button>
            <button
              class="link-opener"
              (click)="openDropdown(dropdown)"
              >
              <icon>keyboard_arrow_down</icon>
            </button>
          </div>
        </gtx-dropdown-trigger>
        <gtx-dropdown-content>
          <div class="link-options">
            <button
              class="link-option-button link-edit-button"
              (click)="openLinkEditor(item.element)"
              >
              <icon>edit</icon>
              <span class="link-button-label">{{ 'aloha.link_checker_edit' | gtxI18n }}</span>
            </button>
            <button
              class="link-option-button link-delete-button"
              (click)="deleteLinkElement(item.element)"
              >
              <icon>delete</icon>
              <span class="link-button-label">{{ 'aloha.link_checker_delete' | gtxI18n }}</span>
            </button>
          </div>
        </gtx-dropdown-content>
      </gtx-dropdown-list>
    }
  </div>
} @else {
  <div class="no-content">
    <span class="no-content-label">{{ 'aloha.link_checker_no_content' | gtxI18n }}</span>
  </div>
}

