<div class="modal-title">
    <h5>{{ title | gtxI18n }}</h5>
</div>

<div class="modal-content">
    <gtx-mesh-schema-table
        [hideActions]="true"
        [multiple]="multiple"
        [(selected)]="selected"
    ></gtx-mesh-schema-table>
</div>

<div class="modal-footer">
    <gtx-button
        type="primary"
        data-action="confirm"
        (click)="confirmSelection()"
    >
        {{ 'shared.confirm_selection' | gtxI18n }}
    </gtx-button>

    <gtx-button
        type="secondary"
        flat
        data-action="cancel"
        (click)="cancelFn()"
    >
        {{ 'common.cancel_button' | gtxI18n }}
    </gtx-button>
</div>
