@if (name) {
  <span [ngClass]="['gtx-icon', name]">
    @if (matIconPrimary) {
      <span class="gtx-icon-primary">
        @if (name !== 'usersnap') {
          <icon>{{ matIconPrimary }}</icon>
        } @else {
          @if (name === 'usersnap') {
            <img src="../../../../assets/images/usersnap.png" height="20" width="20">
          }
        }
      </span>
    }
    @if (matIconSecondary) {
      <span class="gtx-icon-secondary-container">
        <span class="gtx-icon-secondary">
          <icon>{{ matIconSecondary }}</icon>
        </span>
      </span>
    }
  </span>
}
