@import 'variables';

.content {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.entry {
    display: flex;
    flex-direction: column;
    padding: 0.25rem 0.3rem;
    border-bottom: 1px solid $gtx-color-very-light-gray;

    .entry-title {
        font-weight: bold;
    }

    &.typed-entry {
        .entry-title {
            display: flex;
            align-content: center;
            align-items: center;
            line-height: 1;
            gap: 0.5rem;
        }
    }
}
