<form
    *ngIf="form"
    [formGroup]="form"
    class="row small-12 medium-12"
>
    <div class="input-container small-12 medium-6 columns">

        <gtx-select
            [label]="('contentRepository.crType' | i18n) + ' *'"
            formControlName="crType"
            [clearable]="mode !== ContentRepositoryPropertiesMode.UPDATE"
            [required]="true"
        >
            <gtx-option *ngFor="let crType of crTypes" [value]="crType.id">{{ crType.label | i18n }}</gtx-option>
        </gtx-select>

        <gtx-input
            type="text"
            maxlength="255"
            [label]="('contentRepository.name' | i18n) + ' *'"
            formControlName="name"
        ></gtx-input>

        <gtx-input
            *ngIf="form.get('dbType').enabled"
            type="text"
            maxlength="255"
            [label]="('contentRepository.dbType' | i18n) + ' *'"
            formControlName="dbType"
        ></gtx-input>

        <gtx-input
            *ngIf="form.get('url').enabled"
            type="text"
            maxlength="255"
            [label]="('contentRepository.url' | i18n) + ' *'"
            formControlName="url"
        ></gtx-input>

        <gtx-input
            *ngIf="form.get('username').enabled"
            type="text"
            maxlength="255"
            [label]="('shared.user_name' | i18n) + ' *'"
            formControlName="username"
        ></gtx-input>

        <gtx-checkbox
            *ngIf="form.get('usePassword').enabled"
            formControlName="usePassword"
            [label]="'contentRepository.usePassword' | i18n"
        ></gtx-checkbox>

        <div
            [hidden]="!form.value.usePassword"
            class="gtx-password-box"
        >
            <gtx-input
                *ngIf="form.get('password').enabled"
                type="password"
                maxlength="255"
                [label]="'contentRepository.password' | i18n"
                formControlName="password"
            >
            </gtx-input>

            <gtx-input
                *ngIf="form.get('password').enabled"
                type="password"
                maxlength="255"
                [label]="'contentRepository.repeatPassword' | i18n"
                [value]="passwordRepeat"
                (change)="updatePasswordRepeat($event)"
            >
            </gtx-input>

            <span
                *ngIf="form.get('password')?.hasError('passwordsDontMatch')"
                class="container-validator-errors"
            >
                {{ 'shared.passwords_dont_match_error' | i18n }}
            </span>
        </div>

    </div>

    <div class="input-container small-12 medium-6 columns">

        <gtx-input
            *ngIf="form.get('basepath').enabled"
            type="text"
            maxlength="255"
            [label]="'contentRepository.basepath' | i18n"
            formControlName="basepath"
        ></gtx-input>

        <gtx-checkbox
            *ngIf="form.get('instantPublishing').enabled"
            formControlName="instantPublishing"
            [label]="'contentRepository.instantPublishing' | i18n"
        ></gtx-checkbox>

        <gtx-checkbox
            *ngIf="form.get('diffDelete').enabled"
            formControlName="diffDelete"
            [label]="'contentRepository.diffDelete' | i18n"
        ></gtx-checkbox>

        <gtx-checkbox
            *ngIf="form.get('languageInformation').enabled"
            formControlName="languageInformation"
            [label]="'contentRepository.languageInformation' | i18n"
        ></gtx-checkbox>

        <gtx-checkbox
            *ngIf="form.get('permissionInformation').enabled"
            formControlName="permissionInformation"
            [label]="'contentRepository.permissionInformation' | i18n"
        ></gtx-checkbox>

        <gtx-input
            *ngIf="form.get('permissionProperty').enabled"
            type="text"
            maxlength="255"
            [label]="'contentRepository.permissionProperty' | i18n"
            formControlName="permissionProperty"
        ></gtx-input>

        <!-- defaultPermission -->
        <gtx-input
            *ngIf="form.get('defaultPermission').enabled"
            type="text"
            maxlength="255"
            [label]="'contentRepository.defaultPermission' | i18n"
            formControlName="defaultPermission"
        ></gtx-input>

        <!-- projectPerNode -->
        <gtx-checkbox
            *ngIf="form.get('projectPerNode').enabled"
            formControlName="projectPerNode"
            [label]="'contentRepository.projectPerNode' | i18n"
        ></gtx-checkbox>

        <!-- defaultPermission -->
        <gtx-input
            *ngIf="form.get('version').enabled"
            type="text"
            maxlength="255"
            [label]="'contentRepository.version' | i18n"
            formControlName="version"
        ></gtx-input>

        <!-- elasticsearch -->
        <gtx-textarea
            *ngIf="form.get('elasticsearch').enabled"
            [label]="'contentRepository.elasticsearch' | i18n"
            formControlName="elasticsearch"
        ></gtx-textarea>

        <span
            *ngIf="form.get('elasticsearch')?.hasError('errorIsInvalidJson')"
            class="container-validator-errors"
        >
            {{ 'shared.error_is_invalid_json' | i18n }}
        </span>

    </div>
</form>
