<gtx-dropdown-list
  #dropdown
  [hidden]="buttonGroups.length < 1"
  [align]="'right'"
  [belowTrigger]="true"
  data-context-id="actions-menu"
  >
  <gtx-dropdown-trigger>
    <gtx-button data-context-trigger data-action="open-actions-menu" icon type="secondary">
      <icon>apps</icon>
    </gtx-button>
  </gtx-dropdown-trigger>

  <gtx-dropdown-content data-context-id="actions-menu">
    <div class="action-buttons-dropdown-content">
      @for (group of buttonGroups; track group.i18nLabel) {
        <div class="action-button-group">
          <div class="action-button-group-label">
            {{ group.i18nLabel | gtxI18n }}
          </div>
          @for (btnGroup of group.buttons; track btnGroup) {
            <div class="action-button-group-content">
              @for (btn of btnGroup; track btn.id) {
                @if (btn.type === ActionButtonType.TOOL) {
                  @if (!btn.newTab) {
                    <a
                      [routerLink]="['/tools', btn.toolKey]"
                      [title]="btn.i18nLabel ? (btn.i18nLabel | gtxI18n) : btn.label"
                      [attr.data-action-type]="btn.type"
                      [attr.data-tool-id]="btn.id"
                      (click)="triggerClick(btn, $event)"
                      >
                      <button
                        class="action-button"
                        [ngClass]="[btn.type + '-' + btn.id, 'action-button-' + btn.type]"
                        >
                        <ng-container [ngTemplateOutlet]="buttonContent"></ng-container>
                      </button>
                    </a>
                  } @else {
                    <a
                      [href]="btn.toolLink | safe"
                      [target]="'_blank'"
                      [title]="btn.i18nLabel ? (btn.i18nLabel | gtxI18n) : btn.label"
                      [attr.data-action-type]="btn.type"
                      [attr.data-action-id]="btn.id"
                      (click)="triggerClick(btn, $event)"
                      >
                      <button
                        class="action-button"
                        [ngClass]="[btn.type + '-' + btn.id, 'action-button-' + btn.type]"
                        >
                        <ng-container [ngTemplateOutlet]="buttonContent"></ng-container>
                      </button>
                    </a>
                  }
                } @else {
                  <button
                    class="action-button"
                    [ngClass]="[btn.type + '-' + btn.id, 'action-button-' + btn.type]"
                    [attr.data-action-id]="btn.id"
                    [title]="btn.i18nLabel ? (btn.i18nLabel | gtxI18n) : btn.label"
                    (click)="triggerClick(btn, $event)"
                    >
                    <ng-container [ngTemplateOutlet]="buttonContent"></ng-container>
                  </button>
                }
                <ng-template #buttonContent>
                  <div class="action-button-icon-wrapper">
                    @if (btn.type === ActionButtonType.TOOL && btn.newTab) {
                      <icon class="tool-new-tab">open_in_new</icon>
                    }
                    @switch (btn.iconType) {
                      @case (ActionButtonIconType.FONT) {
                        <icon
                          class="action-button-icon action-button-font-icon"
                        >{{ btn.icon }}</icon>
                      }
                      @case (ActionButtonIconType.URL) {
                        <img
                          [src]="btn.icon"
                          width="58"
                          height="58"
                          class="action-button-icon action-button-url-icon"
                          />
                      }
                      @case (ActionButtonIconType.TEXT) {
                        <span
                          class="action-button-icon action-button-text-icon"
                        >{{ btn.icon }}</span>
                      }
                    }
                  </div>
                  <div class="action-button-label">
                    {{ btn.i18nLabel ? (btn.i18nLabel | gtxI18n) : btn.label }}
                  </div>
                </ng-template>
              }
            </div>
          }
        </div>
      }
    </div>
  </gtx-dropdown-content>
</gtx-dropdown-list>
