@import "variables";

.action-buttons-dropdown-content {

    padding: 1rem;

    .action-button-group {
        .action-button-group-label {
            font-size: 1.1rem;
            font-weight: bold;
            border-bottom: 1px solid $gtx-color-light-gray;
        }

        .action-button-group-content {
            display: grid;
            grid-template-columns: repeat(3, auto);
            grid-gap: 1rem 0px;
            padding: 1rem 0;
            width: 100%;
        }
    }

    .action-button {
        flex: 1 0 auto;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        gap: 0.5rem;
        text-align: center;
        position: relative;
        cursor: pointer;
        width: 8rem;
        max-width: 8rem;
        background: none;
        border: none;
        align-items: baseline;

        .action-button-icon-wrapper {
            margin: auto;
            width: 64px;
            height: 64px;
            background-color: $gtx-color-very-light-gray;
            border-radius: 8px;
            position: relative;

            .tool-new-tab {
                position: absolute;
                top: -0.5rem;
                right: -0.5rem;
                color: $gtx-color-light-gray;
                transition: 300ms;
            }

            .action-button-icon {
                display: block;
                font-size: 64px;
                color: $gtx-color-dark-gray;
                transition: 300ms;

                &.action-button-text-icon {
                    line-height: 64px;
                    text-transform: uppercase;
                }

                &.action-button-url-icon {
                    margin: 2px;
                }
            }
        }

        .action-button-label {
            color: $gtx-color-dark-gray;
            transition: 300ms;
            margin: auto;
            width: 100%;
            text-align: center;
            white-space: initial;
            word-break: break-word;
        }

        &:hover {
            .action-button-icon-wrapper .action-button-icon,
            .action-button-icon-wrapper .tool-new-tab {
                color: $gtx-color-primary;
            }

            .action-button-label {
                color: $gtx-color-very-dark-gray;
            }
        }
    }
}
