<a class="frame" tabindex="0" (click)="iconClicked($event)" [href]="href$ | async" [attr.target]="target" rel="nofollow">
  <div class="tool-icon" [ngClass]="'icon-from-' + iconType">
    @if (iconType === 'url') {
      <img [src]="tool.iconUrl" (error)="useFallbackIcon()">
    }
    @if (iconType === 'font') {
      <icon>{{ tool.iconUrl }}</icon>
    }
    @if (iconType === 'fallback') {
      <div class="fallback-icon">{{ fallbackChar$ | async }}</div>
    }
  </div>
  @if (isActive$ | async) {
    <a class="close-button" tabindex="0" (click)="closeTool($event)">
      <icon>close</icon>
    </a>
  }
  @if (tool.newtab && !(isActive$ | async)) {
    <div class="new-tab-icon">
      <icon [title]="'common.tool_opens_in_new_tab' | gtxI18n">open_in_new</icon>
    </div>
  }
  <div class="tool-name">
    <span>{{ name$ | async }}</span>
  </div>
</a>
