<div
    @animNgForParent
    class="language-icons"
    [class.multi-lang]="languages.length > 1"
    [class.show-indicators]="displayStatusInfo"
    [class.show-deleted]="displayDeleted"
>
    @for (variant of variants; track variant.id) {
        <gtx-dropdown-list
            width="contents"
            data-action="page-language"
            data-context-id="page-language"
            [attr.data-id]="variant?.code"
            [disabled]="mode === ItemListRowMode.SELECT"
        >
            <gtx-dropdown-trigger [@animNgForChild]>
                <gtx-language-state
                    data-context-trigger
                    class="selectable"
                    [language]="variant"
                    [state]="variant"
                    [mode]="uiMode"
                    [showIndicators]="displayStatusInfo"
                    [showDeleted]="displayDeleted"
                    (click)="onIconClicked(variant)"
                ></gtx-language-state>
            </gtx-dropdown-trigger>

            <gtx-dropdown-content>
                @if (uiMode === UIMode.EDIT) {
                    @if (variant.available && !variant.deleted) {
                        <gtx-dropdown-item (click)="languageClicked(variant)">
                            {{ 'editor.preview_in_language_label' | gtxI18n:{ _language: variant?.code } }}
                        </gtx-dropdown-item>
                    }

                    @if (!variant.available || variant.deleted) {
                        <gtx-dropdown-item (click)="languageClicked(variant, false, false)">
                            {{ 'editor.translate_into_label' | gtxI18n:{ _language: variant?.code } }}
                        </gtx-dropdown-item>
                    }

                    @if (variant.deleted && (permissions | gtxMapPermissions)?.item?.delete) {
                        <gtx-dropdown-item (click)="languageClicked(variant, false, false, true)">
                            <icon left>restore_from_trash</icon>
                            {{ 'editor.restore_from_wastebin_label' | gtxI18n }}
                        </gtx-dropdown-item>
                    }
                }

                @if (uiMode === UIMode.STAGING && variant.available && !variant.deleted) {
                    <gtx-dropdown-item (click)="onStageLanguageClick(variant)">
                        <icon left>{{ stagingMap?.[item?.globalId]?.included ? 'remove' : 'inventory' }}</icon>
                        {{ 'editor.' + (stagingMap?.[item?.globalId]?.included ? 'un' : '') + 'stage_item_language_label' | gtxI18n:{ _language: variant?.code } }}
                    </gtx-dropdown-item>
                }
            </gtx-dropdown-content>
        </gtx-dropdown-list>
    }

    <div class="expand-toggle">
        @if (hasUntranslated) {
            <gtx-button
                icon
                type="secondary"
                size="small"
                (click)="toggleExpand()"
            >
                <icon>{{ expanded ? 'arrow_back' : 'more_horiz' }}</icon>
            </gtx-button>
        }
    </div>
</div>

