<div
    @animNgForParent
    class="language-icons"
    [class.multi-lang]="languages.length > 1"
    [class.show-indicators]="displayStatusInfo"
    [class.show-deleted]="displayDeleted"
>
    <ng-container *ngFor="let variant of variants; trackBy: identifyVariant">
        <gtx-dropdown-list
            width="contents"
            data-action="page-language"
            data-context-id="page-language"
            [attr.data-id]="variant?.code"
            [disabled]="mode === ItemListRowMode.SELECT"
        >
            <gtx-dropdown-trigger [@animNgForChild]>
                <gtx-language-state
                    data-context-trigger
                    class="selectable"
                    [language]="variant"
                    [activeLanguage]="currentLanguage"
                    [state]="variant"
                    [mode]="uiMode"
                    [showIndicators]="displayStatusInfo"
                    [showDeleted]="displayDeleted"
                    (click)="onIconClicked(variant)"
                ></gtx-language-state>
            </gtx-dropdown-trigger>

            <gtx-dropdown-content>
                <ng-container *ngIf="uiMode === UIMode.EDIT">
                    <gtx-dropdown-item
                        *ngIf="variant.available && !variant.deleted"
                        (click)="languageClicked(variant)"
                    >
                        {{ 'editor.preview_in_language_label' | i18n:{ _language: variant?.code } }}
                    </gtx-dropdown-item>

                    <gtx-dropdown-item
                        *ngIf="!variant.available || variant.deleted"
                        (click)="languageClicked(variant, false, false)"
                    >
                        {{ 'editor.translate_into_label' | i18n:{ _language: variant?.code } }}
                    </gtx-dropdown-item>

                    <gtx-dropdown-item
                        *ngIf="variant.deleted && (permissions | gtxMapPermissions)?.item?.delete"
                        (click)="languageClicked(variant, false, false, true)"
                    >
                        <icon left>restore_from_trash</icon>
                        {{ 'editor.restore_from_wastebin_label' | i18n }}
                    </gtx-dropdown-item>
                </ng-container>

                <ng-container *ngIf="uiMode === UIMode.STAGING">
                    <gtx-dropdown-item
                        *ngIf="variant.available && !variant.deleted"
                        (click)="onStageLanguageClick(variant)"
                    >
                        <icon left>{{ stagingMap?.[item?.globalId]?.included ? 'remove' : 'inventory' }}</icon>
                        {{ 'editor.' + (stagingMap?.[item?.globalId]?.included ? 'un' : '') + 'stage_item_language_label' | i18n:{ _language: variant?.code } }}
                    </gtx-dropdown-item>
                </ng-container>
            </gtx-dropdown-content>
        </gtx-dropdown-list>
    </ng-container>

    <div class="expand-toggle">
        <gtx-button
            *ngIf="hasUntranslated"
            icon
            type="secondary"
            size="small"
            (click)="toggleExpand()"
        >
            <icon>{{ expanded ? 'arrow_back' : 'more_horiz' }}</icon>
        </gtx-button>
    </div>
</div>
