<div class="container">

  @if (customTagEditorUrl && !showError) {
    <iframe-wrapper
      class="host-iframe"
      [class.hidden]="!customTagEditor"
      [srcUrl]="customTagEditorUrl"
      [height]="iFrameHeight"
      (iFrameLoad)="onIFrameLoad($event)">
    </iframe-wrapper>
  }

  @if (showButtons && !showError) {
    <div class="footer">
      @if (context?.withDelete) {
        <gtx-button
          class="delete-button"
          type="alert"
          (click)="onDeleteClick()"
        >{{ 'common.delete_button' | gtxI18n }}</gtx-button>
      }
      <gtx-button
        class="cancel-button"
        type="secondary"
        (click)="onCancelClick()"
      >{{ 'common.cancel_button' | gtxI18n }}</gtx-button>
      <gtx-button
        class="ok-button"
        [disabled]="!allPropertiesValid"
        (click)="onOkClick()"
      >{{ 'common.okay_button' | gtxI18n }}</gtx-button>
    </div>
  }

  @if (showError) {
    <p class="error">
      {{ 'editor.custom_tag_editor_load_error' | gtxI18n }}
    </p>
    @if (!onTagChangeFn) {
      <gtx-button class="close-button" (click)="onCloseClick()">
        {{ 'common.close_button' | gtxI18n }}
      </gtx-button>
    }
  }

</div>
