<div class="list">
    @for (item of displayItems | paginate: { itemsPerPage: perPage, currentPage: page }; track identify(item)) {
        <gtx-contents-list-item>
            <div class="item-primary">
                @if (selectable) {
                    <gtx-checkbox
                        class="selection-checkbox"
                        [checked]="item.selected"
                        (change)="selectPackage(item)"
                    ></gtx-checkbox>
                }
                <span class="item-name">{{ item.value.name }}</span>
            </div>
        </gtx-contents-list-item>
    }
</div>

<paging-controls
    [class.hidden]="perPage < displayItems.length"
    (pageChange)="updatePage($event)"
></paging-controls>
