.list {
    padding: 1rem 0;

    .item-primary {
        display: flex;

        .selection-checkbox {
            display: inline-flex;
            flex: 0 0 auto;
            width: 20px;
            height: 20px;
            margin: auto 1rem auto 0;
        }

        .item-name {
            display: block;
            margin: auto 0 auto 1rem;
        }
    }
}
