@import "variables";

.gtx-table-cell-boolean {
    font-size: 1.2em;
    height: 20px;
    margin: auto 0;
}

.gtx-table-cell-boolean-true {
    color: $gtx-color-success;
}

.gtx-table-cell-boolean-false {
    color: $gtx-color-alert;
}

.gtx-table-cell-boolean-null {
    color: $gtx-color-dark-gray;
}

.gtx-table-cell-link,
.gtx-table-cell-text {
    display: inline-block;
    margin: auto 0;
}
