@if (isCheckResultAvailable) {
  <gtx-dev-tool-package-trable
    [packageName]="packageName"
    [inlineExpansion]="true"
    />
} @else {
  <div>
    <span id="no-result-text">{{ 'package.consistency_check_no_result' | gtxI18n }}</span>
    @if (!hideActions) {
      <gtx-button
        class="trigger-check-btn"
        flat
        size="small"
        type="primary"
        [disabled]="disabled || loading"
        (click)="handleLoadButtonClick(packageName)"
        >
        {{ 'package.consistency_check_no_result_button'  | gtxI18n   }}
      </gtx-button>
    }
  </div>
}

