<gtx-dev-tool-package-trable
    *ngIf="isCheckResultAvailable else noResultAvailable" 
    [packageName]="packageName"
    [inlineExpansion]="true"
/>

<ng-template #noResultAvailable>
    <div>
        <span id="no-result-text">{{ 'package.consistency_check_no_result' | i18n }}</span>

        <gtx-button
            *ngIf="!hideActions"
            class="trigger-check-btn"
            flat
            size="small"
            type="primary"
            [disabled]="disabled || loading"
            (click)="handleLoadButtonClick(packageName)"
        >
            {{ 'package.consistency_check_no_result_button'  | i18n   }}
        </gtx-button>
    </div>
</ng-template>
