<div class="gtx-entity-detail">
    <gtx-tabs pure [activeId]="activeTabId$ | async">
        <gtx-tab
            [id]="ContentPackageDetailTabs.PROPERTIES"
            gtxDetailTabLink
            [title]="'shared.title_properties' | gtxI18n"
        >
            <div class="detail-tab-wrapper">
                <gtx-entity-detail-header
                    [hidden]="isLoading"
                    [title]="'shared.title_properties_of_entity' | gtxI18n: { entityName: currentEntity?.name }"
                    saveActionAllowedId="content_staging.updateContentPackage"
                    [saveActionAllowedInstanceId]="currentEntity?.id"
                    [saveDisabled]="fgPropertiesSaveDisabled$ | async"
                    (saveClick)="btnSavePropertiesOnClick()"
                    (cancelClick)="detailsClose()"
                ></gtx-entity-detail-header>

                <div class="gtx-entity-details-tab-content-body">
                    <div class="flex-row">
                        <gtx-content-package-properties
                            [mode]="ContentPackagePropertiesMode.UPDATE"
                            [formControl]="fgProperties"/>
                    </div>
                </div>
            </div>
        </gtx-tab>

        <gtx-tab
            [id]="ContentPackageDetailTabs.IMPORT_ERRORS"
            gtxDetailTabLink
            [title]="'shared.title_import_errors' | gtxI18n"
        >
            <div class="detail-tab-wrapper">
                <gtx-entity-detail-header
                    [hidden]="isLoading"
                    [title]="'shared.title_content_staging_errors' | gtxI18n: { entityName: currentEntity?.name }"
                    (cancelClick)="detailsClose()"
                />
                <div class="gtx-entity-details-tab-content-body">
                    <gtx-content-package-import-error-table
                        [contentPackage]="currentEntity"
                        (reloadPackage)="reloadEntity()"
                    />
                </div>
            </div>
        </gtx-tab>

    </gtx-tabs>
</div>
