<div class="modal-title">
  <h5>{{ 'modal.inheritance_title' | gtxI18n }} {{ item.type | gtxI18n | capitalize }} "{{ item.name }}"</h5>
</div>
<div class="modal-content">
  <gtx-checkbox [label]="'modal.general_inheritance_label' | gtxI18n" [(ngModel)]="generalInheritance"></gtx-checkbox>
  <gtx-checkbox [label]="'modal.disinherit_default_label' | gtxI18n" [(ngModel)]="disinheritDefault"></gtx-checkbox>
  @if (0 < item.inheritable.length) {
    <div>
      <h6>{{ 'modal.inheritance_channels_title' | gtxI18n }}</h6>
      @for (nodeId of item.inheritable; track nodeId) {
        <div>
          <gtx-checkbox [disabled]="!generalInheritance" [label]="getChannelLabel(nodeId) | gtxI18n:{ channel: nodes[nodeId]?.name }"
          [(ngModel)]="inheritedChannels[nodeId]"></gtx-checkbox>
        </div>
      }
    </div>
  }
</div>
<div class="modal-footer">
  <gtx-button flat type="secondary" (click)="cancelFn()">{{ 'common.cancel_button' | gtxI18n }}</gtx-button>
  <gtx-button type="default" (click)="saveSettings()">{{ 'common.apply_button' | gtxI18n }}</gtx-button>
  @if (item.type === 'folder') {
    <gtx-button type="default" (click)="saveSettings(true)">
      {{ 'common.apply_recursively_button' | gtxI18n }}
    </gtx-button>
  }
</div>
