@import "variables";

:host {
    .column-button {
        display: flex;
        align-items: center;

        gtx-button {
            display: flex;
        }
    }

    .noTemplates {
        color: $gtx-color-alert;
        margin-bottom: 1rem;
        margin-top: 0;
    }

    [formcontrolname=templateId] {
        margin: 0;

        & + a {
            display: block;
            margin-bottom: 1rem;
        }
    }
}

.custom-date-picker {
    ::ng-deep input {
        margin-top: 0;
        margin-bottom: 0;
    }
}

.actual-date {
    display: block;
    margin-bottom: 20px;
}

.error-message {
    color: $gtx-color-alert;
    margin-bottom: 13px;
    margin-top: -18px;
}

// Hide the button without using `display: none` or `visibility: hidden` otherwise IE does not
// register the form submit event.
.hidden-submit-button {
    opacity: 0;
    height: 0;
    width: 0;
    padding: 0;
    border: 0;
}
