<form [formGroup]="form" novalidate>
    <gtx-input [label]="('editor.item_name_label' | i18n) + '*'"
               formControlName="pageName"
               [gtxDisabled]="disabled"
               required
               [autofocus]="mode === 'create'"
               (keyup)="suggestPageFileName()">
    </gtx-input>

    <gtx-input [label]="'editor.item_filename_label' | i18n"
               formControlName="suggestedOrRequestedFileName"
               [gtxDisabled]="disabled"
               (blur)="sanitizePageFileName()"
               (keyup)="updateRequestedFileName()">
    </gtx-input>

    <gtx-input [label]="'editor.item_description_label' | i18n"
               formControlName="description"
               [gtxDisabled]="disabled">
    </gtx-input>

    <div class="row collapse">
        <div class="columns small-12" [class.medium-5]="languages?.length > 0">
            <gtx-select [label]="('editor.item_template_label' | i18n) + '*'"
                        formControlName="templateId"
                        [gtxDisabled]="disabled"
                        required>
                <gtx-option *ngFor="let template of templates"
                        [value]="template?.id">{{ template?.name }}</gtx-option>
            </gtx-select>
            <span
                *ngIf="templates.length === 0"
                class="noTemplates"
                [title]="(linkToTemplatesAllowed$ | async) ? ('editor.link_templates_no_templates_linked_assign_self' | i18n) : ('editor.link_templates_no_templates_linked_assign_request' | i18n)"
            >
                {{ 'editor.link_templates_no_templates_linked' | i18n }}.
            </span>
            <a
                *ngIf="(linkToTemplatesAllowed$ | async)"
                href=""
                (click)="linkToTemplatesClicked($event)"
            >
                {{ 'editor.link_templates_to_folder_button' | i18n }}
            </a>
        </div>
        <div class="columns small-12 medium-5 medium-push-2">
            <gtx-select *ngIf="languages?.length > 0"
                        [label]="('editor.item_language_label' | i18n) + '*'"
                        formControlName="language"
                        [gtxDisabled]="disabled || disableLanguageSelect"
                        required
                        (change)="suggestPageFileName()">
                <gtx-option *ngFor="let language of languages"
                        [value]="language.code">{{ language?.name }}</gtx-option>
            </gtx-select>
        </div>
    </div>
    <div class="row collapse" *ngIf="page">
        <div class="columns small-12 medium-5 custom-creation-date">
            <gtx-checkbox
                [label]="'editor.item_custom_creation_date_label' | i18n"
                [value]="customCdateEnabled"
                [disabled]="disabled"
                (valueChange)="onCustomDateEnabledChange('customCdateEnabled', $event)"
            ></gtx-checkbox>
            <gtx-date-time-picker class="custom-date-picker"
                                  formControlName="customCdate"
                                  displaySeconds="false"
                                  [gtxDisabled]="disabled || !customCdateEnabled">
            </gtx-date-time-picker>
            <span class="actual-date">{{ 'editor.item_date_created_label' | i18n  }}: {{ page.cdate | i18nDate:'dateTime' }}</span>
        </div>
        <div class="columns small-12 medium-5 medium-push-2 custom-edit-date">
            <gtx-checkbox [label]="'editor.item_custom_edit_date_label' | i18n"
                          [value]="customEdateEnabled"
                          [disabled]="disabled"
                          (valueChange)="onCustomDateEnabledChange('customEdateEnabled', $event)">
            </gtx-checkbox>
            <gtx-date-time-picker class="custom-date-picker"
                                  formControlName="customEdate"
                                  displaySeconds="false"
                                  [gtxDisabled]="disabled || !customEdateEnabled">
            </gtx-date-time-picker>
            <span class="actual-date">{{ 'editor.item_edited_on_label' | i18n  }}: {{ page.edate | i18nDate:'dateTime' }}</span>
        </div>
    </div>

    <div class="input-range-wrapper row small-collapse">
        <gtx-input [label]="('editor.item_priority_label' | i18n) + '*'"
                   type="number"
                   formControlName="priority"
                   [gtxDisabled]="disabled"
                   min="1"
                   max="100"
                   required
                   class="columns small-2">
        </gtx-input>

        <gtx-range [value]="form?.controls?.priority?.value"
                   (change)="priorityRangeChanged($event)"
                   [disabled]="disabled"
                   class="columns small-10 medium-9 medium-push-1"
                   min="1"
                   max="100"
                   required>
        </gtx-range>
    </div>

    <div *ngIf="niceUrlsActivated">
        <gtx-input [label]="'editor.item_nice_url_label' | i18n"
                   formControlName="niceUrl"
                   [gtxDisabled]="disabled"
        ></gtx-input>
        <div class="error-message" *ngIf="form.get('niceUrl').invalid">{{ 'editor.item_nice_url_error' | i18n }}</div>

        <gtx-string-list [label]="'editor.item_alternate_urls_label' | i18n"
                     [errors]="form.get('alternateUrls').errors"
                     class="alternate-urls"
                     formControlName="alternateUrls">
        </gtx-string-list>
        <div class="error-message" *ngIf="form.get('alternateUrls').invalid">{{ 'editor.item_alternate_urls_error' | i18n }}</div>
    </div>

    <button
        *ngIf="mode === 'create'"
        type="submit"
        tabindex="-1"
        class="hidden-submit-button"
    ></button>
</form>
