<gtx-search-bar
    *ngIf="showSearch"
    class="search-bar"
    [query]="query"
    [placeholder]="'shared.search' | i18n"
    (search)="updateSearchQuery($event)"
    (clear)="updateSearchQuery('')"
></gtx-search-bar>

<div *ngIf="!hideActions" class="entity-table-actions-bar">
    <gtx-button
        class="table-action-button reload-button"
        flat
        size="small"
        type="primary"
        [disabled]="disabled || loading"
        (click)="reload()"
    >
        <icon left>refresh</icon> {{ 'common.reload_table_button' | i18n }}
    </gtx-button>
</div>

<div *ngIf="selectable" class="entity-table-selection">
    {{ 'elasticSearchIndex.info_selected_indices' | i18n:{ amountSelected: selectedCount, amountTotal: totalCount } }}
</div>

<gtx-progress-bar class="load-bar" [active]="loading"></gtx-progress-bar>

<gtx-table
    class="entity-table"

    [selectAllType]="TableSelectAllType.PAGE"
    [selectable]="selectable"
    [hideActions]="hideActions"
    [disabled]="disabled"

    [columns]="columns"
    [rows]="rows"
    [actions]="actions"
    [selected]="selected"
    [active]="activeEntity"
    [totalCount]="totalCount"

    [page]="page"
    [perPage]="perPage"
    [sortBy]="sortBy"
    [sortOrder]="sortOrder"

    [renderers]="{
        found: boolIconRenderer,
        settingsValid: boolIconRenderer,
        mappingValid: boolIconRenderer,
        indexed: numberRenderer,
        objects: numberRenderer,
        queued: numberRenderer
    }"

    (pageChange)="changePageTo($event)"
    (sortByChange)="updateSortBy($event)"
    (sortOrderChange)="updateSortOrder($event)"
    (selectedChange)="updateSelection($event)"
    (select)="forwardSelect($event)"
    (deselect)="forwardDeselect($event)"
    (rowClick)="handleRowClick($event)"
    (actionClick)="handleAction($event)"
></gtx-table>

<ng-template #boolIconRenderer let-value="value">
    <icon
        class="gtx-table-cell-boolean"
        [ngClass]="'gtx-table-cell-boolean-' + value"
    >{{ value ? 'check' : 'close' }}</icon>
</ng-template>

<ng-template #numberRenderer let-value="value">
    <span class="gtx-table-cell-text">
        {{ value | gtxI18nNumber }}
    </span>
</ng-template>
