<div
    *ngIf="activeNode"
    class="content-list"
    [class.empty]="items?.length === 0"
    [ngClass]="itemType || ''"
    [class.not-loading]="!(areItemsLoading$ | async)"
    [attr.data-item-type]="itemType"
    [attr.data-ui-mode]="uiMode"
>
    <item-list-header
        #header
        class="list-header icon-checkbox-trigger"
        [itemsInfo]="itemsInfo"
        [selectedItems]="selectedItems$ | async"
        [items]="items"
        [icon]="icon"
        [filterTerm]="filterTerm"
        [nodeLanguages]="languages$ | async"
        [itemType]="itemType"
        [acceptUploads]="acceptUploads"
        [folderPermissions]="folderPermissions"
        [canCreateItem]="canCreateItem"
        [activeNode]="activeNode"
        [currentFolderId]="currentFolderId"
        [showAllLanguages]="showAllLanguages$ | async"
        [showStatusIcons]="showStatusIcons$ | async"
        [showDeleted]="showDeleted$ | async"
        [showImagesGridView]="showImagesGridView$ | async"
        [paginationConfig]="paginationConfig"
        [uiMode]="uiMode"
    ></item-list-header>

    <gtx-progress-bar [active]="itemsInfo.fetching" />

    <div class="list-body" [class.collapsed]="header.isCollapsed" [hidden]="itemsInfo.fetching">
        <div *ngIf="itemType !== 'image' || !(showImagesGridView$ | async); else imageGrid">
            <div *ngFor="let item of items | paginate: paginationConfig; trackBy: identify">
                <item-list-row
                    [activeNode]="activeNode"
                    [item]="item"
                    [nodeId]="appState?.now?.folder?.activeNode"
                    [itemInEditor]="itemInEditor"
                    [icon]="icon"
                    [filterTerm]="filterTerm"
                    [selected]="isSelected(item)"
                    [itemType]="itemType"
                    [startPageId]="startPageId"
                    [linkPaths]="linkPaths"
                    [expandByDefault]="showAllLanguages$ | async"
                    [nodeLanguages]="languages$ | async"
                    [itemsInfo]="itemsInfo"
                    [showDeleted]="showDeleted$ | async"
                    [uiMode]="uiMode"
                    [stagingMap]="stagingMap"
                ></item-list-row>
            </div>
        </div>

        <ng-template #imageGrid>
            <masonry-grid
                [gutter]="10"
                [columnWidth]="280"
                [attr.data-item-type]="itemType"
                [attr.data-ui-mode]="uiMode"
            >
                <masonry-item
                    *ngFor="let item of items | paginate: paginationConfig; trackBy: identify"
                    class="icon-checkbox-trigger"
                    [class.item-in-editor]="item === itemInEditor"
                    [attr.data-item-type]="itemType"
                    [attr.data-id]="item.id"
                    [attr.data-global-id]="item.globalId"
                >
                    <!-- since item list is only used in folder content context, we can simply fetch the respective active node from state -->
                    <grid-item
                        [item]="item"
                        [nodeId]="appState?.now?.folder?.activeNode"
                        [selected]="isSelected(item)"
                        [itemsInfo]="itemsInfo"
                        [linkPaths]="linkPaths"
                        [itemType]="itemType"
                        [activeNode]="activeNode"
                        [icon]="icon"
                        [filterTerm]="filterTerm"
                        [uiMode]="uiMode"
                        [stagingMap]="stagingMap"
                    ></grid-item>
                </masonry-item>
            </masonry-grid>
        </ng-template>

        <div class="paginate-wrapper">
            <paging-controls (pageChange)="pageChange.emit($event)"></paging-controls>
            <gtx-page-size-selector
                *ngIf="itemsInfo?.total > 10"
                [size]="itemsInfo.itemsPerPage"
                (sizeChange)="itemsPerPageChange.emit($event)"
            ></gtx-page-size-selector>
        </div>
    </div>
</div>
