<pagination-template #p="paginationApi" (pageChange)="pageChange.emit($event)" [id]="id">

  <ul role="navigation"
    [class.hidden]="p.pages.length < 2"
    aria-label="Pagination">
    @if (directionLinks) {
      <li class="pagination-previous" [class.disabled]="p.isFirstPage()">
        @if (1 < p.getCurrent()) {
          <a (click)="p.previous()" aria-label="Next page">
            <i class="material-icons">chevron_left</i>
          </a>
        }
        @if (p.isFirstPage()) {
          <span>
            <i class="material-icons">chevron_left</i>
          </span>
        }
      </li>
    }
    @for (page of p.pages; track page) {
      <li [class.current]="p.getCurrent() === page.value">
        @if (p.getCurrent() !== page.value) {
          <a (click)="p.setCurrent(page.value)">
            <span>{{ page.label }}</span>
          </a>
        }
        @if (p.getCurrent() === page.value) {
          <div>
            <span>{{ page.label }}</span>
          </div>
        }
      </li>
    }
    <li class="mobile-pages">
      <div class="compact-view">
        <span>{{ p.getCurrent() }}/{{ p.getLastPage() }}</span>
      </div>
    </li>
    @if (directionLinks) {
      <li class="pagination-next" [class.disabled]="p.isLastPage()">
        @if (!p.isLastPage()) {
          <a (click)="p.next()" aria-label="Next page">
            <i class="material-icons">chevron_right</i>
          </a>
        }
        @if (p.isLastPage()) {
          <span>
            <i class="material-icons">chevron_right</i>
          </span>
        }
      </li>
    }
  </ul>

</pagination-template>
