@import "variables";

$background-color: #fafafa;
$spinner-color: $gtx-color-primary;

.debug-tool-icons {
    icon {
        font-size: 6em;
    }

    text-align: center;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none; 
}

.description {
    .debug-tool-introduction {
        display: block;
        margin-bottom: 10px;
    }

    .debug-tool-privacy {
        display: block;
        text-align: justify;
        font-size: smaller;
        font-weight: 300;    
        margin-top: 10px;
        margin-bottom: 10px;

        ::ng-deep {
            br {
                line-height: 2em;
            }
        }
    }

    &[hidden] {
        display: none;
    }
}

/**
 * Taken from http://projects.lukehaas.me/css-loaders/
 */

.loader {
    color: $spinner-color;
    font-size: 11px;
    text-indent: -99999em;
    margin: 55px auto;
    position: relative;
    width: 10em;
    height: 10em;
    box-shadow: inset 0 0 0 1em;
    transform: translateZ(0);
    will-change: transform;

    &,
    &:before,
    &:after {
        border-radius: 50%;
        will-change: transform;
    }

    &:before,
    &:after {
        position: absolute;
        content: '';
        width: 5.2em;
        height: 10.2em;
        background: $background-color;
        top: -0.1em;
    }

    &:before {
        border-radius: 10.2em 0 0 10.2em;
        left: -0.1em;
        transform-origin: 5.2em 5.1em;
        animation: loginSpinnerAnimation 2s infinite ease 1.5s;
    }

    &:after {
        border-radius: 0 10.2em 10.2em 0;
        left: 5.1em;
        transform-origin: 0px 5.1em;
        animation: loginSpinnerAnimation 2s infinite ease;
    }

    &[hidden] {
        display: none;
        animation: none;
    }
}

@keyframes loginSpinnerAnimation {
    0%   { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}