<div class="language-icons">
    <div class="language-icon column"
        [title]="('editor.item_language_label' | i18n) + ': ' + ((item$ | async)?.languageName || ('common.not_set_label' | i18n))"
        [class.statusInfos]="displayStatusInfos$ | async"
        [class.current]="(item$ | async)?.contentGroupId === (displayLanguage$ | async)?.id"
        [class.available]="isAvailable$((displayLanguage$ | async)) | async"
        [class.statePublished]="statePublished$((displayLanguage$ | async)?.code) | async"
        [class.statePublishedColor]="statePublished$((displayLanguage$ | async)?.code) | async"
        [class.stateUnpublishedColor]="!statePublished$((displayLanguage$ | async)?.code) | async"
        [class.multiLang]="isMultiLanguage$ | async"
    >

        <div class="stateUntranslated" [hidden]="!(isMultiLanguage$ | async) || (isAvailable$((displayLanguage$ | async)) | async) || !(displayLanguage$ | async)"></div>
        <div class="stateDeleted" [hidden]="!(stateDeleted$((displayLanguage$ | async)?.code) | async)"></div>
        <div class="stateModified" [hidden]="!(stateModified$((displayLanguage$ | async)?.code) | async)"></div>
        <div class="stateInQueue" [hidden]="!(stateInQueue$((displayLanguage$ | async)?.code) | async)"></div>
        <div class="statePlanned" [hidden]="!(statePlanned$((displayLanguage$ | async)?.code) | async)"></div>
        <!-- <div class="stateInherited" [hidden]="!(stateInherited$((displayLanguage$ | async)?.code) | async)"></div> -->
        <!-- <div class="stateLocalized" [hidden]="!(stateLocalized$((displayLanguage$ | async)?.code) | async)"></div> -->

        <div class="status-label"
            [class.online]="(item$ | async)?.online"
            >
            <span *ngIf="displaySingleLanguagePublished$ | async"
                class="language-code statePublishedColor">
                <i class="material-icons info statePublishedColor">cloud_upload</i>
            </span>

            <span *ngIf="displaySingleLanguageUnpublished$ | async"
                class="language-code stateUnpublishedColor">
                <i class="material-icons info stateUnpublishedColor">cloud_off</i>
            </span>

            <span *ngIf="(isMultiLanguage$ | async) && (displayLanguage$ | async)" class="language-code multi-lang">{{ (displayLanguage$ | async)?.code | uppercase }}</span>
            <span *ngIf="(isMultiLanguage$ | async) && !(displayLanguage$ | async)" class="language-code multi-lang"><icon left>language</icon></span>
        </div>
    </div>
</div>
