<form
    *ngIf="form"
    [formGroup]="form"
    class="row small-12 medium-12"
>
    <div class="input-container small-12 columns" [class.medium-6]="supportedLanguages">

        <!-- keyword -->
        <gtx-input
            type="text"
            maxlength="255"
            [label]="('construct.keyword' | i18n) + ' *'"
            [required]="true"
            [readonly]="mode === ConstructPropertiesMode.UPDATE"
            formControlName="keyword"
        ></gtx-input>

        <gtx-select
            *ngIf="form.get('nodeIds').enabled"
            [label]="('construct.nodes' | i18n) + ' *'"
            [required]="true"
            [multiple]="true"
            formControlName="nodeIds"
        >
            <gtx-option
                *ngFor="let node of nodes$ | async"
                [value]="node.id"
            >{{ node.name }}</gtx-option>
        </gtx-select>

        <!-- icon -->
        <gtx-select
            *ngIf="mode !== ConstructPropertiesMode.COPY"
            [label]="('construct.icon' | i18n) + ' *'"
            [required]="true"
            formControlName="icon"
        >
            <gtx-option *ngFor="let iconEntry of CONSTRUCT_ICONS | gtxEntries" [value]="iconEntry.value">
                {{ iconEntry.value }}
            </gtx-option>
        </gtx-select>

        <!-- externalEditorUrl -->
        <gtx-input
            *ngIf="mode !== ConstructPropertiesMode.COPY"
            type="text"
            maxlength="255"
            [label]="'construct.externalEditorUrl' | i18n"
            formControlName="externalEditorUrl"
        ></gtx-input>

        <!-- category -->
        <gtx-select
            *ngIf="mode !== ConstructPropertiesMode.COPY"
            [label]="'construct.category' | i18n"
            formControlName="categoryId"
            [clearable]="true"
        >
            <gtx-option
                *ngFor="let item of constructCategories$ | async"
                [value]="item.id"
            >{{ item.nameI18n?.[activeTabI18nLanguage?.code] ?? item.name }}</gtx-option>
        </gtx-select>

        <!-- categorySortorder -->
        <!-- <gtx-input
            *ngIf="mode !== ConstructPropertiesMode.COPY && form.get('categorySortorder').enabled"
            type="number"
            [label]="'construct.categorySortorder' | i18n"
            formControlName="categorySortorder"
        ></gtx-input> -->

        <!-- mayBeSubtag -->
        <gtx-checkbox
            *ngIf="mode !== ConstructPropertiesMode.COPY"
            formControlName="mayBeSubtag"
            [label]="'construct.mayBeSubtag' | i18n"
        ></gtx-checkbox>

        <!-- mayContainSubtags -->
        <gtx-checkbox
            *ngIf="mode !== ConstructPropertiesMode.COPY"
            formControlName="mayContainSubtags"
            [label]="'construct.mayContainSubtags' | i18n"
        ></gtx-checkbox>

        <!-- autoEnable -->
        <gtx-checkbox
            *ngIf="mode !== ConstructPropertiesMode.COPY"
            formControlName="autoEnable"
            [label]="'construct.autoEnable' | i18n"
        ></gtx-checkbox>

    </div>

    <div *ngIf="supportedLanguages" class="input-container small-12 medium-6 columns">
        <gtx-i18n-panel-group
            *ngIf="supportedLanguages"
            [languages]="supportedLanguages"
            [invalidLanguages]="invalidLanguages"
            [(activeLanguage)]="activeTabI18nLanguage"
        >
            <gtx-i18n-input
                [label]="('common.name' | i18n) + ' *'"
                formControlName="nameI18n"
                [requiredInCurrentLanguage]="true"
                [language]="activeTabI18nLanguage?.code"
                [availableLanguages]="supportedLanguages"
            ></gtx-i18n-input>

            <gtx-i18n-input
                *ngIf="mode !== ConstructPropertiesMode.COPY && form.get('descriptionI18n')"
                [label]="'common.description' | i18n"
                formControlName="descriptionI18n"
                [language]="activeTabI18nLanguage?.code"
                [availableLanguages]="supportedLanguages"
            ></gtx-i18n-input>
        </gtx-i18n-panel-group>
    </div>

</form>
