<div class="preview-pane" [ngClass]="file.type || ''">
    <div class="file-preview" *ngIf="file.type === 'file'">
        <div class="file-icon" [ngClass]="fileExtension || ''">
            <icon>insert_drive_file</icon>
            <span
                *ngIf="fileExtension"
                class="extension"
                [ngClass]="'len-' + fileExtension?.length"
            >
                {{ fileExtension | uppercase }}
            </span>
        </div>
        <div class="file-details">
            <div class="name">{{ file.name }}</div>
            <div class="type">{{ file.fileType }}</div>
            <div class="size">{{ file.fileSize | filesize }}</div>
        </div>
    </div>
    <div class="image-preview" *ngIf="file.type === 'image'">
        <div class="filename">{{ file.name }}</div>
        <div class="thumbnail" [class.loading]="imageLoading | async">
            <img
                #thumbnailImage
                class="previewed-image"
                [src]="imageUrl"
                [width]="displayDimensions.width"
                [height]="displayDimensions.height"
                (load)="onImageLoadSuccess()"
                (error)="onImageLoadError($event)"
            />
            <div
                class="size-double"
                [style.width.px]="displayDimensions.width"
                [style.padding-bottom.%]="100 * displayDimensions.height / displayDimensions.width"
            ></div>
        </div>
        <div class="image-details">
            <span class="dimensions">{{ { width: file.sizeX, height: file.sizeY } | imagedimensions | i18n }}</span>
            <span class="separator"> - </span>
            <span class="filesize">{{ file.fileSize | filesize }}</span>
        </div>
    </div>

    <div class="author-details">
        <div
            *ngIf="creator"
            class="created"
            [innerHTML]="'editor.file_preview_creator_label' | i18n:{
                name: creator.firstName + ' ' + creator.lastName,
                date: (file.cdate | i18nDate),
                time: (file.cdate | i18nDate:'time')
            }"
        ></div>

        <div
            *ngIf="file.cdate !== file.edate && editor"
            class="edited"
            [innerHTML]="'editor.file_preview_editor_label' | i18n:{
                name: editor.firstName + ' ' + editor.lastName,
                date: (file.edate | i18nDate),
                time: (file.edate | i18nDate:'time')
            }"
        ></div>
    </div>

    <div *ngIf="file.type === 'image'" class="actions">
        <div class="action-rotate-left">
            <gtx-button
                flat
                [disabled]="!isEditableImage(file)"
                (click)="rotateImage('ccw')"
            >
                <icon left>rotate_left</icon> {{ 'editor.rotate_image_left_button' | i18n }}
            </gtx-button>
        </div>
        <div class="action-rotate-right">
            <gtx-button
                flat
                [disabled]="!isEditableImage(file)"
                (click)="rotateImage('cw')"
            >
                <icon left>rotate_right</icon> {{ 'editor.rotate_image_right_button' | i18n }}
            </gtx-button>
        </div>
    </div>

    <div class="actions">
        <div *ngIf="file.type === 'image'" class="action-edit">
            <gtx-button flat (click)="editImage()" [disabled]="!isEditableImage(file)">
                <icon left>edit</icon> {{ 'editor.edit_image_button' | i18n }}
            </gtx-button>
        </div>

        <div *ngIf="file.type === 'file'" class="action-download">
            <a [href]="downloadUrl" [download]="file.name" target="_blank">
                <gtx-button flat>
                    <icon left>file_download</icon> {{ 'editor.download_file_button' | i18n }}
                </gtx-button>
            </a>
        </div>

        <div
            *ngIf="hasFileEditPermission$ | async"
            class="action-replace"
            [overrideSlot]="file.type === 'image' ? 'replaceImageButton' : 'replaceFileButton'"
        >
            <gtx-progress-bar #uploadBar></gtx-progress-bar>

            <gtx-file-picker
                flat
                [overrideSlot]="file.type === 'image' ? 'replaceImageButton' : 'replaceFileButton'"
                [overrideParams]="{ FOLDERID: file.folderId, NODEID: nodeId }"
                [accept]="acceptedFiles()"
                (fileSelect)="replaceFile($event, uploadBar)"
                (fileSelectReject)="replaceFile($event, uploadBar)"
            >
                <icon left>file_upload</icon>
                <span *ngIf="">{{ (file.type === 'image'
                    ? 'editor.upload_new_image_button'
                    : 'editor.upload_new_file_button'
                ) | i18n }}</span>
            </gtx-file-picker>

            <div class="keep-filename">
                <gtx-checkbox
                    [label]="'editor.keep_filename_label' | i18n"
                    [(ngModel)]="keepFileName"
                ></gtx-checkbox>
            </div>
        </div>
    </div>
</div>
