@import 'variables';

.gtx-entity-details-tab-content-body-form {
    width: 100%;
}

gtx-entity-detail-header {
    ::ng-deep .gtx-entity-details-tab-content-header {
        padding-left: 0.625rem;
    }
    @media screen and (min-width: $small-screen-up) {
        ::ng-deep .gtx-entity-details-tab-content-header {
            padding-left: 0.9375rem;
        }
    }
}

@keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}
