<div class="modal-title">
    <h5>{{ (mode === MeshGroupPropertiesMode.CREATE ? 'mesh.create_group' : 'mesh.update_group') | gtxI18n: { entityName: group?.name } }}</h5>
</div>

<div class="modal-content">
    <gtx-mesh-group-properties
        [mode]="mode"
        [formControl]="form"
    ></gtx-mesh-group-properties>
</div>

<div class="modal-footer">
    <gtx-button
        type="primary"
        [disabled]="!form.valid && form.enabled"
        (click)="buttonCreateEntityClicked()"
    >
        {{ (mode === MeshGroupPropertiesMode.CREATE ? 'modal.create_button' : 'modal.update_button') | gtxI18n }}
    </gtx-button>

    <gtx-button
        type="secondary"
        flat
        (click)="cancelFn()"
    >
        {{ 'common.cancel_button' | gtxI18n }}
    </gtx-button>
</div>
