<gtx-progress-bar [active]="loading"></gtx-progress-bar>

<div class="modal-title">
  <h5>{{ 'modal.' + mode + '_tagmapEntry_title' | gtxI18n }}</h5>
</div>

<div class="modal-content">
  @if (form) {
    <gtx-tag-map-entry-properties
      [formControl]="form"
      [mode]="mode"
      [displayFields]="displayFields"
      [reserved]="reserved"
    ></gtx-tag-map-entry-properties>
  }
</div>

<div class="modal-footer">
  <gtx-button
    type="primary"
    [disabled]="!form.valid || loading"
    (click)="confirmButtonClicked()"
    >
    {{ (mode === CreateTagmapEntryModalComponentMode.UPDATE ? 'modal.save_button' : 'modal.create_button') | gtxI18n }}
  </gtx-button>

  <gtx-button
    type="secondary"
    flat
    (click)="cancelFn()"
    >
    {{ 'common.cancel_button' | gtxI18n }}
  </gtx-button>
</div>
