@import 'variables';
@import 'flex-modal';

@include flex-modal;
:host {
    width: 1000px;
}

h5 {
    display: flex;
    line-height: 1.25em;
    margin: 0;
    padding: 0;
    white-space: nowrap;

    .page-name {
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .clickable {
        color: $gtx-color-primary;
        cursor: pointer;
    }

    .language-select, .pre, .clickable {
            margin-left: 0.3rem;
    }
}


.publish-entry {
    .date,
    .editor {
        color: $gtx-color-mid-gray;
    }

    .state {
        margin-right: 0.35rem;

        &.online {
            color: $gtx-color-success;
        }
        &.offline {
            color: $gtx-color-alert;
        }
    }
}

.modal-content {
    width: 100%;
    padding-top: 0;
    padding-bottom: 0;
    position: relative;
    overflow: auto;
}

.modal-footer {
    width: 100%;
}

.loading-placeholder {
    min-height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
