@import 'variables';

:host {
    width: 1000px;
}

h5 {
    display: flex;
    white-space: nowrap;
    flex-direction: row;
    align-content: center;
    gap: 0.25rem;

    .language-select {

        &,
        >gtx-dropdown-list {
            display: contents;
        }
    }

    .trigger-content {
        display: flex;
        flex-direction: row;
        align-content: center;
        gap: 0.25rem;
        cursor: pointer;
    }

    .language-name {
        color: $gtx-color-primary;
    }

    .collapse {
        font-size: 20px;
    }
}

.entries {
    >gtx-contents-list-item {
        padding-left: 0;
        padding-right: 0;
    }
}

.publish-entry {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    width: 100%;
    gap: 0.25rem;

    .date,
    .editor {
        color: $gtx-color-mid-gray;
    }

    .state {
        &.online {
            color: $gtx-color-success;
        }

        &.offline {
            color: $gtx-color-alert;
        }
    }
}

.modal-content {
    width: 100%;
    padding-top: 0;
    padding-bottom: 0;
    position: relative;
    overflow: auto;
}

.modal-footer {
    width: 100%;
}

.loading-placeholder {
    min-height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
