<div
  class="save-bar"
  data-region="save-bar"
  [attr.data-visible]="dirtyCount > 0"
  [attr.data-saving]="isSaving"
  [class.is-visible]="dirtyCount > 0">
  <div class="save-bar__info">
    <span class="save-bar__dot"></span>
    <span data-name="dirty-count" [attr.data-count]="dirtyCount">
      {{ 'SAVE_BAR.UNSAVED' | gtxTranslate:{ count: dirtyCount } }}
    </span>
  </div>
  <div class="save-bar__spacer"></div>
  <button
    type="button"
    class="pm-btn pm-btn-ghost"
    data-action="discard"
    [disabled]="dirtyCount === 0 || isSaving"
    (click)="discard.emit()">
    {{ 'COMMON.DISCARD' | gtxTranslate }}
  </button>
  <button
    type="button"
    class="pm-btn pm-btn-primary"
    data-action="save"
    [disabled]="dirtyCount === 0 || isSaving"
    (click)="save.emit()">
    <span *ngIf="isSaving" class="pm-spinner pm-spinner--sm"></span>
    <svg *ngIf="!isSaving" width="16" height="16" viewBox="0 0 24 24" fill="none"
         stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
      <path d="M19 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h11l5 5v11a2 2 0 0 1-2 2z"/>
      <polyline points="17 21 17 13 7 13 7 21"/>
      <polyline points="7 3 7 8 15 8"/>
    </svg>
    <ng-container *ngIf="!isSaving">{{ 'COMMON.SAVE' | gtxTranslate }}</ng-container>
    <ng-container *ngIf="isSaving">{{ 'COMMON.SAVING' | gtxTranslate }}</ng-container>
  </button>
</div>
