<h3 class="title">{{ 'editor.favourites_title' | gtxI18n }}</h3>

@if ((favourites$ | async)?.length === 0) {
  <div class="empty-placeholder">
    {{ 'editor.no_favourites_label' | gtxI18n }}
  </div>
}

<gtx-sortable-list (dragEnd)="reorder($event)">
  @for (fav of (favourites$ | async); track (fav.typ + fav.id)) {
    <gtx-sortable-item>
      <div class="item-icon" [ngClass]="fav.type || ''">
        <icon>{{ fav.type | gtxTypeIcon }}</icon>
      </div>
      <div
        class="item-primary"
        [title]="fav.breadcrumbs.join(' › ') + ': ' + fav.name"
        (click)="favouriteClicked(fav)"
        >
        @if (fav.type === 'folder') {
          <a
            [href]="'/editor/' + fav.nodeId + '/folder/' + fav.id"
            (click)="$event.preventDefault()"
          >{{ fav.name }}</a>
        } @else {
          <a>{{ fav.name }}</a>
        }
        <ul class="breadcrumbs">
          @for (breadcrumb of fav.breadcrumbs; track breadcrumb) {
            <li>{{ breadcrumb }}</li>
          }
        </ul>
      </div>
      <div class="remove-button">
        <gtx-button
          icon size="small"
          type="secondary"
          [title]="'editor.favourites_remove_label' | gtxI18n"
          (click)="remove(fav)"
          >
          <icon>remove_circle_outline</icon>
        </gtx-button>
      </div>
      <gtx-drag-handle [title]="'editor.favourites_reorder_label' | gtxI18n"></gtx-drag-handle>
    </gtx-sortable-item>
  }
</gtx-sortable-list>
