<ng-container *ngIf="tagProperty">
    <div class="tag-part-editor">
        <gtx-select
            *ngIf="tagPart.type === 'SELECT'"
            [label]="tagPart | tagPropLabel"
            [clearable]="!tagPart?.mandatory"
            [required]="tagPart?.mandatory"
            [disabled]="readOnly"
            [(ngModel)]="selectedSingleOptionId"
            (valueChange)="onSingleSelectChange($event)"
        >
            <gtx-option
                *ngFor="let item of tagProperty.options"
                [value]="item.id"
            >{{ item.key }}</gtx-option>
        </gtx-select>

        <gtx-select
            *ngIf="tagPart.type === 'MULTISELECT'"
            [label]="tagPart | tagPropLabel"
            [required]="tagPart?.mandatory"
            [clearable]="true"
            [disabled]="readOnly"
            [multiple]="true"
            [(ngModel)]="selectedMultipleOptionsIds"
            (valueChange)="onMultipleSelectChange($event)"
        >
            <gtx-option
                *ngFor="let item of tagProperty.options"
                [value]="item.id"
            >{{ item.key }}</gtx-option>
        </gtx-select>
    </div>
</ng-container>
