@if (tagProperty) {
  <div class="tag-part-editor">
    @if (tagPart.type === 'SELECT') {
      <gtx-select
        [label]="tagPart | tagPropLabel"
        [clearable]="!tagPart?.mandatory"
        [required]="tagPart?.mandatory"
        [disabled]="readOnly"
        [(ngModel)]="selectedSingleOptionId"
        (valueChange)="onSingleSelectChange($event)"
        >
        @for (item of tagProperty.options; track item.id) {
          <gtx-option
            [value]="item.id"
          >{{ item.key }}</gtx-option>
        }
      </gtx-select>
    }
    @if (tagPart.type === 'MULTISELECT') {
      <gtx-select
        [label]="tagPart | tagPropLabel"
        [required]="tagPart?.mandatory"
        [clearable]="true"
        [disabled]="readOnly"
        [multiple]="true"
        [(ngModel)]="selectedMultipleOptionsIds"
        (valueChange)="onMultipleSelectChange($event)"
        >
        @for (item of tagProperty.options; track item.id) {
          <gtx-option
            [value]="item.id"
          >{{ item.key }}</gtx-option>
        }
      </gtx-select>
    }
  </div>
}
