<div class="device-preview-menu">
    <div class="menu-header">
        {{ 'editor.device_preview_label' | gtxI18n }}
    </div>

    <gtx-dropdown-item
        class="device-preview-clear-item"
        data-action="device-preview-clear"
        [class.is-selected]="!activePresetId"
        (click)="onClear()"
    >
        <icon left>aspect_ratio</icon>
        <span class="device-label">{{ 'editor.device_preview_clear' | gtxI18n }}</span>
        @if (!activePresetId) {
            <icon class="device-check" right>check</icon>
        }
    </gtx-dropdown-item>

    <div class="menu-divider"></div>

    @for (preset of presets; track trackById($index, preset)) {
        <gtx-dropdown-item
            class="device-preview-item"
            [attr.data-action]="'device-preview-' + preset.id"
            [class.is-selected]="activePresetId === preset.id"
            (click)="onSelect(preset)"
        >
            <icon left>{{ preset.icon }}</icon>
            <span class="device-label">{{ preset.labelKey | gtxI18n }}</span>
            <span class="device-size">{{ preset.width }} × {{ preset.height }}</span>
            @if (activePresetId === preset.id) {
                <icon class="device-check" right>check</icon>
            }
        </gtx-dropdown-item>
    }
</div>
