<div class="header">

  @if (this.waitsForDeleteConfirmation?.unread === true) {
    <h3 class="title">
      <span class="show-warning">
        {{ 'dashboard.confirm_delete' | gtxI18n }}
      </span>
    </h3>
  } @else {
    <gtx-icon-checkbox icon="mail"
      [selected]="isSelectedAllUnread()"
      (change)="toggleAllUnread()"
      [class.hidecheckbox]="!((unreadMessagesCount$ | async) > 0)">
    </gtx-icon-checkbox>
    @if ((unreadMessagesCount$ | async) > 0 && selectedUnread?.length > 0) {
      <h3 class="title">
        <span class="show-selected">
          {{ 'dashboard.messages_read_selected_label' | gtxI18n:{ selected: selectedUnread?.length, count: (unreadMessagesCount$ | async) } }}
        </span>
      </h3>
      <div class="message-actions showactions">
        <i class="material-icons" [attr.translate]="'no'"
          (click)="archiveAllUnread()"
        [title]="'dashboard.archive_selected_messages_title' | gtxI18n">move_to_inbox</i>
        <i class="material-icons" [attr.translate]="'no'"
          (click)="deleteAllUnread()"
        [title]="'dashboard.delete_selected_messages_title' | gtxI18n">delete</i>
      </div>
    } @else {
      <h3 class="title">
        @if ((unreadMessagesCount$ | async) > 0) {
          <span>
            {{ 'dashboard.messages_unread_count_label' | gtxI18n:{ count: (unreadMessagesCount$ | async) } }}
          </span>
        }
        @if (!(hasMessages$ | async)) {
          <span class="empty-placeholder">
            {{ 'dashboard.no_messages_label' | gtxI18n }}
          </span>
        }
        @if ((hasMessages$ | async) && (unreadMessages$ | async)?.length === 0) {
          <span class="empty-placeholder">
            {{ 'dashboard.no_unread_messages_label' | gtxI18n }}
          </span>
        }
      </h3>
      <gtx-button icon type="secondary"
        class="new-message-button"
        overrideSlot="composeMessageButton"
        [title]="'dashboard.messages_send' | gtxI18n"
        (click)="composeMessage()">
        <icon>message</icon>
      </gtx-button>
    }
  }
</div>

<div class="content">
  <gtx-message-list class="unread-messages"
    [nodes]="nodes$ | async"
    [messages]="unreadMessages$ | async"
    (messageClick)="showMessage($event, true)"
    (messageArchive)="archiveMessages($event)"
    (messageDelete)="deleteMessage($event)"
    [selected]="selectedUnread"
    (selectionChange)="selectionUnreadChange($event)"
  [waitsForDeleteConfirmation]="waitsForDeleteConfirmation"></gtx-message-list>

  @if (this.waitsForDeleteConfirmation?.unread === false) {
    <div class="read-messages-title" [class.shown]="showReadMessages">
      <span class="show-warning">
        {{ 'dashboard.confirm_delete' | gtxI18n }}
      </span>
    </div>
  } @else {
    <div class="read-messages-title" [class.shown]="showReadMessages">
      @if ((readMessagesCount$ | async) > 0 && showReadMessages) {
        <gtx-icon-checkbox icon="mail"
          [selected]="isSelectedAllRead()"
          (change)="toggleAllRead()"
        ></gtx-icon-checkbox>
      }
      @if ((readMessagesCount$ | async) > 0 && selectedRead?.length > 0) {
        <span>
          {{ 'dashboard.messages_read_selected_label' | gtxI18n:{ selected: selectedRead?.length, count: (readMessagesCount$ | async) } }}
        </span>
      } @else {
        @if ((readMessagesCount$ | async) === 1) {
          <span (click)="toggleReadMessages()">
            {{ 'dashboard.messages_read_count_one_label' | gtxI18n }}
          </span>
        }
        @if ((readMessagesCount$ | async) > 1) {
          <span (click)="toggleReadMessages()">
            {{ 'dashboard.messages_read_count_label' | gtxI18n:{ count: (readMessagesCount$ | async) } }}
          </span>
        }
      }
      @if ((readMessagesCount$ | async) > 0 && showReadMessages) {
        <div class="message-actions" [class.showactions]="selectedRead?.length > 0">
          <i class="material-icons" [attr.translate]="'no'"
            (click)="deleteAllRead()"
          [title]="'dashboard.delete_selected_messages_title' | gtxI18n">delete</i>
        </div>
      }
    </div>
  }

  <div class="read-messages"
    [class.visible]="showReadMessages"
    [style.height.em]="2 * (readMessagesCount$ | async)"
    [style.min-height.em]="2 * (readMessagesCount$ | async)">
    <gtx-message-list [nodes]="nodes$ | async"
      [messages]="readMessages$ | async"
      (messageClick)="showMessage($event, false)"
      (messageDelete)="deleteMessage($event)"
      [selected]="selectedRead"
      (selectionChange)="selectionReadChange($event)"
      [waitsForDeleteConfirmation]="waitsForDeleteConfirmation">
    </gtx-message-list>
  </div>

</div>
