<div class="header">

    <ng-container *ngIf="this.waitsForDeleteConfirmation?.unread === true; else unreadTitle">
        <h3 class="title">
            <span class="show-warning">
                {{ 'dashboard.confirm_delete' | i18n }}
            </span>
        </h3>
    </ng-container>
    <ng-template #unreadTitle>
        <gtx-icon-checkbox icon="mail"
            [selected]="isSelectedAllUnread()"
            (change)="toggleAllUnread()"
            [class.hidecheckbox]="!((unreadMessagesCount$ | async) > 0)">
        </gtx-icon-checkbox>
        <ng-container *ngIf="(unreadMessagesCount$ | async) > 0 && selectedUnread?.length > 0; else unreadTitleNoSelect">
            <h3 class="title">
                <span class="show-selected">
                    {{ 'dashboard.messages_read_selected_label' | i18n:{ selected: selectedUnread?.length, count: (unreadMessagesCount$ | async) } }}
                </span>
            </h3>
            <div class="message-actions showactions">
                <i class="material-icons" [attr.translate]="'no'"
                   (click)="archiveAllUnread()"
                   [title]="'dashboard.archive_selected_messages_title' | i18n">move_to_inbox</i>
                <i class="material-icons" [attr.translate]="'no'"
                   (click)="deleteAllUnread()"
                   [title]="'dashboard.delete_selected_messages_title' | i18n">delete</i>
            </div>
        </ng-container>
        <ng-template #unreadTitleNoSelect>
            <h3 class="title">
                <span *ngIf="(unreadMessagesCount$ | async) > 0">
                    {{ 'dashboard.messages_unread_count_label' | i18n:{ count: (unreadMessagesCount$ | async) } }}
                </span>

                <span class="empty-placeholder" *ngIf="!(hasMessages$ | async)">
                    {{ 'dashboard.no_messages_label' | i18n }}
                </span>

                <span class="empty-placeholder" *ngIf="(hasMessages$ | async) && (unreadMessages$ | async)?.length === 0">
                    {{ 'dashboard.no_unread_messages_label' | i18n }}
                </span>
            </h3>
            <gtx-button icon type="secondary"
                        class="new-message-button"
                        overrideSlot="composeMessageButton"
                        [title]="'dashboard.messages_send' | i18n"
                    (click)="composeMessage()">
                <icon>message</icon>
            </gtx-button>
        </ng-template>
    </ng-template>
</div>

<div class="content">
    <gtx-message-list class="unread-messages"
                  [nodes]="nodes$ | async"
                  [messages]="unreadMessages$ | async"
                  (messageClick)="showMessage($event, true)"
                  (messageArchive)="archiveMessages($event)"
                  (messageDelete)="deleteMessage($event)"
                  [selected]="selectedUnread"
                  (selectionChange)="selectionUnreadChange($event)"
                  [waitsForDeleteConfirmation]="waitsForDeleteConfirmation"></gtx-message-list>

    <ng-container *ngIf="this.waitsForDeleteConfirmation?.unread === false; else readTitle">
        <div class="read-messages-title" [class.shown]="showReadMessages">
            <span class="show-warning">
                {{ 'dashboard.confirm_delete' | i18n }}
            </span>
        </div>
    </ng-container>
    <ng-template #readTitle>
        <div class="read-messages-title" [class.shown]="showReadMessages">
            <gtx-icon-checkbox icon="mail"
                [selected]="isSelectedAllRead()"
                (change)="toggleAllRead()"
                *ngIf="(readMessagesCount$ | async) > 0 && showReadMessages"></gtx-icon-checkbox>
            <span *ngIf="(readMessagesCount$ | async) > 0 && selectedRead?.length > 0; else unreadTitles">
                {{ 'dashboard.messages_read_selected_label' | i18n:{ selected: selectedRead?.length, count: (readMessagesCount$ | async) } }}
            </span>
            <ng-template #unreadTitles>
                <span *ngIf="(readMessagesCount$ | async) === 1" (click)="toggleReadMessages()">
                    {{ 'dashboard.messages_read_count_one_label' | i18n }}
                </span>
                <span *ngIf="(readMessagesCount$ | async) > 1" (click)="toggleReadMessages()">
                    {{ 'dashboard.messages_read_count_label' | i18n:{ count: (readMessagesCount$ | async) } }}
                </span>
            </ng-template>
            <div class="message-actions" [class.showactions]="selectedRead?.length > 0" *ngIf="(readMessagesCount$ | async) > 0 && showReadMessages">
                <i class="material-icons" [attr.translate]="'no'"
                   (click)="deleteAllRead()"
                   [title]="'dashboard.delete_selected_messages_title' | i18n">delete</i>
            </div>
        </div>
    </ng-template>

    <div class="read-messages"
        [class.visible]="showReadMessages"
        [style.height.em]="2 * (readMessagesCount$ | async)"
        [style.min-height.em]="2 * (readMessagesCount$ | async)">
            <gtx-message-list [nodes]="nodes$ | async"
                          [messages]="readMessages$ | async"
                          (messageClick)="showMessage($event, false)"
                          (messageDelete)="deleteMessage($event)"
                          [selected]="selectedRead"
                          (selectionChange)="selectionReadChange($event)"
                          [waitsForDeleteConfirmation]="waitsForDeleteConfirmation">
            </gtx-message-list>
    </div>

</div>
