<form
    *ngIf="form"
    [formGroup]="form"
    class="row small-12 medium-12"
>
    <div class="columns small-6">
        <div class="input-container">
            <gtx-input
                type="text"
                [required]="true"
                maxlength="50"
                [label]="('shared.language_name' | i18n) + ' *'"
                [placeholder]="'shared.language_name' | i18n"
                formControlName="name"
            ></gtx-input>
        </div>
    </div>

    <div class="columns small-6">
        <div class="input-container">
            <gtx-input
                [required]="true"
                maxlength="5"
                [label]="('shared.language_code' | i18n) + ' *'"
                [placeholder]="'shared.language_code' | i18n"
                formControlName="code"
            ></gtx-input>
        </div>
    </div>
</form>
