<div class="template-list-header left-items">
  <gtx-progress-bar [active]="(isInProgressExternal$ | async) || (isInProgressInternal$ | async)"></gtx-progress-bar>

  <div
    [hidden]="isInProgressInternal$ | async"
    class="template-list-header-inner"
    >
    @if (!searchBarHidden) {
      <gtx-search-bar
        [ngModel]="searchTerm$ | async"
        [placeholder]="'common.search_placeholder' | gtxI18n"
        (ngModelChange)="searchTerm$.next($event)"
        (clear)="searchTerm$.next('')"
        (search)="searchTerm$.next($event)"
        >
      </gtx-search-bar>
    }

    <div class="template-list-header-bulk" [class.list-empty]="(nodeTemplates$ | async)?.length === 0">
      <icon-checkbox
        class="left"
        icon="dashboard"
        [selected]="nodeTemplates | allItemsSelected:folderTemplates"
        [disabled]="(isInProgressExternal$ | async) || (isInProgressInternal$ | async)"
        (change)="toggleSelectAll($event)"
      ></icon-checkbox>

      <span class="type">
        @if (0 < folderTemplates?.length) {
          <span class="count-full">
            @if ((searchTerm$ | async) === '') {
              <span>
                {{ 'editor.item_count_header_selected' | gtxI18n: {
                    selected: folderTemplates?.length,
                    count: nodeTemplates?.length,
                    items: ('common.type_' + itemType + (nodeTemplates?.length !== 1 ? 's' : '')) |gtxI18n
                } }}
              </span>
            }
            @if ((searchTerm$ | async) !== '') {
              <span>
                {{ 'editor.item_count_header_selected_matching' | gtxI18n: {
                    selected: folderTemplates?.length,
                    count: nodeTemplates?.length,
                    items: ('common.type_' + itemType + (nodeTemplates?.length !== 1 ? 's' : '')) |gtxI18n
                } }}
              </span>
            }
          </span>
        } @else {
          <span class="count-full">
            @if ((searchTerm$ | async) !== '') {
              <span>
                {{ 'editor.item_count_header_matching' | gtxI18n: {
                    count: nodeTemplates?.length,
                    items: ('common.type_' + itemType + (nodeTemplates?.length !== 1 ? 's' : '')) |gtxI18n
                } }}
              </span>
            }
          </span>
          @if ((searchTerm$ | async) === '') {
            <span class="count-part">
              {{ 'editor.item_count_header_simple' | gtxI18n: {
                count: nodeTemplates?.length,
                items: ('common.type_' + itemType + (nodeTemplates?.length !== 1 ? 's' : '')) |gtxI18n
              } }}
            </span>
          }
        }
      </span>
    </div>
  </div>
</div>

<div
  class="template-list-placeholder"
  [hidden]="!(isInProgressInternal$ | async)"
  >
  <p>{{ 'editor.templates_loading_status' | gtxI18n }}</p>
</div>

<div
  class="list-body"
  [class.overlay-in-progress]="(isInProgressExternal$ | async) || (isInProgressInternal$ | async)"
  [hidden]="isInProgressInternal$ | async"
  >
  @if (!(noTemplatesLinked$ | async)) {
    @for (nodeTemplate of (nodeTemplates$ | async); track nodeTemplate.id) {
      <gtx-contents-list-item
        class="item-row icon-checkbox-trigger"
        [class.selected]="templateIsLinked(nodeTemplate.id)"
        >
        <icon-checkbox
          #checkbox
          [selected]="templateIsLinked(nodeTemplate.id)"
          (change)="toggleSelect($event, nodeTemplate.id)"
          icon="dashboard"
        ></icon-checkbox>
        <div class="item-primary">
          <div class="item-name">
            <span
              class="item-name-only"
              [title]="nodeTemplate?.description"
              (click)="toggleSelect(!checkbox.selected, nodeTemplate.id)"
              [innerHTML]="nodeTemplate?.name | highlight:(searchTerm$ | async)"
              >
            </span>
          </div>
        </div>
      </gtx-contents-list-item>
    }
  }
</div>
