@if (form) {
    <form [formGroup]="form" class="flex-row">
        <gtx-input
            class="columns small-12"
            formControlName="name"
            [label]="('common.name' | gtxI18n) + '*'"
            [required]="true"
        />

        <gtx-date-time-picker
            class="columns small-12"
            formControlName="expires"
            [label]="'mesh.token_expires' | gtxI18n"
            [displayTime]="false"
            [selectYear]="true"
            [clearable]="true"
            [min]="NOW"
        />
    </form>
}