@import "variables";

:host {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;

    &::ng-deep project-editor {
        display: block;
        flex: 1 1 auto;
        min-height: 1px;
        width: 100%;
        margin-top: 1rem;
    }
}

.gentics-logo {
    position: absolute;
    top: 10px;
    left: 20px;
    @media screen and (max-width: $small-screen) {
        left: 10px;
    }
    img {
        width: 37px;
    }
}

gtx-top-bar {
    position: relative;
    z-index: 1;
}

.search-container {
    flex: 1 1 100% !important;
    // margin-right: 30px;

    // @media screen and (max-width: $large-screen) and (min-width: $tiny-screen) {
    //     margin-right: 85px;
    // }
    // @media screen and (max-width: $medium-screen) and (min-width: $tiny-screen) {
    //     margin-right: 205px;
    // }
    @media screen and (max-width: $small-screen) and (min-width: $tiny-screen) {
        margin-left: 32px;
        margin-right: 54px;
    }
    @media screen and (max-width: $tiny-screen) {
        margin-left: 32px;
        margin-right: 84px;
    }
}

simple-search-bar,
advanced-search-bar {
    max-width: 100%;
}

.more-options-content {

    &::ng-deep .scroller {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        padding: 0.5rem;
    }

    .more-options-button {
        margin: 0.5rem 0.25rem;
        flex: 1 1 auto;

        &::ng-deep .button-event-wrapper {
            width: 100%;
            text-align: center;

            .btn {
                width: 100%;
            }
        }

        &.content-staging > icon {
            font-size: 1.1rem;
            margin-left: -2px;
        }
    }
}

.corner-actions {
    position: absolute;
    top: 15px;
    right: 74px;
    user-select: none;

    @media screen and (max-width: $small-screen) {
        right: 66px;
    }

    gtx-button:not(:first-child) {
        margin-left: 10px;
    }

    .unread-messages {
        @media screen and (max-width: $small-screen) {
            display: none;
        }
        animation: AnimateMessageEnvelope 300ms ease both;
        position: relative;

        .counter {
            position: absolute;
            right: -2px;
            bottom: -2px;
            padding: 1px 3px;
            font-size: 12px;
            line-height: 12px;
            background-color: $gtx-color-primary;
            color: white;
            border-radius: 3px;
        }
    }

    .alert-center {
        @media screen and (max-width: $tiny-screen) {
            display: none;
        }

        animation: PulsateAlertCenter 0.5s ease-in-out 2s 3 both;
        position: relative;

        i.material-icons {
            color: $gtx-color-alert;
        }
    }

}

:host(.maintenance-mode) {
    .gentics-logo,
    ::ng-deep user-menu-toggle .toggle-icon.user {
        filter: hue-rotate(165deg) saturate(3) brightness(0.85);
    }
}

@keyframes AnimateMessageEnvelope {
    0% {
        opacity: 0;
        margin-left: 0;
        width: 0;
        transform: scale(0);
    }

    50% {
        margin-left: 10px;
        opacity: 0;
        width: 26px;
        transform: scale(0);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes PulsateAlertCenter {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.3);
    }
    100% {
      transform: scale(1);
    }
}
