@if (form) {
  <form
    [formGroup]="form"
    >
    <div class="row">
      <gtx-input
        class="columns small-6"
        [label]="('common.name' | gtxI18n) + ' *'"
        formControlName="name"
      ></gtx-input>
      <gtx-input
        class="columns small-6"
        [label]="'mesh.label' | gtxI18n"
        formControlName="label"
      ></gtx-input>
    </div>
    <div class="row">
      <gtx-select
        class="columns small-12"
        [class.small-6]="form.get('listType').enabled"
        [class.small-12]="!form.get('listType').enabled"
        [label]="('mesh.schema_type' | gtxI18n) + ' *'"
        formControlName="type"
        >
        @for (option of validTypes; track option) {
          <gtx-option
            [value]="option"
          >{{ ('mesh.fieldType_' + option) | gtxI18n }}</gtx-option>
        }
      </gtx-select>
      @if (form.get('listType').enabled) {
        <gtx-select
          class="columns small-6"
          [label]="('mesh.schema_listType' | gtxI18n) + ' *'"
          formControlName="listType"
          >
          @for (option of validListTypes; track option) {
            <gtx-option
              [value]="option"
            >{{ ('mesh.fieldType_' + option) | gtxI18n }}</gtx-option>
          }
        </gtx-select>
      }
    </div>
    <div class="row checkbox-row">
      <gtx-checkbox
        class="columns small-4"
        [label]="'mesh.required' | gtxI18n"
        formControlName="required"
      ></gtx-checkbox>
      <gtx-checkbox
        class="columns small-4"
        [label]="'mesh.field_noIndex' | gtxI18n"
        formControlName="noIndex"
      ></gtx-checkbox>
      @if (form.get('extract').enabled) {
        <ng-container formGroupName="extract">
          <gtx-checkbox
            class="columns small-4"
            [label]="'mesh.extract_content' | gtxI18n"
            formControlName="content"
          ></gtx-checkbox>
          <gtx-checkbox
            class="columns small-4"
            [label]="'mesh.extract_metadata' | gtxI18n"
            formControlName="metadata"
          ></gtx-checkbox>
        </ng-container>
      }
    </div>
    @if (form.get('allow').enabled) {
      <div class="row">
        @switch (effectiveType) {
          @case (FieldType.NODE) {
            <gtx-select
              class="columns small-12"
              [label]="'mesh.allow' | gtxI18n"
              [multiple]="true"
              [disableUnknownValues]="true"
              formControlName="allow"
              >
              @for (schema of schemaNames | gtxConcat:(type === SchemaFieldPropertiesType.SCHEMA ? ownName : null) | gtxSort; track schema) {
                <gtx-option
                  [value]="schema"
                >{{ schema }}</gtx-option>
              }
            </gtx-select>
          }
          @case (FieldType.MICRONODE) {
            <gtx-select
              class="columns small-12"
              [label]="'mesh.allow' | gtxI18n"
              [multiple]="true"
              [disableUnknownValues]="true"
              formControlName="allow"
              >
              @for (schema of microschemaNames | gtxConcat:(type === SchemaFieldPropertiesType.MICROSCHEMA ? ownName : null) | gtxSort; track schema) {
                <gtx-option
                  [value]="schema"
                >{{ schema }}</gtx-option>
              }
            </gtx-select>
          }
          @case (FieldType.STRING) {
            <gtx-string-list
              class="columns small-12"
              [label]="'mesh.allow' | gtxI18n"
              [addLabel]="'mesh.allow_addString' | gtxI18n"
              formControlName="allow"
            ></gtx-string-list>
          }
        }
      </div>
    }
    <div class="row">
      <div class="columns small-12">
        <gtx-json-input
          [label]="'mesh.elasticsearch' | gtxI18n"
          formControlName="elasticsearch"
        ></gtx-json-input>
      </div>
    </div>
  </form>
}
