@if (form) {
  <form
    [formGroup]="form"
    >
    <div class="row">
      <gtx-input
        class="columns small-6"
        data-control="username"
        [label]="('mesh.user_name' | gtxI18n) + ' *'"
        [required]="true"
        formControlName="username"
      ></gtx-input>
      <gtx-input
        class="columns small-6"
        data-control="emailAddress"
        [label]="'shared.email' | gtxI18n"
        formControlName="emailAddress"
      ></gtx-input>
    </div>
    <div class="columns small-12">
      <div class="row password-row">
        @if (mode === MeshUserPropertiesMode.EDIT) {
          <gtx-checkbox
            class="columns small-12 password-checkbox"
            [label]="'mesh.update_password' | gtxI18n"
            [checked]="updatePassword"
            (change)="togglePasswordSet()"
          ></gtx-checkbox>
        }
        @if (form.get('password').enabled) {
          <gtx-password-confirm-input
            class="columns small-12"
            data-control="password"
            [label]="('user.password' | gtxI18n) + ' *'"
            [confirmLabel]="'mesh.confirm_addition' | gtxI18n: { label: ('user.password' | gtxI18n) }"
            [missmatchText]="'mesh.password_missmatch' | gtxI18n"
            formControlName="password"
          ></gtx-password-confirm-input>
        }
      </div>
    </div>
    <div class="row">
      <gtx-input
        class="columns small-6"
        data-control="firstname"
        [label]="'shared.first_name' | gtxI18n"
        formControlName="firstname"
      ></gtx-input>
      <gtx-input
        class="columns small-6"
        data-control="lastname"
        [label]="'shared.last_name' | gtxI18n"
        formControlName="lastname"
      ></gtx-input>
    </div>
    <div class="row">
      <gtx-checkbox
        class="columns small-6"
        data-control="forcePasswordChange"
        [label]="'mesh.force_password_reset' | gtxI18n"
        formControlName="forcedPasswordChange"
      ></gtx-checkbox>
      <gtx-checkbox
        class="columns small-6"
        data-control="admin"
        [label]="'mesh.admin_permissions' | gtxI18n"
        formControlName="admin"
      ></gtx-checkbox>
    </div>
  </form>
}
