<div class="mesh-browser-detail">

    <gtx-mesh-browser-breadcrumbs
        [project]="project"
        [branch]="currentBranchUuid"
        [node]="currentNodeUuid"
        [language]="currentLanguage"
    />

    <gtx-entity-detail-header
        [saveDisabled]="true"
        (cancelClick)="detailsClose()"
    >
        <h2>
            {{ title }}
            <span class="language-indicator">{{ currentLanguage.toLocaleUpperCase() }}</span>
        </h2>
    </gtx-entity-detail-header>

    <gtx-mesh-copy-value
        class="copy-uuid"
        [value]="currentNodeUuid"
        [label]="'UUID'"
        [animate]="true"
    />

    <div *ngIf="!!version" class="version-container">
        <label class="label">Version</label>
        <span class="value">{{ version }}</span>
    </div>

    <hr class="separator">

    <ng-container *ngFor="let field of fields">
        <div class="field">
            <label class="field-label">{{ field.label }}</label>

            <div [ngSwitch]="field.type" class="field-value-wrapper">

                <div class="value-container" *ngSwitchCase="'list'">
                    <div *ngFor="let field of field.value" class="field-value">
                        {{ field }}
                    </div>
                </div>

                <div *ngSwitchCase="'binary'" class="field-binary">
                    <img [src]="field.value" />
                </div>

                <ng-container *ngSwitchCase="'boolean'">
                    <icon *ngIf="field.value === true; else booleanRenderer" left class="boolean-true">check</icon>

                    <ng-template #booleanRenderer>
                        <icon left class="boolean-false">close</icon>
                    </ng-template>
                </ng-container>

                <div *ngSwitchCase="'node'" (click)="loadNode(field.value)" class="field-node">
                    <icon left>share</icon>
                    {{ field.value }}
                </div>

                <div *ngSwitchCase="'micronode'" class="micronode-container value-container">

                    <div *ngFor="let field of field.value | keyvalue" class="micronode-field">
                        <label class="field-label">{{ field.key }}</label>

                        <span *ngIf="!field.value['uuid'] else nodeReferenceRenderer" class="field-value">
                            {{ field.value }}<br>
                        </span>

                        <ng-template #nodeReferenceRenderer>
                            <div (click)="loadNode(field.value['uuid'])" class="field-node">
                                <icon>share</icon>
                                {{ field.value['uuid'] }}
                            </div>
                        </ng-template>
                    </div>
                </div>

                <span *ngSwitchDefault class="field-value">
                    {{ field.value }}
                </span>
            </div>
        </div>

    </ng-container>

</div>

