<div class="mesh-browser-detail">

    <gtx-mesh-browser-breadcrumbs
        [currentProject]="project"
        [currentBranchUuid]="currentBranchUuid"
        [currentNodeUuid]="currentNodeUuid"
        [currentLanguage]="currentLanguage"
    />

    <gtx-entity-detail-header 
        [title]="title + ', '+  currentLanguage.toLocaleUpperCase() "
        [saveDisabled]="true"
        (cancelClick)="detailsClose()"
    />

    <ng-container *ngFor="let field of fields">
        <div class="field">
            <label class="field-label">{{ field.label }}</label>

            <div class="field-value-wrapper">
                <span *ngIf="field.type === 'string'" class="field-value">
                    {{ field.value }}
                </span>

                <ng-container *ngIf="field.type === 'list'">
                    <div *ngFor="let field of field.value" class="field-value">
                        {{ field }}
                    </div>
                </ng-container>
                
                <div *ngIf="field.type === 'binary'" class="field-binary">
                    <img src="{{ field.value }}" />
                </div>    
            </div>
        </div>

    </ng-container>

</div>

