<div class="gtx-entity-detail">
    <gtx-tabs pure [activeId]="editorTab">
        <!-- <gtx-tab
            gtxDetailTabLink
            [id]="Tabs.CONSTRUCTS"
            [title]="'construct.construct_plural' | i18n"
        >
            <gtx-entity-detail-header
                [hidden]="isLoading"
                [title]="'package.constructs_of_package' | i18n: { packageName: entity?.name }"
                (cancelClick)="detailsClose()"
            ></gtx-entity-detail-header>

            <div class="gtx-entity-details-tab-content-body">
                <gtx-construct-table
                    *ngIf="editorTab === Tabs.CONSTRUCTS"
                    [showSearch]="true"
                    [packageName]="entity.name"
                ></gtx-construct-table>
            </div>
        </gtx-tab> -->
    </gtx-tabs>
</div>
