@import "variables";

.mesh-browser-detail {
    overflow: auto;
    max-height: 100%;
    padding: 0 1rem;
}

.gtx-table-cell-boolean {
    font-size: 1.2em;
    height: 20px;
    margin: auto 0;
}

.mesh-browser-detail gtx-entity-detail-header {
    &::ng-deep .gtx-entity-details-tab-content-header {
        padding-left: 0;

        h2 {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            gap: 0.25rem;
            align-items: center;
        }
    }

    .node-icon {
        color: $gtx-color-primary;
    }
}

.gtx-table-cell-boolean-true {
    color: $gtx-color-success;
}

.gtx-table-cell-boolean-false {
    color: $gtx-color-alert;
}

.gtx-table-cell-boolean-null {
    color: $gtx-color-dark-gray;
}

.field-grid {
    display: grid;
    grid-template-columns: minmax(150px, auto) auto;
    font-size: 18px;
    gap: 1rem;
    position: relative;
    padding-top: 2rem;

    .grid-content {
        display: contents;
    }

    .grid-item-label {
        display: flex;
        color: $gtx-color-dark-gray;
        text-transform: uppercase;
        word-break: break-all;
        text-overflow: ellipsis;
        align-items: center;
    }

    .grid-item-value {
        display: block;
    }

    .grid-separator-container {
        height: 1px;
        padding-bottom: 4px;
    }

    .grid-separator {
        margin: 0;
        position: absolute;
        width: 100%;
    }
}

.field-value-wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 90%;
    max-width: 1200px;
}

.field-value {
    display: block;
    flex: 1 1 auto;
    background-color: $gtx-color-off-white;
    color: $gtx-color-dark-gray;
    border: 2px solid $gtx-color-light-gray;
    border-radius: 4px;
    padding: 0.4rem;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 200px;
    min-height: 2.725rem;
    word-wrap: break-word;
}

.field-binary {
    img {
        max-width: 100%;
        max-height: 100%;
    }
}

.field-node {
    color: $gtx-color-primary;
    cursor: pointer;

    icon {
        width: 20px;
    }
}

.micronode-container {
    display: flex;
    width: 100%;
    flex-wrap: wrap;

    & .micronode-field {
        display: flex;
        flex-grow: 1;
        width: 100%;
        margin-bottom: 0.5rem;
    }

    & .field-label {
        width: 150px;
    }

    & .field-node icon {
        font-size: 18px;
    }
}

.value-container {
    padding: 0.5rem;
    border: 2px solid lightgrey;
    border-radius: 4px;
    min-height: 35px;
}

.copy-uuid {
    color: $gtx-color-primary;
    font-size: 12px;

    &::ng-deep .wrapper {
        margin-bottom: 0;
    }
}

.version-container {
    .label {
        text-transform: uppercase;
        margin-left: 0.5rem;
        margin-top: 0.5rem;
        font-size: 18px;
        margin-right: 1rem;
        color: $gtx-color-dark-gray;
    }

    .value {
        font-family: monospace;
        color: $gtx-color-dark-gray;
    }
}

.language-indicator {
    font-size: 16px;
    padding: 2px 4px;
    text-transform: uppercase;
    color: #ffb84f;
    font-weight: 400;
    border: 1px solid rgba(255, 184, 79, .3);
}
