<div class="gtx-modal-datagrid-in-tab">
  <gtx-loading-overlay class="body-load" [visible]="loading"></gtx-loading-overlay>

  <div class="modal-title">
    <h5>{{ 'modal.create_package_title' | gtxI18n }}</h5>
  </div>

  <div class="modal-content row">
    @if (form) {
      <form
        autocomplete="off"
        [formGroup]="form"
        class="gtx-create-user-modal-tab-content-body-form"
        style="width: 100%"
        >
        <div class="input-container small-12 medium-12 columns">
          <gtx-input
            type="text"
            maxlength="50"
            [required]="true"
            [label]="('package.package_name' | gtxI18n) + ' *'"
            [placeholder]="'package.package_name' | gtxI18n"
            formControlName="name"
          ></gtx-input>
        </div>
      </form>
    }
  </div>

  <div class="modal-footer">
    <gtx-button
      type="primary"
      data-action="confirm"
      (click)="buttonCreatePackageClicked()"
      [disabled]="!form.valid || loading"
      >
      {{ 'modal.create_package_button' | gtxI18n }}
    </gtx-button>

    <gtx-button
      type="secondary"
      data-action="cancel"
      flat
      (click)="cancelFn()"
      >
      {{ 'common.cancel_button' | gtxI18n }}
    </gtx-button>
  </div>
</div>
