@if (form) {
  <form
    [formGroup]="form"
    >
    <div class="row">
      <gtx-input
        class="columns small-12"
        [label]="('common.name' | gtxI18n) + ' *'"
        formControlName="name"
      ></gtx-input>
    </div>
    <div class="row">
      <gtx-input
        class="columns small-12"
        [label]="('common.description' | gtxI18n) + ' *'"
        formControlName="description"
      ></gtx-input>
    </div>
    <div class="row">
      <div class="columns small-12">
        <gtx-json-input
          [label]="'mesh.elasticsearch' | gtxI18n"
          formControlName="elasticsearch"
        ></gtx-json-input>
      </div>
      <div class="columns small-12">
        <gtx-checkbox
          class="columns small-6"
          [label]="'mesh.schema_noIndex' | gtxI18n"
          formControlName="noIndex"
        ></gtx-checkbox>
      </div>
    </div>
    <div class="row">
      <div class="columns small-12">
        <gtx-mesh-schema-fields-manager
          class="fields-manager"
          [label]="'mesh.schema_fields' | gtxI18n"
          [type]="SchemaFieldPropertiesType.MICROSCHEMA"
          [ownName]="form.value.name"
          [schemaNames]="schemaNames"
          [microschemaNames]="microschemaNames"
          formControlName="fields"
        ></gtx-mesh-schema-fields-manager>
      </div>
    </div>
  </form>
}
