<div class="modal-title">
    <h5>{{ title | i18n }}</h5>
</div>

<div class="modal-content">
    <gtx-mesh-project-table
        [hideActions]="true"
        [multiple]="multiple"
        [(selected)]="selected"
    ></gtx-mesh-project-table>
</div>

<div class="modal-footer">
    <gtx-button
        type="primary"
        (click)="confirmSelection()"
    >
        {{ 'shared.confirm_selection' | i18n }}
    </gtx-button>

    <gtx-button
        type="secondary"
        flat
        (click)="cancelFn()"
    >
        {{ 'common.cancel_button' | i18n }}
    </gtx-button>
</div>
