@if (label) {
  <div class="label">{{ label }}</div>
}
<div class="wrapper">
  <div class="display-value">
    @if (displayValue) {
      <span class="actual-value">{{ displayValue }}</span>
    } @else {
      <span class="placeholder">{{ placeholder }}</span>
    }
  </div>
  <div class="button-wrapper">
    <button class="select-button" [disabled]="disabled" (click)="pickNewValues()">
      <icon>edit</icon>
    </button>
  </div>
  @if (clearable == null ? !required : clearable) {
    <div class="button-wrapper">
      <button class="clear-button" [disabled]="disabled" (click)="clearValue()">
        <icon>close</icon>
      </button>
    </div>
  }
</div>
