
<ng-container>

    <gtx-dropdown-list class="dropdown-language">
        <gtx-dropdown-trigger>
            <a>
                <icon *ngIf="languages?.length > 1" class="collapse">keyboard_arrow_down</icon> 
                <span>{{ currentLanguage }}</span>
            </a>
        </gtx-dropdown-trigger>

        <gtx-dropdown-content>
            <gtx-dropdown-item *ngFor="let language of languages" (click)="languageChanged(language)">
                {{ language }}
            </gtx-dropdown-item>
        </gtx-dropdown-content>
    </gtx-dropdown-list>


</ng-container>
