<gtx-sidebar-item [title]="title">
  <div class="row">
    <div class="title">{{ 'widget.cms_status_version_information' | gtxI18n }}</div>
    {{ (uiState$ | async).cmpVersion?.version }} {{ (uiState$ | async).cmpVersion?.variant }}
  </div>

  @if ((updates$ | async); as updates) {
    <div class="row">
      @if ((updates?.hotfix || updates?.feature)) {
        <div class="title">{{ 'widget.cms_status_updates_available' | gtxI18n }}</div>
      }
      @if (updates?.hotfix) {
        <a [href]="updates?.hotfix.changelog"
          target="_blank"
          >
          {{ 'widget.cms_status_latest_hotfix' | gtxI18n }} {{ updates?.hotfix.version }}
        </a>
      }
      @if (updates?.feature) {
        <a [href]="updates?.feature.changelog"
          target="_blank"
          >
          {{ 'widget.cms_status_latest_release' | gtxI18n }} {{ updates?.feature.version }}
        </a>
      }
    </div>
  }

  <div class="row">
    <div class="title">{{ 'widget.cms_status_documentation_title' | gtxI18n }}</div>
    <a [href]="currentDocsUrl" target="_blank">{{ 'widget.cms_status_version' | gtxI18n }} {{ (uiState$ | async).cmpVersion?.version }}</a>
    &nbsp;|&nbsp;
    <a [href]="latestDocsUrl" target="_blank">{{ 'widget.cms_status_latest_version' | gtxI18n }}</a>
  </div>
</gtx-sidebar-item>
