<gtx-search-bar
    *ngIf="showSearch"
    class="search-bar"
    [query]="query"
    [placeholder]="'shared.search' | i18n"
    (search)="updateSearchQuery($event)"
    (clear)="updateSearchQuery('')"
></gtx-search-bar>

<div *ngIf="!hideActions" class="entity-table-actions-bar">
    <gtx-button
        class="table-action-button"
        flat
        size="small"
        type="primary"
        [disabled]="disabled"
        [gtxActionAllowed]="'scheduler.createTask'"
        (click)="handleCreateButton()"
    >
        <icon left>add</icon> {{ 'shared.create_new_schedule_task' | i18n }}
    </gtx-button>
</div>

<div *ngIf="selectable" class="entity-table-selection">
    {{ 'scheduler.info_selected_schedules' | i18n:{ amountSelected: selected?.length, amountTotal: totalCount } }}
</div>

<gtx-progress-bar class="load-bar" [active]="loading"></gtx-progress-bar>

<gtx-table
    class="entity-table"

    [selectAllType]="TableSelectAllType.PAGE"
    [selectable]="selectable"
    [hideActions]="hideActions"
    [disabled]="disabled"

    [columns]="columns"
    [rows]="rows"
    [actions]="actions"
    [selected]="selected"
    [active]="activeEntity"
    [totalCount]="totalCount"

    [page]="page"
    [perPage]="perPage"
    [sortBy]="sortBy"
    [sortOrder]="sortOrder"

    [renderers]="{
        description: descriptionRenderer,
        internal: boolIconRenderer
    }"

    (pageChange)="changePageTo($event)"
    (sortByChange)="updateSortBy($event)"
    (sortOrderChange)="updateSortOrder($event)"
    (selectedChange)="updateSelection($event)"
    (rowClick)="handleRowClick($event)"
    (actionClick)="handleAction($event)"
></gtx-table>

<ng-template #boolIconRenderer let-value="value">
    <icon
        class="gtx-entity-grid-cell-icon"
        [ngClass]="'gtx-entity-grid-cell-icon-' + value"
    >{{ value ? 'check' : 'close' }}</icon>
</ng-template>

<ng-template #descriptionRenderer let-value="value">
    <span class="text-overflow-wrapper">{{ value }}</span>
</ng-template>
