@if (showSearch) {
  <gtx-search-bar
    class="search-bar"
    [query]="query"
    [placeholder]="'shared.search' | gtxI18n"
    (search)="updateSearchQuery($event)"
    (clear)="updateSearchQuery('')"
  ></gtx-search-bar>
}

@if (!hideActions || nodeId) {
  <div class="entity-table-actions-bar">
    @if (!hideActions && !nodeId) {
      <gtx-button
        data-action="create"
        class="table-action-button"
        flat
        size="small"
        type="primary"
        [disabled]="disabled"
        [gtxActionAllowed]="'contentadmin.updateContent'"
        (click)="handleCreateButton()"
        >
        <icon left>add</icon> {{ 'package.package_create' | gtxI18n }}
      </gtx-button>
    }
    @if (nodeId) {
      <gtx-button
        class="table-action-button"
        data-action="assign-to-node"
        flat
        size="small"
        type="primary"
        [disabled]="disabled || !isMasterNode"
        (click)="handleAssignToNode()"
        >
        <icon left>link</icon> {{ 'shared.assign_packages_to_node' | gtxI18n }}
      </gtx-button>
    }
    @if (!hideSync) {
      <gtx-button
        data-action="toggle-sync"
        flat
        size="small"
        class="table-action-button sync-status-toggle"
        [type]="syncEnabled ? 'success' : 'alert'"
        [disabled]="!(canEdit$ | async) || syncLoading"
        (click)="toggleSync()"
        >
        <icon left>{{ syncEnabled ? 'play_arrow' : 'pause' }}</icon>
        {{ 'package.autosync_label' | gtxI18n }}:
        {{ (syncEnabled ? 'package.autosync_active' : 'package.autosync_inactive') | gtxI18n }}
      </gtx-button>
    }
    @if (!hideActions) {
      <gtx-button
        class="table-action-button reload-button"
        data-action="reload"
        flat
        size="small"
        type="primary"
        [disabled]="disabled || loading"
        (click)="reload()"
        >
        <icon left>refresh</icon> {{ 'common.reload_table_button' | gtxI18n }}
      </gtx-button>
    }
  </div>
}

@if (selectable) {
  <div class="entity-table-selection">
    {{ 'package.info_selected_packages' | gtxI18n:{ amountSelected: selectedCount, amountTotal: totalCount } }}
  </div>
}

<gtx-progress-bar class="load-bar" [active]="loading"></gtx-progress-bar>

<gtx-table
  class="entity-table"

  [selectAllType]="TableSelectAllType.PAGE"
  [selectable]="selectable"
  [hideActions]="hideActions"
  [disabled]="disabled"

  [columns]="columns"
  [rows]="rows"
  [actions]="actions"
  [selected]="selected"
  [active]="activeEntity"
  [totalCount]="totalCount"

  [page]="page"
  [perPage]="perPage"
  [sortBy]="sortBy"
  [sortOrder]="sortOrder"

    [renderers]="{
        constructs: numberRenderer,
        templates: numberRenderer,
        'data-sources': numberRenderer,
        'object-properties': numberRenderer,
        'content-repositories': numberRenderer
    }"

  (pageChange)="changePageTo($event)"
  (sortByChange)="updateSortBy($event)"
  (sortOrderChange)="updateSortOrder($event)"
  (selectedChange)="updateSelection($event)"
  (rowClick)="handleRowClick($event)"
  (actionClick)="handleAction($event)"
></gtx-table>

<ng-template #numberRenderer let-value="value">
  <span class="gtx-table-cell-text">
    {{ value | gtxI18nNumber }}
  </span>
</ng-template>
