

@if (assetManagementEnabled && providers.length > 0) {
  <gtx-dropdown-list
    data-context-id="asset-management"
    >
    <gtx-dropdown-trigger>
      <gtx-button
        flat
        [size]="btnSize"
        [type]="btnType"
        data-context-trigger
        >
        <icon left>add</icon>{{ (btnLabel || itemType) | gtxI18n }}
      </gtx-button>
    </gtx-dropdown-trigger>
    <gtx-dropdown-content data-context-id="asset-management">
      @for (singleProvider of providers; track singleProvider) {
        <gtx-dropdown-item
          [attr.default-provider]="singleProvider.default"
          [attr.data-provider-id]="singleProvider.id"
          >
          @if (singleProvider.default) {
            <gtx-file-picker
              flat
              size="medium"
              type="secondary"
              [multiple]="multiple"
              [disabled]="disabled"
              [overrideSlot]="itemType === 'file' ? 'newFileButton' : 'newImageButton'"
              [overrideParams]="{ FOLDERID: targetFolderId, NODEID: targetNodeId }"
              [accept]="acceptUploads"
              (fileSelect)="uploadFiles($event)"
              (fileSelectReject)="uploadFiles($event)"
              >
              <icon left>add</icon>
              <span>{{ 'editor.upload_from_harddrive' | gtxI18n }}</span>
            </gtx-file-picker>
          } @else {
            <gtx-button
              flat
              size="medium"
              type="secondary"
              (click)="customUpload(singleProvider)"
              >
              <icon left>add</icon>
              <span>{{ singleProvider.label }}</span>
            </gtx-button>
          }
        </gtx-dropdown-item>
      }
    </gtx-dropdown-content>
  </gtx-dropdown-list>
} @else {
  <gtx-file-picker
    flat
    [size]="btnSize"
    [type]="btnType"
    [multiple]="multiple"
    [overrideSlot]="itemType === 'file' ? 'newFileButton' : 'newImageButton'"
    [overrideParams]="{ FOLDERID: targetFolderId, NODEID: targetNodeId }"
    [accept]="acceptUploads"
    (fileSelect)="uploadFiles($event)"
    (fileSelectReject)="uploadFiles($event)"
    >
    <icon left>add</icon> {{ (btnLabel || itemType) | gtxI18n }}
  </gtx-file-picker>
}
