<ng-template #defaultButton>
    <gtx-file-picker
        flat
        [size]="btnSize"
        [type]="btnType"
        [multiple]="multiple"
        [overrideSlot]="itemType === 'file' ? 'newFileButton' : 'newImageButton'"
        [overrideParams]="{ FOLDERID: targetFolderId, NODEID: targetNodeId }"
        [accept]="acceptUploads"
        (fileSelect)="uploadFiles($event)"
        (fileSelectReject)="uploadFiles($event)"
    >
        <icon left>add</icon> {{ (btnLabel || itemType) | i18n }}
    </gtx-file-picker>
</ng-template>

<gtx-dropdown-list *ngIf="assetManagementEnabled && providers.length > 0; else defaultButton">
    <gtx-dropdown-trigger>
        <gtx-button
            flat
            [size]="btnSize"
            [type]="btnType"
        >
            <icon left>add</icon>{{ (btnLabel || itemType) | i18n }}
        </gtx-button>
    </gtx-dropdown-trigger>

    <gtx-dropdown-content>
        <gtx-dropdown-item *ngFor="let singleProvider of providers">
            <gtx-file-picker
                *ngIf="singleProvider.default; else externalProvider"
                flat
                size="medium"
                type="secondary"
                [multiple]="multiple"
                [disabled]="disabled"
                [overrideSlot]="itemType === 'file' ? 'newFileButton' : 'newImageButton'"
                [overrideParams]="{ FOLDERID: targetFolderId, NODEID: targetNodeId }"
                [accept]="acceptUploads"
                (fileSelect)="uploadFiles($event)"
                (fileSelectReject)="uploadFiles($event)"
            >
                <icon left>add</icon> {{ 'editor.upload_from_harddrive' | i18n }}
            </gtx-file-picker>

            <ng-template #externalProvider>
                <gtx-button
                    flat
                    size="medium"
                    type="secondary"
                    (click)="customUpload(singleProvider)"
                >
                    <icon left>add</icon>{{ singleProvider.label }}
                </gtx-button>
            </ng-template>
        </gtx-dropdown-item>
    </gtx-dropdown-content>

</gtx-dropdown-list>
