<gtx-breadcrumbs class="tool-breadcrumbs" [routerLinks]="routerLinks$ | async">
  <node-selector
    [nodes]="nodes$ | async"
    [showName]="false"
    [useLinks]="false"
    (nodeSelected)="navigateToNodeFolder($event)"
    >
    <gtx-dropdown-item (click)="navigateToOverview()" class="tools">
      <icon left>apps</icon> {{ 'common.tools' | gtxI18n }}
    </gtx-dropdown-item>
  </node-selector>
</gtx-breadcrumbs>

@if (toolIsVisible$ | async) {
  <gtx-button
    icon
    type="secondary"
    class="tool-close-button"
    (click)="closeTool()"
    >
    <icon>close</icon>
  </gtx-button>
}
