<div class="modal-title">
  <h5>{{ 'modal.publish_title' | gtxI18n }}</h5>
</div>
<div class="modal-content">
  <table>
    @if (pages.length > 0) {
      <thead>
        <tr>
          <th colspan="2">
            <span class="lead">
              {{ 'modal.publish_pages_header' | gtxI18n:{ some: pages.length, all: allPages } }}
            </span>
          </th>
          <th class="publish-at-date">{{ 'modal.publish_at_date' | gtxI18n }}:</th>
        </tr>
      </thead>
    }
    @if (pages.length > 0) {
      <tbody>
        @for (item of pages; track item) {
          <gtx-contents-list-item [ngClass]="item.type || ''">
            <td class="item-icon">
              <icon>{{ item.type | gtxTypeIcon }}</icon>
            </td>
            <td class="item-primary">
              <div class="item-name">{{ item.name }}</div>
              @if (item.language) {
                <div class="item-language">{{ item.language }}</div>
              }
            </td>
            <td>
              <div class="publish-at-date">{{ item.timeManagement.at | gtxI18nDate }}, {{ item.timeManagement.at | gtxI18nDate:'time' }}</div>
            </td>
          </gtx-contents-list-item>
        }
      </tbody>
    }
  </table>

  <div gtx-radio-group>
    <gtx-radio-button
      [(ngModel)]="publishAtChecked"
      label="{{ 'modal.publish_keep_at' | gtxI18n }}"
      [value]="true"
      (change)="onRadioButtonsChange()">
    </gtx-radio-button>
    <gtx-radio-button
      [(ngModel)]="publishAtChecked"
      label="{{ 'modal.publish_immediately' | gtxI18n }}"
      [value]="false"
      (change)="onRadioButtonsChange()">
    </gtx-radio-button>
  </div>
</div>
<div class="modal-footer">
  <gtx-button flat type="secondary" (click)="cancelFn()">{{ 'common.cancel_button' | gtxI18n }}</gtx-button>
  <gtx-button (click)="okayClicked()" >{{ 'common.okay_button' | gtxI18n }}</gtx-button>
</div>
