<gtx-dropdown-list *ngIf="uiMode === UIMode.EDIT && item && (item.type === 'page' || item.type === 'form')" width="contents">
    <gtx-dropdown-trigger>
        <div
            class="status-label"
            [class.published]="published"
            [class.icon-only]="iconOnly"
            [class.modified]="modified"
        >
            <icon *ngIf="!deleted && published" class="main-icon success">cloud_upload</icon>
            <icon *ngIf="!deleted && offline" class="main-icon alert">cloud_off</icon>
            <icon *ngIf="deleted" class="main-icon alert">delete</icon>

            <div *ngIf="locked" class="corner-icon icon-bottom-left">
                <icon class="secondary-icon">lock</icon>
            </div>

            <div *ngIf="modified" class="corner-icon icon-bottom-right">
                <span class="icon-modified secondary-icon">*</span>
            </div>

            <div *ngIf="inherited || localized" class="corner-icon icon-top-left">
                <icon class="secondary-icon">{{ inherited ? 'input' : 'file_copy' }}</icon>
            </div>

            <div *ngIf="planned && (plannedOnline || plannedOffline)" class="corner-icon icon-top-right">
                <icon class="secondary-icon">schedule</icon>
            </div>

            <ng-container [ngSwitch]="labelToDisplay">
                <div class="label-wrapper" *ngSwitchCase="DisplayLabel.IN_QUEUE">
                    <span class="label-element">{{ 'common.status_queue' | i18n }}</span>
                    <span class="icon-modified">*</span>
                </div>

                <div class="label-wrapper" *ngSwitchCase="DisplayLabel.PLANNED_ONLINE">
                    <span class="label-element">{{ 'common.status_publish_at' | i18n }}</span>
                    <span class="icon-modified">*</span>
                </div>

                <div class="label-wrapper" *ngSwitchCase="DisplayLabel.PLANNED_OFFLINE">
                    <span class="label-element">{{ 'common.status_offline_at' | i18n }}</span>
                    <span class="icon-modified">*</span>
                </div>

                <div class="label-wrapper" *ngSwitchCase="DisplayLabel.MODIFIED">
                    <span class="label-element">{{ 'common.status_edited' | i18n }}</span>
                    <span class="icon-modified">*</span>
                </div>

                <div class="label-wrapper" *ngSwitchCase="DisplayLabel.PUBLISHED">
                    <span class="label-element">{{ 'common.status_published' | i18n }}</span>
                    <span class="icon-modified">*</span>
                </div>

                <div class="label-wrapper" *ngSwitchCase="DisplayLabel.OFFLINE">
                    <span class="label-element">{{ 'common.status_offline' | i18n }}</span>
                    <span class="icon-modified">*</span>
                </div>

                <div class="label-wrapper" *ngSwitchCase="DisplayLabel.LOCKED">
                    <icon class="info">lock</icon>
                </div>

                <div class="label-wrapper" *ngSwitchCase="DisplayLabel.DELETED">
                    <span class="label-element">{{ 'common.status_deleted' | i18n }}</span>
                </div>
            </ng-container>

        </div>
    </gtx-dropdown-trigger>

    <gtx-dropdown-content>
        <item-state-contextmenu
            [nodeLanguages]="nodeLanguages"
            [item]="item"
            [activeNodeId]="activeNodeId"
            [uiMode]="uiMode"
        ></item-state-contextmenu>
    </gtx-dropdown-content>
</gtx-dropdown-list>

<div *ngIf="uiMode === UIMode.STAGING && item">
    <div class="status-label" [class.included]="stagingMap?.[item.globalId]?.included">
        <icon>{{ (stagingMap?.[item.globalId]?.included) ? 'check' : 'close' }}</icon>
        {{ ((stagingMap?.[item.globalId]?.included) ? 'common.staging_status_included' : 'common.staging_status_excluded') | i18n }}
    </div>
    <!-- <div
        *ngIf="stagingMap?.[item.globalId]?.included"
        class="recency-label"
        [class.recent]="!!(stagingMap?.[item.globalId]?.recent)"
        [class.old]="!(stagingMap?.[item.globalId]?.recent)"
    >
        <icon>{{ (stagingMap?.[item.globalId]?.recent) ? 'thumb_up' : 'watch_later' }}</icon>
        {{ ((stagingMap?.[item.globalId]?.recent) ? 'common.staging_recency_recent' : 'common.staging_recency_old') | i18n }}
    </div> -->
</div>
