<gtx-dropdown-list *ngIf="uiMode === UIMode.EDIT && item && (item.type === 'page' || item.type === 'form')" width="contents">
    <gtx-dropdown-trigger>
        <div
            class="status-label"
            [class.published]="state.published"
            [class.icon-only]="iconOnly"
            [class.modified]="state.modified"
        >
            <icon *ngIf="!state.deleted && state.published" class="main-icon success">cloud_upload</icon>
            <icon *ngIf="!state.deleted && state.offline" class="main-icon alert">cloud_off</icon>
            <icon *ngIf="state.deleted" class="main-icon alert">delete</icon>

            <div *ngIf="state.locked" class="corner-icon icon-bottom-left">
                <icon class="secondary-icon">lock</icon>
            </div>

            <div *ngIf="state.modified" class="corner-icon icon-bottom-right">
                <icon class="icon-modified secondary-icon">asterisk</icon>
            </div>

            <div *ngIf="state.inherited || state.localized" class="corner-icon icon-top-left">
                <icon class="secondary-icon">{{ state.inherited ? 'input' : 'file_copy' }}</icon>
            </div>

            <div *ngIf="state.planned && (state.plannedOnline || state.plannedOffline)" class="corner-icon icon-top-right">
                <icon class="secondary-icon">schedule</icon>
            </div>

            <ng-container [ngSwitch]="labelToDisplay">
                <ng-container *ngSwitchCase="DisplayLabel.IN_QUEUE">
                    <span class="label-element">{{ 'common.status_queue' | i18n }}</span>
                    <icon class="icon-modified">asterisk</icon>
                </ng-container>

                <ng-container *ngSwitchCase="DisplayLabel.PLANNED_ONLINE">
                    <span class="label-element">{{ 'common.status_publish_at' | i18n }}</span>
                    <icon class="icon-modified">asterisk</icon>
                </ng-container>

                <ng-container *ngSwitchCase="DisplayLabel.PLANNED_OFFLINE">
                    <span class="label-element">{{ 'common.status_offline_at' | i18n }}</span>
                    <icon class="icon-modified">asterisk</icon>
                </ng-container>

                <ng-container *ngSwitchCase="DisplayLabel.MODIFIED">
                    <span class="label-element">{{ 'common.status_edited' | i18n }}</span>
                    <icon class="icon-modified">asterisk</icon>
                </ng-container>

                <ng-container *ngSwitchCase="DisplayLabel.PUBLISHED">
                    <span class="label-element">{{ 'common.status_published' | i18n }}</span>
                    <icon class="icon-modified">asterisk</icon>
                </ng-container>

                <ng-container *ngSwitchCase="DisplayLabel.OFFLINE">
                    <span class="label-element">{{ 'common.status_offline' | i18n }}</span>
                    <icon class="icon-modified">asterisk</icon>
                </ng-container>

                <ng-container *ngSwitchCase="DisplayLabel.DELETED">
                    <span class="label-element">{{ 'common.status_deleted' | i18n }}</span>
                </ng-container>
            </ng-container>

            <div class="label-wrapper" *ngIf="state.locked">
                <icon class="info">lock</icon>
            </div>
        </div>
    </gtx-dropdown-trigger>

    <gtx-dropdown-content>
        <item-state-contextmenu
            [nodeLanguages]="nodeLanguages"
            [item]="item"
            [activeNodeId]="activeNodeId"
            [state]="state"
        ></item-state-contextmenu>
    </gtx-dropdown-content>
</gtx-dropdown-list>

<ng-template #stagingLabel let-included="included">
    <div class="status-label" [class.included]="included">
        <icon>{{ included ? 'check' : 'close' }}</icon>
        {{ (included ? 'common.staging_status_included' : 'common.staging_status_excluded') | i18n }}
    </div>
</ng-template>

<div *ngIf="uiMode === UIMode.STAGING && item">
    <ng-container
        [ngTemplateOutlet]="stagingLabel"
        [ngTemplateOutletContext]="{ included: stagingMap?.[item.globalId]?.included }"
    ></ng-container>
</div>
