<div class="gtx-modal-datagrid">
  <div class="modal-title">
    <h5>{{ getModalTitle() | async }}</h5>
  </div>

  <div class="modal-content">
    <gtx-group-table
      class="modal-table"
      [showSearch]="true"
      [selectable]="false"
      [hideActions]="true"
      [activeEntity]="targetGroupId ? + targetGroupId + '' : null"
      (rowClick)="handleRowClick($event)"
    ></gtx-group-table>
  </div>

  <div class="modal-footer">
    <!-- NOTE: `gtxActionAllowed` will override any `disabled` directive, thus the code below is a workaround -->
    @if (!allIsValid()) {
      <gtx-button
        type="primary"
        (click)="buttonMoveClicked()"
        [disabled]="!allIsValid()"
        >
        {{ 'shared.move' | gtxI18n }}
      </gtx-button>
    }
    @if (allIsValid()) {
      <gtx-button
        type="primary"
        (click)="buttonMoveClicked()"
        gtxActionAllowed="group.moveGroup"
        >
        {{ 'shared.move' | gtxI18n }}
      </gtx-button>
    }

    <gtx-button
      type="secondary"
      flat
      (click)="cancelFn()"
      >
      {{ 'common.cancel_button' | gtxI18n }}
    </gtx-button>
  </div>
</div>
