@import 'variables';

.row {
    max-width: 100%;
}

.linkable-fields-wrapper {
    position: relative;
    display: flex;
    width: 100%;
    min-height: 1px;
    flex-direction: row;
    flex-wrap: nowrap;

    .linkable-fields-content {
        display: flex;
        flex-direction: column;
        flex: 1 1 auto;
    }

    .link-inputs {
        width: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        border: 1px solid #000000;
        border-left: none;
        margin: 72px 0 40px;
        padding-left: 8px;

        .link-button {
            background: #fff;
            outline: none;
            border: none;
            display: inline-block;
            aspect-ratio: 1/1;
            color: #d6d6d6;
            cursor: pointer;
            font-size: 20px;
            width: 20px;
            height: 20px;
            padding: 2px;
            box-sizing: content-box;
        }

        icon {
            font-size: inherit;
            color: inherit;
        }

        &.active {
            .link-button {
                color: $gtx-color-primary;
            }
        }

        .link-button[disabled] {
            background: $gtx-color-very-light-gray;
            color: $gtx-color-very-dark-gray;
            cursor: not-allowed;
        }
    }
}
