<gtx-button *ngIf="!(item | isFavourite:'all')"
            icon type="secondary"
            (click)="add(item)"
            title="{{ 'editor.favourites_add_label' | i18n }}">
    <i class="material-icons" [attr.translate]="'no'">star_border</i>
</gtx-button>
<gtx-button *ngIf="item | isFavourite:'all'"
            icon type="secondary"
            (click)="remove(item)"
            title="{{ 'editor.favourites_remove_label' | i18n }}">
    <i class="material-icons favourite" [attr.translate]="'no'">star</i>
</gtx-button>
