@import 'variables';

label {
    display: block;
    color: $gtx-color-dark-gray;
    font-size: 0.8rem;
    transition: color 0.2s;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    -webkit-user-select: none;
    user-select: none;
}

.input-wrapper {
    box-sizing: border-box;
    border: 2px solid $gtx-color-light-gray;
    border-radius: 3px;
    height: 2.5rem;
    transition: border 0.2s;
    display: flex;

    .content-name {
        flex: 1 1 auto;
        padding: 5px;
    }

    .suffix-button {
        flex: 0 0 auto;
        padding: 4px 0.3rem;
        background: $gtx-color-very-light-gray;
        border-left: 1px solid $gtx-color-light-gray;
        cursor: pointer;
        transition: 0.2s;

        &::ng-deep .button-event-wrapper .btn icon {
            font-size: 1.2rem;
        }

        &:hover::ng-deep .button-event-wrapper .btn {
            color: #0085c3;

            &.alert {
                color: #c9302c;
            }
        }
    }

    &.disabled {
        background: $gtx-color-very-light-gray;

        .content-name {
            color: $gtx-color-dark-gray;
        }

        .suffix-button {
            cursor: default;
        }
    }
}

:host.ng-invalid .input-wrapper,
.input-wrapper.invalid {
    border-color: $gtx-color-alert;

    .suffix-button {
        border-color: $gtx-color-alert;
    }
}

:host.ng-invalid label,
label.invalid {
    color: $gtx-color-alert;
}
