@import 'variables';

label {
    font-size: 0.8rem;
    display: block;
    color: $gtx-color-dark-gray;
    transition: color 0.2s;
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    -webkit-user-select: none;
    user-select: none;
}

.options-wrapper {
    margin-bottom: 1rem;

    .list-item,
    .list-item .item-primary {
        padding-left: 0;
        padding-right: 0;
    }

    .delete-button {
        margin: 0.5rem;
    }
}

.add-button {
    margin-bottom: 1rem;
}
