<div class="modal-title">
  <gtx-progress-bar [active]="loading"></gtx-progress-bar>
  <h5>{{ 'modal.assign_page_title' | gtxI18n }}</h5>
</div>

<div class="modal-content">
  <publish-queue-list
    [pages]="pages"
    [readOnly]="true"
  ></publish-queue-list>

  <gtx-textarea
    class="message-control"
    data-control="message"
    [label]="'modal.message_title' | gtxI18n"
    [(ngModel)]="message"
  ></gtx-textarea>

  <div class="user-list">
    <gtx-input
      class="filter-control"
      data-control="filterTerm"
      [label]="'modal.assign_page_select_users_title' | gtxI18n"
      [placeholder]="'modal.filter_users_label' | gtxI18n"
      [class.ng-invalid]="loadError"
      [disabled]="!loadedUsers"
      [ngModel]="filterTerm"
      (ngModelChange)="updateFilterTerm($event)"
    ></gtx-input>

    @if (loadedUsers) {
      <users-list
        [users]="filteredUsers"
        maxHeight="300px"
        [(selected)]="selected"
      ></users-list>
    }
  </div>

</div>

<div class="modal-footer">
  <gtx-button
    flat
    type="secondary"
    data-action="cancel"
    (click)="cancelFn()"
  >{{ 'common.cancel_button' | gtxI18n }}</gtx-button>

  <gtx-button
    data-action="confirm"
    [disabled]="selected.length === 0"
    (click)="assign()"
  >{{ 'modal.assign_for_revision_button' | gtxI18n }}</gtx-button>
</div>
