@import "variables";
@import "flex-modal";

@include flex-modal;

.page-icon {
    color: $gcms-color-page;
}

.message-control {
    margin-top: 0.5rem;

    &::ng-deep textarea {
        margin-bottom: 0;
    }
}
