.jstree a > ins {
  height: 17px !important;
  width: 19px !important;
}

.aloha-browser-search-field {
	margin-right: 10px;
	width: 160px;
}

.repository-browser-tree.jstree .jstree-clicked {
	background:#D9E8FB;
}

.repository-browser-tree.jstree .jstree-hovered {
	background:#FFC;
}

.repository-browser-tree.jstree li a {
	color: #0051AA;
	font-size: 12px;
	font-family: Arial, Helvetica, Sans-Serif;
	padding: 2px 0px 2px 0px;
	border: none;
	width: 100%;
}

.repository-browser-tree.jstree li a:hover {
	text-decoration: underline;
}

.repository-browser-tree.jstree li {
	background-image: url(../img/line3.gif);
	background-repeat: repeat-y;
	background-position: 5px;
	border: none;
	margin-left: 18px;
}

.repository-browser-tree.jstree li.jstree-last {
	background: transparent;
}

.repository-browser-tree.jstree-browser li > ins {
	opacity: 1;
	width: 22px;
	height: 22px;
}

.repository-browser-tree.jstree-browser li.jstree-open > ins {
	background-image: url(../img/minus3.gif);
}

.repository-browser-tree.jstree-browser li.jstree-open.jstree-last > ins {
	background-image: url(../img/minusbottom3.gif);
}

.repository-browser-tree.jstree-browser li.jstree-closed > ins {
	background-image: url(../img/plus3.gif);
}

.repository-browser-tree.jstree-browser li.jstree-closed.jstree-last > ins {
	background-image: url(../img/plusbottom3.gif);
}

.repository-browser-tree.jstree-browser li.jstree-leaf > ins {
	background-image: url(../img/join3.gif);
}

.repository-browser-tree.jstree-browser li.jstree-leaf.jstree-last > ins {
	background-image: url(../img/joinbottom3.gif);
}

.ui-jqgrid .repository-browser-list tr.ui-row-ltr td {
	border: none;
	line-height: normal;
	cursor: pointer;
}

.ui-jqgrid .repository-browser-list tr.jqgrow {
	height: 26px;
	background-color: #ffffff;
}

.repository-browser-list tr.jqgrow.repository-browser-list-altrow {
	background-color: #f5f5f5;
}

.ui-jqgrid .repository-browser-list tr.jqgrow:hover td {
	background-color: #FFC;
}
