<gtx-trable
    class="entity-trable"

    [selectable]="selectable"
    [hideActions]="hideActions"
    [multiple]="multiple"
    [inlineExpansion]="inlineExpansion"
    [inlineSelection]="inlineSelection"

    [columns]="columns"
    [rows]="rows"
    [active]="activeEntity"
    [selected]="selected"
    [actions]="actions"

    [renderers]="{
        name: nameRenderer,
        permissions: permissionRenderer
    }"

    (loadRow)="loadRow($event)"
    (rowClick)="handleRowClick($event)"
    (rowExpand)="updateRowExpansion($event)"
    (actionClick)="handleActionClick($event)"
    (selectedChange)="updateSelection($event)"
    (select)="forwardSelect($event)"
    (deselect)="forwardDeselect($event)"
></gtx-trable>

<ng-template #nameRenderer let-value="value" let-row="row">
    <div class="name-wrapper" [class.root-element]="row.item[BO_ID]?.[0] === '_'">
        <icon *ngIf="row.item[BO_ID]?.[0] !== '_'" class="gtx-type-icon type-icon">{{ row.item | gtxMeshIcon }}</icon>
        <span class="name">{{ value }}</span>
    </div>
</ng-template>

<ng-template #permissionRenderer let-value="value" let-row="row">
    <div class="permissions-wrapper">
        <ng-container *ngFor="let perm of (Permission | gtxEntries)">
            <div
                *ngIf="row.item[MBO_AVILABLE_PERMISSIONS] | gtxIncludes:perm.value; else emptyPermBlock"
                class="permission-icon"
                [title]="('mesh.permission_' + perm.value) | i18n"
                [class.granted]="row.item[MBO_ROLE_PERMISSIONS] | gtxIncludes:perm.value"
            >
                <icon>{{ perm.value | gtxMeshIcon }}</icon>
            </div>

            <ng-template #emptyPermBlock>
                <div class="empty-permission"></div>
            </ng-template>
        </ng-container>
    </div>
</ng-template>
