<div class="gtx-entity-detail detail-tab-wrapper">
    <gtx-entity-detail-header
        [title]="'shared.title_properties_of_entity' | i18n: { entityName: currentEntity?.name }"
        saveActionAllowedId="objectProperty.updateObjectpropertyInstance"
        [saveActionAllowedInstanceId]="currentEntity?.id"
        [saveDisabled]="fgProperties?.pristine || fgProperties?.invalid"
        (saveClick)="btnSavePropertiesOnClick()"
        (cancelClick)="detailsClose()"
    ></gtx-entity-detail-header>

    <div class="gtx-entity-details-tab-content-body">
        <gtx-object-property-properties
            class="properties"
            [formControl]="fgProperties"
            [mode]="ObjectpropertyPropertiesMode.UPDATE"
            [(initialValue)]="entityIsClean"
        ></gtx-object-property-properties>
    </div>
</div>
