<div class="filter">
  <span>{{ 'common.filter_by_editor' | gtxI18n }}:</span>
  <gtx-dropdown-list>
    <gtx-dropdown-trigger>
      <span class="editor">{{ (editor$ | async)?.label | gtxI18n }}</span>
      <gtx-button icon type="default">
        <i class="material-icons arrow-icon">arrow_drop_down</i>
      </gtx-button>
    </gtx-dropdown-trigger>
    <gtx-dropdown-content>
      @for (item of editors; track item.label) {
        <gtx-dropdown-item (click)="select(item)">{{ item.label | gtxI18n }}</gtx-dropdown-item>
      }
    </gtx-dropdown-content>
  </gtx-dropdown-list>
</div>
