<ng-template #tabContent let-tab="tab">
  @if (tab.icon) {
    <icon
      left
    >{{ tab.icon }}</icon>
  }
  {{ tab.label }}
</ng-template>

@if (items?.length > 0) {
  <gtx-grouped-tabs
    class="properties-tabs"
    pure
    [activeId]="selectedTab"
    (tabChange)="selectTab($event)"
    >
    @for (tab of items; track tab) {
      @if (!tab.isGroup) {
        <gtx-tab-pane [id]="tab.id">
          <ng-template gtx-tab-label>
            <ng-container [ngTemplateOutlet]="tabContent" [ngTemplateOutletContext]="{ tab: tab }"></ng-container>
          </ng-template>
        </gtx-tab-pane>
      } @else {
        <gtx-tab-group
          [id]="tab.id"
          [label]="tab.label"
          [expanded]="tab.expanded"
          (tabGroupToggle)="toggleGroup($event)"
          >
          @for (groupItem of tab.tabs; track groupItem) {
            <gtx-tab-pane [id]="groupItem.id">
              <ng-template gtx-tab-label>
                <ng-container
                  [ngTemplateOutlet]="tabContent"
                  [ngTemplateOutletContext]="{ tab: groupItem }"
                ></ng-container>
              </ng-template>
            </gtx-tab-pane>
          }
        </gtx-tab-group>
      }
    }
  </gtx-grouped-tabs>
}

