<div *ngIf="showTitle" class="row">
    <h2 class="gtx-widget-title">{{ 'widget.task_publishing_process_title' | i18n }}</h2>
</div>

<ng-container *ngIf="info$ | async; let info">
    <gtx-progress-bar [active]="info.running" [progress]="(info.progress / 100)"></gtx-progress-bar>
    <div class="row">
        <div class="title">
            {{ 'widget.publishing_process_publish_status' | i18n }}
            <div><b>{{ info.phase }}</b></div>
        </div>
    </div>

    <br>

    <div class="row" *ngIf="!info.running">
        <p>
            <icon>folder</icon>
            <br>
            <b>{{ 'widget.publishing_process_to_be_published' | i18n }} {{ info.folders.toPublish }}</b>
        </p>
        <br>
        <p>
            <icon>subject</icon>
            <br>
            <b>{{ 'widget.publishing_process_to_be_published' | i18n }} {{ info.pages.toPublish }}</b>
        </p>
        <br>
        <p>
            <icon>image</icon>
            <br>
            <b>{{ 'widget.publishing_process_to_be_published' | i18n }} {{ info.files.toPublish }}</b>
        </p>
        <br>
    </div>

    <div class="row" *ngIf="info.running">
        <p>
            <icon>folder</icon>
            <br>
            <b>{{ 'widget.publishing_process_published' | i18n: { count: info.folders.published, total: (info.folders.published + info.folders.remaining) } }}</b>
        </p>
        <br>
        <p>
            <icon>subject</icon>
            <br>
            <b>{{ 'widget.publishing_process_published' | i18n: { count: info.pages.published, total: (info.pages.published + info.pages.remaining) } }}</b>
        </p>
        <br>
        <p>
            <icon>image</icon>
            <br>
            <b>{{ 'widget.publishing_process_published' | i18n: { count: info.files.published, total: (info.files.published + info.files.remaining) } }}</b>
        </p>
        <br>
    </div>

    <br>

    <div class="row" >
        <div class="title">{{ 'widget.publishing_process_estimated_publish_duration' | i18n }}</div>
        <b>{{ info.estimatedDuration * 1000 | date:'HH:mm:ss':'UTC' }}</b>
    </div>

    <br>

    <div class="row">
        <div class="title">{{ 'widget.publishing_process_last_status' | i18n }}</div>

        <div *ngIf="hasFailedJobs$ | async; else processStatusHealthyContent">
            <span class="warning">{{ 'widget.publishing_process_status_failed' | i18n }}</span> -
            <a [routerLink]="['/' + AdminUIModuleRoutes.CONTENT_REPOSITORIES]">{{ 'widget.publishing_process_see_logs' | i18n }}</a>
        </div>

        <ng-template #processStatusHealthyContent>
            <span class="success">{{ 'widget.publishing_process_status_healthy' | i18n }}</span>
        </ng-template>
    </div>
</ng-container>
