@if (label) {
  <label>{{ label }}</label>
}

@if (form) {
  <div class="input-container" [formGroup]="form">
    <gtx-select
      [label]="('construct.select_dataSource' | gtxI18n) + '*'"
      [multiple]="false"
      [required]="true"
      [value]="form.value.datasourceId"
      (valueChange)="loadEntries($event)"
      >
      @for (dsEntry of (dataSourceMap | gtxEntries); track dsEntry) {
        <gtx-option
          [value]="dsEntry.value.id"
        >{{ dsEntry.value.name }}</gtx-option>
      }
    </gtx-select>
    <gtx-textarea
      [label]="'construct.select_template' | gtxI18n"
      formControlName="template"
    ></gtx-textarea>
  </div>
}
