<div class="modal-title">
    <h5>{{ 'modal.create_template_title' | gtxI18n }}</h5>
</div>

<div class="modal-content">
    <gtx-loading-overlay class="body-load" [visible]="loading"></gtx-loading-overlay>

    <gtx-template-properties
        [mode]="'CREATE'"
        [formControl]="form"
    ></gtx-template-properties>
</div>

<div class="modal-footer">
    <gtx-button
        flat
        type="secondary"
        data-action="cancel"
        [disabled]="loading"
        (click)="cancelFn()"
    >{{ 'common.cancel_button' | gtxI18n }}</gtx-button>
    <gtx-button
        data-action="confirm"
        [disabled]="loading || form.invalid || form.pristine"
        (click)="okayClicked()"
    >{{ 'common.create_button' | gtxI18n }}</gtx-button>
</div>
