@import "variables";

:host {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 100%;
}

.label {
    margin-top: 0.5rem;
    font-size: 0.8rem;
    color: $gtx-color-dark-gray;
    user-select: none;
    margin-bottom: 0.1rem;
    flex: 0 0;
    width: 100%;
}

.field-list {
    display: block;
    flex: 1 1 auto;
    min-height: 1px;
    overflow: auto;

    .field-wrapper {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
    }

    .movement-group {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;

        .move-top,
        .move-up {
            margin-bottom: 2rem;
        }

        .move-down,
        .move-bottom {
            margin-top: 2rem;
        }
    }

    .field {
        padding: 0 2rem;
        margin: 1rem 0 0.5rem;
        display: block;
        flex: 1 1 auto;
    }

    .separator {
        margin: 1rem 0;
    }
}

.add-button-wrapper {
    width: 100%;
    display: flex;
    padding-top: 1rem;

    .add-button {
        margin: auto;
    }
}
