@if (loggedIn) {
  <div class="content">
    <ng-content></ng-content>
  </div>
} @else {
  @if (requiresLogin) {
    <div class="login-wrapper">
      <div class="login">
        <gtx-progress-bar [active]="loading" />
        <form class="login-form" [formGroup]="form" (submit)="loginWithFormCredentials()">
          <gtx-input
            class="login-input"
            [label]="'mesh.user_name' | gtxI18n"
            formControlName="username"
            autofocus
          ></gtx-input>
          <gtx-input
            class="login-input"
            [label]="'mesh.password' | gtxI18n"
            formControlName="password"
            type="password"
          ></gtx-input>
          @if (form.controls.newPassword.enabled) {
            <gtx-input
              class="login-input"
              [label]="'mesh.new_password' | gtxI18n"
              formControlName="newPassword"
              type="password"
            ></gtx-input>
          }
          <gtx-button
            class="login-button form-login-button"
            size="large"
            submit
            [disabled]="!form.valid || form.disabled || loading"
          >{{ 'dashboard.log_in' | gtxI18n }}</gtx-button>
        </form>
        <gtx-button
          class="login-button cr-login-button"
          size="large"
          [disabled]="!canLoginWithCR || loading"
          (click)="loginWithContentRepository()"
        >{{ 'mesh.login_with_cr' | gtxI18n }}</gtx-button>
      </div>
    </div>
  }
}

