:host {
    display: block;
    height: 100%;
    width: 100%;
}

.content {
    display: block;
    height: 100%;
    width: 100%;
}

.login-wrapper {
    display: flex;
    width: 100%;
    height: 100%;
    flex-wrap: nowrap;
    flex-direction: column;

    .login {
        max-width: 35rem;
        margin: 0 auto;
    }

    .login-form {
        display: flex;
        width: 100%;
        height: 100%;
        flex-wrap: nowrap;
        flex-direction: column;
    }

    .login-button {
        margin: 0 auto;
    }
}
