<div class="modal-title">
    <h5>{{ (mode === SchemaPropertiesMode.CREATE ? 'mesh.create_schema' : 'mesh.update_schema') | i18n: { entityName: schema?.name } }}</h5>
</div>

<div class="modal-content">
    <!-- <div class="tabs-wrapper"> -->
        <gtx-tabs class="schema-tabs">
            <gtx-tab id="properties" [title]="'shared.title_properties' | i18n">
                <div class="detail-tab-wrapper">
                    <gtx-mesh-schema-properties
                        *ngIf="namesLoaded"
                        [mode]="mode"
                        [formControl]="fgProperties"
                        [onlyProperties]="true"
                        [ownName]="schema?.name"
                        [schemaNames]="schemaNames"
                        [microschemaNames]="microschemaNames"
                        [fieldNames]="fieldNames"
                    ></gtx-mesh-schema-properties>
                </div>
            </gtx-tab>

            <gtx-tab id="elasticsearch" [title]="'mesh.elasticsearch' | i18n">
                <gtx-json-input
                    [label]="'mesh.elasticsearch' | i18n"
                    [formControl]="fgElasticsearch"
                ></gtx-json-input>
            </gtx-tab>

            <gtx-tab id="fields" [title]="'mesh.schema_fields' | i18n">
                <div class="detail-tab-wrapper">
                    <gtx-mesh-schema-fields-manager
                        [ownName]="fgProperties.value.name"
                        [schemaNames]="schemaNames"
                        [microschemaNames]="microschemaNames"
                        [formControl]="fgFields"
                        (rawFieldNames)="updateFieldNames($event)"
                    ></gtx-mesh-schema-fields-manager>
                </div>
            </gtx-tab>
        </gtx-tabs>
    <!-- </div> -->
</div>

<div class="modal-footer">
    <gtx-button
        type="primary"
        [disabled]="!fgProperties.valid || !fgProperties.enabled || !fgElasticsearch.valid || !fgElasticsearch.enabled || !fgFields.valid || !fgFields.enabled"
        (click)="buttonCreateEntityClicked()"
    >
        {{ (mode === SchemaPropertiesMode.CREATE ? 'modal.create_button' : 'modal.update_button') | i18n }}
    </gtx-button>

    <gtx-button
        type="secondary"
        flat
        (click)="cancelFn()"
    >
        {{ 'common.cancel_button' | i18n }}
    </gtx-button>
</div>
