:host {
    min-width: 60rem;
}

.modal-content {
    overflow: hidden;
    display: flex;
}

.schema-tabs {
    flex: 1 1 auto;
    min-height: 1px;
}

.detail-tab-wrapper {
    overflow: auto;
}

.tabs-wrapper {
    position: relative;
    display: block;
    height: 100%;
    width: 100%;
}
