@import '../../../../../styles/variables';

:host {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 1rem;
}

.selector {
    border: none;
    background: none;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 4px;
    align-items: center;

    color: $gtx-color-primary;
    cursor: pointer;

    .collapse-icon {
        font-size: 18px;
    }
}
