<gtx-dropdown-list>
  <gtx-dropdown-trigger>
    <button class="selector">
      <icon class="collapse-icon">keyboard_arrow_down</icon>
      <span class="item-name">{{ project }}</span>
    </button>
  </gtx-dropdown-trigger>

  <gtx-dropdown-content>
    @for (singleProject of availableProjects; track singleProject) {
      <gtx-dropdown-item (click)="projectChangeHandler(singleProject)">
        {{ singleProject }}
      </gtx-dropdown-item>
    }
  </gtx-dropdown-content>
</gtx-dropdown-list>

@if (availableBranches?.length > 1) {
  <gtx-dropdown-list class="branch-dropdown">
    <gtx-dropdown-trigger>
      <button class="selector">
        <icon class="collapse-icon">keyboard_arrow_down</icon>
        <span class="item-name">{{ branch.name }}</span>
      </button>
    </gtx-dropdown-trigger>
    <gtx-dropdown-content>
      @for (singleBranch of availableBranches; track singleBranch) {
        <gtx-dropdown-item (click)="branchChangeHandler(singleBranch)">
          {{ singleBranch.name }}
        </gtx-dropdown-item>
      }
    </gtx-dropdown-content>
  </gtx-dropdown-list>
}
