<div class="gtx-entity-detail">
    <gtx-tabs pure [activeId]="activeTabId$ | async">
        <gtx-tab
            [id]="FolderDetailTabs.PROPERTIES"
            gtxDetailTabLink
            [title]="'shared.title_properties' | i18n"
        >
            <div class="detail-tab-wrapper">
                <gtx-entity-detail-header
                    [hidden]="isLoading"
                    [title]="'shared.title_properties_of_folder' | i18n: { entityName: currentEntity?.name }"
                    saveActionAllowedId="group.updateGroupInstance"
                    [saveActionAllowedInstanceId]="currentEntity?.id"
                    [saveDisabled]="!fgProperties?.dirty || fgProperties?.invalid"
                    (saveClick)="btnSavePropertiesOnClick()"
                    (cancelClick)="detailsClose()"
                ></gtx-entity-detail-header>

                <div [hidden]="isLoading" class="gtx-entity-details-tab-content-body">
                    <div class="flex-row row">
                        <form *ngIf="fgProperties" [formGroup]="fgProperties" class="gtx-entity-details-tab-content-body-form small-12 medium-9 row">
                            <div class="input-container small-12 medium-6 columns">
                                <gtx-input
                                    type="text"
                                    [required]="true"
                                    maxlength="50"
                                    [label]="('shared.folder_name' | i18n) + ' *'"
                                    [placeholder]="'shared.folder_name' | i18n"
                                    formControlName="name"
                                    gtxActionAllowed="group.updateGroupInstance"
                                    [aaInstanceId]="currentEntity?.id"
                                >
                                </gtx-input>
                            </div>

                            <div class="small-12 medium-6 columns"></div>

                            <div class="input-container small-12 medium-6 columns">
                                <gtx-input
                                    type="text"
                                    [required]="true"
                                    maxlength="50"
                                    [label]="('shared.folder_path' | i18n) + ' *'"
                                    [placeholder]="'shared.folder_path' | i18n"
                                    formControlName="path"
                                    gtxActionAllowed="group.updateGroupInstance"
                                    [aaInstanceId]="currentEntity?.id"
                                >
                                </gtx-input>
                            </div>

                            <div class="small-12 medium-6 columns"></div>

                            <div class="input-container medium-12 columns">
                                <gtx-textarea
                                    [required]="false"
                                    maxlength="200"
                                    [label]="'shared.description' | i18n"
                                    [placeholder]="'shared.description' | i18n"
                                    formControlName="description"
                                    gtxActionAllowed="group.updateGroupInstance"
                                    [aaInstanceId]="currentEntity?.id"
                                >
                                </gtx-textarea>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </gtx-tab>

        <gtx-tab
            [id]="FolderDetailTabs.GROUP_PERMISSIONS"
            gtxDetailTabLink
            [title]="'shared.title_permissions_group' | i18n"
        >
            <div class="detail-tab-wrapper">
                <gtx-entity-detail-header
                    [title]="'shared.title_permissions_group_of_entity' | i18n: { entityName: currentEntity?.name }"
                    (cancelClick)="detailsClose()"
                ></gtx-entity-detail-header>

                <div class="gtx-entity-details-tab-content-body">
                    <gtx-group-trable
                        [permissions]="true"
                        [inlineSelection]="true"
                        [inlineExpansion]="true"
                        [parentId]="currentEntity.id"
                        [parentType]="'folder'"
                        [parentName]="currentEntity.name"
                        [parentHasChildren]="currentEntity.hasSubfolders"
                        [groupPermissionsByCategory]="true"
                    ></gtx-group-trable>

                    <ng-template #unauthorized>
                        <div class="message-unauthorized">
                            <h5>{{ 'common.general_permission_required' | i18n }}</h5>
                            <icon>warning</icon>
                        </div>
                    </ng-template>
                </div>
            </div>
        </gtx-tab>
    </gtx-tabs>
</div>
