<form [formGroup]="form">

  <gtx-select
    [label]="('scheduler.scheduleType' | gtxI18n) + ' *'"
    [required]="true"
    formControlName="type"
    >
    @for (type of ScheduleType | gtxEntries; track type.value) {
      <gtx-option [value]="type.value">{{ ('scheduler.scheduleType_' + type.value) | gtxI18n }}</gtx-option>
    }
  </gtx-select>

  <div class="flex-row row">
    <div
      class="date-time-wrapper columns"
      [class.small-6]="form.get('endTimestamp').enabled"
      [class.small-12]="!form.get('endTimestamp').enabled"
      >
      @if (form.get('startTimestamp').enabled) {
        <gtx-date-time-picker
          [label]="('scheduler.startTimestamp' | gtxI18n) + (form?.value?.type === ScheduleType.ONCE ? '*' : '')"
          [clearable]="form?.value?.type !== ScheduleType.ONCE"
          [required]="form?.value?.type === ScheduleType.ONCE"
          [min]="dateMin"
          [max]="dateMax"
          [displaySeconds]="false"
          formControlName="startTimestamp"
        ></gtx-date-time-picker>
      }
    </div>

    <div class="date-time-wrapper columns small-6">
      @if (form.get('endTimestamp').enabled) {
        <gtx-date-time-picker
          [label]="'scheduler.endTimestamp' | gtxI18n"
          [clearable]="true"
          [displaySeconds]="false"
          [min]="dateMin"
          [max]="dateMax"
          formControlName="endTimestamp"
        ></gtx-date-time-picker>
      }
    </div>
  </div>

  @if (form.get('interval').enabled) {
    <gtx-interval-schedule-data-properties
      formControlName="interval"
    ></gtx-interval-schedule-data-properties>
  }

  @if (form.get('follow').enabled) {
    <gtx-follow-up-schedule-data-properties
      [scheduleBlacklist]="scheduleBlacklist"
      formControlName="follow"
    ></gtx-follow-up-schedule-data-properties>
  }

</form>
