<table *ngIf="objectProperty" class="full-description">
    <tr *ngIf="objectProperty.description">
        <td class="popover_title">{{ 'editor.description_label' | i18n }}:</td>
        <td>{{ objectProperty.description }}</td>
    </tr>
    <tr>
        <td class="popover_title">{{ 'editor.read_only' | i18n }}:</td>
        <td>{{ (objectProperty.readOnly ? 'common.no_label' : 'common.yes_label') | i18n }}</td>
    </tr>
    <tr>
        <td class="popover_title">{{ 'editor.display_content_label' | i18n }}:</td>
        <td>{{ (objectProperty.tagType?.visibleInMenu ? 'common.yes_label' : 'common.no_label') | i18n }}</td>
    </tr>
    <tr>
        <td class="popover_title">{{ 'editor.required_label' | i18n }}:</td>
        <td>{{ (objectProperty.required ? 'common.yes_label' : 'common.no_label') | i18n }}</td>
    </tr>
    <tr *ngIf="objectProperty.name || objectProperty.id">
        <td class="popover_title">{{ 'editor.object_property_label' | i18n }}:</td>
        <td *ngIf="objectProperty.name">({{ objectProperty.name }})<br>
            <span *ngIf="objectProperty.id">ID: {{ objectProperty.id }}</span>
        </td>
    </tr>
    <tr *ngIf="objectProperty.tagType?.name">
        <td class="popover_title">{{ 'editor.tagtype_name_label' | i18n }}:</td>
        <td>{{ objectProperty.tagType.name }}</td>
    </tr>
</table>
