<form [formGroup]="form">
    <gtx-input
        [label]="('editor.item_name_label' | i18n) + '*'"
        formControlName="name"
        pattern=".+\.\w+"
        required
    ></gtx-input>

    <div
        *ngIf="form.controls.name.invalid"
        class="error-message"
    >{{ 'editor.item_file_name_error' | i18n }}</div>

    <gtx-input
        [label]="'editor.item_description_label' | i18n"
        formControlName="description"
    ></gtx-input>

    <gtx-checkbox
        *ngIf="form.controls.forceOnline.enabled"
        [label]="'editor.forcePublish_label' | i18n"
        formControlName="forceOnline"
    ></gtx-checkbox>

    <div *ngIf="niceUrlsEnabled">
        <gtx-input
            [label]="'editor.item_nice_url_label' | i18n"
            formControlName="niceUrl"
        ></gtx-input>

        <div
            *ngIf="form.controls.niceUrl.invalid"
            class="error-message"
        >{{ 'editor.item_nice_url_error' | i18n }}</div>

        <gtx-string-list
            [label]="'editor.item_alternate_urls_label' | i18n"
            [addLabel]="'editor.add_label' | i18n"
            [errors]="form.controls.alternateUrls.errors"
            class="alternate-urls"
            formControlName="alternateUrls"
        ></gtx-string-list>

        <div
            *ngIf="form.controls.alternateUrls.invalid"
            class="error-message"
        >{{ 'editor.item_alternate_urls_error' | i18n }}</div>
    </div>
</form>
