<div class="modal-title">
    <h5>{{ 'modal.create_templateTag_title' | i18n }}</h5>
</div>

<div class="modal-content">
    <gtx-loading-overlay class="body-load" [visible]="loading"></gtx-loading-overlay>

    <gtx-template-tag-properties
        [templateId]="templateId"
        [nodeId]="nodeId"
        [tagName]="tag?.name"
        [mode]="TemplateTagPropertiesMode.CREATE"
        [formControl]="form"
    ></gtx-template-tag-properties>
</div>

<div class="modal-footer">
    <gtx-button
        flat
        type="secondary"
        [disabled]="loading"
        (click)="cancelFn()"
    >{{ 'common.cancel_button' | i18n }}</gtx-button>
    <gtx-button
        [disabled]="loading || form.invalid || form.pristine"
        (click)="okayClicked()"
    >{{ 'common.create_button' | i18n }}</gtx-button>
</div>
