<form [formGroup]="form">

    <gtx-input
        class="gtx-input-with-validation"
        [label]="('editor.item_name_label' | i18n) + '*'"
        formControlName="name"
        [gtxDisabled]="disabled"
        required
        [autofocus]="isModeCreate()"
    ></gtx-input>
    <div class="gtx-input-validation-msgs">
        <p
            [hidden]="!hasError('name', 'folderNameIsDuplicate')"
            class="invalid"
        >
            {{ 'editor.input_invalid_name_already_exists' | i18n }}
        </p>
    </div>

    <gtx-input
        class="gtx-input-with-validation"
        [label]="('editor.item_directory_label' | i18n) + '*'"
        formControlName="directory"
        [gtxDisabled]="disabled"
        required
    ></gtx-input>
    <div class="gtx-input-validation-msgs">
        <p [hidden]="!hasError('directory', 'pattern')">
            {{ 'editor.input_invalid_pattern' | i18n:{ charsAllowed: getCharsAllowedDirectoryReadable( (featurePubDirSegmentIsActive$ | async) ) } }}
        </p>
        <p [hidden]="!hasError('directory', 'folderDirectoryIsDuplicate')">
            {{ 'editor.input_invalid_directory_already_exists' | i18n }}
        </p>
    </div>

    <gtx-input
        [label]="'editor.item_description_label' | i18n"
        formControlName="description"
        [gtxDisabled]="disabled"
    ></gtx-input>

    <div *ngIf="isMultiLang() && !isModeCreate()">
        <hr>

        <h2 class="item-properties-heading">{{ 'editor.i18n_properties_label' | i18n }}</h2>

        <div
            class="properties-editor-i18n"
        >

            <gtx-grouped-tabs
                class="properties-tabs"
                pure
                wrap
                statusIcons
                [activeId]="activeTabI18nLanguage?.id"
            >
                <gtx-tab-pane
                    *ngFor="let language of languages"
                    [id]="language?.id"
                    (select)="setActiveI18nTab($event)"
                    [readonly]="disabled"
                    [inactive]="!activeI18nTabValueExists(language?.code)"
                >
                    <ng-template gtx-tab-label>
                        <div left>{{ language?.name }}</div>
                    </ng-template>
            </gtx-tab-pane>
            </gtx-grouped-tabs>

            <div
                *ngIf="activeTabI18nLanguage?.code as activeLanguage"
                class="tab-content"
            >
                <h3>{{ activeTabI18nLanguage?.name }}</h3>

                <gtx-i18n-input
                    [label]="('editor.item_name_label' | i18n)"
                    formControlName="nameI18n"
                    [gtxDisabled]="disabled"
                    [language]="activeLanguage"
                    [availableLanguages]="languages"
                ></gtx-i18n-input>

                <gtx-i18n-input
                    [label]="('editor.item_directory_label' | i18n)"
                    formControlName="publishDirI18n"
                    [gtxDisabled]="disabled"
                    [language]="activeLanguage"
                    [availableLanguages]="languages"
                ></gtx-i18n-input>

                <gtx-i18n-input
                    [label]="'editor.item_description_label' | i18n"
                    formControlName="descriptionI18n"
                    [gtxDisabled]="disabled"
                    [language]="activeLanguage"
                    [availableLanguages]="languages"
                ></gtx-i18n-input>
            </div>
        </div>
    </div>

    <button
        type="submit"
        tabindex="-1"
        class="hidden-submit-button"
        *ngIf="isModeCreate()"
    ></button>
</form>
