@import '../base-entity-table/base-entity-table.component';


.name-wrapper {
    font-size: 0.8rem;
    display: flex;
    align-items: center;

    icon {
        display: inline-block;
        font-size: 18px;
        line-height: 1;
        margin-right: 0.5rem;
    }

    .name {
        margin-top: 1px;
        display: inline-block;
    }
}
