<div class="modal-title">
    <h5 [attr.data-pageName]="item?.name">{{ 'modal.time_management_title' | i18n:{ itemName: item?.name } }}</h5>
</div>
<div class="modal-content">
    <div *ngIf="item && (hasExistingPublishAt || hasExistingTakeOfflineAt || timeMgmtQueuedRequestsExists())" class="timemgmt-current">
        <div class="row">
            <h6>{{ 'modal.time_management_current_settings_label' | i18n }}</h6>
        </div>

        <div class="row">
            <div class="small-6 medium-6 columns">
                <label>{{ (item.type === 'page' ? 'modal.publish_at' : 'modal.publish_form_at') | i18n }}</label>

                <pre
                    *ngIf="!hasExistingPublishAt; else publishDateDisplay"
                    [attr.data-publishAtExistingDate]="'date_not_set'"
                >{{ 'modal.time_management_date_not_set' | i18n }}</pre>

                <ng-template #publishDateDisplay>
                    <pre
                        [attr.data-publishAtExistingDate]="item.timeManagement.at"
                    >{{ item.timeManagement.at | i18nDate:'dateTime' }}</pre>

                    <detail-chip
                        [attr.data-publishAtVersion]="existingPublishAtVersion"
                    >{{ 'modal.time_version_label' | i18n:{ version: existingPublishAtVersion } }}</detail-chip>
                </ng-template>
            </div>

            <div class="small-6 medium-6 columns">
                <label>{{ (item.type === 'page' ? 'modal.take_offline_at' : 'modal.take_form_offline_at') | i18n }}</label>

                <pre
                    *ngIf="!hasExistingTakeOfflineAt; else takeOfflineDateDisplay"
                    [attr.data-takeOfflineAtExistingDate]="'date_not_set'"
                >{{ 'modal.time_management_date_not_set' | i18n }}</pre>

                <ng-template #takeOfflineDateDisplay>
                    <pre
                        [attr.data-takeOfflineAtExistingDate]="item.timeManagement.offlineAt"
                    >{{ item.timeManagement.offlineAt | i18nDate:'dateTime' }}</pre>
                </ng-template>
            </div>
        </div>
    </div>

    <div *ngIf="item && timeMgmtQueuedRequestsExists()" class="timemgmt-queue row">
        <ul>
            <li
                *ngIf="item.timeManagement.queuedPublish"
                [attr.data-queuedPublishDate]="item?.timeManagement?.queuedPublish?.at"
                [attr.data-queuedPublishUserFirstName]="item?.timeManagement?.queuedPublish?.user?.firstName"
                [attr.data-queuedPublishUserLastName]="item?.timeManagement?.queuedPublish?.user?.lastName"
            >
                {{ 'editor.publish_queue_publish_at_date_label' | i18n }}: {{ getFormattedTimeMgmtValue('queuedPublish') | async }}
            </li>
            <li
                *ngIf="item.timeManagement.queuedOffline"
                [attr.data-queuedOfflineDate]="item?.timeManagement?.queuedOffline?.at"
                [attr.data-queuedOfflineUserFirstName]="item?.timeManagement?.queuedOffline?.user?.firstName"
                [attr.data-queuedOfflineUserLastName]="item?.timeManagement?.queuedOffline?.user?.lastName"
            >
                {{ 'editor.publish_queue_take_offline_at_date_label' | i18n }}: {{ getFormattedTimeMgmtValue('queuedOffline') | async }}
            </li>
        </ul>
    </div>

    <div class="timemgmt-form">
        <div class="row">
            <h6>{{ 'modal.time_management_override_label' | i18n }}</h6>
        </div>

        <gtx-radio-group [(ngModel)]="versionSelect" (valueChange)="updateFormValidity()">
            <div *ngIf="keepVersionVisible" class="timemgmt-form-existing">
                <div class="row">
                    <div class="small-12 medium-12 columns">
                        <gtx-radio-button
                            [value]="VersionManagement.KEEP_VERSION"
                            [label]="'modal.time_version_label' | i18n:{ version: existingItemVersion }"
                            [attr.data-pageOrFormVersionWithExistingQueuedPublish]="existingItemVersion"
                        ></gtx-radio-button>
                    </div>
                </div>

                <div class="row date-selection-row">
                    <div class="small-12 medium-6 columns">
                        <gtx-date-time-picker
                            data-control="publishAt"
                            [label]="(item.type === 'page' ? 'modal.publish_at' : 'modal.publish_form_at') | i18n"
                            [disabled]="versionSelect !== VersionManagement.KEEP_VERSION"
                            [required]="versionSelect === VersionManagement.KEEP_VERSION && !existingTakeOfflineAt"
                            [clearable]="userHasPublishPermission"
                            [(ngModel)]="existingPublishAt"
                            (valueChange)="updateFormValidity()"
                        ></gtx-date-time-picker>
                    </div>

                    <div class="small-12 medium-6 columns">
                        <gtx-date-time-picker
                            data-control="offlineAt"
                            [label]="(item.type === 'page'? 'modal.take_offline_at' : 'modal.take_form_offline_at') | i18n"
                            [disabled]="versionSelect !== VersionManagement.KEEP_VERSION"
                            [required]="versionSelect === VersionManagement.KEEP_VERSION && !existingPublishAt"
                            [clearable]="userHasPublishPermission"
                            [(ngModel)]="existingTakeOfflineAt"
                            (valueChange)="updateFormValidity()"
                        ></gtx-date-time-picker>
                    </div>
                </div>
            </div>

            <div class="timemgmt-form-current">
                <div *ngIf="keepVersionVisible" class="row">
                    <div class="small-12 medium-12 columns">
                        <gtx-radio-button
                            [value]="VersionManagement.NEW_VERSION"
                            [label]="'modal.time_management_publish_keep_version' | i18n:{ version: latestItemVersion }"
                            [attr.data-pageOrFormVersionLatest]="latestItemVersion"
                        ></gtx-radio-button>
                    </div>
                </div>

                <div class="row">
                    <div class="small-12 medium-6 columns">
                        <gtx-date-time-picker
                            data-control="publishAt"
                            [label]="(item.type === 'page' ? 'modal.publish_at' : 'modal.publish_form_at') | i18n"
                            [disabled]="versionSelect !== VersionManagement.NEW_VERSION"
                            [required]="versionSelect === VersionManagement.NEW_VERSION && !takeOfflineAt"
                            [clearable]="userHasPublishPermission"
                            [(ngModel)]="publishAt"
                            (valueChange)="updateFormValidity()"
                        ></gtx-date-time-picker>
                    </div>

                    <div class="small-12 medium-6 columns">
                        <gtx-date-time-picker
                            data-control="offlineAt"
                            [label]="(item.type === 'page'? 'modal.take_offline_at' : 'modal.take_form_offline_at') | i18n"
                            [disabled]="versionSelect !== VersionManagement.NEW_VERSION"
                            [required]="versionSelect === VersionManagement.NEW_VERSION && !publishAt"
                            [clearable]="userHasPublishPermission"
                            [(ngModel)]="takeOfflineAt"
                            (valueChange)="updateFormValidity()"
                        ></gtx-date-time-picker>
                    </div>
                </div>

                <div *ngIf="keepVersionVisible && versionSelect === VersionManagement.NEW_VERSION" class="row">
                    <div class="small-12 columns">
                        <p class="timemgmt-form-warning">{{ 'modal.time_management_keep_version_warning' | i18n:{
                            version: existingPublishAtVersion
                        } }}.</p>
                    </div>
                </div>
            </div>
        </gtx-radio-group>
    </div>

    <div
        *ngIf="itemsToBeModified.length > 1"
        class="row language-selector-row"
        [class.none-selected]="selectedLanguageVariants[item.id]?.length === 0"
    >
        <div class="columns medium-6 language-selector-label">
            <div class="apply-languages-title">{{ 'modal.time_management_apply_languages' | i18n}}</div>
        </div>

        <page-language-selector
            class="columns medium-6 language-selector"
            [page]="item"
            [variants]="itemsToBeModified"
            [selected]="selectedLanguageVariants[item.id]"
            (selectionChange)="onLanguageSelectionChange(item.id, $event)"
        ></page-language-selector>
    </div>
</div>

<div class="modal-footer">
    <gtx-button
        flat
        type="secondary"
        data-action="cancel"
        (click)="cancelFn()"
    >{{ 'common.cancel_button' | i18n }}</gtx-button>

    <gtx-button
        data-action="confirm"
        [disabled]="!formValid"
        (click)="btnOkayClicked()"
    >{{ 'common.okay_button' | i18n }}</gtx-button>
</div>
