@import 'variables';

.modal-content {
    width: 620px;
}

.timemgmt-current {
    padding-bottom: 1rem;

    pre {
        margin: 0.3rem 0;
    }
}

.timemgmt-queue {
    margin-top: 0.5rem;

    div + & {
        border-top: 1px solid #efefef;
    }
    ul {
        margin-left: 2rem;
        li {
            list-style: disc;
        }
    }
}

.timemgmt-form {
    div + & {
        border-top: 1px solid #efefef;
        padding-top: 1rem;
    }

    ::ng-deep gtx-date-time-picker input {
        margin-bottom: 0.3rem;
    }
}

.right {
    margin: 0 0 0 auto;
}

.none-selected {
    ::ng-deep .select-input {
        border-color: #c9302c;

        icon {
            color: #c9302c;
        }
    }

    .apply-languages-title {
        color: #c9302c;
    }
}

.date-selection-row {
    margin: 1rem 0;
}

.language-selector-row {
    margin: 1rem 0;

    .language-selector-label {
        display: inline-block;
        margin: auto 0;
    }

    .language-selector::ng-deep .language-select {
        margin-left: 0px !important;
    }
}


.timeframe,
.publish-at {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.timemgmt-form-existing {
    div + & {
        margin-top: 2rem;
        border-top: 1px solid #efefef;
        padding-top: 1rem;
    }
}

.timemgmt-form-current {
    div + & {
        margin-top: 2rem;
        padding-top: 1rem;
    }
}

.timemgmt-form-warning {
    color: $gcms-color-highlight;
}

.keep-version-form {
    margin-bottom: 2rem;
}

.offline-at-label, .publish-at-label {
    font-size: 0.8rem;
    display: block;
    color: #797979;
    transition: color 0.2s;
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
