<div class="modal-title">
    <h5>{{ 'modal.copy_template_title' | i18n:{ entityName: template.name } }}</h5>
</div>

<div class="modal-content">
    <gtx-loading-overlay class="body-load" [visible]="loading"></gtx-loading-overlay>

    <gtx-template-properties
        [mode]="TemplatePropertiesMode.CREATE"
        [formControl]="form"
    ></gtx-template-properties>
</div>

<div class="modal-footer">
    <gtx-button
        type="primary"
        [disabled]="loading || !form.valid"
        (click)="createCopy()"
    >
        {{ 'shared.create_new_template' | i18n }}
    </gtx-button>

    <gtx-button
        type="secondary"
        flat
        [disabled]="loading"
        (click)="cancelFn()"
    >
        {{ 'common.cancel_button' | i18n }}
    </gtx-button>
</div>
