<div *ngIf="form" class="features-content columns gtx-form" [formGroup]="form">
    <div *ngFor="let feature of availableFeatures" class="feature-container">
        <gtx-tooltip
            [type]="'light'"
            [position]="'right'"
            [align]="'top'"
        >
            <div class="gtx-form-section-title">
                {{ feature.name }}
                <icon
                    gtx-tooltip-trigger
                    class="feature-info no-select"
                >info</icon>
            </div>

            <div
                gtx-tooltip-content
                class="feature-description"
            >
                <div class="gtx-form-section-title">{{ 'node.description' | i18n }}</div>
                <p>{{ feature.description }}</p>

                <ng-container [ngSwitch]="feature.id">
                    <div *ngSwitchCase="NodeFeature.CONTENT_AUTO_OFFLINE">
                        <a target="_blank" href="https://www.gentics.com/Content.Node/guides/feature_file_publish_dependencies.html">
                            {{ 'node.online_documentation' | i18n }} <icon>open_in_new</icon>
                        </a>
                    </div>
                    <div *ngSwitchDefault>
                        <a target="_blank" [href]="'https://www.gentics.com/Content.Node/guides/feature_' + feature.id + '.html'">
                            {{ 'node.online_documentation' | i18n }} <icon>open_in_new</icon>
                        </a>
                    </div>
                </ng-container>
            </div>
        </gtx-tooltip>

        <gtx-checkbox
            [formControlName]="feature.id"
            [label]="'node.feature_active' | i18n"
        ></gtx-checkbox>
    </div>
</div>
