.wrapper {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: row;
    flex-wrap: nowrap;

    .properties-tabs {
        flex: 1 1 auto;
        width: 20%;
        height: 100%;
        overflow-y: auto;
        overflow-x: hidden;
    }

    .editor-wrapper {
        flex: 1 1 auto;
        width: 80%;
        padding: 24px;
        height: 100%;
        overflow: auto;
    }

    .tag-editor,
    .tag-wrapper,
    .tag-editor-wrapper {
        display: block;
        height: 100%;
        width: 100%;
    }
}
