<div class="gtx-entity-detail">
    <gtx-tabs pure [activeId]="activeTabId$ | async">
        <gtx-tab
            [id]="ContentRepositoryDetailTabs.PROPERTIES"
            gtxDetailTabLink
            [title]="'shared.title_properties' | i18n"
        >
            <div class="detail-tab-wrapper">
                <gtx-entity-detail-header
                    [title]="'shared.title_properties_of_entity' | i18n: { entityName: currentEntity?.name }"
                    saveActionAllowedId="contentRepository.updateContentRepositoryInstance"
                    [saveActionAllowedInstanceId]="currentEntity?.id"
                    [saveDisabled]="fgProperties?.invalid"
                    (saveClick)="btnSavePropertiesOnClick()"
                    (cancelClick)="detailsClose()"
                ></gtx-entity-detail-header>

                <div class="gtx-entity-details-tab-content-body">
                    <gtx-content-repository-properties
                        class="properties"
                        [formControl]="fgProperties"
                        [mode]="TagmapEntryPropertiesMode.UPDATE"
                    ></gtx-content-repository-properties>
                </div>
            </div>
        </gtx-tab>

        <gtx-tab
            [id]="ContentRepositoryDetailTabs.TAGMAP"
            gtxDetailTabLink
            [title]="'shared.title_tagmap' | i18n"
        >
            <div class="detail-tab-wrapper">
                <gtx-entity-detail-header
                    [title]="'shared.title_tagmap_of_entity' | i18n: { entityName: currentEntity?.name }"
                    (cancelClick)="detailsClose()"
                ></gtx-entity-detail-header>

                <div class="gtx-entity-details-tab-content-body">
                    <gtx-tag-map-entry-table
                        [showSearch]="true"
                        [parentType]="'contentRepository'"
                        [parentId]="currentEntity.id"
                        [displayFields]="currentEntity.crType === ContentRepositoryType.MESH ? TagmapEntryDisplayFields.MESH : TagmapEntryDisplayFields.SQL"
                    ></gtx-tag-map-entry-table>
                </div>
            </div>
        </gtx-tab>

        <gtx-tab
            [id]="ContentRepositoryDetailTabs.DATA_CHECK_RESULT"
            gtxDetailTabLink
            [title]="'contentRepository.dataCheckResult' | i18n"
        >
            <div class="detail-tab-wrapper">
                <gtx-entity-detail-header
                    [title]="'shared.title_dataCheckResult_of_entity' | i18n: { entityName: currentEntity?.name }"
                    (cancelClick)="detailsClose()"
                ></gtx-entity-detail-header>

                <div class="gtx-entity-details-tab-content-body">
                    <gtx-textarea
                        class="gtx-logs-container"
                        [value]="currentEntity?.dataCheckResult"
                        [disabled]="true"
                    ></gtx-textarea>
                </div>
            </div>
        </gtx-tab>

        <gtx-tab
            [id]="ContentRepositoryDetailTabs.STURCTURE_CHECK_RESULT"
            gtxDetailTabLink
            [title]="'contentRepository.structureCheckResult' | i18n"
        >
            <div class="detail-tab-wrapper">
                <gtx-entity-detail-header
                    [title]="'shared.title_structureCheckResult_of_entity' | i18n: { entityName: currentEntity?.name }"
                    (cancelClick)="detailsClose()"
                ></gtx-entity-detail-header>

                <div class="gtx-entity-details-tab-content-body">
                    <gtx-textarea
                        class="gtx-logs-container"
                        [value]="currentEntity?.checkResult"
                        [disabled]="true"
                    ></gtx-textarea>
                </div>
            </div>
        </gtx-tab>

    </gtx-tabs>
</div>
