<div class="modal-title">
    <h5>{{ 'shared.assign_objectProperty_to_nodes_title' | gtxI18n }}</h5>
</div>

<div class="modal-content">
    <gtx-node-table
        class="modal-table"
        [showSearch]="true"
        [hideActions]="true"
        [useSelectionMap]="true"
        [(selected)]="selected"
    ></gtx-node-table>
</div>

<div class="modal-footer">
    <gtx-button
        type="primary"
        (click)="buttonAssignNodeRestrictonsClicked()"
    >{{ 'common.okay_button' | gtxI18n }}</gtx-button>

    <gtx-button
        type="secondary"
        flat
        (click)="cancelFn()"
    >{{ 'common.cancel_button' | gtxI18n }}</gtx-button>
</div>
