<div
    class="table-size-grid"
    [style.--gtx-grid-columns]="maxColumns"
    [style.--gtx-grid-rows]="maxRows"
    (mouseleave)="setActivePosition(-1, -1)"
>
    <div class="grid-row" *ngFor="let col of (maxRows | gtxRange)">
        <div
            *ngFor="let row of (maxColumns | gtxRange)"
            class="cell"
            [class.active]="col <= activeColumn && row <= activeRow"
            (mouseenter)="setActivePosition(col, row)"
            (click)="triggerSelection(col, row)"
        ></div>
    </div>
</div>
