@import "variables";

:host {
    .column-button {
        display: flex;
        align-items: center;

        gtx-button {
            display: flex;
        }
    }
}

.form-section-container {
    display: block;
    width: 100%;
}

.type-config-row {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    width: 100%;

    > * {
        flex: 1 1 50%;
        max-width: 100%;
        min-width: 200px;
    }

    &.half-width {
        width: 50%;
    }
}

.custom-date-picker {
    ::ng-deep input {
        margin-top: 0;
        margin-bottom: 0;
    }
}

.actual-date {
    display: block;
    margin-bottom: 20px;
}

.error-message {
    color: $gtx-color-alert;
    margin-bottom: 13px;
    margin-top: -18px;
}

.localized-properties-header {
    margin-top: 1.5rem;
}

gtx-browse-box {
    width: 100%;
    padding-bottom: 0.75rem;
}

.confirmation-page-setting {
    margin-left: 35px;
    margin-bottom: 0.5rem;
    transition:
        opacity .28s ease;
}

.confirmation-page-setting--active {
    opacity: 1;
}

.confirmation-page-setting--inactive {
    opacity: 0.5;
}
