@import "variables";

:host {
    .column-button {
        display: flex;
        align-items: center;

        gtx-button {
            display: flex;
        }
    }
}

.flex-row {
    display: flex;
    gap: 0 0.5rem;
    flex-direction: row;
    flex-wrap: wrap;

    .columns {
        padding-left: 0;
        padding-right: 0;
    }

    .gtx-form-section-title {
        width: 100%;
    }
}

.form-section-container {
    display: block;
    width: 100%;
}

.custom-date-picker {
    ::ng-deep input {
        margin-top: 0;
        margin-bottom: 0;
    }
}

.actual-date {
    display: block;
    margin-bottom: 20px;
}

.error-message {
    color: $gtx-color-alert;
    margin-bottom: 13px;
    margin-top: -18px;
}

.localized-properties-header {
    margin-top: 1.5rem;
}

browse-box {
    padding-bottom: 15px;
}

.confirmation-page-setting {
    margin-left: 35px;
    margin-bottom: 0.5rem;
    transition:
        opacity .28s ease;
}

.confirmation-page-setting--active {
    opacity: 1;
}

.confirmation-page-setting--inactive {
    opacity: 0.5;
}
