@if (form) {
    <form [formGroup]="form">
        <div class="flex-row">
            <gtx-input
                class="columns small-12"
                [label]="('editor.item_name_label' | gtxI18n) + '*'"
                [required]="true"
                [autofocus]="mode === 'create'"
                formControlName="name"
            ></gtx-input>

            @if (formTypeConfigurations) {
                <div class="flex-row columns small-12">
                    @if (item?.formTypeName) {
                        <gtx-form-element-container
                            class="columns small-6"
                            [readonly]="true"
                        >
                            <label>{{ ('editor.form_type_label' | gtxI18n) + '*' }}</label>
                            <span>{{ item.formTypeName }}</span>
                        </gtx-form-element-container>
                    } @else {
                        <gtx-select
                            [label]="('editor.form_type_label' | gtxI18n) + '*'"
                            [multiple]="false"
                            [required]="true"
                            class="columns small-6"
                            formControlName="formType"
                            (valueChange)="setActiveFormType($event)"
                        >
                            @for (configEntry of formTypeConfigurations | gtxEntries; track configEntry.key) {
                                <gtx-option [value]="configEntry.key">
                                    {{ configEntry.value.nameI18n | gtxI18nObject }}
                                </gtx-option>
                            }
                        </gtx-select>
                    }

                    @if (activeConfiguration?.flows) {
                        <ng-container formGroupName="data">
                            <gtx-select
                                class="columns small-6"
                                [required]="true"
                                [label]="('editor.form_flow_label' | gtxI18n) + '*'"
                                [required]="true"
                                formControlName="flowId"
                            >
                                @for (flow of activeConfiguration.flows; track flow.id) {
                                    <gtx-option [value]="language.code">
                                        {{ flow.labelI18n | gtxI18nObject }}
                                    </gtx-option>
                                }
                            </gtx-select>
                        </ng-container>
                    }
                </div>
            }

            <gtx-input
                class="columns small-12"
                [label]="'editor.item_description_label' | gtxI18n"
                formControlName="description"
            ></gtx-input>

            <gtx-select
                class="columns small-12"
                [label]="('editor.item_language_label' | gtxI18n) + '*'"
                [multiple]="true"
                [required]="true"
                formControlName="languages"
            >
                @for (language of languages; track language.code) {
                    <gtx-option [value]="language.code">
                        {{ language.name }}
                    </gtx-option>
                }
            </gtx-select>

            @if (activeConfiguration?.templateOptions) {
                <ng-container formGroupName="data">
                    <gtx-select
                        class="columns small-12"
                        [label]="('editor.item_template_context_label' | gtxI18n)"
                        formControlName="templateContext"
                    >
                        @for (option of activeConfiguration.templateOptions; track option.value) {
                            <gtx-option [value]="option.value">
                                {{ option.labelI18n | gtxI18nObject }}
                            </gtx-option>
                        }
                    </gtx-select>
                </ng-container>
            }
        </div>

        <div class="flex-row" formGroupName="data">
            <div class="gtx-form-section-title">{{ 'editor.form_administrator_email_title' | gtxI18n }}</div>

            <gtx-input
                class="columns small-12"
                [label]="'editor.item_email_label' | gtxI18n"
                formControlName="adminEmailAddress"
            ></gtx-input>

            @if (showDetailProperties) {
                <gtx-i18n-panel-group
                    class="columns small-12"
                    [languages]="formLanguages"
                    [(activeLanguage)]="activeLanguage"
                >
                    <gtx-i18n-input
                        [label]="'editor.item_localized_mail_subject' | gtxI18n"
                        [language]="activeLanguage?.code"
                        [availableLanguages]="form?.value?.languages"
                        formControlName="adminEmailSubject"
                    ></gtx-i18n-input>
                </gtx-i18n-panel-group>

                @if (activeConfiguration?.adminEmailTemplateOptions) {
                    <gtx-radio-group
                        class="form-section-container"
                        [value]="useEmailPageTemplate"
                        (valueChange)="updateEmailTemplate($event)"
                    >
                        <div class="radio-select-container">
                            <gtx-radio-button
                                [label]="'editor.item_localized_mail_custom' | gtxI18n"
                                [value]="true"
                            ></gtx-radio-button>

                            <div
                                class="confirmation-page-setting"
                                [ngClass]="{
                                    'confirmation-page-setting--active': !!useEmailPageTemplate,
                                    'confirmation-page-setting--inactive': !useEmailPageTemplate
                                }"
                            >
                                <gtx-browse-box
                                    data-action="pick-mail-page"
                                    [attr.data-target-id]="form.value.adminEmailPageId"
                                    [attr.data-target-node-id]="form.value.adminEmailNodeId"
                                    [label]="'editor.item_mail_custom_description' | gtxI18n"
                                    [placeholder]="'editor.page_no_selection' | gtxI18n"
                                    [disabled]="disabled || !useEmailPageTemplate"
                                    [allowedSelection]="'page'"
                                    [multiple]="false"
                                    [includeMlId]="[MarkupLanguageType.FormsEmailTemplate]"
                                    [browseTitle]="'modal.repository_browser_title_forms_email_template_single' | gtxI18n"
                                    [startNode]="form.value.adminEmailNodeId || nodeId"
                                    [showBreadcrumb]="true"
                                    [breadcrumbTitle]="'tag_editor.selected_folder' | gtxI18n"
                                    [value]="loadedMailTemplate"
                                    (valueChange)="setEmailTemplatePage($event)"
                                ></gtx-browse-box>
                            </div>
                        </div>

                        <div class="radio-select-container">
                            <gtx-radio-button
                                [label]="'editor.item_localized_mail_temp' | gtxI18n"
                                [value]="false"
                            ></gtx-radio-button>

                            <div
                                class="confirmation-page-setting"
                                [ngClass]="{
                                    'confirmation-page-setting--active': !useEmailPageTemplate,
                                    'confirmation-page-setting--inactive': !!useEmailPageTemplate
                                }"
                            >
                                <gtx-i18n-select
                                    [language]="activeFormLanguageCode"
                                    [availableLanguages]="languages"
                                    (change)="setEmailTemplateOption($event)"
                                    formControlName="adminEmailTemplate"
                                >
                                    @for (option of activeConfiguration?.adminEmailTemplateOptions; track option.value) {
                                        <gtx-option [value]="option.value">
                                            {{ option.labelI18n | gtxI18nObject }}
                                        </gtx-option>
                                    }
                                </gtx-i18n-select>
                            </div>
                        </div>
                    </gtx-radio-group>
                } @else {
                    <gtx-browse-box
                        class="columns small-12"
                        data-action="pick-mail-page"
                        [attr.data-target-id]="form.value.adminEmailPageId"
                        [attr.data-target-node-id]="form.value.adminEmailNodeId"
                        [label]="'editor.item_mail_custom_description' | gtxI18n"
                        [placeholder]="'editor.page_no_selection' | gtxI18n"
                        [disabled]="disabled || !useEmailPageTemplate"
                        [allowedSelection]="'page'"
                        [multiple]="false"
                        [includeMlId]="[MarkupLanguageType.FormsEmailTemplate]"
                        [browseTitle]="'modal.repository_browser_title_forms_email_template_single' | gtxI18n"
                        [startNode]="form.value.adminEmailNodeId || nodeId"
                        [showBreadcrumb]="true"
                        [breadcrumbTitle]="'tag_editor.selected_folder' | gtxI18n"
                        [value]="loadedMailTemplate"
                        (valueChange)="setEmailTemplatePage($event)"
                    ></gtx-browse-box>
                }
            }
        </div>

        <div class="form-section-container" formGroupName="data">
            <div class="gtx-form-section-title">{{ 'editor.form_success_page_title' | gtxI18n }}</div>

            <ng-container
                gtx-radio-group
                [value]="useInternalSuccessPage"
                (valueChange)="updateInternalSuccessPage($event)"
            >
                <div class="radio-select-container">
                    <gtx-radio-button
                        data-id="success-page"
                        [label]="'editor.internal_page' | gtxI18n"
                        [value]="true"
                    ></gtx-radio-button>

                    <div
                        class="confirmation-page-setting"
                        [ngClass]="{
                            'confirmation-page-setting--active': !!useInternalSuccessPage,
                            'confirmation-page-setting--inactive': !useInternalSuccessPage
                        }"
                    >
                        <gtx-browse-box
                            data-action="pick-success-page"
                            [attr.data-target-id]="form.value.successPageId"
                            [attr.data-target-node-id]="form.value.successNodeId"
                            [label]="'editor.item_success_page' | gtxI18n"
                            [placeholder]="'editor.page_no_selection' | gtxI18n"
                            [disabled]="disabled || !useInternalSuccessPage"
                            [showBreadcrumb]="true"
                            [breadcrumbTitle]="'tag_editor.selected_folder' | gtxI18n"
                            [allowedSelection]="'page'"
                            [multiple]="false"
                            [value]="loadedSuccessPage"
                            (valueChange)="setSuccessPage($event)"
                        ></gtx-browse-box>
                    </div>
                </div>

                <div class="radio-select-container">
                    <gtx-radio-button
                        data-id="success-url"
                        [label]="'editor.external_url' | gtxI18n"
                        [value]="false"
                    ></gtx-radio-button>

                    <div
                        class="confirmation-page-setting"
                        [ngClass]="{
                            'confirmation-page-setting--active': !useInternalSuccessPage,
                            'confirmation-page-setting--inactive': !!useInternalSuccessPage
                        }"
                    >
                        <gtx-i18n-input
                            [label]="'editor.item_success_url' | gtxI18n"
                            formControlName="successUrlI18n"
                            [language]="activeFormLanguageCode"
                            [availableLanguages]="languages"
                        ></gtx-i18n-input>
                    </div>
                </div>
            </ng-container>
        </div>

    </form>
}
