<gtx-tabs
    pure
    [activeId]="activeTab"
>
    <gtx-tab
        [id]="SchedulerModuleTabs.SCHEDULES"
        [title]="'scheduler.schedules_tab' | i18n"
        (select)="setTabAsActive($event)"
    >
        <gtx-schedule-master (taskClick)="setTabAsActive(SchedulerModuleTabs.TASKS)"></gtx-schedule-master>
    </gtx-tab>

    <gtx-tab
        [id]="SchedulerModuleTabs.TASKS"
        [title]="'scheduler.tasks_tab' | i18n"
        (select)="setTabAsActive($event)"
    >
        <gtx-schedule-task-master></gtx-schedule-task-master>
    </gtx-tab>
</gtx-tabs>
