@if (1 < variants?.length || canSelectNone()) {
    <div class="language-select">
        <gtx-select
            [value]="selected"
            [placeholder]="'common.select_placeholder' | gtxI18n"
            (valueChange)="onSelectChange($event)"
            multiple="true"
        >
            @for (item of variants; track item) {
                <gtx-option
                    [value]="item.id"
                >{{ item.languageName }}</gtx-option>
            }
        </gtx-select>
        <gtx-button
            flat
            size="small"
            class="show-on-hover"
            type="secondary"
            [title]="toggleTitle | gtxI18n: { current: ('lang.' + page.language | gtxI18n) }"
            (click)="toggleLanguageVariantSelection()"
        >
            <icon left>{{ allVariantsSelected() && canSelectNone() ? 'not_interested' : 'check' }}</icon>
            @if (allVariantsSelected() && !canSelectNone()) {
                <span>{{ page.language }}</span>
            }
            @if (allVariantsSelected() && canSelectNone()) {
                <span>{{ 'modal.page_select_none_button' | gtxI18n }}</span>
            }
            @if (!allVariantsSelected()) {
                <span>{{ 'modal.page_select_all_button' | gtxI18n }}</span>
            }
        </gtx-button>
    </div>
} @else {
    <div class="one_language_text">
        <span>{{ page.languageName }}</span>
    </div>
}

