@import "variables";

.title {
    padding-left: 0.5rem;
}

.status-table {
    padding: 10px;
    margin: 0;

    tr {
        color: $gtx-color-very-dark-gray;
        font-size: $gtx-font-size-small;
        padding: 0.25rem;
    }

    td {
        padding: 0.4rem 0.25rem;
        vertical-align: center;
        font-size: inherit;

        &:first-child {
            padding-left: 1rem;
        }
        &:last-child {
            padding-right: 1rem;
        }
    }

    icon {
        font-size: 1rem;
        color: $gtx-color-very-dark-gray;
        vertical-align: middle;

        &.alert {
            color: $gtx-color-alert;
        }
        &.success {
            color: $gtx-color-success;
        }
        &.primary {
            color: $gtx-color-primary;
        }
    }
}
