<div class="title">{{ item?.name }}</div>

<table class="status-table">
    @if (state.deleted) {
        <tr>
            <td><icon class="alert">delete</icon></td>
            <td>{{ 'editor.item_page_status_deleted_label' | gtxI18n:{
                name: getUserDisplayName$(item?.deleted?.by) | async,
                date: (item?.deleted?.at | gtxI18nDate),
                time: (item?.deleted?.at | gtxI18nDate:'time')
            } }}</td>
        </tr>
    }
    @if (state.published) {
        <tr>
            <td><icon class="success">cloud_upload</icon></td>
            <td>{{ 'editor.published_label' | gtxI18n:{
                publisher: getUserDisplayName$(item?.publisher) | async,
                date: (item?.pdate | gtxI18nDate),
                time: (item?.pdate | gtxI18nDate:'time')
            } }}</td>
        </tr>
    }
    @if (!state.published) {
        <tr>
            <td><icon class="alert">cloud_off</icon></td>
            <td>{{ 'editor.not_published_label' | gtxI18n }}</td>
        </tr>
    }
    @if (state.modified) {
        <tr>
            <td><icon>asterisk</icon></td>
            <td>{{ 'editor.item_page_status_edited_label' | gtxI18n:{
                name: getUserDisplayName$(item?.editor) | async,
                date: (item?.edate | gtxI18nDate),
                time: (item?.edate | gtxI18nDate:'time')
            } }}</td>
        </tr>
    }
    @if (state.inQueue) {
        <tr>
            <td><icon class="stateInQueueColor">cached</icon></td>
            <td *ngIf="item">
                <span *ngIf="getFormattedTimeMgmtValue$(item, 'queuedPublish') | async">
                    {{ 'editor.publish_queue_publish_at_date_label' | gtxI18n }}: {{ getFormattedTimeMgmtValue$(item, 'queuedPublish') | async }}
                <br></span>
                <span *ngIf="getFormattedTimeMgmtValue$(item) | async">
                    {{ 'editor.publish_queue_take_offline_at_date_label' | gtxI18n }}: {{ getFormattedTimeMgmtValue$(item, 'queuedOffline') | async }}
                </span>
            </td>
        </tr>
    }
    @if (state.planned) {
        <tr>
            <td><icon class="primary">access_time</icon></td>
            <td *ngIf="item">
                <span *ngIf="getFormattedTimeMgmtValue$(item, 'at') | async">
                    {{ 'editor.publish_planned_publish_at_date_label' | gtxI18n }}: {{ getFormattedTimeMgmtValue$(item, 'at') | async }}
                <br></span>
                <span *ngIf="getFormattedTimeMgmtValue$(item, 'offlineAt') | async">
                    {{ 'editor.publish_planned_take_offline_at_date_label' | gtxI18n }}: {{ getFormattedTimeMgmtValue$(item, 'offlineAt') | async }}
                </span>
            </td>
        </tr>
    }
    @if (state.inherited) {
        <tr>
            <td><icon>input</icon></td>
            <td>{{ 'editor.item_page_status_inherited_label' | gtxI18n:{ master: item?.inheritedFrom } }}</td>
        </tr>
    }
    @if (state.localized) {
        <tr>
            <td><icon>file_copy</icon></td>
            <td>{{ 'editor.item_page_status_localized_label' | gtxI18n:{ master: item?.inheritedFrom } }}</td>
        </tr>
    }
    @if (!state.locked) {
        <tr>
            <td><icon class="success">lock_open</icon></td>
            <td>{{ 'editor.unlocked_label' | gtxI18n }}</td>
        </tr>
    } @else {
        <tr>
            <td><icon class="alert">lock</icon></td>
            <td>{{ 'editor.locked_by_label' | gtxI18n:{
                timeAgo: item?.lockedSince | gtxI18nRelativeDate,
                name: getUserDisplayName$(item?.lockedBy) | async
            } }}</td>
        </tr>
    }
</table>
