<div class="modal-title">
    <h5>{{ 'modal.create_construct_part_title' | i18n }}</h5>
</div>

<div class="modal-content">
    <gtx-construct-part-properties
        class="properties"
        [mode]="ConstructPartPropertiesComponentMode.CREATE"
        [supportedLanguages]="supportedLanguages"
        [keywordBlacklist]="keywordBlacklist"
        [orderBlacklist]="orderBlacklist"
        [dataSources]="dataSources"
        [formControl]="form"
    ></gtx-construct-part-properties>
</div>

<div class="modal-footer">
    <gtx-button
        type="primary"
        [disabled]="form.invalid || form.disabled || form.pristine"
        (click)="buttonCreateEntityClicked()"
    >
        {{ 'modal.create_button' | i18n }}
    </gtx-button>

    <gtx-button
        type="secondary"
        flat
        (click)="cancelFn()"
    >
        {{ 'common.cancel_button' | i18n }}
    </gtx-button>
</div>
