@import "variables";

.inherited-icon, .localized-icon {
    display: inline-block;
    margin-right: 3px;
    cursor: help;
    margin-top: 1px;

    icon {
        font-size: 14px;
    }
}

.inherited-icon {
    icon {
        color: $gcms-color-icon-inheritance;
    }
}

.localized-icon {
    icon {
        color: $gcms-color-icon-localized;
    }
}
