:host {

    .arrow-icon {
        line-height: 1rem;
    }

    a:not(.disabled) {
        cursor: pointer;
    }

    ::ng-deep gtx-dropdown-list {
        height: 2.3rem;
        padding-top: 0.3rem;
        padding-bottom: 0.5rem;
    }
}
