<gtx-dropdown-list data-context-id="node-selection">
  <gtx-dropdown-trigger>
    @if (!showName) {
      <gtx-button
        icon
        type="default"
        data-context-trigger
        data-action="select-node"
        [title]="('common.select_node' | gtxI18n) + '…'"
        >
        <icon>arrow_drop_down</icon>
      </gtx-button>
    } @else {
      <a flat type="default" [title]="('common.select_node' | gtxI18n) + '…'">
        {{ currentSelectedNode?.name }}
      </a>
    }

  </gtx-dropdown-trigger>

  <gtx-dropdown-content data-context-id="node-selection">
    <ng-content></ng-content>

    <list-filter
      selector="gtx-dropdown-item"
      filterThreshhold="10"
      class="node-selector-list"
      [label]="'editor.filter_nodes' | gtxI18n"
      >
      <node-selector-tree
        [branches]="nodeBranches"
        [useLinks]="useLinks"
        (nodeSelected)="select($event)"
      ></node-selector-tree>
    </list-filter>
  </gtx-dropdown-content>
</gtx-dropdown-list>
