<gtx-trable
  class="entity-trable"

  [selectable]="selectable"
  [hideActions]="hideActions"
  [multiple]="multiple"
  [inlineExpansion]="inlineExpansion"
  [inlineSelection]="inlineSelection"

  [columns]="columns"
  [rows]="rows"
  [active]="activeEntity"
  [selected]="selected"
  [actions]="actions"

    [renderers]="{
        label: nameRenderer,
        '__fallback__': permissionRenderer
    }"

  (loadRow)="loadRow($event)"
  (rowClick)="handleRowClick($event)"
  (rowExpand)="updateRowExpansion($event)"
  (actionClick)="handleActionClick($event)"
  (selectedChange)="updateSelection($event)"
  (rowSelect)="forwardSelect($event)"
  (rowDeselect)="forwardDeselect($event)"
></gtx-trable>

<ng-template #nameRenderer let-value="value" let-row="row">
  <div class="name-wrapper">
    <gtx-icon class="gtx-type-icon type-icon" [name]="row.item.type"></gtx-icon>
    <span class="name">{{ value }}</span>
  </div>
</ng-template>

<ng-template #permissionRenderer let-value="value">
  @for (perm of value; track perm) {
    <gtx-permission-icon
      class="gtx-perm-icon"
      [permission]="perm"
    ></gtx-permission-icon>
  }
</ng-template>
