@import "variables";

:host {
    display: flex;
    width: 100%;
    min-height: 1px;
}

.overview-items {
    .overview-item {
        display: flex;
        flex-direction: row;
    }
}

.tag-part-editor {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;

    .tag-prop-label {
        position: static;
        font-size: 0.8rem;
    }

    .options-row {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 1rem;
        align-content: center;
        align-items: center;
        padding-bottom: 1rem;

        &.input-property::ng-deep .wrapper input {
            margin-bottom: 0;
        }

        &.checkbox-property {
            padding-top: 20px;
        }
    }

    .overview-property {
        margin: 0;
        flex: 1 0 175px;
    }

    .no-items-label {
        text-align: center;
        color: $gtx-color-light-gray;
        font-size: 2rem;
        padding: 0.5rem 0;
    }
}

@mixin item-icon-color($type, $base-color) {
    .item-icon.#{$type} {
        color: $base-color;
    }
    :hover > .item-icon.#{$type} {
        color: lighten($base-color, 20%);
    }
}

:host {
    @include input-label-styles('.tag-prop-label');

    .checkbox-cell,
    .browse-button-cell {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .item-icon {
        cursor: default;
        position: relative;
        top: 5px;
    }

    sortable-array-list::ng-deep {
        @include item-icon-color(folder, $gcms-color-folder);
        @include item-icon-color(page, $gcms-color-page);
        @include item-icon-color(file, $gcms-color-file);
        @include item-icon-color(image, $gcms-color-image);
        @include item-icon-color(template, $gcms-color-template);
        @include item-icon-color(node, $gcms-color-node);
        @include item-icon-color(channel, $gcms-color-channel);

        gtx-contents-list-item {
            padding-left: 0px;
        }

        .item-primary {
            padding-left: 0px;
            flex-grow: 1;
            align-self: baseline;
            align-items: baseline;
            white-space: nowrap;
            word-break: break-all;
            text-overflow: ellipsis;
            overflow: hidden;
        }
    }

    .item-path {
        display: inline-block;
        margin-left: 0.75rem;
    }

}
