<div class="suggestions" [hidden]="!areSuggestionsCurrentlyShown()">
    <ng-container
        *ngIf="(matchingSuggestionItems$ | async)?.length > 0 && suggestionVisible"
    >
        <search-suggestion
            *ngFor="let item of matchingSuggestionItems$ | async"
            [icon]="item.type | gtxTypeIcon"
            (use)="goToItem(item)">{{ 'common.search_found_object_with_id' | i18n:{ id: item.id } }}</search-suggestion>
    </ng-container>
    <ng-container
        *ngIf="(matchingRecentItems$ | async)?.length > 0 && recentVisible"
    >
        <search-suggestion
            *ngFor="let item of matchingRecentItems$ | async"
            [icon]="item.type | gtxTypeIcon"
            iconSecondary="history"
            (use)="goToItem(item)">{{ item.name }}</search-suggestion>
    </ng-container>
</div>
