@if (showSearch) {
  <gtx-search-bar
    class="search-bar"
    [query]="query"
    [placeholder]="'shared.search' | gtxI18n"
    (search)="updateSearchQuery($event)"
    (clear)="updateSearchQuery('')"
  ></gtx-search-bar>
}

@if (!hideActions) {
  <div class="entity-table-actions-bar">
    <gtx-button
      class="table-action-button reload-button"
      flat
      size="small"
      type="primary"
      [disabled]="disabled || loading"
      (click)="reload()"
      >
      <icon left>refresh</icon> {{ 'common.reload_table_button' | gtxI18n }}
    </gtx-button>
  </div>
}

@if (selectable) {
  <div class="entity-table-selection">
    {{ 'template_tag.info_selected_tags' | gtxI18n:{ amountSelected: selectedCount, amountTotal: totalCount } }}
  </div>
}

<gtx-progress-bar class="load-bar" [active]="loading"></gtx-progress-bar>

<gtx-table
  class="entity-table"

  [selectAllType]="TableSelectAllType.PAGE"
  [selectable]="selectable"
  [hideActions]="hideActions"
  [disabled]="disabled"

  [columns]="columns"
  [rows]="rows"
  [actions]="actions"
  [selected]="selected"
  [active]="activeEntity"
  [totalCount]="totalCount"

  [page]="page"
  [perPage]="perPage"
  [sortBy]="sortBy"
  [sortOrder]="sortOrder"

    [renderers]="{
        construct: constructRenderer,
        inSync: numberRenderer,
        outOfSync: numberRenderer,
        missing: numberRenderer,
        incompatible: numberRenderer
    }"

  (pageChange)="changePageTo($event)"
  (sortByChange)="updateSortBy($event)"
  (sortOrderChange)="updateSortOrder($event)"
  (selectedChange)="updateSelection($event)"
  (rowClick)="handleRowClick($event)"
  (actionClick)="handleAction($event)"
></gtx-table>

<ng-template #constructRenderer let-value="value" let-row="row">
  @if (value && row) {
    <a
      class="gtx-table-cell-link"
      [routerLink]="AdminUIEntityDetailRoutes.CONSTRUCT | gtxEntityDetailRouterLink:row.item.constructId"
      (click)="cancelEvent($event)"
    >{{ value}}</a>
  }
</ng-template>

<ng-template #numberRenderer let-value="value">
  <span class="gtx-table-cell-text">
    {{ value | gtxI18nNumber }}
  </span>
</ng-template>
