<div class="gtx-modal-datagrid">
  <div class="modal-title">
    <h5>{{ 'content_maintenance.' + modalAction | gtxI18n }}</h5>
  </div>

  <div class="modal-content">
    @if (formGroup) {
      <form
        [formGroup]="formGroup"
        class="row"
        >
        <div class="columns medium-6 small-12">
          <gtx-select
            [label]="('content_maintenance.types' | gtxI18n) + ' *'"
            [multiple]="true"
            [required]="true"
            [selectAll]="true"
            formControlName="types"
            >
            @for (mType of TYPE_LIST; track mType) {
              <gtx-option [value]="mType">
                {{ 'common.' + mType + '_plural' | gtxI18n }}
              </gtx-option>
            }
          </gtx-select>
          <!-- contentRepositories -->
          @if (allContentRespositories$ | async; as crs) {
            <gtx-select
              [label]="'content_maintenance.contentRepositories' | gtxI18n"
              [multiple]="true"
              [selectAll]="true"
              formControlName="contentRepositories"
              >
              @for (cr of crs; track cr.id) {
                <gtx-option [value]="cr.id">
                  {{ cr.name }}
                </gtx-option>
              }
            </gtx-select>
          } @else {
            <span>{{ 'shared.loading' | gtxI18n }}</span>
          }
          <!-- attributes -->
          <gtx-textarea
            formControlName="attributes"
            [label]="'content_maintenance.attributes' | gtxI18n"
            maxlength="255"
            title="Comma separated list of attributes, that shall be republished for the selected objects (empty for all attributes)."
          ></gtx-textarea>
        </div>
        <div class="columns medium-6 small-12">
          <div class="padding-wrapper">
            <!-- clearPublishCache -->
            <gtx-checkbox
              formControlName="clearPublishCache"
              [label]="'content_maintenance.clearPublishCache' | gtxI18n"
            ></gtx-checkbox>
          </div>
          <div
            class="gtx-limit-to-date-range"
            [class.active]="formGroup.value.limitToDateRange"
            >
            <!-- limitToDateRange -->
            <gtx-checkbox
              [label]="'content_maintenance.limit_to_date_range' | gtxI18n"
              formControlName="limitToDateRange"
            ></gtx-checkbox>
            @if (formGroup.value.limitToDateRange) {
              <gtx-date-time-picker
                [label]="'content_maintenance.limit_to_date_start' | gtxI18n"
                [clearable]="true"
                [displayTime]="false"
                [max]="formGroup.value.end"
                formControlName="start"
              ></gtx-date-time-picker>
              <gtx-date-time-picker
                [label]="'content_maintenance.limit_to_date_end' | gtxI18n"
                [clearable]="true"
                [displayTime]="false"
                [min]="formGroup.value.start"
                formControlName="end"
              ></gtx-date-time-picker>
            }
          </div>
        </div>
      </form>
    }
  </div>

  <div class="modal-footer">
    <gtx-button
      type="primary"
      [disabled]="formGroup?.invalid"
      (click)="buttonOkClicked()"
      >
      {{ 'common.okay_button' | gtxI18n }}
    </gtx-button>

    <gtx-button
      type="secondary"
      flat
      (click)="cancelFn()"
      >
      {{ 'common.cancel_button' | gtxI18n }}
    </gtx-button>
  </div>
</div>
