<div class="gtx-entity-detail">
    <gtx-tabs pure [activeId]="editorTab">
        <gtx-tab
            [id]="Tabs.PROPERTIES"
            gtxDetailTabLink
            [title]="'shared.title_properties' | i18n"
        >
            <div class="detail-tab-wrapper">
                <gtx-entity-detail-header
                    [title]="'shared.title_properties_of_entity' | i18n: { entityName: entity?.name }"
                    saveActionAllowedId="construct.updateConstructInstance"
                    [saveActionAllowedInstanceId]="entity?.id"
                    [saveDisabled]="fgProperties?.pristine || fgProperties?.invalid"
                    (saveClick)="tabHandles?.[Tabs.PROPERTIES]?.save?.()"
                    (cancelClick)="detailsClose()"
                ></gtx-entity-detail-header>

                <div class="gtx-entity-details-tab-content-body">
                    <gtx-content-repository-properties
                        *ngIf="entity"
                        class="properties"
                        [formControl]="fgProperties"
                        [mode]="ContentRepositoryPropertiesMode.UPDATE"
                        [crType]="entity?.crType"
                        [(initialValue)]="entityIsClean"
                    ></gtx-content-repository-properties>
                </div>
            </div>
        </gtx-tab>

        <gtx-tab
            [id]="Tabs.TAGMAP"
            gtxDetailTabLink
            [title]="'shared.title_tagmap' | i18n"
        >
            <div class="parts-wrapper">
                <gtx-entity-detail-header
                    [title]="'shared.title_tagmap_of_entity' | i18n: { entityName: entity?.name }"
                    (cancelClick)="detailsClose()"
                ></gtx-entity-detail-header>

                <div class="gtx-entity-details-tab-content-body">
                    <gtx-tag-map-entry-table
                        [showSearch]="true"
                        [parentType]="'contentRepository'"
                        [parentId]="entity.id"
                        [displayFields]="entity.crType === ContentRepositoryType.MESH ? TagmapEntryDisplayFields.MESH : TagmapEntryDisplayFields.SQL"
                    ></gtx-tag-map-entry-table>
                </div>
            </div>
        </gtx-tab>

        <gtx-tab
            [id]="Tabs.DATA_CHECK_RESULT"
            gtxDetailTabLink
            [title]="'contentRepository.dataCheckResult' | i18n"
        >
            <div class="detail-tab-wrapper">
                <gtx-entity-detail-header
                    [title]="'shared.title_dataCheckResult_of_entity' | i18n: { entityName: entity?.name }"
                    (cancelClick)="detailsClose()"
                ></gtx-entity-detail-header>

                <div class="gtx-entity-details-tab-content-body">
                    <gtx-textarea
                        class="gtx-logs-container"
                        [value]="(entity?.dataCheckResult || '').trim()"
                        [disabled]="true"
                    ></gtx-textarea>
                </div>
            </div>
        </gtx-tab>

        <gtx-tab
            [id]="Tabs.STURCTURE_CHECK_RESULT"
            gtxDetailTabLink
            [title]="'contentRepository.structureCheckResult' | i18n"
        >
            <div class="detail-tab-wrapper">
                <gtx-entity-detail-header
                    [title]="'shared.title_structureCheckResult_of_entity' | i18n: { entityName: entity?.name }"
                    (cancelClick)="detailsClose()"
                ></gtx-entity-detail-header>

                <div class="gtx-entity-details-tab-content-body">
                    <gtx-textarea
                        class="gtx-logs-container"
                        [value]="(entity?.checkResult || '').trim()"
                        [disabled]="true"
                    ></gtx-textarea>
                </div>
            </div>
        </gtx-tab>

        <gtx-tab
            *ngIf="meshFeatureEnabled && entity.crType === ContentRepositoryType.MESH"
            [id]="Tabs.MANAGEMENT"
            gtxDetailTabLink
            [title]="'contentRepository.management' | i18n"
        >
            <div class="detail-tab-wrapper">
                <gtx-entity-detail-header
                    [title]="'shared.title_management_of_entity' | i18n: { entityName: entity?.name }"
                    (cancelClick)="detailsClose()"
                ></gtx-entity-detail-header>

                <div *ngIf="editorTab === Tabs.MANAGEMENT" class="gtx-entity-details-tab-content-body">
                    <gtx-mesh-management [repository]="entity"></gtx-mesh-management>
                </div>
            </div>
        </gtx-tab>
    </gtx-tabs>
</div>
