<div class="modal-title">
  <h5>{{ 'modal.multi_move_title' | gtxI18n:{
    count: items.length,
    type: ('common.type_' + itemType + (items.length !== 1 ? 's' : '')) | translate
  } }}</h5>
</div>
<div class="modal-content">
  @if (canNotBeMoved.length > 0) {
    <div class="list can-not-be-moved">
      @if (canNotBeMoved.length === 1) {
        <p class="lead">
          {{ 'modal.multi_move_can_not_be_moved_header_singular' | gtxI18n:{ type: ('common.type_' + itemType) | gtxI18n } }}
        </p>
      }
      @if (canNotBeMoved.length > 1) {
        <p class="lead">
          {{ 'modal.multi_move_can_not_be_moved_header_plural' | gtxI18n:{
          count: canNotBeMoved.length,
          type: ('common.type_' + itemType + 's') | translate
          } }}
        </p>
      }
      @for (item of canNotBeMoved; track item) {
        <gtx-contents-list-item [ngClass]="itemType || ''">
          <div class="item-icon">
            <icon>{{ itemType | gtxTypeIcon }}</icon>
          </div>
          <div class="item-primary">
            @if (item.inherited) {
              <span class="inherited-icon"
                [title]="'editor.inherited_tooltip' | gtxI18n:{ master: item.inheritedFrom }">
                <icon>input</icon>
              </span>
            }
            @if (!item.inherited) {
              <div class="localized-icon"
                [title]="'editor.localized_tooltip' | gtxI18n:{ master: item.masterNode }">
                <icon>file_copy</icon>
              </div>
            }
            <span class="item-name">{{ item.name }}</span>
            @if (item.inherited) {
              <span class="reason">
                {{ 'modal.multi_move_inherited' | gtxI18n:{ inheritedFrom: item.inheritedFrom } }}
              </span>
            }
            @if (!item.inherited) {
              <span class="reason">
                {{ 'modal.multi_move_localized' | gtxI18n:{ channel: item.inheritedFrom, inheritedFrom: item.masterNode } }}
              </span>
            }
          </div>
        </gtx-contents-list-item>
      }
    </div>
  }
  @if (willBeMoved.length > 0) {
    <div class="list will-be-moved">
      <p class="lead">
        {{ ('modal.multi_move_will_be_moved_header_' + (willBeMoved.length === 1 ? 'singular' : 'plural')) | gtxI18n:{
        count: willBeMoved.length,
        type: ('common.type_' + itemType + (willbeMoved.length !== 1 ? 's' : '')) | translate,
        channel: targetNode.name,
        folder: targetFolder.name
        } }}
      </p>
      @for (item of willBeMoved; track item) {
        <gtx-contents-list-item [ngClass]="itemType || ''">
          <div class="item-icon">
            <icon>{{ itemType | gtxTypeIcon }}</icon>
          </div>
          <div class="item-primary">
            <span class="item-name">{{ item.name }}</span>
          </div>
        </gtx-contents-list-item>
      }
    </div>
  }
</div>
<div class="modal-footer">
  <gtx-button type="secondary" flat (click)="cancelFn()">{{ 'common.cancel_button' | gtxI18n }}</gtx-button>
  @if (willBeMoved.length > 0) {
    <gtx-button type="default" (click)="confirm()" class="confirm-button">
      {{ 'modal.multi_move_confirm_button' | gtxI18n:{
        count: willBeMoved.length,
        type: ('common.type_' + itemType + (willbeMoved.length !== 1 ? 's' : '')) | translate
      } }}
    </gtx-button>
  }
</div>
