@if (info) {
  <div class="content">
    <gtx-progress-bar [active]="info.running" [progress]="(info.progress / 100)" />
    @if (publisherStatus) {
      <div class="entry">
        <div class="entry-title">{{ 'dashboard.scheduler' | gtxI18n }}</div>
        <div class="entry-value">{{ ('scheduler.status_' + publisherStatus) | gtxI18n }}</div>
      </div>
    }
    @if (info.phase) {
      <div class="entry">
        <div class="entry-title">{{ 'widget.publishing_process_publish_status' | gtxI18n }}</div>
        <div class="entry-value">{{ info.phase }}</div>
      </div>
    }
    @for (typed of typedStatus; track typed) {
      <div class="entry typed-entry">
        <div class="entry-title">
          <icon class="type-icon">{{ typed.icon }}</icon>
          <span class="type-name">{{ ('common.' + typed.type + '_plural') | gtxI18n }}</span>
        </div>
        <div class="entry-value">
          {{ typed.i18n | gtxI18n: typed.data }}
        </div>
      </div>
    }
    @if (info.estimatedDuration) {
      <div class="entry">
        <div class="entry-title">{{ 'widget.publishing_process_estimated_publish_duration' | gtxI18n }}</div>
        <div class="entry-value">{{ info.estimatedDuration | gtxI18nDuration }}</div>
      </div>
    }
    <div class="entry">
      <div class="entry-title">{{ 'widget.publishing_process_last_status' | gtxI18n }}</div>
      <div class="entry-value">
        @if (hasFailedJobs) {
          <div class="failed-jobs-details">
            <span class="warning">{{ 'widget.publishing_process_status_failed' | gtxI18n }}</span> -
            <a [routerLink]="['/' + AdminUIModuleRoutes.SCHEDULER]">{{ 'widget.publishing_process_see_logs' | gtxI18n }}</a>
          </div>
        } @else {
          <span class="success">{{ 'widget.publishing_process_status_healthy' | gtxI18n }}</span>
        }
      </div>
    </div>
  </div>
}
