<div class="gtx-entity-detail">
  <!--
  For some reason, a tab is not properly selected on gtx-tabs creation
  in contrast to other modules.
  -->
  <gtx-tabs pure [activeId]="activeTabId$ | async">
    <gtx-tab
      [id]="RoleDetailTabs.PROPERTIES"
      gtxDetailTabLink
      [title]="'shared.title_properties' | gtxI18n"
      >
      <div class="detail-tab-wrapper">
        <gtx-entity-detail-header
          [hidden]="isLoading"
          [title]="'shared.title_properties_of_entity' | gtxI18n: { entityName: currentEntity?.name }"
          saveActionAllowedId="role.updateRole"
          [saveActionAllowedInstanceId]="currentEntity?.id"
          [saveDisabled]="fgPropertiesSaveDisabled$ | async"
          (saveClick)="btnSavePropertiesOnClick()"
          (cancelClick)="detailsClose()"
        ></gtx-entity-detail-header>

        <div class="gtx-entity-details-tab-content-body">
          <gtx-role-properties
            [supportedLanguages]="supportedLanguages$ | async"
            [formControl]="fgProperties"
          ></gtx-role-properties>
        </div>
      </div>
    </gtx-tab>

    <gtx-tab
      [id]="RoleDetailTabs.PAGE_PRIVILEGES"
      gtxDetailTabLink
      [title]="'shared.title_page_privileges' | gtxI18n"
      >
      <div class="detail-tab-wrapper">
        <gtx-entity-detail-header
          [hidden]="isLoading"
          [title]="'shared.title_page_privileges_of_entity' | gtxI18n: { entityName: currentEntity?.name }"
          saveActionAllowedId="role.updateRole"
          [saveActionAllowedInstanceId]="currentEntity?.id"
          [saveDisabled]="fgPagePrivilegesSaveDisabled$ | async"
          (saveClick)="btnSavePrivilegesOnClick('page')"
          (cancelClick)="detailsClose()"
        ></gtx-entity-detail-header>

        <div class="gtx-entity-details-tab-content-body">
          @if (fgPagePrivileges) {
            <form
              class="language-permissions"
              [formGroup]="fgPagePrivileges"
              >
              <div class="language-group all-languages">
                <h3 class="role-language-title">{{ 'role.all_languages' | gtxI18n }}</h3>
                <div [formGroupName]="'page'" class="role-language-content">
                  <gtx-checkbox
                    [formControlName]="'viewpage'"
                    [label]="'role.view_page' | gtxI18n"
                  ></gtx-checkbox>
                  <gtx-checkbox
                    [formControlName]="'createpage'"
                    [label]="'role.create_page' | gtxI18n"
                  ></gtx-checkbox>
                  <gtx-checkbox
                    [formControlName]="'updatepage'"
                    [label]="'role.update_page' | gtxI18n"
                  ></gtx-checkbox>
                  <gtx-checkbox
                    [formControlName]="'deletepage'"
                    [label]="'role.delete_page' | gtxI18n"
                  ></gtx-checkbox>
                  <gtx-checkbox
                    [formControlName]="'publishpage'"
                    [label]="'role.publish_page' | gtxI18n"
                  ></gtx-checkbox>
                  <gtx-checkbox
                    [formControlName]="'translatepage'"
                    [label]="'role.translate_page' | gtxI18n"
                  ></gtx-checkbox>
                </div>
              </div>
              <ng-container [formGroupName]="'pageLanguages'">
                @for (controlIdAndName of pageLanguagesSortedAndRemainingChildControlNames; track childControlInformationTrackBy($index, controlIdAndName)) {
                  <div
                    class="language-group"
                    [formGroupName]="controlIdAndName.id"
                    >
                    <h3 class="role-language-title">{{ controlIdAndName.name }}</h3>
                    <div class="role-language-content">
                      <gtx-checkbox
                        [formControlName]="'viewpage'"
                        [label]="'role.view_page' | gtxI18n"
                      ></gtx-checkbox>
                      <gtx-checkbox
                        [formControlName]="'createpage'"
                        [label]="'role.create_page' | gtxI18n"
                      ></gtx-checkbox>
                      <gtx-checkbox
                        [formControlName]="'updatepage'"
                        [label]="'role.update_page' | gtxI18n"
                      ></gtx-checkbox>
                      <gtx-checkbox
                        [formControlName]="'deletepage'"
                        [label]="'role.delete_page' | gtxI18n"
                      ></gtx-checkbox>
                      <gtx-checkbox
                        [formControlName]="'publishpage'"
                        [label]="'role.publish_page' | gtxI18n"
                      ></gtx-checkbox>
                      <gtx-checkbox
                        [formControlName]="'translatepage'"
                        [label]="'role.translate_page' | gtxI18n"
                      ></gtx-checkbox>
                    </div>
                  </div>
                }
              </ng-container>
            </form>
          }
        </div>
      </div>
    </gtx-tab>

    <gtx-tab
      [id]="RoleDetailTabs.FILE_PRIVILEGES"
      gtxDetailTabLink
      [title]="'shared.title_file_privileges' | gtxI18n"
      >
      <div class="detail-tab-wrapper">
        <gtx-entity-detail-header
          [hidden]="isLoading"
          [title]="'shared.title_file_privileges_of_entity' | gtxI18n: { entityName: currentEntity?.name }"
          saveActionAllowedId="role.updateRole"
          [saveActionAllowedInstanceId]="currentEntity?.id"
          [saveDisabled]="fgFilePrivilegesSaveDisabled$ | async"
          (saveClick)="btnSavePrivilegesOnClick('file')"
          (cancelClick)="detailsClose()"
        ></gtx-entity-detail-header>

        <div class="gtx-entity-details-tab-content-body">
          @if (fgFilePrivileges) {
            <form
              [formGroup]="fgFilePrivileges"
              class="language-permissions"
              >
              <div [formGroupName]="'file'" class="language-group">
                <h3 class="role-language-title">{{ 'role.images_and_files' | gtxI18n }}</h3>
                <div class="role-language-content">
                  <gtx-checkbox
                    [formControlName]="'viewfile'"
                    [label]="'role.view_file' | gtxI18n"
                  ></gtx-checkbox>
                  <gtx-checkbox
                    [formControlName]="'createfile'"
                    [label]="'role.create_file' | gtxI18n"
                  ></gtx-checkbox>
                  <gtx-checkbox
                    [formControlName]="'updatefile'"
                    [label]="'role.update_file' | gtxI18n"
                  ></gtx-checkbox>
                  <gtx-checkbox
                    [formControlName]="'deletefile'"
                    [label]="'role.delete_file' | gtxI18n"
                  ></gtx-checkbox>
                </div>
              </div>
            </form>
          }
        </div>
      </div>
    </gtx-tab>
  </gtx-tabs>
</div>
