@import 'variables';
@import 'aloha-utils';

.gtx-editor-button {
    @include gtxButtonCore;

    &.icon-only {
        padding: 0.25rem;
        width: 2rem;

        .button-icon {
            margin: auto;
            text-align: center;
        }

        .button-label {
            display: none;
        }
    }

    .button-icon {
        height: 20px;
        width: 20px;
        font-size: 20px;
        transition: 200ms;

        &.icon-left {
            margin-right: 0.5rem;
        }

        &.icon-right {
            margin-left: 0.5rem;
        }
    }

    &:disabled,
    &[disabled] {
        opacity: 0.5;
        color: $gtx-color-dark-gray;
        cursor: not-allowed;
    }
}
