<div class="modal-title">
  <h5>{{ 'modal.confirm_delete_title' | gtxI18n: { entityName: entityIdentifierTranslation } }}</h5>
</div>
<div class="modal-content row">
  <p class="medium-12 columns">{{ confirmDeleteMessageTranslation }}:</p>
  <ul>
    @for (name of entityNames; track name) {
      <li class="medium-12 columns"><b>{{ name }}</b></li>
    }
  </ul>
  <br>
  </div>
  <div class="modal-footer">
    <gtx-button
      type="alert"
      data-action="confirm"
      (click)="buttonDeleteConfirmClicked()"
      >
      {{ 'modal.confirm_delete_button' | gtxI18n: { entityName: entityIdentifierTranslation, entityAmount: entityAmount } }}
    </gtx-button>

    <gtx-button
      type="secondary"
      flat
      data-action="cancel"
      (click)="cancelFn()"
      >
      {{ 'common.cancel_button' | gtxI18n }}
    </gtx-button>
  </div>
