@if (control) {
    <div class="tag-part-editor text-box">
        @if (isTextShort) {
            <gtx-input
                maxLength="255"
                [label]="tagPart | tagPropLabel"
                [formControl]="control"
                [placeholder]="tagPart?.regex?.description"
            ></gtx-input>
        }
        @if (!isTextShort) {
            <gtx-textarea
                multiline="true"
                [label]="tagPart | tagPropLabel"
                [formControl]="control"
                [placeholder]="tagPart?.regex?.description"
            ></gtx-textarea>
        }
        <validation-error-info [validationResult]="validationResult"></validation-error-info>
    </div>
}
