<gtx-progress-bar [active]="loading"></gtx-progress-bar>

<div class="modal-title">
    <h5>{{ 'modal.create_new_page_title' | i18n }}</h5>
</div>

<div class="modal-content">
    <gtx-page-properties
        [mode]="PagePropertiesMode.CREATE"
        [enableFileNameSuggestion]="true"
        [folderId]="folderId"
        [nodeId]="nodeId"
        [disabled]="loading"
        [languages]="languages"
        [templates]="templates"
        [formControl]="control"
    ></gtx-page-properties>
</div>

<div class="modal-footer">
    <gtx-button
        type="secondary"
        flat
        [disabled]="loading"
        (click)="cancelFn()"
    >
        {{ 'common.cancel_button' | i18n }}
    </gtx-button>

    <gtx-button
        type="primary"
        [disabled]="loading|| !control?.valid"
        (click)="saveChanges()"
    >
        {{ 'common.okay_button' | i18n }}
    </gtx-button>
</div>
