a.aloha-gcnlinkchecker-invalid-url {
    background-color: #f5c1bc;
    position: relative;
    margin-right: 12px;
}

a.aloha-gcnlinkchecker-invalid-url::after {
    content: "";
    background: url('../img/icon-report_problem-red.svg');
    background-size: 14px 14px;
    width: 14px;
    height: 14px;
    display: block;
    position: absolute;
    right: -14px;
    top: -4px;
}
