<div class="modal-title">
    <h5>{{ 'modal.upload_title_single' | gtxI18n: { _type: itemType } }}</h5>
</div>

<div class="modal-content">
    <upload-with-properties
        [allowFolderSelection]="allowFolderSelection"
        [destinationFolder]="destinationFolder"
        [itemType]="itemType"
        [showUploadButton]="false"
        (uploadPossible)="onUploadPossible($event)"
        (upload)="onUploadCompleted($event)">
    </upload-with-properties>
</div>

<div class="modal-footer">
    <gtx-button
        id="cancel-button"
        type="secondary"
        flat
        (click)="cancelFn()"
    >{{ 'common.cancel_button' | gtxI18n }}</gtx-button>

    <gtx-button
        id="upload-button"
        type="primary"
        [disabled]="!uploadPossible"
        (click)="onUploadClick()"
    >{{ 'tag_editor.upload' | gtxI18n }}</gtx-button>
</div>
