<div class="modal-title">
    <h5>{{ (mode === MeshUserPropertiesMode.CREATE ? 'mesh.create_user' : 'mesh.update_user') | gtxI18n: { entityName: name } }}</h5>
</div>

<div class="modal-content">
    <gtx-mesh-user-properties
        [mode]="mode"
        [formControl]="form"
    ></gtx-mesh-user-properties>
</div>

<div class="modal-footer">
    <gtx-button
        type="primary"
        data-action="confirm"
        [disabled]="!form.valid && form.enabled"
        (click)="buttonCreateEntityClicked()"
    >
        {{ (mode === MeshUserPropertiesMode.CREATE ? 'modal.create_button' : 'modal.update_button') | gtxI18n }}
    </gtx-button>

    <gtx-button
        type="secondary"
        flat
        data-action="cancel"
        (click)="cancelFn()"
    >
        {{ 'common.cancel_button' | gtxI18n }}
    </gtx-button>
</div>
