@import "content-frame-variables";

body[data-item-type="image"] {

    .aloha-sidebar-bar {
        display: none !important;
    }

    // hide the native "loading" indicator, since we have our own progress bar.
    #message-spacer {
        display: none !important;
    }

    #imageArea {
        // hide the native buttons
        a#cancel-action, a#save-action, a#copy-action {
            display: none;
        }
    }

}
