@import "content-frame-variables";

// Style rules for the video tag fill dialog
@mixin video-dialog {
    div#form {
        width: auto;
        div.tab hr {
            @include hr-as-spacer;
        }
    }
    #form_cell #extraconfig .config hr {
        @include hr-as-spacer;
    }
    ul.tabSwitchMenu {
        width: auto;
        li, li.last {
            height: auto;
            padding: 5px 0;
            border-color: $gtx-color-mid-gray;

            img {
                left: 8px;
                top: 9px;
            }

            a:link { color: $gtx-color-dark-gray; }

            &.active {
                background-color: $gtx-color-primary;
                border-color: $gtx-color-primary;
                a:link { color: white; }
            }
            &:not(.active):hover {
                background-color: $gtx-color-very-light-gray;
            }
        }
    }
}
