<div class="gtx-symbol-grid">
  <div class="symbol-grid-content">
    @for (singleSymbol of symbols; track singleSymbol.symbol) {
      <button
        class="symbol-grid-cell"
        [class.active]="singleSymbol.symbol === (value?.symbol || value)"
        [attr.title]="singleSymbol.label"
        (click)="selectSymbol(singleSymbol)"
        >
            <span
              class="symbol-grid-cell-content"
              [class.material-symbols-outlined]="singleSymbol.icon"
              [innerHTML]="singleSymbol.icon ? singleSymbol.icon : singleSymbol.symbol"
              ></span>
      </button>
    }
  </div>
</div>