@import 'variables';

:host {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.component-group {
    margin: auto 0.5rem;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 100%;
    align-items: center;

    &:first-child {
        margin-left: 0;
    }
}

.group-separator {
    width: 0px;
    height: calc(100% - 1rem);
    display: block;
    margin: auto 0;
    border-left: 1px solid $gtx-color-mid-gray;
}

.dynamic-component {
    margin: 0 0.125rem;
}
