@import '../base-entity-table/base-entity-table.component.scss';


.entity-table-actions-bar {
    flex: 0 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    .table-action-button {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .table-action-button + .table-action-button {
        margin-left: 0.5rem;
    }
}

.package-check-checkbox {
    margin-top: 1rem;
    margin-left: 0.5rem;
}

.check-package-button {
    margin-left: 1rem;
    margin-top: 0.1rem !important;
}

.no-result-text {
    font-size: 18px;
}

.check-ok {
    margin-top: 1rem;
    & icon {
        font-size: 25px;
        color: $gtx-color-success;
        margin-left: 0.5rem;
    }
}
