<div class="list-header">
    <gtx-checkbox [checked]="areAllSelected()"
                  (change)="toggleSelectall()"
                  [label]="'common.select_all_label' | i18n"></gtx-checkbox>
</div>
<div class="list-body" [style.maxHeight]="maxHeight">
    <gtx-contents-list-item *ngFor="let user of users">
        <gtx-checkbox class="row-checkbox"
                      [checked]="selectedMap[user.id]"
                      (change)="toggleSelect(user.id)"></gtx-checkbox>
        <div class="item-primary">
            {{ user.firstName }} {{ user.lastName }}
        </div>
    </gtx-contents-list-item>
</div>
