<div class="list-header">
    <gtx-checkbox
        [label]="'common.select_all_label' | i18n"
        [value]="users?.length > 0 && users?.length === selected?.length"
        [pure]="true"
        (valueChange)="toggleSelectAll()"
    ></gtx-checkbox>
</div>
<div class="list-body">
    <gtx-contents-list-item *ngFor="let user of users">
        <gtx-checkbox
            class="row-checkbox"
            [value]="selected | gtxIncludes:user.id"
            [pure]="true"
            (valueChange)="toggleSelect(user.id)"
        ></gtx-checkbox>
        <div class="item-primary">
            {{ user.firstName }} {{ user.lastName }}
        </div>
    </gtx-contents-list-item>
</div>
