@import "variables";

.list-header {
    padding: 10px 10px 10px 0;
    display: flex;

    > gtx-checkbox {
        flex-grow: 1;
    }
}

.row-checkbox {
    height: 22px;
    width: 24px;
}

.language {
    color: $gcms-color-highlight;
}

.list-body {
    overflow: auto;

    > gtx-contents-list-item {
        padding-left: 0;
    }
}
