<div class="gtx-modal-datagrid">
  <div class="modal-title">
    <h5>{{ 'shared.assign_entity_to_package' | gtxI18n: {
      entityNamePlural: (entityIdentifier + '.' + entityIdentifier + '_plural' | gtxI18n)
    } }}</h5>
  </div>

  <div class="modal-content">
    @switch (entityIdentifier) {
      @case ('construct') {
        <gtx-construct-table
          class="modal-table"
          [showSearch]="true"
          [hideActions]="true"
          [(selected)]="packageChildEntitySelectedIdsCurrent"
        ></gtx-construct-table>
      }
      @case ('contentRepository') {
        <gtx-content-repository-table
          class="modal-table"
          [showSearch]="true"
          [hideActions]="true"
          [(selected)]="packageChildEntitySelectedIdsCurrent"
        ></gtx-content-repository-table>
      }
      @case ('contentRepositoryFragment') {
        <gtx-cr-fragment-table
          class="modal-table"
          [showSearch]="true"
          [hideActions]="true"
          [(selected)]="packageChildEntitySelectedIdsCurrent"
        ></gtx-cr-fragment-table>
      }
      @case ('dataSource') {
        <gtx-data-source-table
          class="modal-table"
          [showSearch]="true"
          [hideActions]="true"
          [(selected)]="packageChildEntitySelectedIdsCurrent"
        ></gtx-data-source-table>
      }
      @case ('objectProperty') {
        <gtx-object-property-table
          class="modal-table"
          [showSearch]="true"
          [hideActions]="true"
          [(selected)]="packageChildEntitySelectedIdsCurrent"
        ></gtx-object-property-table>
      }
      @case ('template') {
        <gtx-template-table
          class="modal-table"
          [showSearch]="true"
          [hideActions]="true"
          [(selected)]="packageChildEntitySelectedIdsCurrent"
        ></gtx-template-table>
      }
    }
  </div>

  <div class="modal-footer">
    <gtx-button
      type="primary"
      data-action="confirm"
      (click)="buttonAssignPackageChildEntityToPackageClicked()"
      >
      {{ 'shared.assign_entity_to_package_button' | gtxI18n }}
    </gtx-button>

    <gtx-button
      type="secondary"
      data-action="cancel"
      flat
      (click)="cancelFn()"
      >
      {{ 'common.cancel_button' | gtxI18n }}
    </gtx-button>
  </div>
</div>
