<div
    class="save-bar"
    data-region="save-bar"
    [attr.data-visible]="dirtyCount > 0"
    [attr.data-saving]="saving"
    [class.is-visible]="dirtyCount > 0"
>
    <div class="save-bar__info">
        <span class="save-bar__dot"></span>
        <span data-name="dirty-count" [attr.data-count]="dirtyCount">
            {{ 'tool.unsaved_count' | gtxI18n:{ count: dirtyCount } }}
        </span>
    </div>

    <div class="save-bar__spacer"></div>

    <gtx-button
        type="secondary"
        flat
        data-action="discard"
        [disabled]="dirtyCount === 0 || saving"
        (click)="discard.emit()"
    >
        {{ 'common.discard_button' | gtxI18n }}
    </gtx-button>

    <gtx-button
        type="default"
        data-action="save"
        [disabled]="dirtyCount === 0 || saving"
        (click)="save.emit()"
    >
        <icon left [class.spin]="saving">{{ saving ? 'refresh' : 'save' }}</icon>
        <span class="button-text">{{ (saving ? 'common.saving' : 'common.save_button') | gtxI18n }}</span>
    </gtx-button>
</div>
