
<div class="schema-list-wrapper">
    <ng-container *ngFor="let schema of schemas">
        <div *ngIf="!!schema.elements.length" class="schema-content">
            <div class="schema-item">{{ schema.name }}</div>

            <div *ngFor="let element of schema.elements | paginate : {
                id: UNIQUE_ID,
                itemsPerPage: perPage,
                currentPage: page,
                totalItems: schema.elements.length
            }">
                <div class="schema-element" (click)="loadNodeContent(element)">
                    <icon *ngIf="element.isContainer; else iconRenderer" left>folder</icon> 

                    <div>{{ element.displayName }}</div>
                    <div class="language">{{ element.language }}</div>
                </div>
            </div>
        </div>    
    
        <gtx-paging
            *ngIf="schema.elements.length > perPage"
            [id]="UNIQUE_ID"
            (pageChange)="changePage($event)"
        ></gtx-paging>
    </ng-container>
</div>


<ng-template #iconRenderer>
    <icon left>description</icon> 
</ng-template>
