@import '../../../../../styles/variables';

.schema-list-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;

    .schema-list::ng-deep .schema-items {
        transition: 200ms;

        &:not(.collapsed) {
            padding-bottom: 0.5rem;
        }
    }

    .schema-list:not(:first-child)::ng-deep .schema-header {
        border-top: 1px dotted $gtx-color-dark-gray;
    }
}

.no-schema-elements {
    padding: 1rem 0;
    font-weight: 300;
}
