<div class="schema-list-wrapper">
    <ng-container *ngFor="let schema of schemas index as index">
        <div [ngClass]="{'striped': index % 2 === 0}">
            <gtx-mesh-browser-schema-items
                [currentProject]="currentProject"
                [schemaName]="schema.name"
                [currentNodeUuid]="currentNodeUuid"
                [currentBranch]="currentBranch"
                [languages]="languages"
                [currentLanguage]="currentLanguage"
                (nodeChanged)="nodeChanged($event)"
            />
        </div>  
    </ng-container>
</div>
