<gtx-progress-bar [active]="loading"></gtx-progress-bar>

<div class="modal-title">
    <h5>{{ 'modal.create_new_form_title' | i18n }}</h5>
</div>

<div class="modal-content">
    <gtx-form-properties
        [mode]="FormPropertiesMode.CREATE"
        [languages]="languages"
        [folderId]="folderId"
        [nodeId]="nodeId"
        [isMultiLang]="languages?.length > 0"
        [formControl]="control"
        (submit)="saveChanges()"
    ></gtx-form-properties>
</div>

<div class="modal-footer">
    <gtx-button
        type="secondary"
        flat
        data-action="cancel"
        (click)="cancelFn()"
        [disabled]="loading"
    >
        {{ 'common.cancel_button' | i18n }}
    </gtx-button>

    <gtx-button
        type="primary"
        data-action="confirm"
        (click)="saveChanges()"
        [disabled]="loading || !control?.valid"
    >
        {{ 'common.okay_button' | i18n }}
    </gtx-button>
</div>
