<div class="tag-editor">
  <div
    class="tag-wrapper"
    [class.nonActive]="!editedTag?.active"
    [class.tagfillLightEnabled]="(tagfillLightEnabled$ | async)"
    >
    @if (!(tagfillLightEnabled$ | async)) {
      <div class="activate-obj-prop">
        <gtx-checkbox
          [label]="'editor.obj_prop_active_label' | gtxI18n"
          [checked]="editedTag?.active"
          [disabled]="!(itemPermissions.edit) || (editedTag?.readOnly)"
          (change)="toggleDisplayContent()"
        ></gtx-checkbox>
      </div>
    }
    @if ((tagToEdit$ | async)?.tag?.tagType) {
      <tag-editor-host
        [showTitle]="showTitle$ | async"
      ></tag-editor-host>
    } @else {
      <span>{{ 'editor.properties_error_loading_tagtype' | gtxI18n }}</span>
    }
  </div>

</div>
