<div class="modal-title">
  <h4>{{ 'modal.display_field_selector_title' | gtxI18n  }}</h4>
</div>
<div class="modal-content">
  <gtx-sortable-list (dragEnd)="sortList($event)">
    @for (field of availableFields; track field) {
      <gtx-sortable-item>
        <gtx-contents-list-item>
          <div class="item-primary">
            <gtx-checkbox [(ngModel)]="selected[field.name]"
              [name]="field.name"
            [label]="field.label | gtxI18n "></gtx-checkbox>
          </div>
          <gtx-drag-handle></gtx-drag-handle>
        </gtx-contents-list-item>
      </gtx-sortable-item>
    }
  </gtx-sortable-list>
</div>
<div class="modal-footer">
  <gtx-button type="secondary" flat (click)="cancelFn()">{{ 'common.cancel_button' | gtxI18n  }}</gtx-button>
  <gtx-button class="okay" (click)="updateAndClose()">{{ 'common.okay_button' | gtxI18n  }}</gtx-button>
</div>
