@if (1 < variants.length) {
  <div class="language-select">
    <gtx-select
      [placeholder]="'common.select_placeholder' | gtxI18n"
      [multiple]="true"
      [value]="selection"
      (valueChange)="onSelectChange($event)"
      >
      @for (languageCode of variants; track languageCode) {
        <gtx-option
          [value]="languageCode"
        >{{ 'lang.' + languageCode | gtxI18n }}</gtx-option>
      }
    </gtx-select>
    <gtx-button
      flat
      size="small"
      class="show-on-hover"
      type="secondary"
      [title]="toggleTitle | gtxI18n: { current: ('lang.' + activeFolderLanguage?.code | gtxI18n) }"
      (click)="toggleLanguageVariantSelection()"
      >
      <icon left>{{ allVariantsSelected && canSelectNone ? 'not_interested' : 'check' }}</icon>
      <span>{{ allVariantsSelected
        ? (canSelectNone
        ? ('modal.page_select_none_button' | gtxI18n)
        : activeFolderLanguage?.code
        )
        : 'modal.page_select_all_button' |gtxI18n
      }}</span>
    </gtx-button>
  </div>
} @else {
  <div class="one_language_text">
    <span>{{ variants.length > 0 ? ('lang.' + variants[0] | gtxI18n) : activeFolderLanguage?.name }}</span>
  </div>
}

