<div class="gtx-entity-detail">
    <gtx-tabs pure [activeId]="activeTabId$ | async">
        <gtx-tab
            gtxDetailTabLink
            [id]="PackageDetailTabs.CONSTRUCTS"
            [title]="'construct.construct_plural' | i18n"
        >
            <gtx-entity-detail-header
                [hidden]="isLoading"
                [title]="'package.constructs_of_package' | i18n: { packageName: currentEntity?.name }"
                (cancelClick)="detailsClose()"
            ></gtx-entity-detail-header>

            <div class="gtx-entity-details-tab-content-body">
                <gtx-construct-table
                    *ngIf="(activeTabId$ | async) == PackageDetailTabs.CONSTRUCTS"
                    [showSearch]="true"
                    [packageName]="currentEntity.id"
                ></gtx-construct-table>
            </div>
        </gtx-tab>

        <gtx-tab
            [id]="PackageDetailTabs.CONTENT_REPOSITORIES"
            gtxDetailTabLink
            [title]="'contentRepository.contentRepository_plural' | i18n"
        >
            <gtx-entity-detail-header
                [hidden]="isLoading"
                [title]="'package.contentrepositories_of_package' | i18n: { packageName: currentEntity?.name }"
                (cancelClick)="detailsClose()"
            ></gtx-entity-detail-header>

            <div class="gtx-entity-details-tab-content-body">
                <gtx-content-repository-table
                    *ngIf="(activeTabId$ | async) == PackageDetailTabs.CONTENT_REPOSITORIES"
                    [showSearch]="true"
                    [packageName]="currentEntity.id"
                ></gtx-content-repository-table>
            </div>
        </gtx-tab>

        <gtx-tab
            gtxDetailTabLink
            [id]="PackageDetailTabs.CR_FRAGMENTS"
            [title]="'contentRepositoryFragment.contentRepositoryFragment_plural' | i18n"
        >
            <gtx-entity-detail-header
                [hidden]="isLoading"
                [title]="'package.contentRepositoryFragments_of_package' | i18n: { packageName: currentEntity?.name }"
                (cancelClick)="detailsClose()"
            ></gtx-entity-detail-header>

            <div class="gtx-entity-details-tab-content-body">
                <gtx-cr-fragment-table
                    *ngIf="(activeTabId$ | async) == PackageDetailTabs.CR_FRAGMENTS"
                    [showSearch]="true"
                    [packageName]="currentEntity.id"
                ></gtx-cr-fragment-table>
            </div>
        </gtx-tab>

        <gtx-tab
            gtxDetailTabLink
            [id]="PackageDetailTabs.DATA_SOURCES"
            [title]="'dataSource.dataSource_plural' | i18n"
        >
            <gtx-entity-detail-header
                [hidden]="isLoading"
                [title]="'package.dataSources_of_package' | i18n: { packageName: currentEntity?.name }"
                (cancelClick)="detailsClose()"
            ></gtx-entity-detail-header>

            <div class="gtx-entity-details-tab-content-body">
                <gtx-data-source-table
                    *ngIf="(activeTabId$ | async) == PackageDetailTabs.DATA_SOURCES"
                    [showSearch]="true"
                    [packageName]="currentEntity.id"
                ></gtx-data-source-table>
            </div>
        </gtx-tab>

        <gtx-tab
            gtxDetailTabLink
            [id]="PackageDetailTabs.OBJECT_PROPERTIES"
            [title]="'common.objectProperty_plural' | i18n"
        >
            <gtx-entity-detail-header
                [hidden]="isLoading"
                [title]="'package.objectproperties_of_package' | i18n: { packageName: currentEntity?.name }"
                (cancelClick)="detailsClose()"
            ></gtx-entity-detail-header>

            <div class="gtx-entity-details-tab-content-body">
                <gtx-object-property-table
                    *ngIf="(activeTabId$ | async) == PackageDetailTabs.OBJECT_PROPERTIES"
                    [showSearch]="true"
                    [packageName]="currentEntity.id"
                ></gtx-object-property-table>
            </div>
        </gtx-tab>

        <gtx-tab
            gtxDetailTabLink
            [id]="PackageDetailTabs.TEMPLATES"
            [title]="'template.template_plural' | i18n"
        >
            <gtx-entity-detail-header
                [hidden]="isLoading"
                [title]="'package.templates_of_package' | i18n: { packageName: currentEntity?.name }"
                (cancelClick)="detailsClose()"
            ></gtx-entity-detail-header>

            <div class="gtx-entity-details-tab-content-body">
                <gtx-template-table
                    *ngIf="(activeTabId$ | async) == PackageDetailTabs.TEMPLATES"
                    [showSearch]="true"
                    [packageName]="currentEntity.id"
                ></gtx-template-table>
            </div>
        </gtx-tab>

        <gtx-tab
            gtxDetailTabLink
            [id]="PackageDetailTabs.CONSISTENCY_CHECK"
            [title]="'package.consistency_check_title' | i18n"
        >
            <gtx-entity-detail-header
                [hidden]="isLoading"
                [title]="'package.consistency_check_title' | i18n: { packageName: currentEntity?.name }" 
                (cancelClick)="detailsClose()"
            ></gtx-entity-detail-header>

            <div class="gtx-entity-details-tab-content-body">
                <gtx-dev-tool-package-trable
                    *ngIf="(activeTabId$ | async) == PackageDetailTabs.CONSISTENCY_CHECK"
                    [packageName]="currentEntity.id"
                    [showSearch]="true"
                ></gtx-dev-tool-package-trable>
            </div>
        </gtx-tab>
    </gtx-tabs>
</div>
