<gtx-loading-trigger></gtx-loading-trigger>
<div class="gtx-entity-master">

    <gtx-tabs
        pure
        [activeId]="activeTabId"
    >
        <gtx-tab
            [id]="ContentMaintenanceTabs.GENERAL"
            [title]="'contentmaintenance.title_general' | i18n"
            (select)="changeTab($event)"
        >
            <gtx-progress-bar [active]="isLoading$ | async"></gtx-progress-bar>

            <div class="maintenance-tab-content">
                <div class="columns small-12 medium-2">
                    <gtx-widget-task-queue
                        [lifeSyncEnabled]="lifeSyncEnabled"
                        [lifeSyncIntervall]="lifeSyncIntervall"
                    ></gtx-widget-task-queue>

                    <gtx-widget-publishing-process
                        [lifeSyncEnabled]="lifeSyncEnabled"
                        [lifeSyncIntervall]="lifeSyncIntervall"
                        [showTitle]="true"
                    ></gtx-widget-publishing-process>
                </div>

                <div class="columns small-12 medium-6">
                    <gtx-widget-publishing-process-per-node
                        [selectable]="true"
                        [lifeSyncEnabled]="lifeSyncEnabled"
                        [lifeSyncIntervall]="lifeSyncIntervall"
                        (selectedIdsChange)="updateSelectedIds($event)"
                    ></gtx-widget-publishing-process-per-node>
                </div>

                <div class="columns small-12 medium-4">
                    <div class="gtx-widget-container">
                        <div class="gtx-sync-setter">
                            <div class="input-container">
                                <gtx-checkbox
                                    [label]="'contentmaintenance.life_sync' | i18n"
                                    [value]="lifeSyncEnabled"
                                    (valueChange)="changeLifeSyncPoll($event)"
                                ></gtx-checkbox>
                            </div>

                            <div class="input-container">
                                <gtx-input
                                    type="number"
                                    step="1"
                                    min="1"
                                    placeholder="3"
                                    [required]="true"
                                    [label]="'contentmaintenance.life_sync_intervall' | i18n"
                                    [value]="(lifeSyncIntervall / 1000)"
                                    (change)="updateInterval($event)"
                                ></gtx-input>
                            </div>
                        </div>
                    </div>

                    <gtx-widget-publishing-process-per-node-overview
                        [lifeSyncEnabled]="lifeSyncEnabled"
                        [lifeSyncIntervall]="lifeSyncIntervall"
                    ></gtx-widget-publishing-process-per-node-overview>
                </div>
            </div>
        </gtx-tab>

        <gtx-tab
            [id]="ContentMaintenanceTabs.FAILED_TASKS"
            [title]="'contentmaintenance.title_failedTasks' | i18n"
            (select)="changeTab($event)"
        >
            <gtx-dirt-queue-item-table
                *ngIf="activeTabId === ContentMaintenanceTabs.FAILED_TASKS"
                [showSearch]="true"
            ></gtx-dirt-queue-item-table>
        </gtx-tab>
    </gtx-tabs>

</div>
