
<div class="maintenance-tab-content" [class.hide-sidebar]="activeTabId !== ContentMaintenanceTabs.GENERAL">

    <div class="sidebar sidebar-left">
        <ng-container *ngIf="activeTabId === ContentMaintenanceTabs.GENERAL">
            <gtx-widget-task-queue
                [summary]="dirtQueueSummary"
                [failedTasks]="failedTasks"
            ></gtx-widget-task-queue>

            <gtx-widget-publishing-process
                [showTitle]="true"
                [info]="publishInfo"
                [hasFailedJobs]="hasFailedSchedules"
                [publisherStatus]="schedulerStatus"
            ></gtx-widget-publishing-process>
        </ng-container>
    </div>

    <div class="main-content">
        <gtx-tabs pure [activeId]="activeTabId">
            <gtx-tab
                [id]="ContentMaintenanceTabs.GENERAL"
                [title]="'contentmaintenance.title_general' | i18n"
                (select)="changeTab($event)"
            >
                <gtx-progress-bar [active]="loading"></gtx-progress-bar>

                <gtx-node-publish-process-table
                    [showSearch]="true"
                    [(selected)]="selectedNodeIds"
                    [publishQueue]="publishQueue"
                    (actionClick)="handleTableAction($event)"
                ></gtx-node-publish-process-table>
            </gtx-tab>

            <gtx-tab
                [id]="ContentMaintenanceTabs.FAILED_TASKS"
                [title]="'contentmaintenance.title_failedTasks' | i18n"
                (select)="changeTab($event)"
            >
                <gtx-dirt-queue-item-table
                    [showSearch]="true"
                ></gtx-dirt-queue-item-table>
            </gtx-tab>
        </gtx-tabs>
    </div>

    <div class="sidebar sidebar-right">
        <ng-container *ngIf="activeTabId === ContentMaintenanceTabs.GENERAL">
            <div class="maintanance-buttons">
                <gtx-button
                    class="reload-button"
                    flat
                    size="small"
                    type="primary"
                    [disabled]="loading"
                    (click)="loadData()"
                >
                    <icon left>refresh</icon> {{ 'common.reload_table_button' | i18n }}
                </gtx-button>

                <gtx-button
                    class="reload-button"
                    flat
                    size="small"
                    type="primary"
                    [disabled]="working"
                    (click)="reloadConfiguration()"
                >
                    <icon left>settings_applications</icon> {{ 'contentmaintenance.reload_configuration' | i18n }}
                </gtx-button>

                <gtx-button
                    class="reload-button"
                    flat
                    size="small"
                    type="primary"
                    [disabled]="working"
                    (click)="stopPublishing()"
                >
                    <icon left>highlight_off</icon> {{ 'contentmaintenance.stop_publishing' | i18n }}
                </gtx-button>
            </div>

            <gtx-publish-queue-summary
                [nodes]="nodes"
                [publishQueue]="publishQueue"
            ></gtx-publish-queue-summary>
        </ng-container>
    </div>
</div>
