@import 'variables';
@import 'aloha-utils';

:host {
    display: block;
    width: 100%;
    min-height: 1px;
    flex: 1 1 auto;
}

.gtx-select-menu {
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;

    .select-menu-entries-container {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        width: 100%;
        height: 100%;
        overflow: hidden auto;
        transition: 200ms;
        transform: translateX(0);
    }

    .select-menu-entry {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        width: 100%;
        height: 2.5rem;
        align-items: center;
        padding: 0.25rem 0.5rem;
        border-bottom: 1px solid $gtx-color-mid-gray;
        background: $gtx-color-very-light-gray;
        transition: 200ms;
        cursor: pointer;

        &:hover {
            background: $gtx-color-light-gray;
        }

        .entry-icon {
            flex: 0 0;
            padding: 0rem 0.5rem;
            user-select: none;
            height: 24px;

            icon {
                width: 24px;
                height: 24px;
            }
        }

        .entry-label {
            flex: 1 1 auto;
            padding: 0 0.5rem;
            white-space: nowrap;

            @media (max-width: $aloha-size-mobile-max) {
                user-select: none;
            }
        }

        &:last-child {
            border-bottom: none;
        }

        &.active {
            background: #cfdcfd;

            &:hover {
                background: #9eb5f0;
            }
        }
    }

    &.icons-only {
        .select-menu-entries-container {
            flex-direction: row;
        }

        .select-menu-entry {
            width: 2rem;
            height: 2rem;
            padding: 0.25rem;
            border: none;

            &.active {
                background: rgba($gtx-color-primary, 20%);

                &:hover {
                    background: rgba($gtx-color-primary, 40%);
                }
            }

            .entry-icon {
                padding: 0;
            }
        }
    }

    &:not(.icons-only).has-right-icons {
        .select-menu-entry:not(.multi-step-entry) {
            padding-right: 48px;
        }
    }

    .next-step {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        position: absolute;
        width: 100%;
        transition: 200ms;
        transform: translateX(100%);
        min-width: 240px;
        top: 0;
        left: 0;

        .next-step-header {
            @include gtxCommonHeader;

            // Should always be visible
            .header-confirm-button {
                display: block;
            }
        }


        .next-step-content {
            overflow: auto;
            width: 100%;
        }
    }

    &.next-step-open {
        .select-menu-entries-container {
            transform: translateX(-100%);
        }

        .next-step {
            transform: translateX(0);
        }

        &.next-step-ready {
            .select-menu-entries-container {
                display: none;
            }

            .next-step {
                position: relative;
            }
        }
    }
}
