<div
    *ngIf="showOverlay"
    class="dropdown-overlay"
    (click)="handleOverlayClick()"
></div>

<div
    class="gtx-context-menu"
    [class.with-confirm]="configuration.resolveWithConfirmButton || controlNeedsConfirm"
    [class.no-header]="hideHeader"
>
    <div class="context-menu-header">
        <button
            class="header-abort-button"
            (click)="handleAbortClick()"
        >
            <div class="header-abort-label">{{ 'editor.dropdown_abort' | i18n }}</div>
        </button>

        <div *ngIf="label" class="header-label">{{ label }}</div>

        <button
            *ngIf="configuration.resolveWithConfirmButton || controlNeedsConfirm"
            class="header-confirm-button"
            [disabled]="!control.valid"
            (click)="handleConfirmClick()"
        >
            <div class="header-confirm-label">{{ 'editor.dropdown_confirm' | i18n }}</div>
        </button>
    </div>

    <div class="context-menu-content">
        <gtx-aloha-component-renderer
            [type]="configuration.type"
            [settings]="configuration.options"
            [formControl]="control"
            (requiresConfirm)="updateNeedsConfirm($event)"
            (manualConfirm)="handleManualComponentConfirm()"
            (hideHeader)="handleHideHeader($event)"
        ></gtx-aloha-component-renderer>
    </div>
</div>
