<form
    *ngIf="form"
    [formGroup]="form"
    class="row small-12 medium-12"
>
    <div class="input-container small-12 medium-4 columns">

        <!-- keyword -->
        <gtx-input
            type="text"
            maxlength="255"
            [label]="('objectProperty.keyword' | i18n) + ' *'"
            formControlName="keyword"
        >
        </gtx-input>

        <!-- type -->
        <gtx-select
            [label]="('objectProperty.type' | i18n) + ' *'"
            formControlName="type"
            [clearable]="false"
        >
            <gtx-option *ngFor="let item of OBJECT_TYPES" [value]="item.id">{{ item.label | i18n }}</gtx-option>
        </gtx-select>

        <!-- categoryId -->
        <gtx-select
            [label]="'objectProperty.objectPropertyCategory_singular' | i18n"
            [clearable]="true"
            formControlName="categoryId"
        >
            <gtx-option *ngFor="let item of (objectPropertyCategories$ | async)" [value]="item.id">{{ item.name }}</gtx-option>
        </gtx-select>

        <!-- constructId -->
        <gtx-select
            [label]="('objectProperty.construct' | i18n) + ' *'"
            formControlName="constructId"
            [clearable]="false"
        >
            <gtx-option *ngFor="let item of (constructs$ | async)" [value]="item.id">{{ item.name }}</gtx-option>
        </gtx-select>

        <!-- required -->
        <gtx-checkbox
            formControlName="required"
            [label]="'objectProperty.required' | i18n"
        ></gtx-checkbox>

        <!-- inheritable -->
        <gtx-checkbox
            formControlName="inheritable"
            [label]="'objectProperty.inheritable' | i18n"
        ></gtx-checkbox>

        <!-- syncContentset -->
        <gtx-checkbox
            formControlName="syncContentset"
            [label]="'objectProperty.syncContentset' | i18n"
        ></gtx-checkbox>

        <!-- syncChannelset -->
        <gtx-checkbox
            formControlName="syncChannelset"
            [label]="'objectProperty.syncChannelset' | i18n"
        ></gtx-checkbox>

        <!-- syncVariants -->
        <gtx-checkbox
            formControlName="syncVariants"
            [label]="'objectProperty.syncVariants' | i18n"
        ></gtx-checkbox>

    </div>

    <div class="input-container small-12 medium-8 columns">

        <h2 class="item-properties-heading">{{ 'shared.i18n_properties_label' | i18n }}</h2>

        <div
            class="properties-editor-i18n"
        >
            <gtx-grouped-tabs
                *ngIf="languages$ | async as languagesAsync"
                class="properties-tabs"
                pure
                wrap
                statusIcons
                [activeId]="activeTabI18nLanguage?.id"
            >
                <gtx-tab-pane
                    *ngFor="let language of languagesAsync"
                    [id]="language?.id"
                    [readonly]="form.disabled"
                    (select)="setActiveI18nTab($event)"
                >
                    <ng-template gtx-tab-label>
                        <div
                            class="language-pane-label"
                            [class.invalid]="invalidLanguages | gtxIncludes:language?.code"
                        >{{ language?.name }}</div>
                    </ng-template>
                </gtx-tab-pane>
            </gtx-grouped-tabs>

            <div
                *ngIf="activeTabI18nLanguage?.code as activeLanguage"
                class="tab-content"
            >
                <h3>{{ activeTabI18nLanguage?.name }}</h3>

                <gtx-i18n-input
                    [label]="('common.name' | i18n) + ' *'"
                    formControlName="nameI18n"
                    [language]="activeLanguage"
                    [requiredInCurrentLanguage]="true"
                    [availableLanguages]="languages"
                ></gtx-i18n-input>

                <gtx-i18n-input
                    [label]="'common.description' | i18n"
                    formControlName="descriptionI18n"
                    [language]="activeLanguage"
                    [availableLanguages]="languages"
                ></gtx-i18n-input>
            </div>
        </div>

    </div>
</form>
