# Ignore override files, as they are to be used for local secrets
compose*.local.yml

# Add the conf directory as we need this for the tests
!cms/conf
!cms/ui-conf

# Ignore unused config files and log files
cms/logs

# Ignore packages we create in tests
cms/packages/*
!cms/packages/full
!cms/packages/minimal
