services:
  mariadb:
    image: mariadb:10
    command: --transaction-isolation=READ-COMMITTED --binlog-format=ROW --log-bin=mysqld-bin

    environment:
      # General Container Settings
      TZ: "Europe/Vienna"

      # Database settings
      MYSQL_DATABASE: node_utf8
      MYSQL_USER: node
      MYSQL_PASSWORD: node
      MYSQL_ROOT_PASSWORD: finger

    volumes:
      - ./mariadb/dumps:/docker-entrypoint-initdb.d

    healthcheck:
      test: ["CMD", "healthcheck.sh", "--connect", "--innodb_initialized"]
      start_period: 30s
      interval: 10s
      timeout: 5s
      retries: 3

  mesh:
    image: docker.gentics.com/gentics/mesh-hsqldb:${CI_MESH_VERSION:-3.1.0}

    environment:
      # General Container Settings
      TZ: "Europe/Vienna"

      # Auth settings
      MESH_INITIAL_ADMIN_PASSWORD_FORCE_RESET: false
      MESH_INITIAL_ADMIN_PASSWORD: mesh_integrationTest#admin
      MESH_ELASTICSEARCH_URL: null
      MESH_ELASTICSEARCH_START_EMBEDDED: false
      MESH_ELASTICSEARCH_WAIT_FOR_IDLE: false
      MESH_ELASTICSEARCH_INCLUDE_BINARY_FIELDS: false
      MESH_MONITORING_ENABLED: true

    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8081/api/v2/health/ready"]
      start_period: 300s
      # start_interval: 30s
      interval: 60s
      timeout: 10s
      retries: 3

  cms:
    image: docker.gentics.com/gentics/cms-oss:${CI_CMS_VERSION:-ci-devtest}
    ports:
      - 8080:8080

    entrypoint: "/cms/conf/tests-entrypoint.sh"

    environment:
      # General Container Settings
      TZ: "Europe/Vienna"

      # DB Connection
      NODE_DB_HOST: mariadb
      NODE_DB_USER: root
      NODE_DB_PASSWORD: finger

      # Misc settings
      NODE_USER_PASSWORD: cms_integrationTest#node
      ELASTICSEARCH_ENABLED: false
      ELASTICSEARCH_URL:
      CONF_FILES: cms
      KEYCLOAK_ACTIVE: false

      # Mesh CR Settings
      CR_URL_MESH_CR: http://mesh:8080/example
      CR_USERNAME_MESH_CR: admin
      CR_PASSWORD_MESH_CR: admin

      # DB CR Settings
      CR_URL_MARIADB_CR: jdbc:mariadb://mariadb:3306/cr
      CR_USERNAME_MARIADB_CR: crtest
      CR_PASSWORD_MARIADB_CR: crtest

    volumes:
      - ./cms/commands:/cms/scheduler-commands
      - ./cms/conf:/cms/conf
      - ./cms/packages:/cms/packages:x
      - ./cms/logs:/cms/logs:x

    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8080/rest/auth/globalprefix"]
      start_period: 120s
      # start_interval: 10s
      interval: 60s
      timeout: 10s
      retries: 3

    depends_on:
      mariadb:
        condition: service_healthy
      mesh:
        condition: service_healthy

  playwright:
    image: mcr.microsoft.com/playwright:v1.56.1-noble
    entrypoint: "npx -y playwright@1.56.1 run-server --port 3000 --host 0.0.0.0"
    ports:
      - 3000:3000

    extra_hosts:
      - hostmachine:host-gateway

    healthcheck:
      test: [ "CMD", "curl",
        "--include",
        "--no-buffer",
        "--header", "Connection: close",
        "--header", "Upgrade: websocket",
        "--header", "Sec-WebSocket-Version: 13",
        "http://localhost:3000",
      ]
      start_period: 60s
      interval: 60s
      timeout: 10s
      retries: 3

    depends_on:
      cms:
        condition: service_healthy
