<gtx-tabs pure [activeId]="activeTab">
    <gtx-tab
        [id]="ObjectPropertyModuleTabs.OBJECT_PROPERTIES"
        [title]="'common.objectProperty_plural' | i18n"
        (select)="setTabAsActive($event)"
    >
        <gtx-object-property-master class="properties-master"></gtx-object-property-master>
    </gtx-tab>

    <gtx-tab
        [id]="ObjectPropertyModuleTabs.CATEGORIES"
        [title]="'objectProperty.objectPropertyCategory_plural' | i18n"
        (select)="setTabAsActive($event)"
    >
        <gtx-object-property-category-master class="categories-master"></gtx-object-property-category-master>
    </gtx-tab>
</gtx-tabs>
