:host {
    display: block;
    height: 100%;
    width: 100%;

    > gtx-tabs {
        height: 100%;
        width: 100%;
    }
}

.properties-master,
.categories-master {
    display: block;
    height: 100%;
}
