@import "variables";
@import '../../../../shared/components/base-entity-table/base-entity-table.component.scss';


.check-ok {
    position: relative;
    padding-top: 5px;
    
    icon {
        color: $gtx-color-success;
        margin-left: 0.5rem;
        position: absolute;
        top: 2px;
    }
}


gtx-tooltip {
    margin: auto 0;

    icon.help {
        cursor: help;
        color: #0096DC;
        transform: rotate(180deg);
        font-size: 1.2rem;
    }
}

.check-time {
    font-style: italic;
    margin-left: 1rem;
    font-size: 14px;
}
    
.trigger-check-btn {
    margin-bottom: 1rem;
}

.error-recommendation {
    white-space: pre-wrap;
}
