
@for (di of displayItems | paginate:{
  id: UNIQUE_ID,
  currentPage: page,
  itemsPerPage: perPage,
  totalItems: totalCount
  }; track di) {
  <gtx-contents-list-item class="usage-item">
    <icon
      class="type-icon"
      [ngClass]="di.type || type"
    >{{ (di.type || type) | gtxTypeIcon }}</icon>
    <div class="item-primary">
      <div class="name-container">
        @if (type !== 'template') {
          <a
            class="item-name"
            (click)="triggerItemClick(di, $event)"
          >{{ di.name }}</a>
        } @else {
          <span>{{ di.name }}</span>
        }
        <item-status-label
          [item]="di"
          [nodeLanguages]="languages"
          [activeNodeId]="activeNodeId"
        ></item-status-label>
        @if (di.type === 'page') {
          <div
            class="language"
            [title]="di.languageName"
            >
            {{ di.language }}
          </div>
        }
      </div>
      <div class="filename">
        {{ di.path }}{{ di.fileName }}
      </div>
    </div>
    <div class="right-details">
      @if (di.type === 'page') {
        <div class="template-reference">
          <icon>dashboard</icon>
          <span class="template-name">{{ di.template?.name }}</span>
        </div>
      }
    </div>
  </gtx-contents-list-item>
}

@if (totalCount > perPage) {
  <gtx-paging
    [id]="UNIQUE_ID"
    (pageChange)="loadPage($event)"
  ></gtx-paging>
}
