@if (currentStep) {
  <div class="modal-title">
    <h5>{{ title }}</h5>
  </div>
  <div class="modal-content">
    <gtx-tabs pure [activeId]="currentStepIndex | json">
      @for (step of steps; track step; let i = $index) {
        <gtx-tab [id]="i | json" [title]="step.title">
          <ng-content *ngTemplateOutlet="step.contentTemplate"></ng-content>
        </gtx-tab>
      }
    </gtx-tabs>
  </div>
  <div class="modal-footer">
    @if (currentStepIndex > 0) {
      <gtx-button
        type="primary"
        (click)="onPrevButtonClick()"
        >
        {{ 'modal.previous_button' | gtxI18n }}
      </gtx-button>
    }
    <gtx-button
      type="primary"
      [disabled]="!currentStep.nextEnabled || nextClickHandlerExecuting"
      (click)="onNextButtonClick()"
      >
      @if (currentStep !== steps.last) {
        {{ 'modal.next_button' | gtxI18n }}
      } @else {
        {{ finishButtonTitle || ('modal.finish_button' | gtxI18n) }}
      }
    </gtx-button>
    <gtx-button
      type="secondary"
      flat
      (click)="onCancelButtonClick()"
      >
      {{ 'common.cancel_button' | gtxI18n }}
    </gtx-button>
  </div>
}
