@import 'variables';

:host {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 320px;

    .palette-wrapper {
        padding: 0.5rem 0.25rem;
        display: block;
        width: 100%;

        .palette {
            width: 100%;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;

            .palette-entry {
                background: var(--palette-color);
                border-radius: 3px;
                border: 1px solid transparent;
                outline: none;
                width: 20px;
                height: 20px;
                margin: 0.5rem;
                box-shadow: 2px 2px 2px $gtx-color-light-gray,
                    -2px 2px 2px $gtx-color-light-gray,
                    -2px -2px 2px $gtx-color-light-gray,
                    2px -2px 2px $gtx-color-light-gray;
                transition: 200ms;

                &:hover,
                &:focus {
                    box-shadow: 2px 2px 2px $gtx-color-off-black,
                        -2px 2px 2px $gtx-color-off-black,
                        -2px -2px 2px $gtx-color-off-black,
                        2px -2px 2px $gtx-color-off-black;
                }

                &.active {
                    outline: var(--palette-contrast) solid 1px;
                }
            }
        }
    }

    color-slider {
        padding: 0 1rem 1rem;
        flex: 1 1 auto;
    }

    .alpha-wrapper {
        padding: 0 1rem 1rem;
        flex: 1 1 auto;
        display: flex;

        color-alpha-picker {
            flex: 1 1 auto;
            width: 100%;

            &::ng-deep .alpha-picker {
                width: 100% !important;
                height: 14px !important;
            }
        }
    }
}
