@if (normalizedPalette.length > 0 || settings?.allowClear) {
  <div class="palette-wrapper">
    <div class="palette">
      @if (settings?.allowClear) {
        <button
          class="palette-entry clear-entry"
          [class.active]="!hexValue"
          (click)="selectPaletteColor(null)"
        ></button>
      }
      @for (paletteColor of normalizedPalette; track paletteColor) {
        <button
          class="palette-entry"
          [attr.data-color]="paletteColor.color"
          [style.--palette-color]="paletteColor.color"
          [style.--palette-contrast]="paletteColor.contrast"
          [class.active]="paletteColor.color === hexValue"
          (click)="selectPaletteColor(paletteColor.color)"
        ></button>
      }
    </div>
  </div>
}

@if (settings?.allowOutsidePalette) {
  @if (settings?.allowCustomInput) {
    <color-slider
      [color]="ngxColorValue"
      (onChange)="handleColorChange($event)"
    ></color-slider>
  }
  @if (settings?.allowTransparency) {
    <div class="alpha-wrapper">
      <color-alpha-picker
        [height]="14"
        [color]="ngxColorValue"
        (onChange)="handleColorChange($event)"
      ></color-alpha-picker>
    </div>
  }
}
