<div class="palette-wrapper">
    <div class="palette">
        <button
            *ngFor="let paletteColor of normalizedPalette"
            class="palette-entry"
            [attr.data-color]="paletteColor.color"
            [style.--palette-color]="paletteColor.color"
            [style.--palette-contrast]="paletteColor.contrast"
            [class.active]="paletteColor.color === hexValue"
            (click)="selectPaletteColor(paletteColor.color)"
        ></button>
    </div>
</div>

<ng-container *ngIf="settings?.allowOutsidePalette">
    <color-slider
        *ngIf="settings?.allowCustomInput"
        [color]="ngxColorValue"
        (onChange)="handleColorChange($event)"
    ></color-slider>

    <div *ngIf="settings?.allowTransparency" class="alpha-wrapper">
        <color-alpha-picker
            [height]="14"
            [color]="ngxColorValue"
            (onChange)="handleColorChange($event)"
        ></color-alpha-picker>
    </div>
</ng-container>
