@import "variables";

$background-color: white;
$spinner-color: $gtx-color-primary;

.gtx-loading-overlay-loader {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;

    color: $spinner-color;
    font-size: 11px;
    text-indent: -99999em;
    width: 10em;
    height: 10em;
    box-shadow: inset 0 0 0 1em;
    transform: translateZ(0);
    will-change: transform;

    &,
    &:before,
    &:after {
        border-radius: 50%;
        will-change: transform;
    }

    &:before,
    &:after {
        position: absolute;
        content: '';
        width: 5.2em;
        height: 10.2em;
        background: $background-color;
        top: -0.1em;
    }

    &:before {
        border-radius: 10.2em 0 0 10.2em;
        left: -0.1em;
        transform-origin: 5.2em 5.1em;
        animation: gtxLoadingOverlaySpinnerAnimation 2s infinite ease 1.5s;
    }

    &:after {
        border-radius: 0 10.2em 10.2em 0;
        left: 5.1em;
        transform-origin: 0px 5.1em;
        animation: gtxLoadingOverlaySpinnerAnimation 2s infinite ease;
    }
}

@keyframes gtxLoadingOverlaySpinnerAnimation {
    0%   { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@keyframes gtxLoadingOverlayMessageFadeIn {
    100% { opacity: 1; transform: translateY(0); }
}
