@import "variables";

.checkbox-input {
    display: block;
    padding-bottom: 3rem;
}

.section-header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.heading {
    border-bottom: 1px solid $gtx-color-light-gray;
    font-size: $gtx-font-size-lead;
    padding-top: 1.5rem;
}

.simple-header {
    border-bottom: 1px solid $gtx-color-very-light-gray;
    text-transform: uppercase;
}

.flex-row {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.checkbox-group {
    padding: 1rem 0;
    justify-content: space-between;
}

.publishing-section {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 0.5rem;

    .publish-group {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        gap: 0.5rem;
        flex: 1 1 auto;
    }
}

.rendering-section {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding-top: 1rem;

    > * {
        flex: 1 1 auto;
    }
}

.name-row {
    display: flex;
    flex-direction: column;
    gtx-input {
        flex: 1;

        ::ng-deep input[type=text] {
            margin-bottom: 5px;
        }
    }
}

.inheritance-info {
    color: $gcms-color-icon-inheritance;
    display: flex;
    gap: 0.5rem;
    align-content: center;
}

.link-inputs {
    cursor: pointer;
    background: transparent;
    color: $gtx-color-very-dark-gray;
    border: none;
    outline: none;
    flex: 0 0;
    height: 24px;
    width: 24px;
    align-self: flex-end;
    margin-bottom: 1.6rem;

    icon {
        color: inherit;
        font-size: inherit;
    }

    &[disabled] {
        color: $gtx-color-light-gray;
        cursor: not-allowed;
    }

    &.active {
        color: $gtx-color-primary;
    }
}

.container-validator-errors {
    color: $gtx-color-alert;
}

.hostname-group {
    align-items: center;
    gap: 2rem;
    padding-top: 0.5rem;

    .hostname-type {
        flex: 1 1 auto;
    }
}
