@import "../../../../../styles/variables";

.schema-header {
    padding: 0.5rem 0;
    position: relative;
    display: flex;
    flex-direction: column;

    .title-wrapper {
        display: flex;
        align-items: center;

        .schema-title {
            flex-grow: 1;
            white-space: nowrap;
            text-transform: uppercase;
            font-weight: 300;
        }

        .collapse-icon {
            cursor: pointer;
            transition: 200ms;
        }
    }

    .progress-wrapper {
        position: relative;
    }
}

.schema-items {
    &.collapsed {
        .schema-header .collapse-icon {
            transform: rotateZ(-90deg);
        }

        .schema-content {
            max-height: 0;
        }
    }

    .schema-content {
        max-height: 100vh;
        transition: 200ms;
        overflow: hidden;
    }

    .schema-element {
        padding: 4px 8px 6px;
        margin: 0rem 0;
        display: flex;
        flex-direction: column;
        gap: 4px;

        &:nth-child(even) {
            background-color: $gtx-color-off-white;
        }

        .main-content {
            display: flex;
            flex-direction: row;
            gap: 8px;
            align-content: center;

            .content-icon {
                color: $gtx-color-primary;
                cursor: pointer;
            }

            .title {
                color: $gtx-color-primary;
                cursor: pointer;
            }

            @media (max-width: $small-screen) {
                .status {
                    margin-left: auto;
                }
            }
        }

        .language-content {
            display: flex;
            align-items: center;
            gap: 8px;
            padding-bottom: 2px;

            .language {
                font-size: 11px;
                border-radius: 3px;
                padding: 1px 4px;
                text-transform: uppercase;
                background: $gtx-color-light-gray;
                border: none;
                color: black;
                font-weight: 500;
                transition: 200ms;
                @include z-depth-1;

                &.active {
                    background-color: $gtx-color-primary;
                    color: white;
                }
            }
        }
    }

    .pagingation {
        display: block;
        padding-bottom: 0.75rem;
    }
}
