@import "variables";

.schema-header {
    margin: 0.5rem 0;
    margin-top: 0.5rem;
    display: flex;

    .schema-title {
        flex-grow: 1;
        white-space: nowrap;
        text-transform: uppercase;  
        font-weight: 300;
    }
    & > icon {
        cursor: pointer;
    }
    .collapsed {
        transform: rotate(-90deg);
    }
}


.schema-items {
    padding: 0.2rem;

    .striped {
        background-color: $gtx-color-off-white;
        border-radius: 2px;
    }

    .schema-content.collapsed {
        max-height: 0;
        overflow: hidden;
    }

    .schema-element {
        color: $gtx-color-primary;
        padding: 0.3rem 0;
        padding-left: 0.4rem;
        margin: 0rem 0;
        cursor: pointer;

        .title {
            display: flex;
        }

        .language {
            font-size: 11px;
            margin-right: 5px;
            margin-left: 0.2rem;
            border-radius: 3px;
            padding: 1px 4px;
            text-transform: uppercase;
            background: $gtx-color-light-gray;
            color: black;
            font-weight: 500;

            &.active {
                border-bottom: 1px solid $gtx-color-off-black;
                background-color: $gtx-color-primary;
                color: white;
            }
        }
    }
}
