.schema-header {
    margin: 0.5rem 0;
    margin-top: 0.5rem;
    display: flex;

    .schema-title {
        flex-grow: 1;
        white-space: nowrap;
        text-transform: uppercase;  
        font-weight: 300;
    }

    .collapsed {
        transform: rotate(-90deg);
    }
}


.schema-items {

    .schema-content.collapsed {
        max-height: 0;
        overflow: hidden;
    }

    .schema-element {
        color: #0096DC;
        padding: 0.5rem 0;
        margin: 0rem 0;

        .language {
            font-size: 12px;
            margin-right: 5px;
            border-radius: 2px;
            padding: 0 3px;
            background: #d7d7d7;
            color: black;
            width: 20px;

            &.active {
                border-bottom: 1px solid #313e44;
                background-color: #0096DC;
            }
        }
    }
}
