@import '../../../../shared/components/base-entity-table/base-entity-table.component';

.name-wrapper {
    font-size: 0.9rem;
    display: flex;
    align-items: center;

    .type-icon {
        display: inline-block;
        font-size: 20px;
        height: 24px;
        margin-right: 0.5rem;

        &::ng-deep .gtx-icon {
            font-size: inherit !important;
        }
    }

    .name {
        margin-top: 1px;
        display: inline-block;
    }
}
