@import '../../../../shared/components/base-entity-table/base-entity-table.component';

.name-wrapper {
    font-size: 0.9rem;
    display: flex;
    align-items: center;

    .type-icon {
        display: inline-block;
        font-size: 20px;
        height: 24px;
        margin-right: 0.5rem;

        &::ng-deep .gtx-icon {
            font-size: inherit !important;
        }
    }

    .name {
        margin-top: 1px;
        display: inline-block;
    }
}

.object-filter {
    width: 100%;
    margin: 0px;
    padding: 5px 0;
}

::ng-deep gtx-input input {
    margin: 0px !important;
}

::ng-deep .header-row {
     .grid-cell {
        padding-top:0  !important;
        padding-bottom:0  !important;
        padding-left:0  !important;
    }
}

::ng-deep gtx-date-time-picker{
    & > gtx-input, gtx-button {
        margin-top: 0px !important;
    }
}
