<div class="fields-wrapper" #fieldsWrapper>
  @for (field of fields; track field) {
    <div>
      <div>
        @switch (field) {
          @case ('creator') {
            <detail-chip>
              {{ 'common.creator_label' | gtxI18n }}: {{ item[field] | userFullName }}
            </detail-chip>
          }
          @case ('editor') {
            <detail-chip>
              {{ 'common.editor_label' | gtxI18n }}: {{ item[field] | userFullName }}
            </detail-chip>
          }
          @case ('cdate') {
            <detail-chip>
              {{ 'common.date_created_label' | gtxI18n }}: {{ item[field] | gtxI18nDate }}
            </detail-chip>
          }
          @case ('customCdate') {
            <detail-chip>
              {{ 'common.date_custom_created_label' | gtxI18n }}: {{ item[field] ? (item[field] | gtxI18nDate) : '-' }}
            </detail-chip>
          }
          @case ('edate') {
            <detail-chip>
              {{ 'common.date_edited_label' | gtxI18n }}: {{ item[field] | gtxI18nDate }}
            </detail-chip>
          }
          @case ('customEdate') {
            <detail-chip>
              {{ 'common.date_custom_edited_label' | gtxI18n }}: {{ item[field] ? (item[field] | gtxI18nDate) : '-' }}
            </detail-chip>
          }
          @case ('pageStatus') {
            <detail-chip>
              {{ item[field] }}
            </detail-chip>
          }
          @case ('priority') {
            <detail-chip>
              Priority: {{ item[field] }}
            </detail-chip>
          }
          @case ('fileType') {
            <detail-chip>
              <i class="material-icons">insert_drive_file</i> {{ item[field] }}
            </detail-chip>
          }
          @case ('usage') {
            <detail-chip (click)="usageClicked($event, item)" class="usage">
              <span>{{ 'common.usage_label' | gtxI18n }}:</span>
              @if (item?.usage?.total !== undefined) {
                <span class="usage-count">{{ totalUsage(item) }}</span>
              }
              @if (item?.usage?.total === undefined) {
                <i
                class="usage-spinner material-icons usage-count">hourglass_empty</i>
              }
            </detail-chip>
          }
          @default {
            <detail-chip>
              {{ field | uppercase }}: <strong>{{ item[field] }}</strong>
            </detail-chip>
          }
          @case ('globalId') {
            <detail-chip>
              {{ 'editor.item_global_id_label' | gtxI18n }}:<br>{{ item[field] }}
            </detail-chip>
          }
        }
      </div>
    </div>
  }
</div>
