@import 'variables';
@import 'aloha-utils';

:host {
    width: 100%;
    height: 100%;
    display: block;
}

.group-overview {
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;
}

.groups-container {
    height: 100%;
    width: 100%;

    flex: 1 1 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}

.construct-group {
    user-select: none;

    @include gtxButtonCore;

    .group-label {
        white-space: nowrap;
    }

    .group-icon {
        height: 20px;
        width: 16px;
        font-size: 20px;
    }
}

.construct-list {
    display: flex;
    flex-direction: column;

    .construct-element {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0.5rem 0.75rem;
        border-bottom: 1px solid $gtx-color-very-light-gray;
        cursor: pointer;

        &:last-child {
            border-bottom: none;
        }

        .construct-label {
            margin-right: 0.5rem;
            user-select: none;
        }

        .favourite-toggle-button {
            background: transparent;
            border: 1px solid transparent;
            transition: 200ms;
            font-size: 18px;
            font-variation-settings: 'FILL' 0;
            margin-left: auto;
            user-select: none;

            icon {
                transition: 200ms;
                font-size: inherit;
                color: inherit;
                font-variation-settings: inherit;
                margin-left: auto;
            }

            &:hover,
            &:focus {
                border-color: $gtx-color-very-light-gray;
            }

            &.active {
                color: $gtx-color-warning;
                font-variation-settings: 'FILL' 1;
            }
        }
    }
}
