@import '../base-controls/base-controls.component.scss';

:host {
    width: 100%;
    height: 100%;
    display: block;
}

.content {
    flex: 1 1 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding-top: 0.5rem;
    width: 100%;
    height: 100%;
}

.construct-overview {
    display: flex;
    width: auto;
    flex: 1 1 auto;
    max-width: 100%;
    overflow: auto;
    flex-direction: row;
    flex-wrap: nowrap;
}

.dropdown {
    flex: 1 1 auto;
    overflow: auto;
}

gtx-dropdown-trigger {
    width: 100%;
}

.construct-group {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 0 0.5rem;
    min-width: 50%;
    flex: 1 1 50%;

    .group-label {
        font-weight: bold;
        font-size: 1.2rem;
        margin-top: 0.25rem;
        padding-left: 0.5rem;
    }

    .group-entries {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
    }
}

.construct {
    width: 5.2rem;
    max-height: 5.2rem;
    flex: 1 0 5.2rem;
    padding: 0.5rem 0.25rem;
    margin: 0.25rem;
    font-size: 0.8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 5.2rem;
    height: auto;

    .construct-icon {
        color: inherit;
        font-size: 1.25em;
        width: 1.25em;
        height: 1.25em;

        icon {
            color: inherit;
            width: inherit;
            height: inherit;
            font-size: inherit;
            text-align: center;
        }
    }

    .construct-name {
        text-align: center;
        display: block;
        width: 100%;
        overflow: hidden;
        white-space: normal;
        word-break: break-word;
        text-overflow: ellipsis;
        font-size: 0.7rem;
        max-height: 4.1rem;
        user-select: none;
    }
}

.dropdown-toggle {
    height: 24px;
    margin: auto 0;
    padding: 0 0.5rem;
}

.search-bar {
    position: sticky;
    margin-left: auto;
    margin-right: 1rem;
    min-width: 18rem;
    max-width: 18rem;
    flex: 0 0;
    top: 0;
}

.inner-view-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
}

.full-view-wrapper {
    max-height: 17rem;
}

.groups-container {
    flex: 1 1 auto;
}

.no-elements {
    padding: 1.5rem 2rem;
}

gtx-tooltip {
    display: contents;

    &::ng-deep {
        .tooltip-trigger {
            display: contents;
        }
    }
}

// Nothing works, cool
:host::ng-deep .construct-tooltip-details {
    .construct-keyword {
        font-weight: bold;
        font-size: 1.2rem;
    }
    .construct-description {
        font-size: 0.8rem;
    }
}
