@if (tagProperty) {
    <div class="tag-part-editor">
        <gtx-browse-box
            [label]="tagPart | tagPropLabel"
            [canUpload]="imageUploadInTagfillEnabled$ | async"
            [disabled]="context.readOnly"
            [placholder]="('editor.' + itemType + '_not_found') | gtxI18n:{ id: tagProperty.fileId }"
            [uploadTooltip]="(itemType === 'file' ? 'tag_editor.upload_new_file_button' : 'tag_editor.upload_new_image_button') | gtxI18n"
            [allowedSelection]="itemType"
            [multiple]="false"
            [contentLanguage]="page?.language"
            [startFolder]="uploadDestination?.id"
            [showBreadcrumb]="true"
            [value]="selectedItem.selectedItem$ | async"
            (valueChange)="changeSelectedItem($event)"
            (upload)="uploadItem()"
        ></gtx-browse-box>

        @if (itemType === 'image' && (imageManipulationEnabled$ | async) && selectedItemPath && !context.readOnly) {
            <gtx-button
                class="edit_image"
                type="secondary"
                (click)="editImage(tagProperty.nodeId, tagProperty.imageId)"
            >{{ 'tag_editor.image_manipulation' | gtxI18n }}</gtx-button>
        }
    </div>
}
