<div class="modal-title">
    <h5>{{ userIds?.length > 1
        ? ('shared.assign_users_to_groups' | i18n)
        : ('shared.assign_user_to_groups_title' | i18n: { entityName: user.login })
    }}</h5>
</div>

<div class="modal-content">
    <gtx-progress-bar *ngIf="loading"></gtx-progress-bar>

    <gtx-group-table
        class="group-table modal-table"
        [hideActions]="true"
        [extraActions]="actions"
        [disabled]="loading"
        [(selected)]="selected"
        (actionClick)="handleActionClick($event)"
    ></gtx-group-table>
</div>

<div class="modal-footer">
    <gtx-button
        type="primary"
        [disabled]="loading"
        (click)="handleConfirm()"
    >
        {{ (userIds?.length > 1 ? 'shared.assign_users_to_groups' : 'shared.assign_user_to_groups') | i18n }}
    </gtx-button>

    <gtx-button
        type="secondary"
        flat
        [disabled]="loading"
        (click)="cancelFn()"
    >
        {{ 'common.cancel_button' | i18n }}
    </gtx-button>
</div>
