@if ((startPage$ | async); as startPage) {
  <div class="item-primary start-page-item">
    <gtx-dropdown-list>
      <gtx-dropdown-trigger>
        @if (getStartPageType === 'deleted') {
          <start-page-icon disabled></start-page-icon>
          <span class="start-page-deleted">{{ 'common.deleted_page_label' | gtxI18n }}</span>
        }
        @if ((getStartPageType === 'internal' && getStartPageId()) || getStartPageType === 'external') {
          <start-page-icon></start-page-icon>
          <span>{{ getStartPageType === 'internal' ? startPage.name : startPage }}</span>
        }
      </gtx-dropdown-trigger>
      <gtx-dropdown-content>
        @if (uiMode === UIMode.EDIT) {
          @if (getStartPageType === 'internal') {
            <gtx-dropdown-item (click)="previewPage(startPage)">
              <icon left>pageview</icon>
              {{ 'editor.preview_label' | gtxI18n }}
            </gtx-dropdown-item>
          }
          @if (getStartPageType === 'internal' && !(startPage | pageIsLocked)) {
            <gtx-dropdown-item (click)="editPage(startPage)">
              <icon left>edit</icon>
              {{ 'editor.edit_label' | gtxI18n }}
            </gtx-dropdown-item>
          }
          @if (getStartPageType === 'internal' && (startPage | pageIsLocked)) {
            <gtx-dropdown-item class="disabled">
              <icon left>lock</icon>
              {{ 'editor.edit_label' | gtxI18n }}
            </gtx-dropdown-item>
          }
          @if (getStartPageType === 'external') {
            <gtx-dropdown-item (click)="openInNewTab(startPage)">
              <icon left>open_in_new</icon>
              {{ 'editor.open_in_new_tab_label' | gtxI18n }}
            </gtx-dropdown-item>
          }
          <gtx-dropdown-item (click)="reassignStartPage(folder)">
            <icon left>home</icon>
            {{ 'editor.reassign_start_page_label' | gtxI18n }}
          </gtx-dropdown-item>
        }
        @if (uiMode === UIMode.STAGING) {
          <gtx-dropdown-item (click)="stagePage(startPage, false)">
            <icon left>{{ (stagingMap?.[startPage.globalId]?.included ? 'remove' : 'inventory') }}</icon>
            {{ 'editor.' + (stagingMap?.[startPage.globalId]?.included ? 'un' : '') + 'stage_item_label' | gtxI18n:{
            itemType: ('common.type_page' | gtxI18n),
            itemTypePlural: ('common.type_pages' | gtxI18n)
            } }}
          </gtx-dropdown-item>
          <gtx-dropdown-item (click)="stagePage(startPage, true)">
            <icon left>{{ (stagingMap?.[startPage.globalId]?.included ? 'block' : 'language') }}</icon>
            {{ 'editor.' + (stagingMap?.[startPage.globalId]?.included ? 'un' : '') + 'stage_item_all_languages_label' | gtxI18n:{
            itemType: ('common.type_page' | gtxI18n),
            itemTypePlural: ('common.type_pages' | gtxI18n)
            } }}
          </gtx-dropdown-item>
        }
      </gtx-dropdown-content>
    </gtx-dropdown-list>
  </div>
}
