<div class="gtx-entity-detail">
    <gtx-entity-detail-header
        [title]="'shared.title_properties_of_entity' | i18n: { entityName: currentEntity?.name }"
        saveActionAllowedId="objectPropertyCategory.updateObjectpropertyCategoryInstance"
        [saveActionAllowedInstanceId]="currentEntity?.id"
        [saveDisabled]="fgProperties?.pristine || fgProperties?.invalid"
        (saveClick)="btnSavePropertiesOnClick()"
        (cancelClick)="detailsClose()"
    ></gtx-entity-detail-header>

    <div class="gtx-entity-details-tab-content-body">
        <gtx-object-property-category-properties
            [formControl]="fgProperties"
            [mode]="ObjectPropertyCategoryPropertiesMode.UPDATE"
        ></gtx-object-property-category-properties>
    </div>
</div>
