<div class="modal-title">
  <h5>{{ 'modal.change_password_title' | gtxI18n }}</h5>
</div>
<div class="modal-content">
  <form [formGroup]="form">
    <gtx-input [label]="'modal.new_password_label' | gtxI18n" type="password" formControlName="password1"></gtx-input>
    @if (password1?.touched) {
      <div class="gtx-validation-hints">
        @if (password1?.hasError('pattern')) {
          <div>
            {{ 'modal.validation_password_characters' | gtxI18n }}
          </div>
        }
        @if (password1?.hasError('minlength')) {
          <div>
            {{ 'modal.validation_password_too_short' | gtxI18n }}
          </div>
        }
        @if (password1?.hasError('maxlength')) {
          <div>
            {{ 'modal.validation_password_too_long' | gtxI18n }}
          </div>
        }
      </div>
    }
    <gtx-input [label]="'modal.confirm_password_label' | gtxI18n" type="password" formControlName="password2"></gtx-input>
    @if (password2?.dirty) {
      <div class="gtx-validation-hints">
        @if (form?.hasError('areEqual')) {
          <div>
            {{ 'modal.validation_passwords_must_match' | gtxI18n }}
          </div>
        }
      </div>
    }
  </form>
</div>
<div class="modal-footer">
  <gtx-button
    type="primary"
    [disabled]="!form?.valid"
    (click)="changePassword()"
    gtxActionAllowed="user.setUserPassword"
    >
    {{ 'modal.change_password_button' | gtxI18n }}
  </gtx-button>

  <gtx-button
    type="secondary" flat
    (click)="cancelFn()"
    >
    {{ 'common.cancel_button' | gtxI18n }}
  </gtx-button>
</div>
