<div class="gtx-entity-detail">
    <gtx-tabs pure [activeId]="editorTab">
        <gtx-tab
            [id]="Tabs.PROPERTIES"
            gtxDetailTabLink
            [title]="'shared.title_properties' | i18n"
        >
            <div class="detail-tab-wrapper">
                <gtx-entity-detail-header
                    [title]="'shared.title_properties_of_entity' | i18n: { entityName: entity?.name }"
                    saveActionAllowedId="node.updateNodeInstance"
                    [saveActionAllowedInstanceId]="entity?.folderId"
                    [saveDisabled]="fgProperties?.pristine || fgProperties?.invalid"
                    (saveClick)="tabHandles?.[Tabs.PROPERTIES]?.save?.()"
                    (cancelClick)="detailsClose()"
                ></gtx-entity-detail-header>

                <div class="gtx-entity-details-tab-content-body">
                    <gtx-node-properties
                        *ngIf="fgProperties"
                        class="properties"
                        [formControl]="fgProperties"
                        [mode]="NodePropertiesMode.UPDATE"
                        [masterName]="currentEntity?.masterName"
                        [isChannel]="currentEntity?.type === 'channel'"
                        [pureInitialValue]="true"
                        [(initialValue)]="propertiesClean"
                    ></gtx-node-properties>
                </div>
            </div>
        </gtx-tab>

        <gtx-tab
            [id]="Tabs.PUBLISHING"
            gtxDetailTabLink
            [title]="'node.title_publishing' | i18n"
        >
            <div class="detail-tab-wrapper">
                <gtx-entity-detail-header
                    [title]="'node.title_publishing_of_entity' | i18n: { entityName: entity?.name }"
                    saveActionAllowedId="node.updateNodeInstance"
                    [saveActionAllowedInstanceId]="entity?.folderId"
                    [saveDisabled]="fgPublishing?.pristine || fgPublishing?.invalid"
                    (saveClick)="tabHandles?.[Tabs.PUBLISHING]?.save?.()"
                    (cancelClick)="detailsClose()"
                ></gtx-entity-detail-header>

                <div class="gtx-entity-details-tab-content-body">
                    <gtx-node-publishing-properties
                        *ngIf="fgPublishing"
                        class="properties"
                        [formControl]="fgPublishing"
                    ></gtx-node-publishing-properties>
                </div>
            </div>
        </gtx-tab>

        <gtx-tab
            [id]="Tabs.FEATURES"
            gtxDetailTabLink
            [title]="'node.title_node_features' | i18n"
        >
            <div class="detail-tab-wrapper">
                <gtx-entity-detail-header
                    [title]="'node.title_node_features_of_entity' | i18n: { entityName: entity?.name }"
                    saveActionAllowedId="node.updateNodeInstance"
                    [saveActionAllowedInstanceId]="entity?.folderId"
                    [saveDisabled]="fgNodeFeatures?.pristine || fgNodeFeatures?.invalid"
                    (saveClick)="tabHandles?.[Tabs.FEATURES]?.save?.()"
                    (cancelClick)="detailsClose()"
                ></gtx-entity-detail-header>

                <div class="gtx-entity-details-tab-content-body">
                    <gtx-node-features
                        *ngIf="fgNodeFeatures && features != null"
                        class="properties"
                        [availableFeatures]="features"
                        [formControl]="fgNodeFeatures"
                    ></gtx-node-features>
                </div>
            </div>
        </gtx-tab>

        <gtx-tab
            [id]="Tabs.LANGUAGES"
            [class.disabledArea]="isChildNode"
            gtxDetailTabLink
            [title]="'shared.title_languages' | i18n"
        >
            <div class="detail-tab-wrapper">
                <gtx-entity-detail-header
                    [hidden]="isLoading"
                    [title]="'shared.title_languages_of_entity' | i18n: { entityName: entity?.name }"
                    [saveDisabled]="!isLanguagesChanged"
                    (saveClick)="tabHandles?.[Tabs.LANGUAGES]?.save?.()"
                    (cancelClick)="detailsClose()"
                ></gtx-entity-detail-header>

                <div *ngIf="entity" class="gtx-entity-details-tab-content-body">
                    <gtx-language-table
                        [disabled]="isChildNode"
                        [rows]="languageRows"
                        [sorting]="true"
                        [nodeId]="entityId"
                        [selectable]="false"
                        (assignToNode)="assignLanguagesToNode()"
                        (loadEnd)="languagesLoaded($event)"
                        (sort)="sortLanguages($event)"
                    ></gtx-language-table>
                </div>
            </div>
        </gtx-tab>

        <gtx-tab
            *ngIf="devtoolsEnabled"
            [id]="Tabs.PACKAGES"
            gtxDetailTabLink
            [title]="'node.title_node_packages' | i18n"
        >
            <div class="detail-tab-wrapper">
                <gtx-entity-detail-header
                    [title]="'node.title_node_packages_of_entity' | i18n: { entityName: entity?.name }"
                    (cancelClick)="detailsClose()"
                ></gtx-entity-detail-header>

                <div class="gtx-entity-details-tab-content-body">
                    <gtx-dev-tool-package-table
                        *ngIf="entity"
                        [nodeId]="entity.masterNodeId || entity.id"
                        [isMasterNode]="!entity.masterNodeId || (entity.masterNodeId === entity.id)"
                        [showSearch]="true"
                        [hideSync]="true"
                    ></gtx-dev-tool-package-table>
                </div>
            </div>
        </gtx-tab>
    </gtx-tabs>
</div>
