<div *ngIf="0 < items?.length" [ngClass]="usageToItemType(type)">
    <div class="list-header">
        {{ getItemCount() }} {{ type | i18n:{ count: getItemCount() } }}
    </div>
    <div class="list">
        <gtx-contents-list-item *ngFor="let item of items">
            <i class="material-icons type-icon" [attr.translate]="'no'">{{ icon }}</i>
            <div class="item-primary">
                <a class="item-name"
                   *ngIf="type !== 'template'"
                   (click)="itemClick.emit(item)">{{ item.name }}</a>
                <span *ngIf="type === 'template'">{{ item.name }}</span>
                <item-status-label
                    [item]="item"
                    [nodeLanguages]="languages$ | async"
                    [activeNodeId]="activeNodeId$ | async">
                </item-status-label>
                <div *ngIf="item.type === 'page'" class="languages">
                    <div *ngFor="let language of getLanguages(item)"
                         (click)="languageClicked(item, language.id)"
                         [title]="language.name">
                        {{ language.code }}
                    </div>
                </div>
                <div class="filename">
                    {{ item.path }}{{ item.fileName }}
                </div>
            </div>
            <div class="right-details">
                <detail-chip *ngIf="item.type === 'page'">
                    <i class="material-icons" [attr.translate]="'no'">dashboard</i> {{ getTemplate(item.template)?.name }}
                </detail-chip>
            </div>
        </gtx-contents-list-item>
    </div>
</div>
