@import "variables";

:host {
    display: block;
    margin-bottom: 20px;
}

.list-header {
    padding: 10px;
    border-bottom: 1px dotted $gcms-color-highlight;
    display: flex;
    text-transform: uppercase;
}

.folder i.type-icon { color: $gcms-color-folder; }
.page i.type-icon { color: $gcms-color-page; }
.linkedPage i.type-icon { color: $gcms-color-page; }
.file i.type-icon { color: $gcms-color-file; }
.linkedFile i.type-icon { color: $gcms-color-file; }
.image i.type-icon { color: $gcms-color-image; }
.linkedImage i.type-icon { color: $gcms-color-image; }
.template i.type-icon { color: $gcms-color-template; }

.item-name {
    cursor: pointer;
}

.languages {
    display: inline-block;
    > div {
        cursor: pointer;
        display: inline-block;
        text-transform: uppercase;
        color: $gcms-color-highlight;
        font-size: $gtx-font-size-small;
        margin-right: 2px;
        padding: 1px 4px;
        border-radius: 2px;
        border: 1px solid transparent;
        &:first-of-type {
            border-color: transparentize($gcms-color-highlight, 0.7);
        }
    }
}

.filename {
    width: 100%;
    color: $gtx-color-dark-gray;
    font-size: $gtx-font-size-small;
}

.right-details {
    display: inline-flex;
    detail-chip {
        margin: 0 5px;

        icon, .material-icons {
            font-size: 16px;
            margin-right: 2px;
        }
    }
    .path {
        color: $gtx-color-dark-gray;
    }
}
