<div *ngIf="isLoaded" class="container">
    <div class="error-container" [class.admin]="isAdmin">
        <h1 class="error-title">{{ ('editor.' + (isAdmin ? 'admin' : 'user') + '_no_nodes_title') | i18n }}</h1>
        <span class="error-message" [innerHTML]="errorMessage"></span>
    </div>

    <a
        *ngIf="isAdmin"
        class="admin-button-link"
        target="_blank"
        [href]="ADMIN_UI_LINK"
        (click)="cancelEvent()"
    >
        <gtx-button
            class="admin-button"
            type="primary"
        >{{ 'editor.admin_ui_button_link' | i18n }}<icon right>open_in_new</icon></gtx-button>
    </a>
</div>
