@if (isLoaded) {
  <div class="container">
    <div class="error-container" [class.admin]="isAdmin">
      <h1 class="error-title">{{ ('editor.' + (isAdmin ? 'admin' : 'user') + '_no_nodes_title') | gtxI18n }}</h1>
      <span class="error-message" [innerHTML]="errorMessage"></span>
    </div>
    @if (isAdmin) {
      <a
        class="admin-button-link"
        target="_blank"
        [href]="adminUILink"
        (click)="cancelEvent()"
        >
        <gtx-button
          class="admin-button"
          type="primary"
          >{{ 'editor.admin_ui_button_link' | gtxI18n }}<icon right>open_in_new</icon></gtx-button>
        </a>
      }
    </div>
  }
