<gtx-loading-trigger></gtx-loading-trigger>
<div class="gtx-entity-master">

    <h2 class="title">{{ 'maintenancemode.maintenancemode_title' | i18n }}</h2>

    <div class="maintenancemode-toolbar">
        <div class="gtx-maintenancemode-actions">
            <gtx-button
                flat
                type="primary"
                size="small"
                (click)="setMaintenanceMode()"
                [gtxActionAllowed]="'admin.readAdmin'"
            >
                {{ 'common.save_button' | i18n }}
            </gtx-button>

            <gtx-button
                flat
                type="primary"
                size="small"
                [routerLink]="['/']"
                [gtxActionAllowed]="'admin.readAdmin'"
            >
                {{ 'common.cancel_button' | i18n }}
            </gtx-button>

        </div>
    </div>

    <form [formGroup]="formGroup">
        <div class="row">
            <div class="input-container small-6 columns">
                <gtx-checkbox
                    [label]="'maintenancemode.maintenance' | i18n"
                    formControlName="maintenance"
                ></gtx-checkbox>
            </div>

            <div class="input-container small-6 columns">
                <gtx-checkbox
                    [label]="'maintenancemode.banner' | i18n"
                    formControlName="banner"
                ></gtx-checkbox>
            </div>
        </div>

        <br>

        <div class="row">
            <div class="input-container small-12 columns">
                <gtx-textarea
                    maxlength="255"
                    [label]="'maintenancemode.message' | i18n"
                    formControlName="message"
                ></gtx-textarea>
            </div>
        </div>
    </form>

</div>
