<div class="modal-title">
  @if (loaded) {
    <h5>{{ 'modal.synchronize_content_repository_roles_title' | gtxI18n:{ crName: contentRepository?.name } }}</h5>
  }
</div>

<div class="modal-content">
  <div class="entity-table-selection">
    {{ 'content_repository.info_selected_roles' | gtxI18n:{ amountSelected: selected?.length, amountTotal: rows?.length } }}
  </div>

  @if (loaded) {
    <gtx-table
      class="entity-table"
      [selectAllType]="TableSelectAllType.PAGE"
      [disabled]="working"
      [selectable]="true"
      [rows]="rows"
      [columns]="columns"
      [selected]="selected"
      [perPage]="10"
      (selectedChange)="updateSelection($event)"
    ></gtx-table>
  }
</div>

<div class="modal-footer">
  <gtx-button
    type="primary"
    [disabled]="working"
    (click)="updateAssignment()"
    >
    {{ 'shared.confirm_selection' | gtxI18n }}
  </gtx-button>

  <gtx-button
    type="secondary"
    flat
    (click)="cancelFn()"
    >
    {{ 'common.cancel_button' | gtxI18n }}
  </gtx-button>
</div>
