@if (mode === TemplatePropertiesMode.UPDATE) {
  <gtx-properties-manager
    class="proeprties-manager"
    [editors]="{ general: propertiesForm }"
    [tabs]="[{ id: GENERAL_TAB, label: ('common.general' | gtxI18n), isGroup: false }]"
    [nodeId]="node?.id"
    [itemType]="'template'"
    [item]="value"
    [(activeTab)]="activePropertiesTab"
    (change)="tagsChanged($event)"
  ></gtx-properties-manager>
} @else {
    <ng-container [ngTemplateOutlet]="propertiesForm"></ng-container>
}

<ng-template #propertiesForm>
  @if (form) {
    <form class="flex-row row" [formGroup]="form">
      <div class="input-container small-12 medium-6 columns">
        <gtx-input
          type="text"
          [required]="true"
          maxlength="255"
          [label]="('template.name' | gtxI18n) + ' *'"
          [placeholder]="'template.name' | gtxI18n"
          (blur)="triggerTouch()"
          formControlName="name"
        ></gtx-input>
      </div>
      <div class="input-container small-12 medium-6 columns">
        <gtx-select
          [required]="true"
          [label]="('template.markupLanguage' | gtxI18n) + ' *'"
          [placeholder]="'template.markupLanguage' | gtxI18n"
          (blur)="triggerTouch()"
          formControlName="markupLanguage"
          >
          @for (markupLang of (markupLanguages | gtxValues); track markupLang.id) {
            <gtx-option
              [value]="(markupLang.id + '')"
              >
              {{ markupLang.name }}
              @if (markupLang.extension) {
                &nbsp;(.{{ markupLang.extension }})
              }
            </gtx-option>
          }
        </gtx-select>
      </div>
      <div class="input-container small-12 medium-12 columns">
        <gtx-input
          type="text"
          [required]="false"
          [label]="'template.description' | gtxI18n"
          [placeholder]="'template.description' | gtxI18n"
          (blur)="triggerTouch()"
          formControlName="description"
        ></gtx-input>
      </div>
      <div class="input-container small-12 medium-12 columns">
        <gtx-textarea
          [required]="false"
          [label]="'template.source' | gtxI18n"
          [placeholder]="'template.source' | gtxI18n"
          (touch)="triggerTouch()"
          formControlName="source"
        ></gtx-textarea>
      </div>
    </form>
  }
</ng-template>

