<div class="modal-title">
    <h5>{{ 'modal.confirm_remove_user_from_group_title' | i18n }}</h5>
</div>

<div class="modal-content row">
    <p class="medium-12 columns">{{ 'modal.confirm_remove_user_from_group_message' | i18n: { groupName: groupName } }}:</p>
    <ul>
        <li class="medium-12 columns" *ngFor="let name of userNames"><b>{{ name }}</b></li>
    </ul>
    <br>
</div>

<div class="modal-footer">
    <gtx-button
        type="alert"
        (click)="buttonDeleteConfirmClicked()"
    >
        {{ 'modal.confirm_remove_users_button' | i18n: { userAmount: userNames?.length } }}
    </gtx-button>

    <gtx-button
        type="secondary"
        flat
        (click)="cancelFn()"
    >
        {{ 'common.cancel_button' | i18n }}
    </gtx-button>
</div>
