<gtx-progress-bar [for]="loading$"></gtx-progress-bar>
<gtxct-item-list
  [itemsInfo]="itemsInfo$ | async"
  [filterTerm]="(options$ | async)?.searchTerm"
  [items]="(pages$ | async)?.items"
  [expandedPages]="expandedPages$ | async"
  (expandedPagesChange)="expandedPagesChange($event)"
(pageChange)="pageChange($event)"></gtxct-item-list>


@if (!(loading$ | async) && (pages$ | async)?.items?.length === 0) {
  <div class="no-pages">
    <icon>error_outline</icon>
    <span>{{ 'common.no_pages_with_links' | gtxI18n }}</span>
  </div>
}
