<div class="modal-title">
  <h5>{{ 'modal.discard_changes_title' | gtxI18n }}</h5>
</div>
<div class="modal-content row">
  <p>{{ 'modal.discard_changes_message' | gtxI18n }}</p>
</div>
<div class="modal-footer">
  <gtx-button
    type="secondary"
    flat
    (click)="onCancelClick()"
    >
    {{ 'common.cancel_button' | gtxI18n }}
  </gtx-button>

  <gtx-button
    type="alert"
    (click)="onDiscardChangesClick()"
    >
    {{ 'modal.discard_changes_button' | gtxI18n }}
  </gtx-button>

  @if (changesValid) {
    <gtx-button
      type="primary"
      (click)="onSaveClick()"
      >
      {{ 'common.save_button' | gtxI18n }}
    </gtx-button>
  }
</div>
