<div class="list-header" *ngIf="!readOnly">
    <gtx-checkbox
        [label]="'common.select_all_label' | i18n"
        [value]="areAllSelected()"
        (valueChange)="toggleSelectall()"
    ></gtx-checkbox>
</div>

<gtx-contents-list-item *ngFor="let page of pages">
    <gtx-checkbox
        *ngIf="!readOnly"
        class="row-checkbox"
        [value]="selected[page.id]"
        (valueChange)="toggleSelect(page.id, $event)"
    ></gtx-checkbox>

    <i class="material-icons page-icon" [attr.translate]="'no'"
       *ngIf="readOnly">subject</i>

    <div class="item-primary">
        <div class="page-title">
            <inherited-localized-icon [item]="page">
            </inherited-localized-icon>

            <div *ngIf="readOnly">{{ page.name }}</div>
            <a *ngIf="!readOnly"
               (click)="pageClicked($event, page)" href="">
                {{ page.name }}
            </a>
            <span class="language">{{ page.languageName }}</span>
        </div>
        <div class="path" *ngIf="!readOnly">
            {{ page.path }}
        </div>
    </div>
    <div class="display-fields">
        <list-item-details [fields]="displayFields$ | async"
                           [item]="page"></list-item-details>
    </div>
</gtx-contents-list-item>
