@import "variables";

:host {
    user-select: none;
}

.label {
    margin-top: 1rem;
    font-size: 0.8rem;
    color: $gtx-color-dark-gray;
    user-select: none;
    margin-bottom: 0.2rem;
}

.wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    border: 2px solid $gtx-color-mid-gray;
    background: $gtx-color-very-light-gray;
    border-radius: 2px;
    margin-bottom: 1.5rem;

    .content-wrapper {
        display: flex;
        flex: 1 1 auto;
        font-family: monospace;
        overflow: hidden;
        margin: auto 0;
        padding: 0.25rem 0.75rem;
        user-select: all;
        min-height: 2.25rem;
        line-height: 1.6rem;

        .content {
            user-select: inherit;
            white-space: pre;
            display: block;
            width: 100%;
            height: 100%;
            overflow-x: auto;
        }
    }

    &.disabled {
        background: darken($gtx-color-very-light-gray, 10%);

        .content-wrapper {
            user-select: none;
        }
    }

    .copy-button {
        flex: 1 1 auto;
        border: none;
        padding: 0.5rem 0.5rem;
        font-size: 1.25rem;
        width: 1.25rem;
        box-sizing: content-box;
        background: $gtx-color-very-light-gray;
        border-left: 1px solid $gtx-color-mid-gray;
        transition: 200ms;
        display: flex;
        cursor: pointer;

        icon {
            font-size: inherit;
            height: 20px;
            margin: auto;
        }

        &:not([disabled]):hover {
            background: darken($gtx-color-very-light-gray, 10%);
        }
    }
}
